﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <div class="text-left">
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
                <div style="padding-top:3rem;" class="text-left">
                    <h3>Parágrafo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta lectus ac molestie pulvinar. Pellentesque aliquet eleifend gravida. Vivamus sollicitudin ante risus, vitae rhoncus erat posuere ut. Nulla sit amet purus eget augue imperdiet cursus. Aliquam quis auctor sem. Curabitur vehicula lectus vitae purus eleifend hendrerit. Nam in dictum nunc. Quisque quis sodales tellus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding: 3em 0em 3em 0em; background-color: #cccccc; border-bottom: 4px solid #fff;" class="content__inner">
    <div class="container">
        <div class="text-left">
            <h2 style="padding:0em 0em 0em 0em;">Colors</h2>
            <div class="col-md-4 color__first">
                <h1>$first | #A50112</h1>
            </div>
            <div class="col-md-4 color__second">
                <h1>$second | #F7B24B</h1>
            </div>
            <div class="col-md-4 color__third">
                <h1>$third | #4F4F4F</h1>
            </div>
            <div class="col-md-4 color__fourth">
                <h1>$fourth | #fff</h1>
            </div>
            <div class="col-md-4 color__fifth">
                <h1>$fifth | #FCEAC7</h1>
            </div>
            <div class="col-md-4 color__sixth">
                <h1>$sixth | #DE963E</h1>
            </div>
            <div class="col-md-4 color__seventh">
                <h1>$seventh | #9C2431</h1>
            </div>
        </div>
    </div>
</section>
<section style="padding: 3em 0em 3em 0em; background-color: #cccccc; class="content__inner">

        <div class="container">
            <div class="text-left">
                <h2>Buttons</h2>
                <div class="row">
                    <div class="col-md-4 first">
                        <button type="submit" class="btn btn__first">First</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn__second">Second</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn__third">Third</button>
                    </div>
                </div>
                <div style="padding:3em 0em 3em 0em;" class="row">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn__fourth" data-state="reversed">Fourth</button><br />Fourth
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn__fifth">Fifth</button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn__sixth">Sixth</button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn__seventh">Seventh</button>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/.heroImage-->
@code {

}
