﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <div class="text-center">
                    |<h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta lectus ac molestie pulvinar. Pellentesque aliquet eleifend gravida. Vivamus sollicitudin ante risus, vitae rhoncus erat posuere ut. Nulla sit amet purus eget augue imperdiet cursus. Aliquam quis auctor sem. Curabitur vehicula lectus vitae purus eleifend hendrerit. Nam in dictum nunc. Quisque quis sodales tellus.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}