<div class="col-md-4 listagem__card">
    <div class="h-100 card">
        <div class="card-header" style="background-image: url('@EscritorioModel.UrlBanner');">  
            <img src="@EscritorioModel.UrlBanner" alt="@EscritorioModel.Nome" title="@EscritorioModel.Nome" class="img-fluid d-xl-none img-rounded">
        </div>
        <div class="card-body">
            <div class="col-md-12 p-0">
                <h2>@EscritorioModel.Nome</h2>  
                <p>@EscritorioModel.Endereco <br>
                CEP: @EscritorioModel.CEP  -  @EscritorioModel.CidadeNome (@EscritorioModel.EstadoNome) </p>

                <p>Telefone: <a target="_top" href=@("tel:+55" + EscritorioModel.Telefone.Replace("(", "").Replace(")", "").Replace("-", "").Replace(" ", ""))>@EscritorioModel.Telefone</a> <br>
                Horário de funcionamento: @EscritorioModel.HorarioFuncionamento</p>
            </div>
            
        </div> 
    </div>
    
</div>



