﻿<section class="content__inner faq">
    <div class="container h-100">
        <div class="row align-items-center justify-content-start">
            <div id="@("accordion" + idAccordion)" class="col-md-12 accordion">
                @foreach (var faq in faqList)
                {
                    <div class="card">
                        <div class="card-header @(i == 0 ? "active" : "")" id='heading_@faq.Id'>
                            <button class="row m-0 w-100 align-items-center @(i == 0 ? "collapsed" : "")" type="button" data-toggle="collapse" data-target='#collapse_@faq.Id' aria-expanded="false" aria-controls='collapse_@faq.Id'>
                                <div class="col-md-11 col-10 text-left">
                                    <h3>@faq.Titulo </h3>
                                </div>
                                <div class="col-md-1 col-2 text-right mb-1">
                                    <svg width="20" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4334 12.4043L21.151 10.7276L10.5755 0.404297L0 10.7276L1.71768 12.4043L10.5755 3.75773L19.4334 12.4043Z" fill="white" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div id='collapse_@faq.Id' class="collapse @(i == 0 ? "show" : "")" aria-labelledby='heading_@faq.Id' data-parent="#@("accordion" + idAccordion)">
                            <div class="card-body">
                                <p>
                                    @faq.Texto
                                </p>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>

    </div>
</section><!--/.faq-->

@code{
    int i = 0;
    protected string idAccordion = Guid.NewGuid().ToString();
}