﻿.form_fornecedor {
    .area-cinza {
        padding-bottom: 5rem;
        background-image: url(/img/area-cinza.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 5rem;
    }

    #regForm {
        background-color: transparent;
        min-width: 300px;
    }

    a {
        color: #A50112;
        font-weight: normal;
        text-decoration: underline;
    }

    h2 {
        text-align: left;
        font-size: 24px;
    }

    label {
        color: #4F4F4F;
        font-size: 16px;
        padding: 15px 0;
        margin: 0;
    }

    input, textarea, select {
        padding: 10px;
        width: 100%;
        font-size: 16px;
        border: 1px solid #fff;
        background: #FFFFFF;
        border-radius: 30px;
    }
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }

    input[type="radio"] {
        width: auto;
    }

    .radio_square {
        border-radius: 0;
    }

    input[type="file"] {
        background: none;
        border: 0;
    }
    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    button {
        background-color: #A50112;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        cursor: pointer;
        border-radius: 30px;
        font-weight: bold;
    }

    button:hover {
        opacity: 0.8;
    }

    #prevBtn {
        background-color: transparent;
        color: #A50112;
    }
    /* Make circles that indicate the steps of the form: */
    .nav_steps p {
        font-size: 12px;
        line-height: 1.5;
    }

    .nav_steps {
        margin-bottom: 30px;
        overflow: hidden;
        counter-reset: step;
    }

    .step {
        position: relative;
        width: 20%;
        float: left;
        text-align: center;
    }

    .step:before {
        content: counter(step);
        counter-increment: step;
        display: block;
        margin: 0 auto 5px auto;
        height: 25px;
        width: 25px;
        background-color: #808080;
        color: #ffffff;
        border-radius: 5px;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .step:after {
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: 0;
    }

    div.step.active:before, div.step.active:after {
        background-color: #A50112;
    }

    .nav_steps div:first-child:after {
        content: none;
    }
    /* Mark the steps that are finished and valid: */
    div.step.finish:before, div.step.finish:after {
        background-color: #A50112;
    }

    div.step.finish:before {
        content: "✓";
    }

    .pt-50 {
        padding-top: 50px;
    }

    .pl-30 {
        padding-left: 30px;
    }

    .no-pt {
        padding-top: 0 !important;
    }

    .doc_line {
        display: flex;
        align-items: center;
        padding: 12px;
        border-bottom: 1px solid #A8A8A8;
    }

    .doc_line p {
        width: 100%;
    }

    .doc_line img {
        margin: 0;
    }

    .t-red {
        color: #A50112;
    }
}
