﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h1>Seção 1 - Informações Gerais</h1>
            </div>
            <div class="col-md-11 text-left">
                <p>Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e visitantes do OU aplicativo ____ OU/E site ____, com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações pessoais.</p>
                <p>Esta Política de Privacidade aplica-se a todos os usuários e visitantes do OU aplicativo ____ OU site ____ e integra os Termos e Condições Gerais de Uso do OU aplicativo ___ OU site ____, devidamente inscrita no CNPJ sob o nº ___, situado em _____ (endereço completo), doravante nominada ____.</p>
                <p>O presente documento foi elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) (e o Regulamento da UE n. 2016/6790). Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>
            </div>
        </div>
    </div>
</section><!--/.description-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 2 - Como recolhemos os dados pessoais<br />do usuário e do visitante?</h2>
            </div>
            <div class="col-md-11 text-left">
                <p>Os dados pessoais do usuário e visitante são recolhidos pela plataforma da seguinte forma:</p>
                <p>(Realizar pergunta de múltipla escolha com opção outras)</p>
                <p>Quando o usuário cria uma conta/perfil na plataforma ___: esses dados são os dados de identificação básicos, como ___ (exemplo: e-mail, nome completo, cidade de residência e profissão). A partir deles, podemos identificar o usuário e o visitante, além de garantir uma maior segurança e bem-estar às suas necessidade. Ficam cientes os usuários e visitantes de que seu perfil na plataforma estará acessível a todos demais usuários e visitantes da plataforma ___.</p>
                <p>Quando um usuário e visitante acessa OU páginas do site __ OU o aplicativo ___: as informações sobre interação e acesso são coletadas pela empresa para garantir uma melhor experiência ao usuário e visitante. Estes dados podem tratar sobre as palavras-chaves utilizadas em uma busca, o compartilhamento de um documento específico, comentários, visualizações de páginas, perfis, a URL de onde o usuário e visitante provêm, o navegador que utilizam e seus IPs de acesso, dentre outras que poderão ser armazenadas e retidas.</p>
                <p>Por intermédio de terceiro: a plataforma ____ recebe dados de terceiros, como ___ (indique de quem a plataforma recebe dados, por exemplo, Facebook e Google), quando um usuário faz login com o seu perfil de um desses sites. A utilização desses dados é autorizada previamente pelos usuários junto ao terceiro em questão.</p>
            </div>
        </div>
    </div>
</section><!--/.secao_2-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 3 - Quais dados pessoais recolhemos sobre o usuário e visitantes?</h2>
            </div>
            <div class="col-md-11 text-left">
                <p>Os dados pessoais do usuário e visitante recolhidos são os seguintes:</p>
                <p>(Realizar pergunta de múltipla escolha com opção outras)</p>
                <p>Dados para a criação da conta/perfil na plataforma ___: ___ (exemplo: e-mail, nome completo, cidade de residência e profissão).</p>
                <p>Dados para otimização da navegação: ____ (exemplo: acesso a páginas, palavras-chave utilizadas na busca, recomendações, comentários, interação com outros perfis e usuários, perfis seguidos, endereço de IP).</p>
                <p>Dados para concretizar transações: dados referentes ao pagamento e transações, tais como, número do cartão de crédito e outras informações sobre o cartão, além dos pagamentos efetuados.</p>
                <p>Newsletter: o e-mail cadastrado pelo visitante que optar por se inscrever na Newsletter será coletado e armazenado até que o usuário solicite o descadastro.</p>
                <p>Dados sensíveis: a plataforma poderá coletar os seguintes dados sensíveis do usuário - ___________ (exemplo: origem étnica ou racial, opinião política, convicção religiosa, dados genéticos, dados relativos à saúde, orientação sexual)</p>
                <p>Dados relacionados a contratos: diante da formalização do contrato de compra e venda ou de prestação de serviços entre a plataforma e o usuário e visitante poderão ser coletados e armazenados dados relativos a execução contratual, inclusive as comunicações realizada entre a empresa e o usuário.</p>
            </div>
        </div>
    </div>
</section><!--/.secao_3-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 4 - Por quanto tempo os dados pessoais ficam armazenados?</h2>
            </div>
                <div class="col-md-11 text-left">
                <p>Os dados pessoais do usuário e visitante são armazenados pela plataforma durante o período necessário para a prestação do serviço ou o cumprimento das finalidades previstas no presente documento, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18.</p>
                <p>Os dados podem ser removidos ou anonimizados a pedido do usuário, excetuando os casos em que a lei oferecer outro tratamento.</p>
                <p>Ainda, os dados pessoais dos usuários apenas podem ser conservados após o término de seu tratamento nas seguintes hipóteses previstas no artigo 16 da referida lei:</p>
                <p>I - cumprimento de obrigação legal ou regulatória pelo controlador;</p>
                <p>II - estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</p>
                <p>III - transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos nesta Lei;</p>
                <p>IV - uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</p>
            </div>
        </div>
    </div>
</section><!--/.secao_4-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 5 - Segurança dos dados pessoais armazenados</h2>
            </div>
                <div class="col-md-11 text-left">
                <p>A plataforma se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados.</p>
                <p>Os dados relativas a cartões de crédito são criptografados usando a tecnologia "secure socket layer" (SSL) que garante a transmissão de dados de forma segura e confidencial, de modo que a transmissão dos dados entre o servidor e o usuário ocorre de maneira cifrada e encriptada.</p>
                <p>A plataforma não se exime de responsabilidade por culpa exclusiva de terceiro, como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiros. O site se compromete a comunicar o usuário em caso de alguma violação de segurança dos seus dados pessoais.</p>
                <p>Os dados pessoais armazenados são tratados com confidencialidade, dentro dos limites legais. No entanto, podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo ou se você violar nossos Termos de Serviço.</p>
            </div>
        </div>
    </div>
</section><!--/.secao_5-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 6 - Compartilhamento dos dados</h2>
            </div>
                <div class="col-md-11 text-left">
                <p>O compartilhamento de dados do usuário ocorre apenas com os dados referentes a publicações realizadas pelo próprio usuário, tais ações são compartilhadas publicamente com os outros usuários.</p>
                <p>Os dados do perfil do usuário são compartilhados publicamente em sistemas de busca e dentro da plataforma, sendo permitido ao usuário modificar tal configuração para que seu perfil não apareça nos resultados de busca de tais ferramentas.</p>
                <p>SEÇÃO 6 - OS DADOS PESSOAIS ARMAZENADOS SERÃO TRANSFERIDOS A TERCEIROS?</p>
                <p>Os dados pessoais (não) podem ser compartilhados (com terceiros) (com as seguintes pessoas (físicas) (jurídicas): _________, CPF/CNPJ _________.</p>
                <p>(Se os dados podem ser compartilhados)</p>
                <p>Os terceiros indicados recebem os dados na medida do necessário para permitir que eles realizem os serviços contratados.</p>
                <p>Com relação aos fornecedores de serviços terceirizados como processadores de transação de pagamento, informamos que cada qual tem sua própria política de privacidade. Desse modo, recomendamos a leitura das suas políticas de privacidade para compreensão de quais informações pessoais serão usadas por esses fornecedores.</p>
                <p>(Se transferência para outros países)</p>
                <p>Os fornecedores podem ser localizados ou possuir instalações localizadas em países diferentes. Nessas condições, os dados pessoais transferidos podem se sujeitar às leis de jurisdições nas quais o fornecedor de serviço ou suas instalações estão localizados.</p>
                <p>Ao acessar nossos serviços e prover suas informações, você está consentindo o processamento, transferência e armazenamento desta informação em outros países.</p>
                <p>Ao ser redirecionado para um aplicativo ou site de terceiros, você não será mais regido por essa Política de Privacidade ou pelos Termos de Serviço da nossa plataforma. Não somos responsáveis pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de privacidade deles.</p>
            </div>
        </div>
    </div>
</section><!--/.secao_6-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 7 - Cookies ou dados de navegação</h2>
            </div>
                <div class="col-md-11 text-left">
                <p>Os cookies referem-se a arquivos de texto enviados pela plataforma ao computador do usuário e visitante e que nele ficam armazenados, com informações relacionadas à navegação no site. Tais informações são relacionadas aos dados de acesso como local e horário de acesso e são armazenadas pelo navegador do usuário e visitante para que o servidor da plataforma possa lê-las posteriormente a fim de personalizar os serviços da plataforma.</p>
                <p>O usuário e o visitante da plataforma ___ manifesta conhecer e aceitar que pode ser utilizado um sistema de coleta de dados de navegação mediante à utilização de cookies.</p>
                <p>O cookie persistente permanece no disco rígido do usuário e visitante depois que o navegador é fechado e será usado pelo navegador em visitas subsequentes ao site. Os cookies persistentes podem ser removidos seguindo as instruções do seu navegador. Já o cookie de sessão é temporário e desaparece depois que o navegador é fechado. É possível redefinir seu navegador da web para recusar todos os cookies, porém alguns recursos da plataforma podem não funcionar corretamente se a capacidade de aceitar cookies estiver desabilitada.</p>
            </div>
        </div>
    </div>
</section><!--/.secao_7-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 8 - Consentimento</h2>
            </div>
                <div class="col-md-11 text-left">
                <p>Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a presente Política de Privacidade.</p>
                <p>O usuário, ao cadastrar-se, manifesta conhecer e pode exercitar seus direitos de cancelar seu cadastro, acessar e atualizar seus dados pessoais e garante a veracidade das informações por ele disponibilizadas.</p>
                <p>O usuário tem direito de retirar o seu consentimento a qualquer tempo, para tanto deve entrar em contato através do e-mail _______ ou por correio enviado ao seguinte endereço: ________</p>
                </div>
        </div>
    </div>
</section><!--/.secao_8-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 9 - Alterações para essa política de privacidade</h2>
            </div>
                <div class="col-md-11 text-left">
                <p>Reservamos o direito de modificar essa Política de Privacidade a qualquer momento, então, é recomendável que o usuário e visitante revise-a com frequência.</p>
                <p>As alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação na plataforma. Quando realizadas alterações os usuários serão notificados. Ao utilizar o serviço ou fornecer informações pessoais após eventuais modificações, o usuário e visitante demonstra sua concordância com as novas normas.</p>
                <p>Diante da fusão ou venda da plataforma à outra empresa os dados dos usuários podem ser transferidas para os novos proprietários para que a permanência dos serviços oferecidos.</p>
            </div>
        </div>
    </div>
</section><!--/.secao_9-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-11 text-center">
                <h2>Seção 10 - Jurisdição para resolução de conflitos</h2>
            </div>
            <div class="col-md-11 text-left">
                <p>Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito brasileiro.</p>
                <p>Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.</p>
            </div>
            <div class="col-md-11 text-center d-none">
                <a target="_top" href="#">Carregar Mais</a>
            </div>
        </div>
    </div>
</section><!--/.secao_10-->
@code {

}

