﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-5 rounded-img">
                <img src="/img/portfolio1.jpg" width="420" alt="" title="" loading="lazy" class="img-fluid w-100">
            </div>
            <div class="col-md-7">
                <h1>Seção 1 - Informações Gerais</h1>
                <p>Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e visitantes do OU aplicativo ____ OU/E site ____, com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações pessoais.</p>
                <p>Esta Política de Privacidade aplica-se a todos os usuários e visitantes do OU aplicativo ____ OU site ____ e integra os Termos e Condições Gerais de Uso do OU aplicativo ___ OU site ____, devidamente inscrita no CNPJ sob o nº ___, situado em _____ (endereço completo), doravante nominada ____.</p>
                <p>O presente documento foi elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) (e o Regulamento da UE n. 2016/6790). Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>
            </div>
        </div>
    </div>
</section><!--/.description-->
<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-5 rounded-img">
                <img src="/img/portfolio1.jpg" width="420" alt="" title="" loading="lazy" class="img-fluid w-100">
            </div>
            <div class="col-md-5">
                <h2>Seção 2 - Como recolhemos os dados pessoais do usuário e do visitante?</h2>
                <p>Os dados pessoais do usuário e visitante são recolhidos pela plataforma da seguinte forma:</p>
                <p>(Realizar pergunta de múltipla escolha com opção outras)</p>
                <p>Quando o usuário cria uma conta/perfil na plataforma ___: esses dados são os dados de identificação básicos, como ___ (exemplo: e-mail, nome completo, cidade de residência e profissão). A partir deles, podemos identificar o usuário e o visitante, além de garantir uma maior segurança e bem-estar às suas necessidade. Ficam cientes os usuários e visitantes de que seu perfil na plataforma estará acessível a todos demais usuários e visitantes da plataforma ___.</p>
                <p>Quando um usuário e visitante acessa OU páginas do site __ OU o aplicativo ___: as informações sobre interação e acesso são coletadas pela empresa para garantir uma melhor experiência ao usuário e visitante. Estes dados podem tratar sobre as palavras-chaves utilizadas em uma busca, o compartilhamento de um documento específico, comentários, visualizações de páginas, perfis, a URL de onde o usuário e visitante provêm, o navegador que utilizam e seus IPs de acesso, dentre outras que poderão ser armazenadas e retidas.</p>
                <p>Por intermédio de terceiro: a plataforma ____ recebe dados de terceiros, como ___ (indique de quem a plataforma recebe dados, por exemplo, Facebook e Google), quando um usuário faz login com o seu perfil de um desses sites. A utilização desses dados é autorizada previamente pelos usuários junto ao terceiro em questão.</p>
            </div>
        </div>
    </div>
</section>
@code {

}