﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 text-center">
                <h1>Trabalhe Conosco</h1>
            </div>
            <div class="col-md-10">
                <p>Estamos sempre em busca de pessoas comprometidas em superar as expectativas e melhorar a qualidade de vida para os nossos clientes. Se você se identifica com os nossos princípios, cadastre o seu currículo e entraremos em contato quando houver uma oportunidade para você! </p>
            </div>
        </div>
    </div>
</section><!--/.descricao-->
@code {

}