﻿@using MouraDubeux.Front.Blazor.Models
<div class="d-flex justify-content-center bg__trabConosco">
        <img src="/img/trabalhe-conosco-bg.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
</div>
<section class="content__inner md__forms">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h2>Cadastre seu currículo</h2>
                <p>Temos diversos canais de contato para que você escolher aquela que é mais conveniente. Confira:</p>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
                    <div class="form-group">
                        <InputText @bind-Value="model.Nome" class="form-control form-control-lg" id="Nome" placeholder="Qual o seu nome?"></InputText>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Email" class="form-control form-control-lg" id="Email" placeholder="Qual e o email que você mais usa?"></InputText>
                        </div>
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Telefone" class="form-control form-control-lg" id="Telefone" placeholder="Qual é o seu telefone com DDD?"></InputText>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <InputSelect @oninput="HandleFirstDropDownChange" class="form-control form-control-lg estado" @bind-Value="model.Estado">
                                <option disabled selected value>Selecione seu estado</option>
                                @foreach (var e in estados)
                                {
                                    <option value="@(e.Slug)">@(e.Nome)</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group col-md-6">

                            <InputSelect class="form-control form-control-lg cidade" @bind-Value="model.Cidade">
                                <option disabled selected value>Selecione sua cidade</option>
                                @if (cidades.Count > 0)
                                {
                                    @foreach (var cidade in cidades)
                                    {
                                        <option value="@(cidade.Slug)">@(cidade.Nome)</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="form-group">
                        <InputText @bind-Value="model.Endereco" class="form-control form-control-lg" id="Endereco" placeholder="Qual é o seu endereço?"></InputText>
                    </div>
                    <div class="form-group">
                        <InputTextArea @bind-Value="model.Mensagem" class="form-control form-control-lg" id="Endereco" placeholder="Por que você gostaria de trabalhar na Moura Dubeux?"></InputTextArea>
                    </div>
                    <div class="form-row col-md-8">
                        <div class="form-group col-md-6 check_form">

                            <div class="drag-drop-zone">
                                <button onclick="document.getElementById('Curriculo').click(); return false;" class="btn">
                                    <svg version="1.1" id="Camada_1" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px" viewBox="0 0 448 512" style="enable-background:new 0 0 448 512;" xml:space="preserve">
                                    <path fill="#fff" d="M150.9,497.6c-36.8,0-71.4-14.7-97.3-41.5c-25.6-26.4-39.5-61.4-39.2-98.7c0.3-37.3,14.7-72.3,40.5-98.8L264.7,44.1
	                                    c18.7-19.1,43.6-29.7,70-29.7s51.3,10.5,70,29.7c38.3,39.2,38.3,103,0,142.1L221.9,373.1c-11.5,11.8-26.9,18.3-43.2,18.3
	                                    c-16.8,0-32.4-6.8-44-19.1c-11.1-11.7-17-27.2-16.8-43.6c0.3-16.4,6.7-31.8,18-43.4l143.7-146.8c0.3-0.3,0.7-0.5,1.1-0.5
	                                    c0.4,0,0.8,0.2,1.1,0.5l22.9,22.4c0.6,0.6,0.6,1.6,0,2.3L161.1,309.9c-10.4,10.6-10.7,27.8-0.8,38.2c4.9,5.2,11.4,8,18.4,8
	                                    c6.8,0,13.2-2.7,18.1-7.7l182.8-186.8c25-25.6,25-67.3,0-92.9c-12-12.3-28-19.1-44.9-19.1s-32.9,6.8-44.9,19.1L80.1,283.2
	                                    c-40.2,41.1-40.7,107.7-1.2,148.4c19.2,19.8,44.8,30.8,72,30.8c27.1,0,52.5-10.8,71.7-30.4l172.1-176c0.3-0.3,0.7-0.5,1.1-0.5
	                                    c0.4,0,0.8,0.2,1.1,0.5l22.9,22.4c0.3,0.3,0.5,0.7,0.5,1.1s-0.1,0.8-0.5,1.1l-172.1,176C221.8,483,187.5,497.6,150.9,497.6z" />
                                </svg>Anexar currículo
                                </button>
                                <BlazorInputFile.InputFile OnChange="ViewFile" id="Curriculo" />
                            </div>
                            @if (model.CurriculoOk)
                            {
                                @*<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#00ff00" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>*@
                                <!-- check icon -->
                            }
                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" id="trab__submit" class="btn btn__first">Finalizar</button>
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {
}