<section class="info">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h2>Section Hero Image</h2>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}
