﻿<section class="content__inner">
    <div class="container h-100">
        <!-- descricao -->
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 text-center">
                <h2 data-state="reversed">Nossos princípios</h2>
            </div>
        </div>
        <!--/ .descricao -->
        <!-- principios -->
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-3 text-center">
                <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M45.2275 5.61934H36.1875C35.1632 3.29815 32.8648 1.80005 30.3274 1.80005C27.7896 1.80005 25.4912 3.29815 24.4669 5.61934H15.4264C12.0163 5.6233 9.25298 8.38702 9.24902 11.7972V51.8723C9.25298 55.2825 12.0163 58.0462 15.4264 58.0501H45.2275C48.6377 58.0462 51.4014 55.2825 51.4054 51.8723V11.7972C51.4014 8.38702 48.6377 5.6233 45.2275 5.61934ZM25.4842 8.43185C26.1443 8.43185 26.7156 7.97262 26.8575 7.32706C27.2029 5.75469 28.6623 4.61255 30.3274 4.61255C31.9925 4.61255 33.4515 5.75469 33.7969 7.32706C33.9384 7.97262 34.5097 8.43185 35.1706 8.43185H37.959V9.66583C37.9568 11.5234 36.4517 13.0285 34.5941 13.0307H26.0603C24.2023 13.0285 22.6972 11.5234 22.695 9.66583V8.43185H25.4842ZM48.5929 51.8723C48.5911 53.7303 47.0856 55.2359 45.2275 55.2376H15.4264C13.5689 55.2359 12.0637 53.7303 12.0615 51.8723V11.7972C12.0637 9.93917 13.5689 8.43404 15.4264 8.43185H19.8825V9.66583C19.8864 13.076 22.6502 15.8393 26.0603 15.8432H34.5941C38.0042 15.8393 40.7675 13.076 40.7715 9.66583V8.43185H45.2275C47.0856 8.43404 48.5907 9.93917 48.5929 11.7972V51.8723Z" fill="#A50112" />
                    <path d="M37.2874 27.7827L28.0553 36.7968L23.3672 32.2208C22.8157 31.6811 21.9324 31.6877 21.3879 32.2344C20.8439 32.7815 20.8417 33.6648 21.3835 34.2141L21.4024 34.2326L27.0723 39.7688C27.6189 40.3023 28.4913 40.3023 29.0375 39.7688L39.2517 29.7959C39.8041 29.2527 39.8129 28.3654 39.2724 27.8113C38.731 27.2571 37.8441 27.2448 37.2874 27.7836V27.7827Z" fill="#A50112" />
                </svg>
                <h3>Foco nos Resultados</h3>
                <p>Nossas realizações geram e dependem deles.</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/img/icons/flag.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Credibilidade e Orgulho</h3>
                <p>A credibilidade é a nossa marca, e sentimos orgulho quando olhamos o que fazemos aqui. </p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/img/icons/lampada.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Ousadia e Inovação</h3>
                <p>Ser líder implica em fazer diferente e assumir riscos com responsabilidade.</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/img/icons/equipe.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Flexibilidade e Agilidade</h3>
                <p>Adaptar-se às mudanças mantendo o rumo e os princípios. </p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/img/icons/sentimento_care.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Entusiasmo e Espírito de Equipe</h3>
                <p>Vontade de fazer a diferença trabalhando com simplicidade, humildade e espírito de equipe.</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/img/icons/shake_hands.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Sentimento de "Dono"</h3>
                <p>Não se omitir, assumir posições e responsabilidades, visando a perpetuidade da empresa.</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/img/icons/foco_prancheta.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Cumprir o que promete</h3>
                <p>Confiança é o alicerce sobre o qual construímos nossos empreendimentos.</p>
            </div>
        </div><!--/ .principios -->
    </div>
</section>
@code {

}