﻿@using MouraDubeux.Front.Blazor.Models

<section class="content__inner bg__section">
    <div class="container md__forms h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1>Fale conosco</h1>
                <p>Temos diversos canais de contato para que você escolher aquela que é mais conveniente. Confira:</p>
            </div>
        </div>
    </div>
    <div class="container h-100 form_conos">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8 text-center form_conos">
                <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
                    <div class="form-group">
                        <InputText @bind-Value="model.Nome" class="form-control form-control-lg" id="Nome" placeholder="Qual o seu nome?"></InputText>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Email" class="form-control form-control-lg" id="Email" placeholder="Qual e o email que você mais usa?"></InputText>
                        </div>
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Telefone" class="form-control form-control-lg" id="Telefone" placeholder="Qual é o seu telefone com DDD?"></InputText>
                        </div>
                    </div>
                    <div class="form-group">
                        <InputTextArea @bind-Value="model.Mensagem" class="form-control form-control-lg valid pb-5" id="Endereco" placeholder="Escreva sua mensagem"></InputTextArea>
                    </div><div class="form-group col-md">
                        <button type="submit" class="btn btn__first">Enviar</button>
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {
}
