<img src="/img/formimg.png" alt="Imagem ilustrativa de uma construção" title="Imagem ilustrativa de uma construção" srcset="" lazy="loading" class="img-fluid w-100">
<!-- <section class="content__inner fornecedor__form">

    <div class="container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Seja um fornecedor</h1>
                <p class="text-center">Quer ser nosso parceiro e fortalecer o desenvolvimento imobiliário do nordeste?
                    Basta preencher o formulário a seguir e encaminhar os documentos de acordo com o segmento que você
                    pretende atuar</p>
            </div>
        </div>
    </div>
</section -->