﻿<section class="conduta">
    
    <div class="container">
        <div class="row h-100 align-items-center justify-content-center">
            <h2 class="text-center conduta__h2 mt-0">Código de conduta </h2>

            <article class="col-12 d-flex flex-column flex-lg-row mb-4">
                <img src="/img/cartaoconduta.png" alt="Código de conduta Moura Dubeux" title="Código de conduta Moura Dubeux" srcset="" lazy="loading" class="img-fluid mb-2 mb-lg-0 mr-lg-4 col-lg-6 p-0">
                <div class="col-12 p-0 col-lg-6 d-flex flex-column">
                    <h4 class="mb-2">
                        O que é o código de conduta?
                    </h4>
                    <p class="">Acreditamos que nossas atitudes podem ajudar a construir um mundo melhor e mais
                        ético.
                        <br><br>
                        Como essa transformação começa de dentro para fora, temos um código de conduta constantemente
                        atualizado
                        que
                        orienta
                        nossas ações e relações para que sejam corretas, respeitosas e transparentes com todos os públicos
                        que
                        interagimos.
                    </p>
                </div>

            </article>

            <article class="col-12 d-flex flex-column flex-lg-row mb-4">
                <img src="/img/video.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" srcset="" lazy="loading" class="img-fluid mb-2 mb-lg-0 mr-lg-4 col-lg-6 p-0">

                <div class="col-12 p-0 col-lg-6 d-flex flex-column">
                    <h4 class="mb-2">A quem se aplica
                        o nosso código de conduta?</h4>

                    <p>Todos fazem parte dessa transformação! Por isso, nosso código se aplica a todos os colaboradores da
                        Moura
                        Dubeux,
                        fornecedores e parceiros. Porém, mais do que conhecer o nosso código de conduta é necessário
                        compreendê-lo e
                        adotá-lo em nossas ações diárias.
                    </p>

                </div>

            </article>

            <a class="col-12 col-md-4 m-auto btn btn__first" href="" download="">BAIXE o Nosso código de conduta</a>
        </div>
    </div>
  
</section>


@code {

}
