﻿<section class="no-pt">
    <div class="form_fornecedor">
        <div class="area-cinza">
            <div class="content__inner">
                <div class="container">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-md-8">
                            <h1 class="text-center">Seja um fornecedor</h1>
                            <p class="text-center">
                                Quer ser nosso parceiro e fortalecer o desenvolvimento imobiliário do nordeste?
                                Basta preencher o formulário a seguir e encaminhar os documentos de acordo com o segmento que você
                                pretende atuar
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <form id="regForm" action="/action_page.php">
                        <!-- Circles which indicates the steps of the form: -->
                        <div class="nav_steps">
                            <div class="step">Dados <br> pessoais</div>
                            <div class="step">Localização</div>
                            <div class="step">Dados <br> profissionais/ <br> empresariais</div>
                            <div class="step">Documentos</div>
                            <div class="step">Outras <br> observações</div>
                        </div>

                        <!-- One "tab" for each step in the form: -->
                        <div class="tab">
                            <h2>Dados pessoais:</h2>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label>Qual é o seu nome?</label>
                                    <input placeholder="Nome..." oninput="this.className = ''" name="fname">
                                </div>
                                <div class="col-12 col-md-6">
                                    <label>Qual é o seu número de telefone com DDD? </label>
                                    <input placeholder="Telefone..." oninput="this.className = ''" name="phone">
                                </div>
                            </div>
                        </div>

                        <div class="tab">
                            <h2>Localização:</h2>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label>Selecione o seu estado</label>
                                    <select placeholder="Estado..." oninput="this.className = ''" name="estado">
                                        <option value="" disabled selected>Estado...</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label>Selecione a sua cidade</label>
                                    <select placeholder="Cidade..." oninput="this.className = ''" name="cidade">
                                        <option value="" disabled selected>Cidade...</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="tab">
                            <h2>Dados profissionais/empresariais:</h2>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label>Qual é o nome da sua empresa?</label>
                                    <input placeholder="Empresa..." oninput="this.className = ''" name="empresa">
                                </div>
                                <div class="col-12 col-md-6">
                                    <label>Qual é o seu CNPJ?</label>
                                    <input placeholder="CNPJ.." oninput="this.className = ''" name="cnpj">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label>Qual é o seu e-mail profissional?</label>
                                    <input placeholder="E-mail profissional..." oninput="this.className = ''" name="emailProfissional">
                                </div>
                                <div class="col-12 col-md-6">
                                    <label>Qual é o telefone da empresa com DDD?</label>
                                    <input placeholder="Telefone profissional..." oninput="this.className = ''" name="telProfissional">
                                </div>
                            </div>
                            <div>
                                <label>Selecione o tipo de fornecedor que você quer ser</label>
                                <div>
                                    <input type="radio" id="op1" name="fornecedor" value="1">
                                    <label for="op1">Fornecedor prestador de serviço</label><br>
                                    <input type="radio" id="op2" name="fornecedor" value="2">
                                    <label for="op2">Fornecedor de materiais</label><br>
                                    <input type="radio" id="op3" name="fornecedor" value="3">
                                    <label for="op3">Fornecedor de alimentação</label><br>
                                    <input type="radio" id="op4" name="fornecedor" value="4">
                                    <label for="op4">Fornecedor MEI <br> <small>(Micro Empreendedor Individual)</small></label><br>
                                </div>
                            </div>
                        </div>

                        <div class="tab">
                            <h2>Documentos:</h2>
                            <p>Agora, precisamos que você nos envie alguns documentos para continuarmos o processo. Atenção: Os arquivos devem ter menos de 2mb e serem legíveis.</p>
                            <p>Confira a seguir a lista de documentos que você precisa encaminhar de acordo com o tipo de fornecedor que sua empresa quer ser. Junto aos seus documentos, preencha e envie também o <a href="">Modelo de Qualificação</a>, a <a href="">Declaração de Dados Cadastrais</a> e o Termo de  <a href="">Compromisso do nosso Código de Ética</a>.</p>
                            <p><strong>Confira a seguir a lista de documentos de acordo com perfil da sua empresa:</strong></p>
                            <p><a href="">Fornecedor prestador de serviço</a></p>
                            <p><a href="">Fornecedor de materiais</a></p>
                            <p><a href="">Fornecedor de alimentação</a></p>
                            <p><a href="">Fornecedor MEI</a></p>
                            <div>
                                <div class="doc_line">
                                    <img src="/img/doc.png" alt="icone" title="">
                                    <p class="pl-30">Modelo de Qualificação (Para todos)</p>
                                    <img src="/img/btn-plus-red.png" alt="icone" title="">
                                </div>
                                <div class="doc_line">
                                    <img src="/img/doc.png" alt="icone" title="">
                                    <p class="pl-30">Declaração de Dados Cadastrais (Para todos) </p>
                                    <img class="float-right" src="/img/btn-plus-red.png" alt="icone" title="">
                                </div>
                                <div class="doc_line">
                                    <img src="/img/eye.png" alt="icone" title="">
                                    <p class="pl-30">...contratosocial.doc</p>
                                    <img class="float-right" src="/img/btn-remove.png" alt="icone" title="">
                                </div>
                                <div class="pt-50">
                                    <label class="t-red" for="doc">Carregar arquivos</label>
                                    <input type="file" id="doc" name="doc" accept="*">
                                </div>
                            </div>
                        </div>

                        <div class="tab">
                            <h2>Outras observações:</h2>
                            <p>Escreva mais sobre a sua empresa e descreva melhor o serviço que vocês gostariam de oferecer à Moura Dubeux.</p>
                            <textarea id="obs" name="observacoes" rows="10" cols="100"></textarea>
                            <div>
                                <input class="radio_square" type="radio" id="termo" name="termo" value="termo">
                                <label for="termo">Aceito os termos e condições da marca.</label>
                            </div>
                        </div>

                        <div class="pt-50 text-center">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Voltar</button>
                            <button type="button" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
