﻿// css page nossos-escritorios
.listagem__card{
    .card{
        border: none;
    }
    .card-header, .card-body{
        border: none;
        padding: 0;
        margin: 0;
    }
    .card-header{
        background-color: transparent;
        text-align: center;
        @include media-breakpoint-down(md){
            background-image: none !important;
        }
        @extend %border__radius-default;
        @include media-breakpoint-up (xl){
            background-size: cover;
            background-repeat: no-repeat;
            height: 176px;
            background-position: center;
        }
    }
    .card-body{
        h2 + p, p + p{
            margin: 0;
            margin-top: 1rem;
        }
        h2{
            @include rhythm (22, 34);
        }
        p{
            a{
                font-weight: 700;
            }
        }
        p, a, b{
            @extend %color__third;
        }
    }
    margin-bottom: 2rem;
    @include media-breakpoint-up(md){
        margin-bottom: 3rem;
    }
    @include media-breakpoint-up(md){
        &:not(:nth-child(-n + 3)){
            margin-bottom: 0;
        }
    }
}