﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sidebar {
    height: 100vh;
    overflow-y: scroll;
}

.sidebar a, .btn-link {
    color: #FFFFFF;
}

a:hover {
    font-weight: 700;
    text-decoration: none;
    color: #DE963E;
}
.modal .plk-dd-dropzone {
    width: 100%;
    /* display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 50vh;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;*/
}
.modal .table-img-mini {
    cursor: grabbing;
    max-height: 150px;
}
.modal-fullscreen .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
}
.modal-fullscreen .modal-content {
    height: auto;
    height: 100vh;
    border-radius: 0;
    border: none;
}
.modal-fullscreen .modal-body {
   overflow-y: auto;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


/*BlazorInputFile*/
body {
    font-family: sans-serif;
    margin: 0;
}

main, nav {
    padding: 1.25rem 2rem;
}

h1, h2, h3, h4, h5 {
    margin-top: 1rem;
}

nav {
    background-color: #c9c9c9;
    display: flex;
    align-items: center;
    color: #3d3d3d;
    box-shadow: 0 0 3px;
}

nav a {
    text-decoration: none;
    background-color: #eeeeee;
    color: black;
    padding: 0.3rem 1rem;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

nav a:first-of-type {
    margin-left: 0.6rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav a:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    nav a:hover {
        background-color: #DE963E;
    }

nav a.active, nav a.active:hover {
     background-color: #3069f6;
     color: #DE963E;

}

.sidebar{
    box-shadow: 1px 1px 5px black;
}

.file-row {
    background-color: #e4e4e4;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.6rem;
    color: #555;
    display: flex;
    align-items: center;
}

.file-row h2 {
    margin: 0.3rem 0 0.6rem 0;
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
}

.file-row > div {
    flex-grow: 1;
}

.file-row button {
    padding: 0.5rem 1rem;
}

.drag-drop-zone {
    border: 3px dashed #e68710;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    color: #aeaeae;
    font-size: 1.0rem;
    cursor: pointer;
    margin: 1.5rem 0 2rem 0;
    position: relative;
}

.drag-drop-zone:hover {
    background-color: #f5f5f5;
}

.drag-drop-zone input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

pre {
    background-color: #f0f0f0;
    overflow: auto;
    padding: 1rem;
    height: 10rem;
}
/*/BlazorInputFile*/

.table-img-mini {
    max-height: 50px;
}

.oi .oi-flag .pt{
    color: rgb(255,255,0) !important;
    background: linear-gradient(90deg, rgba(255,255,0,1) 37%, rgba(0,102,0,1) 64%) !important;
}

.oi .oi-flag .en {
    color: rgb(0,39,104) !important;
    background: linear-gradient(90deg, rgba(0,39,104,1) 37%, rgba(255,255,255,1) 50%, rgba(191,11,48,1) 64%) !important;
}

.nav-link a {
    font-weight: 700 !important;
    text-decoration: none !important;
    color: #DE963E !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 150px !important;
    width: 150px !important;
    position: absolute;
}


#autocomplete {
    top: 0px;
    left: 0px;
    width: 99%;
}

.pac-container {
    z-index: 9999999999;
}
h5{
    font-weight: 600;
    color: #9C2431;
    margin-bottom: 1rem;
    font-size: 22px;
}
:focus, .form-control:focus{
    outline: none;
    box-shadow: none;
}
.table-responsive{
    margin-bottom: 2rem;
}
input[type=checkbox].form-control, input[type=radio] {
         width: 1.5rem !important;
        height: 1.5rem;
}
.nav-tabs .nav-item.show.idioma .nav-link, .nav-tabs .idioma .nav-link.active {
    box-shadow: 0px -1px 5px #dee2e6;
}

.close {
    font-size: 2.5rem;
}

div#toastArea {
    top: 0;
    bottom: auto !important;
}

.oi-large {
    font-size: 3em;
}
.subMenu {
    padding-left:10px;
}