﻿@using MouraDubeux.Admin.Data.Enum

<section class="banner carousel slide content__inner carousel-fade p-0">
        <div class="carousel-inner h-100">
            @if (EmpreendimentoBannerModel != null)
            {
            <div class="carousel-item active lozad" style="background-image: url('@EmpreendimentoBannerModel.UrlBanner');" data-background-image="@EmpreendimentoBannerModel.UrlBanner">
                <ImgComponent LinkImagem="@EmpreendimentoBannerModel.UrlBanner" Class="w-100 d-lg-none" ></ImgComponent>
                <div class="container ">
                    <div class="row  align-items-end h-100 justify-content-start">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="media col-md-12 align-items-center">
                                    <ImgComponent LinkImagem="@EmpreendimentoBannerModel.UrlLogo" Class="align-self-center mr-1 mr-md-3" ></ImgComponent>
                                    <!--<img class="align-self-center mr-1 mr-md-3" src="/img/quartier.png" alt="Generic placeholder image">-->
                                    <div class="media-body">
                                        <h5 class="text-uppercase">
                                            @foreach (var Enum in Enum.GetValues(typeof(EnumTipoEmpreendimento)).Cast<EnumTipoEmpreendimento>().ToList())
                                            {
                                                if ((int)Enum == EmpreendimentoBannerModel.TipoEmpreendimento)
                                                {
                                                    @(extensionMethods.Description(Enum))
                                                }
                                            }
                                        </h5>
                                        <h1>@EmpreendimentoBannerModel.Nome</h1>
                                    </div>
                                </div>
                                <div class="status col-md-2">
                                    @if (EmpreendimentoBannerModel.StatusEmpreendimento == (int)EnumStatusEmpreendimento.Pronto)
                                    {
                                    }
                                    else if (EmpreendimentoBannerModel.StatusEmpreendimento == (int)EnumStatusEmpreendimento.EmConstrucao)
                                    {
                                        <img src="/img/CONSTRUCAO.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="">
                                    }
                                    else if (EmpreendimentoBannerModel.StatusEmpreendimento == (int)EnumStatusEmpreendimento.Lancamento)
                                    {
                                        <img src="/img/lançamento.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="">
                                    }
                                    else if (EmpreendimentoBannerModel.StatusEmpreendimento == (int)EnumStatusEmpreendimento.Revenda)
                                    {
                                        <img src="/img/icon.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="">
                                    }
                                    else
                                    {
                                        <img src="/img/icon.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="">
                                    }

                                    <p>
                                        @if (EmpreendimentoBannerModel.StatusEmpreendimento != (int)EnumStatusEmpreendimento.Pronto)
                                        {
                                            @(extensionMethods.Description((EnumStatusEmpreendimento)EmpreendimentoBannerModel.StatusEmpreendimento))
                                        }
                                    </p>
                                </div><!-- /.status -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            }
        </div>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            EmpreendimentoBannerModel = EmpreendimentoModel;
            StateHasChanged();

        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
