﻿@using MouraDubeux.Admin.Data.Enum
<div class="d-none">
<div id="bairro" class="d-">
    @EmpreendimentoModel.Bairro 
</div>
<div id="cidade" class="d-">
    @EmpreendimentoModel.CidadeNome 
</div>
<div id="estado" class="d-">
    @EmpreendimentoModel.Estado
</div>
<div id="nomeemp" class="d-">
    @EmpreendimentoModel.Nome
</div>
</div>
  
<div id="anaproemp" class="anaprochat d-none @EmpreendimentoModel.Nome">@EmpreendimentoModel.UrlChat</div>

<section class="description pt-4">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100 m-0">
            <div class="col-md-12">
                <ul class="list-inline description__list d-md-flex align-items-end">
                    <li class="list-inline-item">
                        <div class="media align-items-center">
                            <img class="align-self-center mr-2" src="/img/icon4.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                            <div class="media-body">
                                <p>@EmpreendimentoModel.Endereco - @EmpreendimentoModel.Bairro - @EmpreendimentoModel.CidadeNome - @EmpreendimentoModel.EstadoNome</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="media align-items-center">
                            <img class="align-self-center mr-2" src="/img/icon3.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                            <div class="media-body">
                                <p>@EmpreendimentoModel.Metragem</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="media align-items-center">
                            <img class="align-self-center mr-2" src="/img/icon2.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" width="18" height="20">
                            <div class="media-body">
                                <p>@EmpreendimentoModel.VagasGaragem</p>
                            </div>
                        </div>
                    </li>
                      @if (EmpreendimentoModel.TipoEmpreendimento == (int)EnumTipoEmpreendimento.Empresarial)
            { }
            else{
                      @if (!string.IsNullOrEmpty(EmpreendimentoModel.Quartos))
                {
                    <li class="list-inline-item">
                        <div class="media align-items-center">
                            <svg class="align-self-center mr-2"  width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.2847 9.85632V9.44144C21.2847 8.67717 20.8891 8.00394 20.2921 7.61463V3.08895C20.2921 1.89822 19.3234 0.929504 18.1327 0.929504H4.77952C3.58878 0.929504 2.62002 1.89822 2.62002 3.08895V7.61459C2.02308 8.0039 1.62739 8.67712 1.62739 9.4414V9.85628C1.01616 10.0172 0.563965 10.5746 0.563965 11.2357V16.0902C0.563965 16.8539 1.16737 17.4792 1.92246 17.5148V18.0893C1.92246 18.4411 2.20765 18.7263 2.55944 18.7263C2.91122 18.7263 3.19641 18.4411 3.19641 18.0893V17.5165H19.7157V18.0893C19.7157 18.4411 20.0009 18.7263 20.3527 18.7263C20.7045 18.7263 20.9897 18.4411 20.9897 18.0893V17.5148C21.7448 17.4792 22.3482 16.8539 22.3482 16.0901V11.2357C22.3482 10.5746 21.896 10.0172 21.2847 9.85632ZM3.89402 3.08895C3.89402 2.60068 4.29124 2.20346 4.77952 2.20346H18.1327C18.6209 2.20346 19.0182 2.60068 19.0182 3.08895V7.26145H18.1688V6.13871C18.1688 5.35286 17.5295 4.7135 16.7436 4.7135H13.3161C12.5302 4.7135 11.8909 5.35286 11.8909 6.13871V7.26145H11.0213V6.13871C11.0213 5.35286 10.3819 4.7135 9.59609 4.7135H6.16856C5.38267 4.7135 4.74335 5.35286 4.74335 6.13871V7.26145H3.89402V3.08895ZM16.8948 6.13866V7.11019C16.8948 7.19358 16.827 7.2614 16.7436 7.2614H13.3161C13.2327 7.2614 13.1649 7.19354 13.1649 7.11019V6.13866C13.1649 6.05527 13.2327 5.98745 13.3161 5.98745H16.7436C16.827 5.98745 16.8948 6.05527 16.8948 6.13866ZM9.7473 6.13866V7.11019C9.7473 7.19358 9.67944 7.2614 9.59609 7.2614H6.16856C6.08517 7.2614 6.01735 7.19354 6.01735 7.11019V6.13866C6.01735 6.05527 6.08521 5.98745 6.16856 5.98745H9.59609C9.67944 5.98745 9.7473 6.05527 9.7473 6.13866ZM2.90139 9.4414C2.90139 8.94181 3.30784 8.5354 3.80744 8.5354H19.1047C19.6043 8.5354 20.0108 8.94185 20.0108 9.4414V9.80935H2.90139V9.4414ZM21.0742 16.0901C21.0742 16.1741 21.0059 16.2425 20.9219 16.2425H1.99028C1.90629 16.2425 1.83792 16.1741 1.83792 16.0901V11.2357C1.83792 11.1517 1.90625 11.0834 1.99028 11.0834H20.9219C21.0059 11.0834 21.0743 11.1517 21.0743 11.2357V16.0901H21.0742Z" fill="#A50112" />
                            </svg>
                            <div class="media-body">
                                <p>@EmpreendimentoModel.Quartos</p>
                            </div>
                        </div>
                    </li>
                }
            }
                </ul>
            </div>
            @if (EmpreendimentoModel.TipoEmpreendimento == (int)EnumTipoEmpreendimento.Empresarial && EmpreendimentoValorDescricaoList.Count() > 1)
            {
                <div class="col-md-12 description__select">
                    <select name="" id="" value="@SelectIdValorDescricao" @onchange="ValorDescricaoChange" class="form-control col-md-6 h-100">
                        @foreach (var EmpreendimentoValorDescricao in EmpreendimentoValorDescricaoList)
                        {
                            <option value="@EmpreendimentoValorDescricao.Id">@EmpreendimentoValorDescricao.Titulo</option>
                        }
                    </select>
                </div>
            }

            <div class="col-md-12 p-0 show__content show__content-">
                <div class="col-md-12 description__price">
                    <p>
                        <small>A partir de:</small>
                        <b>@EmpreendimentoValorDescricaoModel.Valor</b>
                    </p>
                </div><!-- /.col-md-12 price -->
                <div class="col-md-12 description__content">
                    <p>@EmpreendimentoValorDescricaoModel.Descricao</p>
                    <p><b>*Unidade sujeita a disponibilidade.</b></p>
                </div><!-- /.col-md-12 description__content -->
            </div>

        </div>
        <div class="col-md-12 description__line d-none d-lg-flex">
            <hr>
        </div><!-- /.col-md-10 description__line -->
    </div>
</section><!-- /.description -->

@code {

        
}
