﻿   @if (EmpreendimentoGaleriaList.Count> 0){

<section class="gallery pt-0 invisible" >
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="mb-4">Fotos do empreendimento</h2>
                <p class="mb-4 d-none">Confira algumas das áreas comuns do empreendimento </p>
            </div>
            <div class="col-md-12">
                <ul class="gallery__list" id="gallery__slider">
                    @foreach (var galeria in EmpreendimentoGaleriaList)
                    {
                        if (galeria.EhVideo)
                        {
                            var thumb = "https://i.ytimg.com/vi/"+galeria.GetIdUrlVideo()+"/maxresdefault.jpg";
                            <a target="_top" data-sub-html=".caption" href="@galeria.UrlVideo" data-poster="@thumb">
                                <figure class="tint">
                                    <img class="img-fluid w-100" src="@thumb" alt="@galeria.Titulo" title="@galeria.Titulo" />
                                </figure>
                                <div class="caption">
                                    <legend>
                                        <h3>@galeria.Titulo</h3>
                                    </legend>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a target="_top" data-sub-html=".caption" href="@galeria.UrlImagem">
                                <figure class="tint">
                                    <ImgComponent LinkImagem="@galeria.UrlImagem" Class="w-100"></ImgComponent>
                                </figure>
                                <div class="caption">
                                    <legend>
                                        <h3>@galeria.Titulo</h3>
                                    </legend>
                                </div>
                            </a>
                        }
                        
                    }
                </ul>
            </div><!--/.gallery_slider-->
        </div>
    </div>
</section><!-- /.gallery -->

   }
@code {

}
