﻿@using MouraDubeux.Admin.Data.Enum


@if (EmpreendimentoInfoTecnicaList.Count> 0){
    <section class="info">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-12 text-center">
                    <h2>Informações Técnicas</h2>
                </div>
                <div class="col-md-12">
                    <ul class="column-count | column-count-two | info__list p-0 w-100">
                        @foreach (var EmpreendimentoInfoTecnica in EmpreendimentoInfoTecnicaList)
                        {
                        <li class="info__list-item">
                            <span class="text-uppercase">@Enum.GetName(typeof(EnumInformacoesTecnicas), Convert.ToByte(EmpreendimentoInfoTecnica.Funcao)):</span><b>@EmpreendimentoInfoTecnica.Nome</b>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/.info-->
}



@code {

}
