﻿@using MouraDubeux.Admin.Data.Enum
@using System.Text.Json;
@inject IJSRuntime JSRuntime

<section class="map pb-0">
    <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center mb-4">
                <h2 class="mb-4">Perto de tudo que você precisa</h2>
                <ul class="list-inline description__list d-md-flex justify-content-center text-center align-items-center mt-2">
                    <li class="list-inline-item text-center">
                        <div class="media align-items-center">
                            
                                <img class="align-self-center mr-2" src="/img/icon4.png" alt="Construtora Moura Dubeux">
                                <div class="media-body">
                                    <p class="m-0 text-capitalize">@EmpreendimentoModel.Endereco - @EmpreendimentoModel.Bairro - @EmpreendimentoModel.CidadeNome - @EmpreendimentoModel.EstadoNome</p>
                                </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-8 text-center p-0">
                <div id="map"></div>
            </div>
            <div class="col-md-12 col-lg-4 places_close">
                @if (EmpreendimentoFichaTecnicaServicosList.Count > 0)
                {
                    <div class="col-lg-12 col-md-12 places_close__category">
                        <h3 class="text-center text-md-left">Serviços próximos</h3>
                        <ul class="places_close__list services">
                            @foreach (var EmpreendimentoFichaTecnicaServicos in EmpreendimentoFichaTecnicaServicosList)
                            {
                                <li class="places_close__item">
                                    <div class="media">
                                        <span>
                                           <a style="pointer-events: none" target="_top" href="" @onclick="@(() => ClickServico(EmpreendimentoFichaTecnicaServicos.UrlImagem))" @onclick:preventDefault>
                                                <img class="mr-3 align-self-center" width="27" src="/img/icons/@(EmpreendimentoFichaTecnicaServicos.UrlImagem).svg" title="Construtora Moura Dubeux" alt="Construtora Moura Dubeux" loading="lazy">
                                                <div class="media-body">
                                                    @foreach (var Enum in Enum.GetValues(typeof(EnumFichaTecnicaServicosProximosIcones)).Cast<EnumFichaTecnicaServicosProximosIcones>().ToList())
                                                    {
                                                        if (Enum.ToString() == EmpreendimentoFichaTecnicaServicos.UrlImagem)
                                                        {
                                                            <p>@(extensionMethods.Description(Enum))</p>
                                                        }
                                                    }
                                                </div>
                                            </a>
                                        </span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</section><!--/.map-->
<section class="places_close">
    <div class="container h-100">
        <div class="row align-items-start justify-content-between">


            @if (EmpreendimentoFichaTecnicaInfraList.Count > 0)
            {
                <div class="col-lg-12 p-lg-0 col-md-12 places_close__category">
                    <h3 class="text-center text-md-left">Infraestrutura</h3>
                    <ul class="places_close__list | column-count | column-count-two two-down-md">
                        @foreach (var EmpreendimentoFichaTecnicaInfra in EmpreendimentoFichaTecnicaInfraList)
                        {
                            <li class="places_close__item">
                                <div class="media">
                                    <img class="mr-3 align-self-center" width="27" src="/img/icons/@(EmpreendimentoFichaTecnicaInfra.UrlImagem).svg" title="Construtora Moura Dubeux" alt="Construtora Moura Dubeux" loading="lazy">
                                    <div class="media-body">
                                        @foreach (var Enum in Enum.GetValues(typeof(EnumFichaTecnicaInfraEstruturaIcones)).Cast<EnumFichaTecnicaInfraEstruturaIcones>().ToList())
                                        {
                                            if (Enum.ToString() == EmpreendimentoFichaTecnicaInfra.UrlImagem)
                                            {
                                                <p>@(extensionMethods.Description(Enum))</p>
                                            }
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (EmpreendimentoFichaTecnicaLazerList.Count > 0)
            {

                <div class="col-lg-12 p-lg-0 col-md-12 places_close__category">
                    <h3 class="text-center text-md-left">Lazer</h3>
                    <ul class="places_close__list | column-count | column-count-two two-down-md">
                        @foreach (var EmpreendimentoFichaTecnicaLazer in EmpreendimentoFichaTecnicaLazerList)
                        {
                            <li class="places_close__item">
                                <div class="media">
                                    <img class="mr-3 align-self-center" width="27" src="/img/icons/@(EmpreendimentoFichaTecnicaLazer.UrlImagem).svg" title="Construtora Moura Dubeux" alt="Construtora Moura Dubeux" loading="lazy">
                                    <div class="media-body">
                                        @foreach (var Enum in Enum.GetValues(typeof(EnumFichaTecnicaLazerIcones)).Cast<EnumFichaTecnicaLazerIcones>().ToList())
                                        {
                                            if (Enum.ToString() == EmpreendimentoFichaTecnicaLazer.UrlImagem)
                                            {
                                                <p>@(extensionMethods.Description(Enum))</p>
                                            }
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="col-md-12 text-center mt-5 d-none">
                <a herf="#" id="chat__anaprobtn" target="popup" rel="noopener noreferrer" class="chat__anaprobtn consultor__emp yes__inner">
                    <div class="btn btn__first">
                        fale com um consultor
                    </div>
                </a>
            </div>
            <div class="col-md-12 text-center mt-5">
                <a data-toggle="modal" data-target="#modalNewsletterRD" class="chat__anaprobtn consultor__emp yes__inner">
                    <div class="btn btn__first">
                        Ligamos para você
                    </div>
                </a>
            </div>
        </div>
    </div>
</section><!--/.map-->

@code{
    public List<string> servicos;
    public List<string> servicosMarcados;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            servicosMarcados = new List<string>();
            servicos = new List<string>(EmpreendimentoFichaTecnicaServicosList.ConvertAll<string>(x => x.UrlImagem).ToArray());
            InitMap(EmpreendimentoModel.Latitude, EmpreendimentoModel.Longitude, servicos);
        }

    }

    protected void ClickServico(string servico)
    {
        if (servicosMarcados.Contains(servico))
            servicosMarcados.Remove(servico);
        else
            servicosMarcados.Add(servico);

        if (servicosMarcados.Count < 1)
            InitMap(EmpreendimentoModel.Latitude, EmpreendimentoModel.Longitude, servicos);

        InitMap(EmpreendimentoModel.Latitude, EmpreendimentoModel.Longitude, servicosMarcados);
        StateHasChanged();
    }

    protected async void InitMap(string latitude, string longitude, List<string> servicosProximos)
    {
        var parameters = new
        {
            latitude = latitude,
            longitude = longitude,
            servicosProximos = JsonSerializer.Serialize(servicosProximos)
        };

        await JSRuntime.InvokeAsync<object>("initMap", parameters);
        StateHasChanged();
    }

}