﻿   @if (EmpreendimentoGaleriaList.Count> 0){

    <section class="plan">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 text-center">
                    <h2>Planta do Imóvel</h2>
                </div>
                <div class="col-md-12 ">
                    <ul class="plan__list" id="plan__slider">
                        @foreach (var galeria in EmpreendimentoGaleriaList)
                        {
                            if (galeria.EhVideo)
                            {
                                var thumb = "https://i.ytimg.com/vi/" + galeria.GetIdUrlVideo() + "/maxresdefault.jpg";
                                <a target="_top" data-sub-html=".caption" href="@galeria.UrlVideo" data-poster="@thumb">
                                    <figure class="tint">
                                        <img class="img-fluid w-100" src="@thumb" alt="@galeria.Titulo" title="@galeria.Titulo"/>
                                    </figure>
                                    <div class="caption">
                                        <legend>
                                            <h3>@galeria.Titulo</h3><p>@galeria.Descricao</p>
                                        </legend>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a target="_top" data-sub-html=".caption" href="@galeria.UrlImagem">
                                    <figure class="tint">
                                        <ImgComponent LinkImagem="@galeria.UrlImagem" Class="w-100"></ImgComponent>
                                    </figure>
                                    <div class="caption">
                                        <legend>
                                            <h3>@galeria.Titulo</h3><p>@galeria.Descricao</p>
                                        </legend>
                                    </div>
                                </a>
                            }

                        }
                    </ul>
                </div><!--/.plan__gallery -->
            </div>
        </div>
    </section>
   }
@code {

}
