<section class="simular bg__first">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="text-white mb-3">Simular Financiamento</h2>
                <p class="text-white mt-3 mb-3">As melhores taxas do mercado para você realizar o sonho</p>
            </div><!--/. -->
            <div class="col-md-12 cta__simular text-center">
                <a target="_top" data-toggle="modal" data-target="#modalNewsletter" rel="noopener noreferrer">
                    <div class="btn btn__first" data-state="reversed">
                        Fazer simulação
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

@code {

}
