﻿@using MouraDubeux.Admin.Data.Enum

@if (!(EmpreendimentoModel.StatusFundacao == 0 &&
EmpreendimentoModel.StatusEstrutura == 0 &&
EmpreendimentoModel.StatusAlvenaria == 0 &&
EmpreendimentoModel.StatusFachada == 0 &&
EmpreendimentoModel.StatusAcabamento == 0 &&
EmpreendimentoModel.StatusPintura == 0 &&
EmpreendimentoModel.StatusEntrega == 0 ||
EmpreendimentoModel.StatusEmpreendimento == (int)EnumStatusEmpreendimento.Pronto))
{
    <section class="status">
        <div class="container h-100">
            <div class="row align-items-start justify-content-center">
                <div class="col-md-12 text-center">
                    <h2>Status da Obra</h2>
                </div>
                <div class="col-md-6 order-2">
                    <ul class="status__list p-0">
                        <li class="status__item">
                            <div class="media">
                                <img class="mr-1" src="/img/icons/fundação.svg" title="Status Fundação" width="45" alt="Status Fundação">
                                <div class="media-body">
                                    <label for="title" class="col-3 col-md-3">Fundação</label>
                                </div>
                            </div>
                            <div class="progress col-7 p-0 col-md-7">
                                <div class="progress-bar progress-bar-animated bg__second" role="progressbar" aria-valuenow="@EmpreendimentoModel.StatusFundacao" aria-valuemin="0" aria-valuemax="100" style="max-width: @EmpreendimentoModel.StatusFundacao%"></div>
                            </div>
                            <label for="progresso" class="col-2 col-md-1 counter" data-count="@EmpreendimentoModel.StatusFundacao">@EmpreendimentoModel.StatusFundacao%</label>
                        </li>
                        <li class="status__item">
                            <div class="media">
                                <img class="mr-1" src="/img/icons/estrutura.svg" width="45" title="Status Estrutura" alt="Status Estrutura">
                                <div class="media-body">
                                    <label for="title" class="col-3 col-md-3">Estrutura</label>
                                </div>
                            </div>
                            <div class="progress col-7 p-0 col-md-7">
                                <div class="progress-bar progress-bar-animated bg__second" role="progressbar" aria-valuenow="@EmpreendimentoModel.StatusEstrutura" aria-valuemin="0" aria-valuemax="@EmpreendimentoModel.StatusEstrutura" style="max-width: @EmpreendimentoModel.StatusEstrutura%"></div>
                            </div>
                            <label for="progresso" class="col-2 col-md-1 counter" data-count="@EmpreendimentoModel.StatusEstrutura">@EmpreendimentoModel.StatusEstrutura%</label>
                        </li>
                        <li class="status__item">
                            <div class="media">
                                <img class="mr-1" src="/img/icons/alvenaria.svg" width="45" title="Status Alvenaria" alt="Status Alvenaria">
                                <div class="media-body">
                                    <label for="title" class="col-3 col-md-3">Alvenaria</label>
                                </div>
                            </div>
                            <div class="progress col-7 p-0 col-md-7">
                                <div class="progress-bar progress-bar-animated bg__second" role="progressbar" aria-valuenow="@EmpreendimentoModel.StatusAlvenaria" aria-valuemin="0" aria-valuemax="100" style="max-width: @EmpreendimentoModel.StatusAlvenaria%"></div>
                            </div>
                            <label for="progresso" class="col-2 col-md-1 counter" data-count="@EmpreendimentoModel.StatusAlvenaria">@EmpreendimentoModel.StatusAlvenaria%</label>
                        </li>
                        <li class="status__item">
                            <div class="media">
                                <div class="media">
                                    <img class="mr-1" src="/img/icons/fachada.svg" width="45" title="Status Fachada" alt="Status Fachada">
                                    <div class="media-body">
                                        <label for="title" class="col-3 col-md-3">Fachada</label>
                                    </div>
                                </div>
                            </div>
                            <div class="progress col-7 p-0 col-md-7">
                                <div class="progress-bar progress-bar-animated bg__second" role="progressbar" aria-valuenow="@EmpreendimentoModel.StatusFachada" aria-valuemin="0" aria-valuemax="100" style="max-width: @EmpreendimentoModel.StatusFachada%"></div>
                            </div>
                            <label for="progresso" class="col-2 col-md-1 counter" data-count="@EmpreendimentoModel.StatusFachada">@EmpreendimentoModel.StatusFachada%</label>
                        </li>
                        <li class="status__item">
                            <div class="media">
                                <img class="mr-1" src="/img/icons/acabamento.svg" width="45" title="Status Acabamento" alt="Status Acabamento">
                                <div class="media-body">
                                    <label for="title" class="col-3 col-md-3">Acabamento</label>
                                </div>
                            </div>
                            <div class="progress col-7 p-0 col-md-7">
                                <div class="progress-bar progress-bar-animated bg__second" role="progressbar" aria-valuenow="@EmpreendimentoModel.StatusAcabamento" aria-valuemin="0" aria-valuemax="100" style="max-width: @EmpreendimentoModel.StatusAcabamento%"></div>
                            </div>
                            <label for="progresso" class="col-2 col-md-1 counter" data-count="@EmpreendimentoModel.StatusAcabamento">@EmpreendimentoModel.StatusAcabamento%</label>
                        </li>
                        <li class="status__item">
                            <div class="media">
                                <img class="mr-1" src="/img/icons/pintura.svg" width="45" title="Status Pintura" alt="Status Pintura">
                                <div class="media-body">
                                    <label for="title" class="col-3 col-md-3">Pintura</label>
                                </div>
                            </div>
                            <div class="progress col-7 p-0 col-md-7">
                                <div class="progress-bar progress-bar-animated bg__second" role="progressbar" aria-valuenow="@EmpreendimentoModel.StatusPintura" aria-valuemin="0" aria-valuemax="100" style="max-width: @EmpreendimentoModel.StatusPintura%"></div>
                            </div>
                            <label for="progresso" class="col-2 col-md-1 counter" data-count="@EmpreendimentoModel.StatusPintura">@EmpreendimentoModel.StatusPintura%</label>
                        </li>
                        <li class="status__item">
                            <div class="media">
                                <img class="mr-1" src="/img/icons/entrega.svg" width="45" title="Status Entrega" alt="Status Entrega">
                                <div class="media-body">
                                    <label for="title" class="col-3 col-md-3">Entrega</label>
                                </div>
                            </div>
                            <div class="progress col-7 p-0 col-md-7">
                                <div class="progress-bar progress-bar-animated bg__second" role="progressbar" aria-valuenow="@EmpreendimentoModel.StatusEntrega" aria-valuemin="0" aria-valuemax="100" style="max-width: @EmpreendimentoModel.StatusEntrega%"></div>
                            </div>
                            <label for="progresso" class="col-2 col-md-1 counter" data-count="@EmpreendimentoModel.StatusEntrega">@EmpreendimentoModel.StatusEntrega%</label>
                        </li>
                    </ul>
                </div><!--/.status__list -->
                <div class="col-md-6 order-1">
                    <div class="status__galeria" id="galeria__slider">
                        @foreach (var galeria in EmpreendimentoGaleriaList)
                        {
                            if (galeria.EhVideo)
                            {
                                var thumb = "https://i.ytimg.com/vi/" + galeria.GetIdUrlVideo() + "/hqdefault.jpg";
                                <a target="_top" data-sub-html=".caption" href="@galeria.UrlVideo" data-poster="@thumb">
                                    <figure class="tint">
                                        <img class="img-fluid w-100" src="@thumb" alt="@galeria.Titulo" title="@galeria.Titulo" />
                                    </figure>
                                    <div class="caption">
                                        <legend>
                                            <h3>@galeria.Titulo</h3><p>@galeria.Descricao</p>
                                        </legend>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a target="_top" data-sub-html=".caption" href="@galeria.UrlImagem">
                                    <figure class="tint">
                                        <ImgComponent LinkImagem="@galeria.UrlImagem" Class="w-100"></ImgComponent>
                                    </figure>
                                    <div class="caption">
                                        <legend>
                                            <h3>@galeria.Titulo</h3><p>@galeria.Descricao</p>
                                        </legend>
                                    </div>
                                </a>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}