﻿@using Microsoft.Extensions.Configuration

@inject IConfiguration configuration

<section class="tour">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <div class="btn btn__first" data-toggle="modal" data-target="#tourVirtual">
                    fazer tour virtual
                </div>
            </div>
        </div>
    </div>
</section><!--/.tour-->
<!-- Modal -->
<div class="modal fade modal-fullscreen" id="tourVirtual" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe  class="embed-responsive-item" src='@(configuration.GetValue<string>("urlTourVirtual") + "/tour/" + EmpreendimentoModel.TourVirtual + "/index.html")'  frameborder="0"></iframe>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
@code {

}
