
@if (!string.IsNullOrEmpty(EmpreendimentoModel.UrlVideo)){
    <section class="video">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 text-center">
                    <h2>Conheça melhor o @EmpreendimentoModel.Nome</h2>
                </div>
                <div class="col-md-10">
                    <img src="https://i.ytimg.com/vi/@(EmpreendimentoModel.getIdUrlVideo())/maxresdefault.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid poster w-100 " loading="lazy">
                    <span class="video__icon"></span>
                    <div class="embed-responsive embed-responsive-4by3 youtube-video">
                        <iframe class="embed-responsive-item " src="https://www.youtube.com/embed/@(EmpreendimentoModel.getIdUrlVideo())?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="1" controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div><!--/.video -->
            </div>
        </div>
    </section>
}

@code {

}
