﻿<h3> </h3>
<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-start justify-content-center">
          
            <div class="col-md-7 col-lg-8 text-left">
                <div class="col-md-10 col-lg-8 p-0">
                    <h1>Blog</h1>
                </div>
                <p>Artigos exclusivos sobre o mundo da Construção Civil, além de indicações e dicas para uma vida mais completa no seu apartamento ou empreendimento comercial. </p>
                <a target="_top" href="/empreendimentos">
                    <div class="btn btn__first">
                        Conheça os empreendimentos
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
@code {

}
