﻿// css page portfolio
h5, .h5 {
    color: #4F4F4F !important;
    font-size: 1.3em;
    font-weight: 600 !important;
    letter-spacing: 0.05em !important;
    padding:.5em;
}
.nav-link.active h5 {
    color: #A50112 !important;
}
.nav-tabs, .nav-link, .nav-link:hover, .nav-link:focus {
    border-bottom: 0px !important;
    border-color:#fff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-color: #fceac7;
}
.nav-item a {
    border-radius: 30px 30px 0px 0px;
}
.nav-link a, .nav-link a:hover {
    color: #4F4F4F !important;
    border:none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #fceac7;
    border-bottom: #fceac7;
    border-radius: 20px 20px 0px 0px;
}
.busca select, .busca input.valid {
    font-size: .9em !important;
    margin: 0px 20px 0px 20px;
}
.nav-tabs .nav-link {
    border:none;
}
.numbers {
    @extend %bg__linear-gradient-reverse;
}
