﻿// css page trabalheConosco
.content__inner {
    h2 {
        margin-top:-4rem;
        padding-bottom: 3rem;
    }

    h3 {
        color: $first;
        font-size: 1.4rem;
        font-weight: 700;
    }
}
.md__forms {
    background-color: #a7a7a7;
    padding-top: 1rem;
    padding-bottom: 3rem;

    h2 {
        padding-top: 2rem;
        padding-bottom: .3rem;
        margin: 0rem;
    }

    p {
        color: #fff;
        padding: 0rem;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }

    .form-control {
        border-radius: 1.87rem;
        padding-left: 1.5rem;
    }

    textarea {
        height: 10rem;
        padding-top: 1rem;

        placeholder {
            padding-top: 10rem;
        }
    }
}
.bg__trabConosco {
    position: absolute;
    margin-top: -14rem;
    right: 0;
    left: 0;
}

@include media-breakpoint-down(md) {

    .bg__trabConosco img {
        max-width: 100%;
        margin-top: 9rem;
    }
}