
<div class="col-md-5 listagem__card">
    <div class="col-md-12 card p-0">
        <div class="card-header" style="background-image: url('@ProjetoModel.UrlImagem');">
            <img src="@ProjetoModel.UrlImagem" alt="@ProjetoModel.Nome" title="@ProjetoModel.Nome" class="img-fluid d-xl-none w-100 img-rounded">
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <h2 data-state="reversed">@ProjetoModel.Nome</h2>
                <div class="media align-items-center">
                   
                    <div class="media-body align-items-center d-flex justify-content-center">
                         <svg class="align-self-center mr-2" width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.89352 0.362305C3.13982 0.362305 0.0859375 3.41618 0.0859375 7.16988C0.0859375 8.43813 0.437246 9.67583 1.10212 10.7496L6.50601 19.4579C6.60953 19.6247 6.79189 19.7261 6.98803 19.7261C6.98954 19.7261 6.99102 19.7261 6.99253 19.7261C7.19036 19.7245 7.37311 19.62 7.47473 19.4503L12.7409 10.6576C13.3691 9.60654 13.7011 8.4005 13.7011 7.16988C13.7011 3.41618 10.6472 0.362305 6.89352 0.362305ZM11.7672 10.0751L6.97944 18.069L2.06645 10.1518C1.51303 9.25807 1.21297 8.22695 1.21297 7.16988C1.21297 4.0418 3.76543 1.48934 6.89352 1.48934C10.0216 1.48934 12.5703 4.0418 12.5703 7.16988C12.5703 8.1956 12.29 9.20036 11.7672 10.0751Z" fill="#A50112"/>
                        <path d="M6.89354 3.76562C5.01669 3.76562 3.48975 5.29256 3.48975 7.16941C3.48975 9.03427 4.99184 10.5732 6.89354 10.5732C8.81868 10.5732 10.2973 9.01378 10.2973 7.16941C10.2973 5.29256 8.77038 3.76562 6.89354 3.76562ZM6.89354 9.44617C5.63576 9.44617 4.61678 8.42379 4.61678 7.16941C4.61678 5.91818 5.6423 4.89266 6.89354 4.89266C8.14477 4.89266 9.16651 5.91818 9.16651 7.16941C9.16651 8.40548 8.17124 9.44617 6.89354 9.44617Z" fill="#A50112"/>
                    </svg>
                        @ProjetoModel.CidadeNome - @ProjetoModel.EstadoNome
                    </div>
                </div>
                <p>@ProjetoModel.Descricao</p>
                <div class="col-md-12 p-0 text-center">                    
                    <div class="btn btn__second" id=@("b"+ id) @onclick="initSociaisGaleria">
                        ver galeria
                    </div>
                </div>
                <div id=@("gallery__"+ id) class="d-none galeria__social">
                    @foreach (var projetoGaleria in ProjetoGaleriaList)
                    {
                        <a target="_top" href="@projetoGaleria.UrlImagem">
                            <img src="@projetoGaleria.UrlImagem" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code{
   
}