﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 text-center">
                <h1>Nossas gentilezas</h1>
            </div>
            <div class="col-md-10">
                <p>Um empreendimento não existe isolado de tudo o que está ao redor. Quando fazemos uma obra em um lugar, queremos proporcionar bons momentos para toda a comunidade da região. Por isso, vamos promover gentilezas urbanas em cada projeto.</p>
                <p>A ideia é integrar a população da região por meio da arquitetura. São espaços que proporcionam um respiro em meio à correria do dia a dia ou um momento de relaxamento durante um passeio. Conheça:</p>

            </div>
        </div>
    </div>
</section><!--/.descricao-->
@code {

}
