<section class="listagem pt-0 content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-stretch justify-content-center">
            @foreach (var projetoSocial in modelList)
            {
                <CardProjetoSocialComponent ProjetoModel="projetoSocial" />
            }
        </div>
    </div>
</section><!--/.listagem-->
@code {

}
