﻿<section class="content__inner d-none">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 text-center">
                <h2>Quer saber mais sobre tendências?</h2>
            </div>
        </div>
        <div class="row h-100 align-items-center justify-content-center mt-md-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-around">

                    <div class="col-md-5">
                        <img src="/img/projetos-sociais.png" alt="Quer saber mais sobre tendências?" title="Quer saber mais sobre tendências?" class="img-fluid w-100 d-none d-md-flex rounded-img">
                    </div>
                    <div class="col-md-6">
                        <p>Nosso blog está repleto de conteúdo sobre moradia. Conheça detalhes sobre a nossa atuação, confira tendências de decoração e saiba mais sobre novidades do mercado de construção civil.</p>
                        <a target="_top" href="#">
                            <div class="btn btn__first">
                                Acessar o blog
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.descricao-->
@code {

}
