﻿<section class="plan">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h2>Confira as ações de compliance realizadas aqui</h2>
            </div>
            <div class="col-md-12 mt-5">
                <ul class="plan__list" id="plan__slider">
                    <a target="_top" data-sub-html=".caption" href="/img/g2.jpg">
                        <figure class="tint"><!--!--><img class="img-fluid w-100" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" src="/img/g2.jpg">
                        </figure><!--!-->
                        <div class="caption">
                            <legend>
                                <h3>Legenda</h3>
                            </legend>
                        </div>
                    </a>
                    <a target="_top" data-sub-html=".caption" href="/img/g3.jpg">
                        <figure class="tint"><!--!--><img class="img-fluid w-100" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" src="/img/g3.jpg">
                        </figure><!--!-->
                        <div class="caption">
                            <legend>
                                <h3>Legenda</h3>
                            </legend>
                        </div>
                    </a>
                    <a target="_top" data-sub-html=".caption" href="/img/g2.jpg">
                        <figure class="tint"><!--!--><img class="img-fluid w-100" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" src="/img/g2.jpg">
                        </figure><!--!-->
                        <div class="caption">
                            <legend>
                                <h3>Legenda</h3>
                            </legend>
                        </div>
                    </a>
                    <a target="_top" data-sub-html=".caption" href="/img/g3.jpg">
                        <figure class="tint"><!--!--><img class="img-fluid w-100" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" src="/img/g3.jpg">
                        </figure><!--!-->
                        <div class="caption">
                            <legend>
                                <h3>Legenda</h3>
                            </legend>
                        </div>
                    </a>
                </ul>
            </div><!--/.plan__gallery -->
        </div>
    </div>
</section>
@code {

}
