﻿<section class="content__inner bg__gradient">
    <div class="container h-100 cod__conduta">
        <div class="row h-100 align-items-center justify-content-center">
            <h2>Código de Conduta</h2>
        </div>
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="video__player">
                    <div class="cont">
                        <div class="md__gallery">
                            <ul id="Lightgallery">
                                
                                <li class="video" data-src="https://youtu.be/Fsnug3TqMjo" data-poster="/img/bg-video-integridade.jpg">
                                    <a target="_top" href="">
                                        <img class="img-responsive" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" src="https://i.ytimg.com/vi/Fsnug3TqMjo/maxresdefault.jpg">
                                        <div class="md__gallery-poster rounded-img">
                                            <img src="/img/player_button.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div   
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>Nosso código de conduta é um documento criado para que toda e qualquer atividade que envolva a Moura Dubeux seja direcionada pelos valores éticos e obedeça às leis e regulamentações vigentes no Brasil e nos demais países onde a empresa atua ou venha a atuar.</p>
                <p>Nosso código de conduta se aplica a todos os administradores, colaboradores, fornecedores, acionistas e parceiros, bem como a toda e qualquer pessoa, física ou jurídica, que venha representar a Moura Dubeux.</p>
            </div>
            <span>
                <a href="/info/codigo-etica-moura-dubeux.pdf" class="btn btn__first" target="_blank">ACESSAR CÓDIGO DE CONDUTA</a>
            </span>
        </div>
    </div>
</section><!--/.timeline-->
@code {

}