﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1>Programa de Integridade</h1>
                <p>O Programa de Integridade foi constituído para fortalecer as operações da Companhia com o mais alto padrão de conformidade e integridade em relação as condutas, procedimentos, normas, leis, prevenção de atos ilícitos, danos a reputação e redução de perdas financeiras.</p>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}
