﻿<section class="content__inner">
    <div class="row dev__todos">
        <div class="col-md-6 dev__left">
            <div class="container h-100">
                <div class="row h-100 d-flex flex-row-reverse">
                    <div class="col-md-9 icon__list">
                        <h2>É dever de todos</h2>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Tratar a todos com respeito e igualdade.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Respeitar a diversidade.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Incentivar, compartilhar e estar aberto o às opiniões.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Ser transparente e claro em sua fala.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Evitar e impedir o desrespeito.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Prezar pela segurança no ambiente de trabalho.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar aos gestores o uso de medicamentos controlados.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Denunciar ações que vão contra nosso código de conduta.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Estimular a avaliação de desempenho.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar ao Comitê de Ética antes de realizar negócios particulares com clientes, fornecedores ou parceiros comerciais da Companhia.</p></div>
                        </div>
                        <div style="margin-top: 4.7rem;" class="row align-content-center justify-content-center modal_buttons">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-sm btn__first" data-toggle="modal" data-target="#deverTodos">
                                    MOSTRAR MAIS
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 dev__right">
            <div class="container h-100">
                <div class="row h-100 d-flex flex-row">
                    <div class="col-md-9 icon__list">
                        <h2>Não é permitido</h2>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Compartilhar informações sem saber a origem ou se é verdade.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Impor ideias, principalmente, se constranger alguém;</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Favorecer ou prejudicar pessoas.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Permanecer na empresa com qualquer tipo de arma, bebidas alcoólicas, drogas ilícitas ou estimulante químico.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Praticar ou incentivar o bullying, em qualquer de suas formas.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Constranger os colegas.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Ameaçar colaboradores internos ou externos.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Ter atitudes de assédio, preconceito ou discriminação.</p></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Atuar em outras organizações cujas atividades conflitem com as próprias atividades desenvolvidas pela Moura Dubeux.</p></div>
                        </div>

                        <div class="row align-content-center justify-content-center modal_buttons">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-sm btn__fourth" data-toggle="modal" data-target="#notPermit">
                                    MOSTRAR MAIS
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start modal left -->
<div class="modal fade modal_devtodos" id="deverTodos">
    <div class="modal-dialog modal-dialog-scrollable">
        <div style="border-radius: 30px" class="modal-content dev__left">
            <!-- Modal body -->
            <div class="row h-100">
                <div class="col-md-12 icon__list">
                    <h2>É dever de todos</h2>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Tratar a todos com respeito e igualdade.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Respeitar a diversidade.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Incentivar, compartilhar e estar aberto o às opiniões.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Ser transparente e claro em sua fala.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Evitar e impedir o desrespeito.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Prezar pela segurança no ambiente de trabalho.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar aos gestores o uso de medicamentos controlados.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Denunciar ações que vão contra nosso código de conduta.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Estimular a avaliação de desempenho.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar ao Comitê de Ética antes de realizar negócios particulares com clientes, fornecedores ou parceiros comerciais da Companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar sobre relacionamentos afetivo e familiares entre colaboradores ou com pessoas de empresas parceiras, fornecedores, concorrentes e agentes públicos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar situações em que haja conflito de interesse.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Zelar pelos recursos da Companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Usar meios eletrônicos com responsabilidade e sem prejudicar o trabalho.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar a área de Segurança do Trabalho situações com risco potencial.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Devolver todo equipamento ou material cedido pela Companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Cuidar da segurança dos bens pessoais.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Dedicar atenção aos informativos da companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Estimular o envolvimento do time com as ações do programa de integridade.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar sempre identificar situações de descumprimento de processos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Entender o cliente e ajudá-lo a alcançar suas necessidades.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Elaborar contratos de fácil compreensão e transparentes.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Zelar pelas informações de nossos clientes de acordo com a LGPD, nº 13.709 de 2018.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Promover oportunidades, sem favorecer ninguém.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Resguardar as informações sobre nossa empresa.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Não compartilhar informações sigilosas da empresa.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Cumprir com a Política de Divulgação de Ato ou Fato Relevante.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Oferecer informações transparentes e claras para os acionistas.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Cumprir, rigorosamente, todos os requisitos legais, ambientais e regulamentares exigidos para os projetos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Garantir a imparcialidade nas decisões da empresa.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Utilizar os equipamentos de segurança.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Conhecer as políticas e procedimentos da empresa.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Preservar o meio ambiente e ter atitudes sustentáveis seguindo as normas da empresa.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Incentivar atitudes sustentáveis.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Verificar se nossos fornecedores ou parceiros cumprem as leis trabalhistas.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Seguir os princípios da legislação trabalhista.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Denunciar suspeita de trabalho infantil ou análogo à escravidão.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Procurar a área de Marketing e o Comitê de Ética antes de responder ou publicar algum artigo em veículos de comunicação de mídia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Prezar pelo respeito ao se expressar em qualquer meio de comunicação.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Aceitar apenas itens de clientes e fornecedores que não ultrapasse a quantia de R$ 100,00.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Itens recebidos de clientes e fornecedores acima de R$ 100,00 devem ser encaminhado para o Comitê de Ética sorteá-lo entre os demais colaboradores.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Descontos recebidos devem ser revertidos para a companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Deixar o Código de Ética e Conduta sempre disponível para consulta de todos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Respeitar critérios técnicos, normas e leis para contratação de terceiros.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Respeitar o período de quarentena para servidor ou empregado público.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Levantar todas as informações sobre o projeto, a instituição ou as pessoas que estão tentando obter benefícios.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Conhecer a Política de Doações e Patrocínios da companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Corrigir os registros contábeis, dentro do período de fechamento.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Detalhar os registros contábeis com informações claras e íntegras.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Sempre que convocado a prestar informações a auditores internos, externos e fiscais, passar por breve avaliação junto ao gestor imediato.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Comunicar ao superior direto quando houver qualquer dúvida ou suspeita sobre transações incomuns.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Proteger a confidencialidade das informações a que temos acesso.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Utilizar os dados de nossos clientes apenas para os fins comerciais legítimos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Compartilhar informações com nossos parceiros de negócio apenas para fins de pesquisas de boas práticas de mercado.</p></div>
                    </div>
                    <div class="row align-content-center justify-content-center modal_buttons">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-sm btn__first" data-toggle="modal" data-target="#deverTodos">
                                Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal left -->
<!-- start modal right -->
<div class="modal fade modal_devtodos" id="notPermit">
    <div class="modal-dialog modal-dialog-scrollable">
        <div style="border-radius: 30px" class="modal-content dev__right">
            <!-- Modal body -->
            <div class="row h-100">
                <div class="col-md-12 icon__list">
                    <h2>Não é permitido</h2>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Compartilhar informações sem saber a origem ou se é verdade.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Impor ideias, principalmente, se constranger alguém;</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Favorecer ou prejudicar pessoas.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Permanecer na empresa com qualquer tipo de arma, bebidas alcoólicas, drogas ilícitas ou estimulante químico.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Praticar ou incentivar o bullying, em qualquer de suas formas.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Constranger os colegas.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Ameaçar colaboradores internos ou externos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Ter atitudes de assédio, preconceito ou discriminação.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/unlike-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p> Atuar em outras organizações cujas atividades conflitem com as próprias atividades desenvolvidas pela Moura Dubeux.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Utilizar a posição na empresa para obter benefícios.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Omitir a existência de parentesco ou relacionamento afetivo ou familiar com colaboradores, pessoas de empresa parceiras, fornecedores, concorrentes ou agentes públicos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Incluir no reembolso de despesas com viagens e hospedagens, valores referentes à acompanhantes ou custos extras decorrentes de preferências ou escolhas pessoais.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Usar os meios eletrônicos para jogos, mensagens de corrente, troca ou armazenamento de conteúdo erótico, pornográfico, violento, discriminatório, racista, difamatório ou que desrespeite qualquer indivíduo ou entidade.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Apropriar-se de qualquer objeto ou bem que pertença à Companhia ou a outros colaboradores, fornecedores, parceiros ou clientes.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Tomar decisões sem verificar se há alguma política, norma ou procedimento sobre o tema.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Colocar nossas metas acima dos interesses de nossos clientes.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Concluir a venda sem a aceitação e formalização com o cliente.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Realizar comentários ou tomar atitudes desrespeitosas.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Manter vínculos comerciais e pessoais com nossos fornecedores.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Obter informações por meio de procedimentos ilegais ou questionáveis.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Expor em canais de comunicação comentários que afetem a imagem de concorrentes.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Divulgar notícias falsas.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Promover negócio ou operação com objetivo de atender aos interesses particulares.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Ignorar as solicitações recebidas pelos nossos canais de relacionamentos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Favorecer alguém ou alguma empresa por troca de favores.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Contratar agente público ou ex-agente público sem observar as condições legais.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Demonstrar preferências por atos e declarações de natureza política.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Não usar os equipamentos de segurança.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Promover ou efetivar a contratação de terceiros sem documentação exigida.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Descumprir com as exigências determinadas pelo sistema SGI;</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Descartar lixo em local inadequado ou sem respeitar a sinalização.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Se omitir quando identificar alguma atitude nociva ao meio ambiente ou à empresa.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Admitir menores de idade sem providências legais.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Postar publicações nas redes sociais que comprometam a marca da Companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Criação de páginas e conteúdos em nome da Companhia ou com menção a esta.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Pedir presentes, descontos ou vantagens pessoais a clientes, fornecedores ou parceiros de negócios da companhia.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Enviar ou receber brindes, presentes ou qualquer benefício de agentes públicos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Prometer algum tipo de vantagem indevida a um agente público.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Pagar agente público em nome da Companhia ou em benefício desta .</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Contratar um ex-agente público para ter acesso a órgãos, autoridades e informações.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Admitir um ex-agente público sem observar as condições legais e possíveis conflitos de interesses ou incompatibilidade.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Confirmar envolvimento da Moura Dubeux sem que antes seja feito todo o processo jurídico.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Realizar doação ou patrocínio que se caracterize em conflito de interesse ou vantagem indevida.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Alterar declarações, relatórios ou documentos de qualquer natureza pertencentes à empresa.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Alterar dados de clientes ou fornecedores.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Realizar a comunicação de assuntos contábeis.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Utilizar informações confidenciais para benefício próprio ou de terceiros.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Compartilhar qualquer informação confidencial, estratégica ou do negócio.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Deixar expostas informações consideradas confidenciais.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Apagar ou destruir informações produzidas no exercício da função.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Falar informações confidenciais ou privilegiadas quando estiver em locais públicos.</p></div>
                    </div>
                    <div class="row">
                        <div class="col-1"><img src="/img/icons/like-outlined.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/></div><div class="col-11"><p>Iniciar qualquer atividade  sem verificar, junto ao setor de Compliance, se há alguma política, norma ou procedimento sobre o tema.</p></div>
                    </div>

                    <div class="row align-content-center justify-content-center modal_buttons">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-sm btn__fourth" data-toggle="modal" data-target="#notPermit">
                                Voltar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal right -->