<section class="banner">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <div class="btn btn__first" data-toggle="modal" data-target="#bannerVirtual">
                    banner
                </div>
            </div>
        </div>
    </div>
</section><!--/.banner-->