﻿<section class="content__inner sec__pilares">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h4>Pilares do programa de integridade</h4>
            </div>
        </div>
        <!-- pilares -->
        <div class="row d-flex align-items-stretch align-items-center justify-content-center">
            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__patrocinio">
                    <img src="/img/patrocinio_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Patrocínio &<br />Tone of the Top</h3>
                    <p>ver mais</p>
                </button>
            </div>

            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__supervisao">
                    <img src="/img/supervisao.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Supervisão<br />e recursos</h3>
                    <p>ver mais</p>
                </button>
            </div>

            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__treinamento">
                    <img src="/img/treinamento_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Treinamento e<br />comunicação</h3>
                    <p>ver mais</p>
                </button>
            </div>

            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__etica">
                    <img src="/img/codigo_etica_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Código de ética<br />e políticas</h3>
                    <p>ver mais</p>
                </button>
            </div>

            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__risk">
                    <img src="/img/assessment_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Risk Assessment</h3>
                    <p>ver mais</p>
                </button>
            </div>

            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__monitoramento">
                    <img src="/img/monitoramento_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Monitoramento<br />contínuo</h3>
                    <p>ver mais</p>
                </button>
            </div>

            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__due">
                    <img src="/img/diligence_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Due Diligence</h3>
                    <p>ver mais</p>
                </button>
            </div>
            <div class="col-md-3 text-center card__pilares rounded-img">
                <button style="width:100%" class="modal__button" type="button" data-toggle="modal" data-target="#modal__denuncia">
                    <img src="/img/denuncia_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                    <h3>Canal de denúncia</h3>
                    <p>ver mais</p>
                </button>
            </div>
        </div><!--/ .pilares -->
    </div>
    <!-- start modais -->
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__patrocinio">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Patrocínio &<br />Tone of the Top</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>Este é o pilar que traduz o apoio da liderança em relação ao Programa de Integridade, sendo fundamental para que todo o processo alcance os resultados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__supervisao">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Supervisão<br />e recursos</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>Este é o pilar que determina a necessidade de existir uma estrutura com pessoas e recursos para executar o programa, seja por meio de uma área e ou função de compliance.</p>
                        <p>Esta deve ter atuação independente e com reporte diretamente a alta administração para determinar as responsabilidades, estratégias, ações e resultados de Compliance. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__treinamento">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Treinamento e<br />comunicação</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>É o pilar da disseminação do conteúdo e da essência do programa de integridade.</p>
                        <p>A realização de treinamentos periódico das políticas, do Código de Ética e Conduta, das iniciativas de compliance é fundamental para que o sistema de governança de compliance se solidifique e perpetue na organização.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__etica">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Código de ética<br />e políticas</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>Este é o pilar onde são formalizados quais os documentos que norteiam o programa de integridade, estabelecendo as atividades, responsabilidades, procedimentos, relatórios entre outros.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__risk">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Risk Assessment</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>Este é o pilar cujo fundamento é existir uma atividade na organização de avaliar de forma ampla e contínua os principais riscos que a empresa está exposta.</p>
                        <p>Os riscos de compliance se materializam quando são descumpridos normativos ou políticas. Entre as categorias de riscos, podemos citar: corrupção, fraude, perdas financeiras, violação de direitos, descumprimento de leis, entre outros.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__monitoramento">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Monitoramento<br />contínuo</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>Este é o pilar responsável por garantir que todo o processo esteja em funcionamento, além de identificar melhorias.</p>
                        <p>Esta atividade é subordinada a área independente ao agente de compliance para garantir a idoneidade do programa de integridade. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__due">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Due Diligence</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>Este é o pilar necessário para diligenciamento dos parceiros de negócios, garantindo verificações mínimas sobre a integridade das organizações em que estes parceiros estão inseridos, como medida preventiva do risco de exposição das transações com estes parceiros com a organização. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards__modal">
        <!-- The Modal -->
        <div class="modal fade" id="modal__denuncia">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center justify-content-center">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Canal de denúncia</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <p>Este é o pilar que demonstra o comprometimento da empresa em investigar irregularidades, aplicar sanções proporcionais às regras infringidas.</p>
                        <p>As investigações devem ser realizadas por equipes independentes e de forma sigilosa, e a apuração deve ser realizada de forma isenta e com ações em resposta às ações.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.pilares-->