﻿<section class="content__inner bg__compilance">
    <div class="container-fluid h-100 sec__compilance">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h2>Confira nossas Políticas<br />de Compliance</h2>
            </div>
        </div>
        <!-- politicas -->
        <div class="row d-flex align-items-stretch align-items-center justify-content-center">
            <div style="max-width: 22% !important;" class="col-md-3 text-center card__pilares rounded-img">
                <img src="/img/patrocinio_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Política de Apuração<br />de Denúncias</h3>
                <p>é uma das políticas do Programa de Integridade, estabelecida para estruturar o tratamento dos relatos recebidos pelos canais de comunicação existentes e assegurar que os relatos sejam apurados com confidencialidade, imparcialidade, discrição e diligência.</p>
            </div>

            <div style="max-width: 22% !important;" class="col-md-3 text-center card__pilares rounded-img">
                <img src="/img/supervisao.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Política de Medidas<br />disciplinares</h3>
                <p>é uma das políticas do Programa de Integridade, estabelecida para orientar a aplicação de medidas disciplinares como consequência de ato configurado como desvio de comportamento ou infração a leis e ou normas internas.</p>
            </div>

            <div style="max-width: 22% !important;" class="col-md-3 text-center card__pilares rounded-img">
                <img src="/img/codigo_etica_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Política de Due<br />diligence</h3>
                <p>é uma das políticas do Programa de Integridade, estabelecida para garantir a qualidade e desempenhos nas relações contratuais com fornecedores e parceiros, além de prover segurança e transparência na execução dos contratos.</p>
            </div>

            <div style="max-width: 22% !important;" class="col-md-3 text-center card__pilares rounded-img">
                <img src="/img/assessment_icon.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <h3>Política de<br />Anticorrupção e<br />PLDFT</h3>
                <p>é uma das políticas do Programa de Integridade, estabelecida para orientar o comportamento dos colaboradores e parceiros durante a condução dos negócios da Companhia, sejam adotados os mais elevados padrões de ética e conduta, a fim de e evitar que a corrupção e a prática de lavagem de dinheiro e financiamento ao terrorismo (crimes financeiros) ocorram no âmbito da empresa.</p>
            </div>
        </div><!--/ .politicas -->
    </div>
</section><!--/.heroImage-->
@code {

}