﻿<section class="content__inner">
    <div class="container h-100 sec__president">
        <div class="row h-100 align-items-center justify-content-center">
            <h2>Mensagem do Presidente</h2>
        </div>
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-5">
                <img class="president" src="/img/president.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
            </div>
            <div class="col-md-7 rounded-img">
                <img src="/img/aspas.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
                <p>“Devemos ser protagonistas dos valores éticos na busca por resultados sustentáveis, gerando um impacto positivo por onde atuamos.” </p>
                <p><b>Diego Villar, CEO da Moura Dubeux</b></p>
            </div>
        </div>
    </div>
</section><!--/.timeline-->
@code {

}