﻿@page "/quem-somos"
@attribute [Authorize(Roles = "Administrator")]


@inject IJSRuntime jsRuntime


<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">

    <div class="container mb-5">
        <div class="row mt-2">
            <div class="col-md-12 mb-xl-3">
                <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
            </div>
            <div class="col-md-12">
                <h3>Quem Somos</h3>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <h5>Banner</h5>
                    <UploadImgFile width="1920" height="678" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(model.Banner))
                    {
                        <ImgComponent LinkImagem="@model.Banner"></ImgComponent>
                    }
                    else
                    {
                        <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Banner</h5>
                    <UploadImgFile width="370" height="427" ProcessarImagemCallBack="HandleProcessarUrlImagemCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(model.Imagem))
                    {
                        <ImgComponent LinkImagem="@model.Imagem"></ImgComponent>
                    }
                    else
                    {
                        <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Link do Banner</h5>
                    <InputText @bind-Value="model.Titulo" class="form-control form-control-lg"></InputText>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <h5>Título</h5>
                    <InputText @bind-Value="model.Descricao" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Description</h5>
                    <InputText @bind-Value="model.MetaDescription" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Keywords</h5>
                    <InputText @bind-Value="model.MetaKeyword" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Tittle</h5>
                    <InputText @bind-Value="model.MataTittle" class="form-control form-control-lg"></InputText>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>
        </div>
    </div>

</EditForm>
