﻿@page "/Home/sala-de-imprensa"
@attribute [Authorize(Roles = "Administrator")]

@using BlazorTable



<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">

    <div class="container mb-5">
        <div class="row mt-2">
            <div class="col-md-12 mb-xl-3">
                <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
            </div>
            <div class="col-md-12">
                <h3>Sala de Imprensa</h3>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Banner</h5>
                    <UploadImgFile width="1920" height="678" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(model.Banner))
                    {
                        <ImgComponent LinkImagem="@model.Banner"></ImgComponent>
                    }
                    else
                    {
                        <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Descrição</h5>
                    <InputText @bind-Value="model.Descricao" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Description</h5>
                    <InputText @bind-Value="model.MetaDescription" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Keywords</h5>
                    <InputText @bind-Value="model.MetaKeyword" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Tittle</h5>
                    <InputText @bind-Value="model.MataTittle" class="form-control form-control-lg"></InputText>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>
        </div>
    </div>
</EditForm>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-lg mb-2" @onclick="(() => Create())">
                <span class="oi oi-plus"></span> Novo
            </button>
        </div>
        <div class="col-md-12">
            <Table TableItem="IMdMidiaModel" Items="@modelList" PageSize="8">
                <Column TableItem="IMdMidiaModel" Title="Título" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="10%" />
                <Column TableItem="IMdMidiaModel" Title="Ação" Field="@(x => x.Id)" Width="30%">
                    <Template>
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => Delete(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-info mr-1" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => DeleteConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                        }
                    </Template>
                </Column>
                <Pager ShowPageSizes="false" ShowPageNumber="false" ShowTotalCount="false" />
            </Table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-form-MdMidia" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <MdMidiaFormComponent mdMidiaModelDetalhes="mdMidiaModelDetalhes" ProcessarEventCallback="HandleProcessarCallBack"></MdMidiaFormComponent>
            </div>
        </div>
    </div>
</div>
