﻿@using BlazorTable

<div class="row mb-2">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-lg" @onclick="(() => Create())">
            <span class="oi oi-plus"></span> Novo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <Table TableItem="IEmpreendimentoModel" Items="@modelList" PageSize="30">
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.UrlLogo)" Width="3%">
                <Template>
                    @if (!string.IsNullOrEmpty(context.UrlLogo))
                    {
                        <ImgComponent LinkImagem="@(context.UrlLogo.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.UrlBanner)" Width="6%">

                <Template>
                    @if (!string.IsNullOrEmpty(context.UrlBanner))
                    {
                        <ImgComponent LinkImagem="@(context.UrlBanner.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.Ativo)" Width="6%">
                <Template>
                    @if (context.Ativo)
                    {
                        <p>Ativo</p>
                    }
                    else
                    {
                        <p>Inativo</p>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="Titulo" Field="@(x => x.Nome)" Sortable="true" Filterable="true" Width="37%" />
            <Column TableItem="IEmpreendimentoModel" Title="UF" Field="@(x => x.EstadoNome)" Sortable="true" Filterable="true" Width="5%" />
            <Column TableItem="IEmpreendimentoModel" Title="Bairro" Sortable="true" Field="@(x => x.Bairro)" Width="10%">
                <Template>
                    @if (context.Bairro != null)
                    {
                        <p>@(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(context.Bairro))</p>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
                <Template>
                    @if (modelList.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            @if (modelList.Count > 0)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>

                            }
                        }
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.Id)" Width="4%">
                <Template>
                    @*<button class="btn btn-danger" @onclick='() => DeleteBanner(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                    *@
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
</div>


<div class="modal fade" id="modal-form-Empreendimento-Relacionado" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EmpreendimentoRelacionadoFormComponent modelListEmpreendimentoRelacionado="modelListEmpreendimentoRelacionado" ProcessarEventCallback="HandleProcessarCallBack" idEmpreendimento="idEmpreendimento" ></EmpreendimentoRelacionadoFormComponent>
            </div>
        </div>
    </div>
</div>
