﻿@using BlazorTable

<div class="row align-items-end">
    <div class="col-md-10">

        <h5>Informações Técnicas</h5>

    </div>
    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary btn-sm mb-2" @onclick="(() => Create())">
            <span class="oi oi-plus"></span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <Table TableItem="IEmpreendimentoInformacoesTecnicasModel" Items="@modelList" PageSize="8">
            <Column TableItem="IEmpreendimentoInformacoesTecnicasModel" Title="Ação" Field="@(x => x.Funcao)" Width="10%">
                <Template>
                    <p>@extensionMethods.Description((EnumInformacoesTecnicas)Convert.ToInt32(context.Funcao))</p>
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoInformacoesTecnicasModel" Title="Nome" Field="@(x => x.Nome)" Sortable="true" Filterable="true" Width="40%" />

            <Column TableItem="IEmpreendimentoInformacoesTecnicasModel" Title="Ação" Field="@(x => x.Id)" Width="30%">
                <Template>
                    @if (idToDelete == context.Id)
                    {
                        <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-info mr-1" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                    }
                </Template>
            </Column>
            <Pager ShowPageSizes="false" ShowPageNumber="false" ShowTotalCount="false" />
        </Table>
    </div>
</div>

<div class="modal fade" id="modal-form-Informacoes-Tecnicas" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EmpreendimentoInformacoesTecnicasFormComponent empreendimentoInformacoesTecnicasDetalhes="empreendimentoInformacoesTecnicasModelDetalhes" idEmpreendimento="idEmpreendimento" ProcessarEventCallback="HandleProcessarCallBack"></EmpreendimentoInformacoesTecnicasFormComponent>
            </div>
        </div>
    </div>
</div>