﻿@page "/Home/Empreendimento"
@attribute [Authorize(Roles = "Administrator")]
@using BlazorTable


<h3>Empreendimentos</h3>
<div class="row mb-2">
    <div class="col-md-12">
        <button class="btn btn-primary btn-lg" @onclick="(() => Create())">
            <span class="oi oi-plus"></span> Novo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h5>Estado</h5>
            <EditForm Model="@model" >
                <InputSelect @oninput="HandleFirstDropDownChange" class="form-control form-control-lg estado" @bind-Value="model.Estado">
                    <option selected value=""> -- Todos -- </option>
                    @foreach (var e in estados)
                    {
                        <option value="@(e.Slug)">@(e.Nome)</option>
                    }
                </InputSelect>
            </EditForm>

        </div>
    </div>
    <div class="col-md-12">
        <Table TableItem="IEmpreendimentoModel" Items="@modelList" PageSize="30">
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.UrlLogo)" Width="3%">
                <Template>
                    @if (!string.IsNullOrEmpty(context.UrlLogo))
                    {
                        <ImgComponent LinkImagem="@(context.UrlLogo.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.UrlBanner)" Width="6%">

                <Template>
                    @if (!string.IsNullOrEmpty(context.UrlBanner))
                    {
                        <ImgComponent LinkImagem="@(context.UrlBanner.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.Ativo)" Width="6%">
                <Template>
                    @if (context.Ativo)
                    {
                        <p>Ativo</p>
                    }
                    else
                    {
                        <p>Inativo</p>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="Titulo" Field="@(x => x.Nome)" Sortable="true" Filterable="true" Width="37%" />
            <Column TableItem="IEmpreendimentoModel" Title="UF" Field="@(x => x.EstadoNome)" Sortable="true" Filterable="true" Width="5%" />
            <Column TableItem="IEmpreendimentoModel" Title="Bairro" Sortable="true" Field="@(x => x.Bairro)" Width="10%">
                <Template>
                    @if (context.Bairro != null)
                    {
                        <p>@(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(context.Bairro))</p>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="Tipo Empreendimento" Sortable="true" Field="@(x => x.TipoEmpreendimento)" Width="10%">
                <Template>
                    <p>@(extensionMethods.Description((EnumTipoEmpreendimento)context.TipoEmpreendimento))</p>
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="Status Empreendimento" Sortable="true" Field="@(x => x.StatusEmpreendimento)" Width="10%">
                <Template>
                    <p>@(extensionMethods.Description((EnumStatusEmpreendimento)context.StatusEmpreendimento))</p>
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="Data Alteração" Sortable="true" Field="@(x => x.DataAlteracao)" Width="10%">
                <Template>
                    <p>@(context.DataAlteracao.ToString("dd/MM/yyyy"))</p>
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
                <Template>
                    @if (modelList.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelList.Count > 0)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>

                            }
                        }
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.Id)" Width="4%">
                <Template>
                    @*<button class="btn btn-danger" @onclick='() => DeleteBanner(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                    *@
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
</div>
