﻿
<h3><span class="oi oi-info"></span> @(model == Guid.Empty ? "Inserir" : "Alterar")  Valor/ Descrição </h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
       
        <div class="col-md-12">
            <InputSelect class="form-control form-control-lg estado" @bind-Value="model">
                <option disabled selected value> -- Escolha um estado -- </option>
                @foreach (var e in modelList)
                {
                    <option value="@(e.Id)">@(e.Estado + " - " + e.Cidade + " - " + extensionMethods.CreateSlug(e.Bairro) + " - " + e.Nome)</option>
                }
            </InputSelect>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary mt-4" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>

</EditForm>