﻿@page "/Home/Empreendimento/novo/"
@page "/Home/Empreendimento/editar/{id}"

@using Blazored.Typeahead
@using MouraDubeux.Admin.Blazor.Data
@using System.IO
@using Microsoft.Extensions.Configuration
@using Microsoft.JSInterop
@using System.IO.Compression
@inject IJSRuntime jsRuntime


<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 mb-xl-3">
                <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
            </div>
            <div class="col-md-12">
                <h3>Cadastrar Empreendimento</h3>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Nome</h5>
                    <InputText @bind-Value="model.Nome" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Tipo</h5>
                    <InputSelect class="form-control form-control-lg" @bind-Value="model.TipoEmpreendimento">
                        @foreach (var m in Enum.GetValues(typeof(EnumTipoEmpreendimento)).Cast<EnumTipoEmpreendimento>().ToList())
                        {
                        <option value="@(((int)m).ToString())">@(extensionMethods.Description(m))</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Status</h5>
                    <InputSelect class="form-control form-control-lg" @bind-Value="model.StatusEmpreendimento">
                        @foreach (var m in Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList())
                            {
                        <option value="@(((int)m).ToString())">@(extensionMethods.Description(m))</option>
                            }
                    </InputSelect>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group text-left">
                    <h5>Ano Entrega</h5>
                    <InputText @bind-Value="model.AnoEntrega" class="form-control form-control-lg"></InputText>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Banner</h5>

                    <UploadImgFile width="1920" height="678" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(model.UrlBanner))
                    {
                        <ImgComponent LinkImagem="@model.UrlBanner"></ImgComponent>
                    }
                    else
                    {
                        <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Imagem de Campanha</h5>

                    <UploadImgFile width="1920" height="678" ProcessarImagemCallBack="HandleProcessarUrlImagemCampanhaCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(model.UrlImagemCampanha))
                    {
                        <ImgComponent LinkImagem="@model.UrlImagemCampanha"></ImgComponent>
                    }
                    else
                    {
                        <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Imagem do Card</h5>

                    <UploadImgFile width="1920" height="678" ProcessarImagemCallBack="HandleProcessarUrlImagemCardCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(model.UrlImagemCard))
                    {
                        <ImgComponent LinkImagem="@model.UrlImagemCard"></ImgComponent>
                    }
                    else
                    {
                        <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                    }
                </div>
            </div>
            @if (model.StatusEmpreendimento != (int)EnumStatusEmpreendimento.Portfolio)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <h5>Logo</h5>
                        <UploadImgFile width="94" height="94" ProcessarImagemCallBack="HandleProcessarUrlLogoCallBack"></UploadImgFile>
                    </div>
                    <div class="form-group">
                        @if (!string.IsNullOrEmpty(model.UrlLogo))
                        {
                            <ImgComponent LinkImagem="@model.UrlLogo"></ImgComponent>
                        }
                        else
                        {
                            <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5>Tour Virtual</h5>
                        <div class="drag-drop-zone">
                            <BlazorInputFile.InputFile OnChange="TourVirtualUpload" />
                            @status
                        </div>
                    </div>
                    <div class="form-group">

                        @if (spinner)
                        {
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        }
                        else
                        {
                            if (modelToDeleteTour == null)
                            {
                                if (!string.IsNullOrEmpty(model.TourVirtual))
                                {
                                    <button type="button" class="btn btn-danger" @onclick='() => modelToDeleteTour = model'><span class="oi oi-x" aria-hidden="true"></span></button>
                                }
                            }
                            else
                            {
                                <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteTour()'><span class="oi oi-check" aria-hidden="true"></span></button>
                            }
                        }

                    </div>
                </div>
            }
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <h5>Estado</h5>
                        <InputSelect @oninput="HandleFirstDropDownChange" class="form-control form-control-lg estado" @bind-Value="model.Estado">
                            <option disabled selected value> -- Escolha um estado -- </option>
                            @foreach (var e in estados)
                            {
                                <option value="@(e.Slug)">@(e.Nome)</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h5>Cidade</h5>
                        @if (cidades.Count > 0)
                        {
                            <InputSelect class="form-control form-control-lg cidade" @bind-Value="model.Cidade">
                                <option disabled selected value> -- Escolha um cidade -- </option>
                                @foreach (var c in cidades)
                                    {
                                    <option value="@(c.Slug)">@(c.Nome)</option>
                                    }
                            </InputSelect>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h5>Bairro</h5>
                        <BlazoredTypeahead @onmousedown:preventDefault
                                           SearchMethod="buscarBairros"
                                           @bind-Value="model.Bairro"
                                           EnableDropDown="true"
                                           class="form-control form-control-lg rua">
                            <SelectedTemplate Context="bairro">
                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(bairro.ToString())
                            </SelectedTemplate>
                            <ResultTemplate Context="bairro">
                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(bairro.ToString())
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
            </div>
        </div>

        @if (!novoRegistro && model.StatusEmpreendimento != (int)EnumStatusEmpreendimento.Portfolio)
        {
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <h5>Endereço</h5>
                    <InputText @bind-Value="model.Endereco" class="form-control form-control-lg rua"></InputText>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <h5>Url Chat</h5>
                    <InputText type="url" @bind-Value="model.UrlChat" class="form-control form-control-lg rua"></InputText>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Meta Description</h5>
                    <InputText @bind-Value="model.MetaDescription" class="form-control form-control-lg rua"></InputText>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Meta Keywords</h5>
                    <InputText @bind-Value="model.MetaKeyword" class="form-control form-control-lg rua"></InputText>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Meta Tittle</h5>
                    <InputText @bind-Value="model.MataTittle" class="form-control form-control-lg rua"></InputText>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Latitude</h5>
                    <InputText @bind-Value="model.Latitude" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Longitude</h5>
                    <InputText @bind-Value="model.Longitude" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h5>Modelo de Negócio</h5>
                    <InputSelect class="form-control form-control-lg" @bind-Value="model.ModeloNegocio">
                        <option selected value> -- Escolha o modelo de negócio -- </option>
                        @foreach (var m in Enum.GetValues(typeof(EnumModeloNegocio)).Cast<EnumModeloNegocio>().ToList())
                            {
                            <option value="@(((int)m).ToString())">@(extensionMethods.Description(m))</option>
                            }
                    </InputSelect>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3">Destacar na Home</h5>
                    <InputCheckbox @bind-Value="model.DestacarHome" class="form-control form-control-lg"></InputCheckbox>

                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5 class="d-inline-block mr-3">Ordem dos banners</h5>
                    <InputNumber min="0" @bind-Value="model.OrdemBanner" class="form-control form-control-lg"></InputNumber>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3"> Suj. Disponibilidade</h5>
                    <InputCheckbox @bind-Value="model.UnidadeSujeitaDisponibilidade" class="form-control form-control-lg"></InputCheckbox>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3">Ativo</h5>
                    <InputCheckbox @bind-Value="model.Ativo" class="form-control form-control-lg"></InputCheckbox>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3">Lote</h5>
                    <InputCheckbox @bind-Value="model.Lote" class="form-control form-control-lg"></InputCheckbox>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3">Tour Virtual </h5>
                    <InputCheckbox @bind-Value="model.TourVirtualAtivo" class="form-control form-control-lg"></InputCheckbox>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3">Destacar na página Status</h5>
                    <InputCheckbox @bind-Value="model.DestacarStatus" class="form-control form-control-lg"></InputCheckbox>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3">Destacar na vitrine</h5>
                    <InputCheckbox @bind-Value="model.DestacarVitrine" class="form-control form-control-lg"></InputCheckbox>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-inline text-left">
                    <h5 class="d-inline-block mr-3">Empreendimento Sazonal</h5>
                    <InputCheckbox @bind-Value="model.Sazonal" class="form-control form-control-lg"></InputCheckbox>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Quartos</h5>
                    <InputText @bind-Value="model.Quartos" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Metragem</h5>
                    <InputText @bind-Value="model.Metragem" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h5>Vagas</h5>
                    <InputText @bind-Value="model.VagasGaragem" class="form-control form-control-lg"></InputText>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group text-left">
                    <h5>Url Youtube</h5>
                    <InputText type="url" @bind-Value="model.UrlVideo" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="form-group">
                    <h5>ID RD Station</h5>
                    <InputText @bind-Value="model.IdRdstation" class="form-control form-control-lg"></InputText>
                </div>
            </div>
        </div>

        <EmpreendimentoValorDescricaoTableComponent idEmpreendimento="model.Id" ProcessarEventCallback="HandleStateChange" TipoEmpreendimento="model.TipoEmpreendimento"></EmpreendimentoValorDescricaoTableComponent>

        <div class="row">
            <div class="col-md-12">
                <EmpreendimentoGaleriaTableComponent ProcessarEventCallback="HandleStateChange" idEmpreendimento="model.Id" TipoGaleria="(int)EnumTipoGaleria.Imovel"></EmpreendimentoGaleriaTableComponent>
            </div>
            <div class="col-md-12">
                <EmpreendimentoGaleriaTableComponent ProcessarEventCallback="HandleStateChange" idEmpreendimento="model.Id" TipoGaleria="(int)EnumTipoGaleria.Planta"></EmpreendimentoGaleriaTableComponent>
            </div>
            <div class="col-md-12">
                <EmpreendimentoGaleriaTableComponent ProcessarEventCallback="HandleStateChange" idEmpreendimento="model.Id" TipoGaleria="(int)EnumTipoGaleria.AreaComum"></EmpreendimentoGaleriaTableComponent>
            </div>
            <div class="col-md-12">
                <EmpreendimentoGaleriaTableComponent ProcessarEventCallback="HandleStateChange" idEmpreendimento="model.Id" TipoGaleria="(int)EnumTipoGaleria.Decorado"></EmpreendimentoGaleriaTableComponent>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <EmpreendimentoInformacoesTecnicasTableComponent idEmpreendimento="model.Id" ProcessarEventCallback="HandleStateChange"></EmpreendimentoInformacoesTecnicasTableComponent>
            </div>
            <div class="col-md-6">
                <EmpreendimentoFichaTecnicaTableComponent tipoEmpreendimento="model.TipoEmpreendimento" tipoFichaTecnica="(int)EnumTipoFichaTecnica.ServicosProximos" idEmpreendimento="model.Id" ProcessarEventCallback="HandleStateChange"></EmpreendimentoFichaTecnicaTableComponent>
            </div>
            <div class="col-md-6">
                <EmpreendimentoFichaTecnicaTableComponent tipoEmpreendimento="model.TipoEmpreendimento" tipoFichaTecnica="(int)EnumTipoFichaTecnica.Lazer" idEmpreendimento="model.Id" ProcessarEventCallback="HandleStateChange"></EmpreendimentoFichaTecnicaTableComponent>
            </div>
            <div class="col-md-6">
                <EmpreendimentoFichaTecnicaTableComponent tipoEmpreendimento="model.TipoEmpreendimento" tipoFichaTecnica="(int)EnumTipoFichaTecnica.Infraestrutura" idEmpreendimento="model.Id" ProcessarEventCallback="HandleStateChange"></EmpreendimentoFichaTecnicaTableComponent>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Status Empreendimento</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <EmpreendimentoGaleriaTableComponent ProcessarEventCallback="HandleStateChange" idEmpreendimento="model.Id" TipoGaleria="(int)EnumTipoGaleria.StatusDaObra"></EmpreendimentoGaleriaTableComponent>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Acabamentos</h5>
                    <InputNumber @bind-Value="model.StatusAcabamento" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Alvenaria</h5>
                    <InputNumber @bind-Value="model.StatusAlvenaria" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Status da Entrega</h5>
                    <InputNumber @bind-Value="model.StatusEntrega" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Estrutura</h5>
                    <InputNumber @bind-Value="model.StatusEstrutura" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Fachada</h5>
                    <InputNumber @bind-Value="model.StatusFachada" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Fundação</h5>
                    <InputNumber @bind-Value="model.StatusFundacao" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Pintura</h5>
                    <InputNumber @bind-Value="model.StatusPintura" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <h5>Serviços Preliminares</h5>
                    <InputNumber @bind-Value="model.StatusServicosPreliminares" class="form-control form-control-lg"></InputNumber>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Empreendimentos Relacionados</h5>
                    <EmpreendimentoRelacionadoTableComponent idEmpreendimento="model.Id" ProcessarEventCallback="HandleStateChange"></EmpreendimentoRelacionadoTableComponent>
                </div>
            </div>
        </div>
        }

        <div class="row">
            <div class="col-md-12">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>
        </div>

    </div>
</EditForm>

@code{
    public IFileListEntry[] filesEntry { get; set; }

    string status = ".zip - A página inicial dentro do zip deve ser a index.html";

    string fileName;
    string fileContent;
    string imageDataURL;
    bool spinner;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        JSRuntime.InvokeAsync<object>("activateCep", null);

        await base.OnAfterRenderAsync(firstRender);
    }

    async Task TourVirtualUpload(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file == null)
        {
            //return;
        }
        else
        {
            if (Path.GetExtension(file.Name)?.ToLower() == ".zip")
            {
                spinner = true;

                var ms = new MemoryStream();
                await file.Data.CopyToAsync(ms);
                fileName = file.Name;

                status = "Carregando...";
                var modelSave = _mapper.Map<EmpreendimentoModelUpdateCreate>(model);

                filesEntry = files;
                string extractPath = @".\wwwroot\tour\" + extensionMethods.CreateSlug(model.Nome);

                if (!string.IsNullOrEmpty(modelSave.TourVirtual))
                {
                    string extractPathOld = @".\wwwroot\tour\" + modelSave.TourVirtual;
                    if (Directory.Exists(extractPath))
                        Directory.Delete(extractPath, true);
                }

                if (Directory.Exists(extractPath))
                    // Ask user confirmation if needed
                    Directory.Delete(extractPath, true);

                var archive = new ZipArchive(ms);

                using (ZipArchive zip = new ZipArchive(ms))
                {
                    zip.ExtractToDirectory(extractPath);
                }
                modelSave.Slug = extensionMethods.CreateSlug(modelSave.Nome);
                modelSave.TourVirtual = modelSave.Slug;
                empreendimentoDataService.EmpreendimentoUpdate(modelSave);


                status = "Upload Ok";
                JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Edição feita com sucesso.", tipo = "ok" });
            }
            else
            {
                JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Favor inserir um arquivo to tipo ZIP.", tipo = "error" });
            }
            spinner = false;
            HandleProcessarIdiomaModel("");
            StateHasChanged();
        }
    }
}
