﻿
<h3><span class="oi oi-info"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar")  Informações Técnicas </h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12 mb-xl-3">
            <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Função</label>
                <h5>Status</h5>
                <InputSelect class="form-control form-control-lg" @bind-Value="model.Funcao">
                    <option disabled selected value> -- Escolha um item -- </option>
                    @foreach (var m in Enum.GetValues(typeof(EnumInformacoesTecnicas)).Cast<EnumInformacoesTecnicas>().ToList())
                    {
                        <option value="@(((int)m).ToString())">@(extensionMethods.Description(m))</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <InputText @bind-Value="model.Nome" class="form-control form-control-lg"></InputText>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>

</EditForm>