﻿
<h3><span class="oi oi-image"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar")  @(extensionMethods.Description((EnumTipoGaleria)tipoGaleria))</h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12 mb-xl-3">
            <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
        </div>
        @if (!model.EhVideo)
        {
            <div class="col-md-12">
                <div class="form-group">
                    <label>Banner</label>

                    <UploadImgFile width="1022" height="574" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (model.UrlImagem != null)
                    {
                        <ImgComponent LinkImagem="@model.UrlImagem"></ImgComponent>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="form-group">
                    <label>Video Youtube</label>
                    <InputText @bind-Value="model.UrlVideo" class="form-control form-control-lg"></InputText>
                </div>
            </div>
        }

        <div class="col-md-12">
            <div class="form-group">
                <label>Título</label>
                <InputText @bind-Value="model.Titulo" class="form-control form-control-lg"></InputText>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <InputText @bind-Value="model.Descricao" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group">
                <label>Video</label>
                <InputCheckbox @bind-Value="model.EhVideo" class="form-control form-control-lg"></InputCheckbox>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>
</EditForm>

