﻿@using BlazorTable

<div class="row align-items-end">
    <div class="col-md-10">
        <h5>Valor/ Descrição</h5>
    </div>
    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary btn-sm mb-2" @onclick="(() => Create())">
            <span class="oi oi-plus"></span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <Table TableItem="IEmpreendimentoValorDescricaoModel" Items="@modelList" PageSize="8">

            <Column TableItem="IEmpreendimentoValorDescricaoModel" Title="Título" Field="@(x => x.Titulo)" Width="30%">
                <Template>
                    @if (TipoEmpreendimento == 1)
                    {
                        <p>@context.Titulo</p>
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoValorDescricaoModel" Title="Descrição" Field="@(x => x.Descricao)" Sortable="true" Filterable="true" Width="50%" />
            <Column TableItem="IEmpreendimentoValorDescricaoModel" Title="Valor" Field="@(x => x.Valor)" Sortable="true" Filterable="true" Width="10%" />
            <Column TableItem="IEmpreendimentoValorDescricaoModel" Title="Ação" Field="@(x => x.Id)" Width="8%">
                <Template>
                    @if (modelList.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-info mr-1" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelList.Count > 1)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>

                            }
                        }
                    }
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>

</div>

<div class="modal fade" id="modal-form-Valor-Descricao" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EmpreendimentoValorDescricaoFormComponent ProcessarEventCallback="HandleProcessarCallBack" idEmpreendimento="idEmpreendimento" TipoEmpreendimento="TipoEmpreendimento" empreendimentoValorDescricaoDetalhes="empreendimentoValorDescricaoDetalhes"></EmpreendimentoValorDescricaoFormComponent>
            </div>
        </div>
    </div>
</div>
