﻿@using BlazorTable
<div class="row align-items-end mb-0">
    <div class="col-md-12">
        @if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Lazer)
        {
            <h5>Lazer</h5>
        }
        else if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Infraestrutura)
        {
            <h5>Infraestrutura</h5>
        }
        else
        {
            <h5>Serviços Próximos</h5>
        }
    </div>
     
    <div class="col-md-10">
        @if (valorDescricaoList != null && valorDescricaoList.Count > 0 && tipoFichaTecnica != (int)EnumTipoFichaTecnica.ServicosProximos)
        {
            <EditForm Model="@model">
                <InputSelect @oninput="HandleClickValorDescricaoSelect" class="form-control form-control-lg estado" @bind-Value="model.IdValorDescricao">
                    <option selected value="@Guid.Empty">Principal</option>
                    @foreach (var e in valorDescricaoList)
                        {
                            if (tipoEmpreendimento == (int)EnumTipoEmpreendimento.Empresarial
                                || (e.Planta && tipoFichaTecnica == (int)EnumTipoFichaTecnica.Infraestrutura))
                            {
                                <option value="@(e.Id)">@(e.Titulo)</option>
                            }
                        }
                </InputSelect>
            </EditForm>
        }
    </div>

    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary btn-sm mb-2" @onclick="(() => Create())">
            <span class="oi oi-plus"></span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <Table TableItem="IEmpreendimentoFichaTecnicaModel" Items="@modelList" PageSize="8">
            <Column TableItem="IEmpreendimentoFichaTecnicaModel" Title="" Field="@(x => x.UrlImagem)" Width="10%">
                <Template>
                    <ImgComponent LinkImagem="@("img/icons/" + context.UrlImagem + ".svg")" Class="table-img-mini"></ImgComponent>
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoFichaTecnicaModel" Title="Ação" Field="@(x => x.UrlImagem)" Width="30%">
                <Template>
                    @if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Lazer)
                    {
                        @foreach (var m in Enum.GetValues(typeof(EnumFichaTecnicaLazerIcones)).Cast<EnumFichaTecnicaLazerIcones>().ToList())
                        {
                            if (m.ToString() == context.UrlImagem)
                            {
                                <p>@(extensionMethods.Description(m))</p>
                            }
                        }
                    }
                    else if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Infraestrutura)
                    {
                        @foreach (var m in Enum.GetValues(typeof(EnumFichaTecnicaInfraEstruturaIcones)).Cast<EnumFichaTecnicaInfraEstruturaIcones>().ToList())
                        {
                            if (m.ToString() == context.UrlImagem)
                            {
                                <p>@(extensionMethods.Description(m))</p>
                            }
                        }
                    }
                    else
                    {
                        @foreach (var m in Enum.GetValues(typeof(EnumFichaTecnicaServicosProximosIcones)).Cast<EnumFichaTecnicaServicosProximosIcones>().ToList())
                        {
                            if (m.ToString() == context.UrlImagem)
                            {
                                <p>@(extensionMethods.Description(m))</p>
                            }
                        }
                    }
                </Template>
            </Column>
            <Column TableItem="IEmpreendimentoFichaTecnicaModel" Title="Peso" Field="@(x => x.Peso)" Sortable="true" Filterable="true" Width="10%" />
            <Column TableItem="IEmpreendimentoFichaTecnicaModel" Title="Ação" Field="@(x => x.Id)" Width="30%">
                <Template>
                    @if (idToDelete == context.Id)
                    {
                        <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-info mr-1" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                    }
                </Template>
            </Column>
            <Pager ShowPageSizes="false" ShowPageNumber="false" ShowTotalCount="false" />
        </Table>
    </div>
</div>
@if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Lazer)
{
<div class="modal fade" id="modal-form-Ficha-Tecnica-Lazer" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EmpreendimentoFichaTecnicaFormComponent idValorDescricao="model.IdValorDescricao" tipoFichaTecnica="tipoFichaTecnica" empreendimentoFichaTecnicaModelDetalhes="empreendimentoFichaTecnicaModelDetalhes" idEmpreendimento="idEmpreendimento" ProcessarEventCallback="HandleProcessarCallBack"></EmpreendimentoFichaTecnicaFormComponent>
            </div>
        </div>
    </div>
</div>
}
else if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Infraestrutura)
{
<div class="modal fade" id="modal-form-Ficha-Tecnica-Infraestrutura" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EmpreendimentoFichaTecnicaFormComponent idValorDescricao="model.IdValorDescricao" tipoFichaTecnica="tipoFichaTecnica" empreendimentoFichaTecnicaModelDetalhes="empreendimentoFichaTecnicaModelDetalhes" idEmpreendimento="idEmpreendimento" ProcessarEventCallback="HandleProcessarCallBack"></EmpreendimentoFichaTecnicaFormComponent>
            </div>
        </div>
    </div>
</div>
}
else
{
<div class="modal fade" id="modal-form-Ficha-Tecnica-ServicosProximos" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EmpreendimentoFichaTecnicaFormComponent idValorDescricao="model.IdValorDescricao" tipoFichaTecnica="tipoFichaTecnica" empreendimentoFichaTecnicaModelDetalhes="empreendimentoFichaTecnicaModelDetalhes" idEmpreendimento="idEmpreendimento" ProcessarEventCallback="HandleProcessarCallBack"></EmpreendimentoFichaTecnicaFormComponent>
            </div>
        </div>
    </div>
</div>
}
