﻿
<h3>
    <span class="oi oi-home"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar")  Ficha Técnica de 
    @if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Lazer)
    {
        <span>Lazer</span>
    }
    else if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Infraestrutura)
    {
        <span>Infraestrutura</span>
    }
    else
    {
        <span>Serviços Próximos</span>
    }
</h3>
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h5>
                    Tipo
                </h5>
                <InputSelect class="form-control form-control-lg" @bind-Value="model.UrlImagem">
                    @if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Lazer)
                    {
                        <option disabled selected value> -- Escolha um item -- </option>
                        @foreach (var m in Enum.GetValues(typeof(EnumFichaTecnicaLazerIcones)).Cast<EnumFichaTecnicaLazerIcones>().ToList())
                        {
                            <option value="@(m.ToString())">@extensionMethods.Description(m)</option>}
                    }
                    else if (tipoFichaTecnica == (int)EnumTipoFichaTecnica.Infraestrutura)
                    {
                        <option disabled selected value> -- Escolha um item -- </option>
                        @foreach (var m in Enum.GetValues(typeof(EnumFichaTecnicaInfraEstruturaIcones)).Cast<EnumFichaTecnicaInfraEstruturaIcones>().ToList())
                        {
                             <option value="@(m.ToString())">@extensionMethods.Description(m)</option>
                        }
                    }
                    else
                    {
                        <option disabled selected value> -- Escolha um item -- </option>
                        @foreach (var m in Enum.GetValues(typeof(EnumFichaTecnicaServicosProximosIcones)).Cast<EnumFichaTecnicaServicosProximosIcones>().ToList())
                        {
                <option value="@(m.ToString())">@extensionMethods.Description(m)</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Peso</label>
                <InputNumber @bind-Value="model.Peso" class="form-control form-control-lg"></InputNumber>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>

</EditForm>