﻿
<h3><span class="oi oi-info"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar")  Valor/ Descrição </h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12 mb-xl-3">
            <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
        </div>
        <div class="col-md-12">
            @if (TipoEmpreendimento == 1)
            {
                <div class="form-group">
                    <label>Título</label>
                    <InputText @bind-Value="model.Titulo" class="form-control form-control-lg"></InputText>
                </div>
            }

            <div class="form-group">
                <label>Descrição</label>
                <InputText @bind-Value="model.Descricao" class="form-control form-control-lg"></InputText>
            </div>
            <div class="form-group">
                <label>Valor</label>
                <InputText @bind-Value="model.Valor" class="form-control form-control-lg"></InputText>
            </div>
            <div class="form-group form-inline text-left">
                <label>Planta</label>
                <InputCheckbox @bind-Value="model.Planta" class="form-control form-control-lg ml-2"></InputCheckbox>
            </div>
            <div class="form-group form-inline text-left">
                <label>Valor Principal </label>
                <InputCheckbox @bind-Value="model.ValorPrincipal" class="form-control form-control-lg ml-2"></InputCheckbox>
            </div>
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>

</EditForm>