﻿// css page faq
.faq {

    margin-bottom: 0rem !important;

    .faq__clients .faq__imoveis {

        h2 {
            color: $fourth;
            font-size: 1.125rem;
            font-weight: 700;
            margin: 0rem;
        }
    }

    h3 {
        color: $fourth;
        font-size: 1.125rem;
        font-weight: 700;
        padding: .6rem 0rem .6rem .5rem;
        margin: 0rem;
    }

    h4 {
        color: $third;
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 2rem;
    }

    .card {
        border: none;

        .card-header {
            padding: 0;
            border: none;
            background: transparent;

            &.active {
                button {
                    border-radius: 30px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    transition: border-radius 1s;
                }
            }

            button {
                border-radius: 30px;
                transition: border-radius 1s;
                border: none;
                @extend %bg__sixth;
                cursor: pointer;
                @include rhythm(18,21);
                font-weight: 700;


                @extend %color__fourth;

                &[data-toggle='collapse'].collapsed svg {
                    transition: all .3s ease-in-out 0s;
                    transform: rotate(0);
                }

                &[data-toggle='collapse'] svg {
                    transform: rotate(90deg);
                    transition: all .3s ease-in-out 0s;
                }
            }
        }

        &-body {
            border: 1px solid #C4C4C4;
            border-top: none;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            p {
                margin: 0;
                text-align: left;
                padding: 0rem 0rem 0rem 1rem;
            }
        }

        & + .card {
            margin-top: 1rem;
        }
    }
}
