﻿@page "/Home/Faq"
@attribute [Authorize(Roles = "Administrator")]
@using BlazorTable
@using MouraDubeux.Admin.Data.Models.Faq

<h3>Faq</h3>
<div class="row mb-2">
    <div class="col-md-12">
        <button class="btn btn-primary btn-lg" @onclick="(() => Create())">
            <span class="oi oi-plus"></span> Novo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@(extensionMethods.Description(EnumFaq.ImovelSobrePagamentosFinanciamentos))</h3>
        <Table TableItem="IFaqModel" Items="@modelListImovelSobrePagamentosFinanciamentos" PageSize="30">
            <Column TableItem="IFaqModel" Title="Ordem" Field="@(x => x.Secao)" Sortable="true" Filterable="true" Width="8%" />
            <Column TableItem="IFaqModel" Title="Pergunta" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Resposta" Field="@(x => x.Texto)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Ação" Field="@(x => x.Id)" Width="8%">
                <Template>
                    @if (modelListImovelSobrePagamentosFinanciamentos.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelListImovelSobrePagamentosFinanciamentos.Count > 1)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                            }
                        }
                    }
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@(extensionMethods.Description(EnumFaq.ImovelSobreNossoModeloDeNegocio))</h3>
        <Table TableItem="IFaqModel" Items="@modelListImovelSobreNossoModeloDeNegocio" PageSize="30">
            <Column TableItem="IFaqModel" Title="Ordem" Field="@(x => x.Secao)" Sortable="true" Filterable="true" Width="8%" />
            <Column TableItem="IFaqModel" Title="Pergunta" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Resposta" Field="@(x => x.Texto)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Ação" Field="@(x => x.Id)" Width="8%">
                <Template>
                    @if (modelListImovelSobreNossoModeloDeNegocio.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelListImovelSobreNossoModeloDeNegocio.Count > 1)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                            }
                        }
                    }
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@(extensionMethods.Description(EnumFaq.ImovelSobreImpostosTaxas))</h3>
        <Table TableItem="IFaqModel" Items="@modelListImovelSobreImpostosTaxas" PageSize="30">
            <Column TableItem="IFaqModel" Title="Ordem" Field="@(x => x.Secao)" Sortable="true" Filterable="true" Width="8%" />
            <Column TableItem="IFaqModel" Title="Pergunta" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Resposta" Field="@(x => x.Texto)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Ação" Field="@(x => x.Id)" Width="8%">
                <Template>
                    @if (modelListImovelSobreImpostosTaxas.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelListImovelSobreImpostosTaxas.Count > 1)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                            }
                        }
                    }
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3>@(extensionMethods.Description(EnumFaq.ClienteAcompanhamentoDaObra))</h3>
        <Table TableItem="IFaqModel" Items="@modelListClienteAcompanhamentoDaObra" PageSize="30">
            <Column TableItem="IFaqModel" Title="Ordem" Field="@(x => x.Secao)" Sortable="true" Filterable="true" Width="8%" />
            <Column TableItem="IFaqModel" Title="Pergunta" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Resposta" Field="@(x => x.Texto)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Ação" Field="@(x => x.Id)" Width="8%">
                <Template>
                    @if (modelListClienteAcompanhamentoDaObra.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelListClienteAcompanhamentoDaObra.Count > 1)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                            }
                        }
                    }
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@(extensionMethods.Description(EnumFaq.ClientePersonalização))</h3>
        <Table TableItem="IFaqModel" Items="@modelListClientePersonalização" PageSize="30">
            <Column TableItem="IFaqModel" Title="Ordem" Field="@(x => x.Secao)" Sortable="true" Filterable="true" Width="8%" />
            <Column TableItem="IFaqModel" Title="Pergunta" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Resposta" Field="@(x => x.Texto)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Ação" Field="@(x => x.Id)" Width="8%">
                <Template>
                    @if (modelListClientePersonalização.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelListClientePersonalização.Count > 1)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                            }
                        }
                    }
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>@(extensionMethods.Description(EnumFaq.ClienteTributosImpostosHabiteSe))</h3>
        <Table TableItem="IFaqModel" Items="@modelListClienteTributosImpostosHabiteSe" PageSize="30">
            <Column TableItem="IFaqModel" Title="Ordem" Field="@(x => x.Secao)" Sortable="true" Filterable="true" Width="8%" />
            <Column TableItem="IFaqModel" Title="Pergunta" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Resposta" Field="@(x => x.Texto)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFaqModel" Title="Ação" Field="@(x => x.Id)" Width="8%">
                <Template>
                    @if (modelListClienteTributosImpostosHabiteSe.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                            @if (modelListClienteTributosImpostosHabiteSe.Count > 1)
                            {
                                <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                            }
                        }
                    }
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
</div>


<div class="modal fade" id="modal-form-Faq" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <FaqFormComponent ProcessarEventCallback="HandleProcessarCallBack" faqModelDetalhes="faqModelDetalhes"></FaqFormComponent>
            </div>
        </div>
    </div>
</div>
