﻿@using MouraDubeux.Front.Blazor.Models

<section class="content__inner md__forms bg__section">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1>Simule a aquisição do seu imóvel</h1>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <EditForm Model="model">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Nome" class="form-control form-control-lg" id="Nome" placeholder="Qual o seu nome?"></InputText>
                        </div>
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Empresa" class="form-control form-control-lg" id="Empresa" placeholder="Qual é o nome da sua empresa?"></InputText>
                        </div>
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Email" class="form-control form-control-lg" id="Email" placeholder="Qual é o seu e-mail profissional?"></InputText>
                        </div>
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Telefone" class="form-control form-control-lg" id="Telefone" placeholder="Qual é o seu telefone com DDD?"></InputText>
                        </div>
                    </div>
                    <div class="form-row">
                        <div id="money__mask" class="input-group-prepend form-group col-md-6">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                            <InputText @bind-Value="model.Valor" class="form-control form-control-lg" id="Valor" placeholder="Qual é o valor do imóvel?"></InputText>
                        </div>
                        <div id="money__mask" class="input-group-prepend form-group col-md-6">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                            <InputText @bind-Value="model.Renda" class="form-control form-control-lg" id="Valor" placeholder="Qual é a sua renda familiar?"></InputText>
                        </div>
                    </div>
                    <div class="form-group">

                        <InputSelect @bind-Value="model.Parcelas" class="form-control form-control-lg">
                            <option value="">Selecione o número de parcelas</option>
                            <option value="12">Até 12 parcelas</option>
                            <option value="24">Até 24 parcelas</option>
                            <option value="36">Até 36 parcelas</option>
                            <option value="48">Até 48 parcelas</option>
                            <option value="60">Até 60 parcelas</option>
                        </InputSelect>
                    </div>
                    <div class="form-group col-md">
                        <button type="submit" class="btn btn__first">ENVIAR SIMULAÇÃO</button>
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {
}
