﻿
<h3><span class="oi oi-home"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar") Escritório</h3>
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label>Banner</label>
                <UploadImgFile width="600" height="400" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
            </div>
            <div class="form-group">
                @if (model.UrlBanner != null)
                {
                    <ImgComponent LinkImagem="@model.UrlBanner"></ImgComponent>
                }
            </div>

            <div class="form-group">
                <label>Nome</label>
                <InputText @bind-Value="model.Nome" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group">
                <label>Telefone</label>
                <InputText @bind-Value="model.Telefone" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group">
                <label>Endereço</label>
                <InputText @bind-Value="model.Endereco" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group">
                <label>Estado</label>
                <InputSelect @oninput="HandleFirstDropDownChange" class="form-control form-control-lg estado" @bind-Value="model.Estado">
                    <option disabled selected value> -- Escolha um estado -- </option>
                    @foreach (var e in estados)
                    {
                        <option value="@(e.Slug)">@(e.Nome)</option>
                    }
                </InputSelect>
            </div>

            <div class="form-group">
                <label>Cidade</label>
                @if (cidades.Count > 0)
                {
                    <InputSelect class="form-control form-control-lg cidade" @bind-Value="model.Cidade">
                        <option disabled selected value> -- Escolha um cidade -- </option>
                        @foreach (var c in cidades)
                            {
                            <option value="@(c.Slug)">@(c.Nome)</option>
                            }
                    </InputSelect>
                }
            </div>

            <div class="form-group">
                <label>CEP</label>
                <InputText @bind-Value="model.CEP" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group">
                <label>Horário de Funcionamento</label>
                <InputText @bind-Value="model.HorarioFuncionamento" class="form-control form-control-lg"></InputText>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>


        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>

</EditForm>