<div class="col-md-4 listagem__card h-100">
    <div class="card-header" style="background-image: url('@MdMidiaModel.UrlImagem');">
        <img src="@MdMidiaModel.UrlImagem" alt="@MdMidiaModel.Titulo" title="@MdMidiaModel.Titulo" class="img-fluid d-xl-none img-rounded">
    </div>
    <div class="card-body">
        <div class="col-md-12 p-0">
            <p class="date">@MdMidiaModel.DataPublicacao.ToShortDateString()</p>
            <h3 data-state="reversed">@MdMidiaModel.Titulo</h3>
            <p><a href="@MdMidiaModel.Link" target="_blank" rel="noopener noreferrer">Leia mais</a></p>
        </div>
       
    </div>
</div>
@code{
   
}