﻿<section class="content__inner imprensa"><!-- descricao -->
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 text-md-center">
                <h1>Sala de Imprensa - Moura Dubeux</h1>
            </div>
            <div class="col-md-10 text-md-center mb-md-4">
                <p>Seja bem-vindo a nossa sala de imprensa! Para os jornalistas que desejam noticiar sobre a Moura Dubeux, é possível ter acesso a informações, dados e muito mais por meio da nossa Assessoria de Imprensa. Confira os contatos. Além disso, você também pode conferir abaixo algumas das principais notícias publicadas sobre a construtora e press releases.</p>
            </div>
        </div>
        <div class="row h-100 align-items-start justify-content-start">
            <div class="col-md-6 col-lg-4 imprensa__item">
                <p>Para questões relacionadas<br />a nossa atuação em Pernambuco:</p>
                <h3>Dupla Comunicação</h3>
                <p><a target="_top" href="tel:+558132423207">(81) 3242-3207</a><br />
                <a target="_top" href="mailto:tacyana@duplacom.com.br">tacyana@duplacom.com.br</a><br />
                <a target="_top" class="website" href="http://www.duplacom.com.br/">www.duplacom.com.br</a></p>
            </div>
            <div class="col-md-6 col-lg-4 imprensa__item">
                <p>Para questões relacionadas<br />a nossa atuação no Ceará:</p>
                <h3>Caramelo Comunicação</h3>
                <p><a target="_top" href="tel:+558532446728">(85) 3244-6728</a><br />
                <a target="_top" href="mailto:paulo@caramelocomunicacao.com.br">paulo@caramelocomunicacao.com.br</a><br />
                <a target="_top" class="website" href="https://caramelocomunicacao.com.br/">www.caramelocomunicacao.com.br</a></p>
            </div>
            <div class="col-md-6 col-lg-4 imprensa__item">
                <p>Para questões relacionadas<br />a outros estados:</p>
                <h3>Ricardo Viveiros & Associados -<br />Oficina de Comunicação</h3>
                <p><a target="_top" href="tel:+551136705424">(11) 3670-5424</a><br />
                <a target="_top" href="mailto:rosangela@viveiros.com.br">rosangela@viveiros.com.br</a><br />
                <a target="_top" class="website" href="https://www.viveiros.com.br/">www.viveiros.com.br</a></p>
            </div>
        </div>
    </div>
</section><!--/.descricao-->
@code {

}
