﻿<section class="content__inner midia">
    <div class="container h-100">
        <div class="row h-100 align-items-stretch justify-content-center">
            <div class="col-md-12 text-center">
                <h2>MD na mídia</h2>
            </div>
            @foreach (var mdMidia in modelList)
            {
                <CardMouraDubeuxNaMidiaComponent MdMidiaModel="mdMidia" />
            }
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}
