<div class="col-md-6 listagem__card">
    <div class="card">
        <div class="card-header">
            <div class="row h-100 align-items-center">
                <div class="col-8 text-left">
                    <h3>Rooftop.470</h3>
                </div>
                <div class="col-4 text-left">
                    <div class="media">
                        <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-self-center mr-1">
                            <path d="M7.78219 0.63623C4.02849 0.63623 0.974609 3.69011 0.974609 7.44381C0.974609 8.71206 1.32592 9.94975 1.99079 11.0235L7.39468 19.7318C7.4982 19.8987 7.68056 20 7.8767 20C7.87821 20 7.87969 20 7.8812 20C8.07904 19.9985 8.26178 19.894 8.3634 19.7242L13.6296 10.9316C14.2577 9.88047 14.5898 8.67443 14.5898 7.44381C14.5898 3.69011 11.5359 0.63623 7.78219 0.63623ZM12.6559 10.3491L7.86811 18.343L2.95512 10.4258C2.4017 9.532 2.10164 8.50087 2.10164 7.44381C2.10164 4.31573 4.65411 1.76326 7.78219 1.76326C10.9103 1.76326 13.459 4.31573 13.459 7.44381C13.459 8.46952 13.1787 9.47428 12.6559 10.3491Z" fill="#A50112"/>
                            <path d="M7.7827 4.04004C5.90585 4.04004 4.37891 5.56698 4.37891 7.44383C4.37891 9.30869 5.881 10.8476 7.7827 10.8476C9.70784 10.8476 11.1865 9.28819 11.1865 7.44383C11.1865 5.56698 9.65954 4.04004 7.7827 4.04004ZM7.7827 9.72058C6.52492 9.72058 5.50594 8.6982 5.50594 7.44383C5.50594 6.1926 6.53146 5.16707 7.7827 5.16707C9.03393 5.16707 10.0557 6.1926 10.0557 7.44383C10.0557 8.67989 9.0604 9.72058 7.7827 9.72058Z" fill="#A50112"/>
                        </svg>
                        <div class="media-body">
                            <p>Recife (PE)</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 text-left">
                <a target="_top" href="#">
                    Baixar projeto
                </a>
            </div>
        </div>
    </div>
</div>