﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h1>Encontre a planta ou o projeto do seu imóvel</h1>
                <p>Muitos dos nossos clientes escolhem fazer reformas ou obras para deixar o seu imóvel do jeito que precisa. Por isso, disponibilizamos diversos documentos de cada empreendimento.</p>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}
