<section class="info">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            @{
                int x = 12;
                for (int i = 0; i < x; i++)
                {
                    <CardProjetoComponent />
                }
            }
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}
