$carousel__h: 70vh;

.content__inner#banner__carousel{
    //background-image: url('/img/bg_md_banner.jpg');
    background-size: cover;
    background-position: top center;
    height: $carousel__h;
    padding: 0;
    @include media-breakpoint-down(md){
        // background-size: contain;
        // background-position: -50px 10px;
            height: auto;
        // background-repeat: no-repeat;
        // background-color: #b61f2e;
    }
   
    .carousel-item{
        &.bg__carousel{
            //@extend %bg__attach-fixed;
            @extend %bg__responsive;
            background-repeat: no-repeat;
            height: $carousel__h;
     
            @include media-breakpoint-down(md){
                background-image: none !important;
            }
        }
        @include media-breakpoint-down(lg){
            .banner__card-position{
                padding: 0;
            }
        }
        @include media-breakpoint-up(lg){
            .banner__card-position{
                position: absolute;
                // flex: 0 0 65%;
                // max-width: 75%;
                margin-right: -5rem;
                @media screen and (min-width: 992px) and (max-width: 1199px){
                    margin-right: -8rem;
                }
                z-index: 999;
                @media screen and (min-width: 1600px) and (max-width: 1900px){
                    &.col-xxl-6{
                        max-width: 63%;
                        flex: 0 0 63%;
                    }
                }
                @media screen and (min-width: 1900px){
                    &.col-xxl-6{
                        max-width: 73%;
                        flex: 0 0 73%;
                    }
                }
                @media screen and (min-width: 767px) and (max-width: 1100px){
                    &.col-md-10{
                        max-width: 100%;
                        margin-right: -10rem;
                    }
                }
            }
        }
        .card{
            padding-bottom: 2rem;
            text-align: center;
            background: #e18118;
            background: linear-gradient(180deg, #e18118 82%, rgba(0,0,0,1) 147%);
            border:none;
            border-radius: $border-radius-default;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            @include media-breakpoint-down(md){
                width: 100%;
                position: relative;
                z-index: 9999;
                left: 0%;
                border-radius: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
           
            // @include media-breakpoint-down(sm){
            //     width: 300px;
            //     margin-left: -3.2rem;
            // }
            h2 + h1{
                margin: 0;
                margin-top: .9rem;
            }
            h2{
                @include rhythm(19, 24);
                font-weight: 400;
                @include media-breakpoint-down(md){
                    @include rhythm (16, 22);
                }
            }
            @include media-breakpoint-down(md){
                .card-body{
                    padding: 0;
                }
            }
            h1{
                @include rhythm(30, 36);
                font-weight: 700;
                @include media-breakpoint-down(md){
                    @include rhythm (24, 30);
                }
            }
            @media (min-width: 768px){
                .btn {
                    padding: 11.8px 53.85px;
                }
            }
            ul{
                justify-content: center;
                text-align: center;
                @include media-breakpoint-down(md){
                    // justify-content: start;
                    // text-align: left;
                }
                li{
                    p{
                        @include rhythm(13, 20);
                        color: #fff;
                        margin: 15px 0;
                        @include media-breakpoint-down(md){
                            margin: 7px 0;
                        }
                    }
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md){
    .carousel-control-prev, .carousel-control-next{
        svg{
            width: 20px;
        }
    }
    ul.list-inline.description__list{
        li{
            display: inline-grid !important;
            margin-top: 5px;
        }
        // li:not(:first-child):not(:last-child){
        //     margin-top: 10px;
        //     position: relative;
        //     top: 5px;
        // }
    }
    .banner{

        @media (min-width: 1024px){
           
        }
        .card{
            .btn{
                padding: 5px 23.07px;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 991.98px){
    .content__inner#banner__carousel {
        height: auto !important;
        align-items: flex-start !important;
        .row.h-100.align-items-end.justify-content-end.d-lg-none{
            height: auto !important;
            align-items: flex-start !important;

        }
        .container-fluid.h-100{
            height: auto !important;
        }
    }
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }