.btn{
    @extend %border__radius-default;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: 700;
    @include rhythm (16,19);
    text-transform: uppercase;
    cursor: pointer;
    padding: 11px 23.07px;
    @include media-breakpoint-up (md){
        padding: 19.8px 48.85px;
        
    }
}