
.bread_crumb {
    background-color: $fifth;
    padding: .5rem 0rem .5rem 0rem;

    svg, p {
        margin:0rem;
    }

    p {
        padding-left: .5rem;
        margin: .2rem 0rem 0rem 0rem;
    }

    #bread__id {
        max-width: 1rem;
    }

    .col-md-2 {
        max-width: 10.2rem;
    }

    .col-md-4 {
        max-width: 21rem;
        margin-right: -2.5rem;
    }
}

.filtro {
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
    align-items: center;

    &__h3 {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 15px;
        @extend %color__third;

        &--color {
            @extend %color__first;
            font-size: inherit;
            font-weight: 700;
        }

        @media (min-width: 768px) {
            font-size: 24px;
        }
    }
}
.bread_crumb{
    p{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .justify-content-between {
        justify-content: flex-end !important;
    }
}
.bread__v{
    display: none;
}
.breadcrumb {
    background: none;
    //border-right: 1px solid #000;
    border-radius: 0px;
    margin: 0rem !important;
    padding: 0rem;
    //max-width: 18rem;
    @include media-breakpoint-down(md){
        margin: 1.2rem 0 !important;
    }
    breadcrumb-item {
        font-size: 1rem;

        a {
            color: #ff0000 !important;
        }
    }

    .form-control {
        background: none;
        border-radius: 0;
        border: none;
        // border-bottom: 1px solid #A50112;
        padding-bottom: .8rem;
        color: #A50112;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        outline: 0px;
        text-transform: uppercase;
    }
}

.state_select {
    font-size: 1rem;
    font-weight: 500;
    text-align-last: start;
    @include media-breakpoint-up(md){
            max-width: 12.5rem;
        }
}


.bread_crumb {
    select, .form-control {
        color: $first;
        border: none;
        border-radius: 0px;
        border-bottom: .05rem $first solid;

        a {
            color: $first !important;
        }

        option {
            background-color: $fifth;
        }

        .breadcrumb-item {
            margin-botton: 0rem;
        }
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: "";
    }

    .state_select {
        position: relative;
        display: inline-block;
    }

    .state_select:after {
        content: '\0025BC';
        font: normal normal normal 12px/1 FontAwesome;
        color: #A50112;
        right: 14px;
        top: 20px;
        height: 26px;
        padding: 1px 0px 0px 8px;
        position: absolute;
        pointer-events: none;

        @media only screen and (max-width: 767.98px) {
            top: 17px;
        }
    }

    select.form-control:not([size]):not([multiple]) {
        background-color: $fifth;
        padding: 0rem 1rem 0rem .5rem;
        margin: 0rem 0rem 0rem 0rem;
        color: $first;
        font-size: 1rem;
        font-weight: 500;
        -webkit-appearance: none;
    }

    #link_bread {
        color: $first !important;
        font-weight: 500;
    }
}

.busca  {

    select  {
        padding-left: .5rem;
    }
    select.valid {
        -webkit-appearance: none;
    }

    .busc__after    {
        margin: .3rem;
    }

    .busc__after:after {
        content: '\0025BC';
        font: normal normal normal 12px/1 FontAwesome;
        color: #A50112;
        right: 14px;
        /* top: 14px; */
        height: 26px;
        padding: 1px 0px 0px 8px;
        /* position: absolute; */
        pointer-events: none;
        margin-left: -1.2rem;
    }
}

a.botao__underline  {
    margin: 0rem .6rem !important;
}

@media (max-width: 767.98px) {

    a.botao__underline  {
        margin: 1rem 8rem !important;
    }

    .busca__botao  {
        margin-top: 1.2rem !important;
    }

    .bread_crumb {
        // top: 3.65rem;
    }

    .bread_crumb p{
        font-size: 12px;
    }
    .text-center.card-icon.col-4 .col-12 {
        padding: 0 !important;
    }
    .modal{
        .busca select, .busca input.valid, .busca input{
            float: initial;
        }
        form.form-inline.w-100.d-flex.justify-content-between.align-items-center.ml-4.mr-4 {
            margin: 0 !important;
        }
    }
    select{
        -webkit-appearance: none;
    }
    select:after {
        content: '\0025BC';
        font: normal normal normal 12px/1 FontAwesome;
        color: #A50112;
        right: 14px;
        top: 17px;
        height: 26px;
        padding: 1px 0px 0px 8px;
        position: absolute;
        pointer-events: none;
    }
    .busca .form-group+.form-group{
        margin-left: 0;
    }
}

@media (max-width: 992.98px) {

    .bread_crumb {
        // top: 3.65rem;
    }
}
@media (max-width: 991.98px){
.breadcrumb {
    margin: 1.2rem 0 !important;
}

}
#adv__search{
    .modal-content{
        background: transparent;
    }
}
input#Curriculo {
    font-size: 11px;
}
option[value="0"] {
    display: none;
}