.hero{
    @extend %bg__attach-fixed;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    @include media-breakpoint-down(md){
        background-image: none !important;
    }
    @include media-breakpoint-up(lg){
        min-height: 70vh;
    }    
}