.modal{
    &.modal-fullscreen{
        button.close span {
            font-size: 3rem;
            color: $first;
        } 
      .modal{
        &-dialog{
          width: 100vw;
          height: 100vh;
          margin: 0;
          padding: 0;
          max-width: none;
        }
  
        &-content{
          height: auto;
          height: 100vh;
          border-radius: 0;
          border: none;
        }

        &-body{
          overflow-y: auto;
        }
      }
    }

  }