.newsletter{
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    @include media-breakpoint-up(md){
        max-height: 80vh;
        height: 100vh;
    }
    @include media-breakpoint-up(xl){
        max-height: 60vh;
        height: 100vh;
    }
    @extend %bg__responsive;
    @extend %bg__attach-fixed;
    h2{
        &:first-child{
            margin-bottom: 1.5rem;
        }
    }
}
#modalNewsletter, #modalNewsletterRD {
    .modal-content {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
    }

    h2 {
    }

    p {
    }

    .close {
    }

    form {
        input {
            background: #FFFFFF;
            border: 1px solid #4F4F4F;
            box-sizing: border-box;
            border-radius: 20px;
        }

        select {
            background: #FFFFFF;
            border: 1px solid #4F4F4F;
            box-sizing: border-box;
            border-radius: 20px;
        }
    }
}