.content__inner {
    h1 {
        @extend %h2__default;

        &[data-state='reversed'] {
            @extend %color__third;
        }
    }

    p {
        margin: 1.5rem 0;
        @extend %margin__default-top;
    }

    .rounded-img {
        border-radius: $border-radius-default;
    }
}
@for $i from 1 through 6 {
    .content__inner, .newsletter {
        h#{$i}, p, img, ul, .btn {
            & + h#{$i}, &  + h#{$i+1}, & + p, & + img, & + ul, & + .btn {
                @extend %margin__default-between;
            }
        }
    }
}
// componente contato 1 shared
.content__inner .contact__one {

    a, h6 {
        color: $sixth;
    }

    h5 {
        color: $first;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    h6 {
        font-size: .8rem;
        margin-bottom: .2rem;
    }

    a, p {
        margin: .5rem 0rem 0rem 0rem;
    }
        
    span {
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }
}
// componente contato 2 shared
.content__inner .contact__two {
    margin-top: 3rem;

    a, h6 {
        color: $sixth;
    }

    h4 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom:1rem;
    }

    h5 {
        color: $first;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: .3rem;
    }

    h6 {
        font-size: .8rem;
        margin-bottom: .2rem;
    }

    p {
        margin: 0rem 0rem 2rem 0rem;
    }

    a {
        margin: .5rem 0rem 0rem 0rem;
    }
}
// chat component 1
.content__inner .chat__one {

    margin-top: -3em;

    p   {
        margin-top:1rem;
    }

    button {
        margin-top: 0em;
    }
}
.content__inner  .md__contact__col {
    padding-left: 2rem !important;
}