// Variables


$first: #A50112; //bonina
$second: #F7B24B; //amarelo
$third: #4F4F4F; //preto
$fourth: #fff; //branco
$fifth: #FCEAC7; //creme
$sixth: #DE963E; //laranja escuro
$seventh: #9C2431; //bonina2
//global
$border-radius-default: 30px;

//padding sections
$padding-default: 55px 0;
@include media-breakpoint-down(md){
    $padding-default: 25px 0;
}

//margin default
$margin__top: 2rem;
