﻿@inject IIdiomaDataService idiomaDataService

@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime


@if (!hideTabsIdioma)
{
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        @foreach (var idioma in idiomaDataService.Get())
        {
            <li class="nav-item idioma" role="presentation">
                
                <a class="text-uppercase nav-link @Ativo(idioma.Id)" @onclick="() => ChangeIdioma(idioma.Id)" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    
                        <img class="img-fluid d-inline-block" width="50" src=@("/img/" + idioma.Id +".svg") /> <b class="d-none">@idioma.Id </b>
                </a>
            </li>
        }

    </ul>
}


@code {
    [Parameter]
    public EventCallback<string> ProcessarIdiomaModel { get; set; }

    [Parameter]
    public bool hideTabsIdioma { get; set; }

    [Parameter]
    public String idiomaParam { get; set; }

    public string _idioma { get; set; }

    private void ChangeIdioma(string idioma)
    {
        if (_idioma != idioma)
        {
            JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = ($"Idioma alterado para <span class='oi oi-flag' title='flag' aria-hidden='true'></span> {idiomaDataService.Get().Where(x => x.Id == idioma).FirstOrDefault().Nome }").ToString(), tipo = "ok" });
        }

        _idioma = idioma;

        ProcessarIdiomaModel.InvokeAsync(idioma);
    }

    private string Ativo(string idioma)
    {
        if (idioma == _idioma)
        {
            return "active";
        }
        else
            return "";
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    protected override void OnParametersSet()
    {
        _idioma = idiomaParam;
        base.OnParametersSet();
    }

}
