﻿<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-around my-4">
            <a href="Identity/Account/Login">Login</a>
            <a href="Identity/Account/Register" class="">Registre-se</a>
        </div>

    </NotAuthorized>
</AuthorizeView>
