﻿<div class="navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="/img/logo.png" alt="Moura Dubeux" title="Moura Dubeux">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <LoginDisplay />

        <li class="px-3">
            <NavLink class="nav-link" href="home/Empreendimento">
                <span class="oi oi-home" aria-hidden="true"></span> Empreendimento
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/Home/Empreendimento/listaUrl">
                <span class="oi oi-globe" aria-hidden="true"></span> Lista de Urls
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="home/Escritorio">
                <span class="oi oi-people" aria-hidden="true"></span> Escritório
            </NavLink>
        </li>

        <li class="px-3">
            <NavLink class="nav-link" href="home/sala-de-imprensa">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Sala de Imprensa
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/venda-seu-terreno">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Venda seu Terreno
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/simulador">
                <span class="oi oi-key" aria-hidden="true"></span> Simulador
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/modelos">
                <span class="oi oi-layers" aria-hidden="true"></span> Modelos
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/projetos-Sociais">
                <span class="oi oi-badge" aria-hidden="true"></span> Projetos Sociais
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/home">
                <span class="oi oi-info" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/quem-somos">
                <span class="oi oi-text" aria-hidden="true"></span> Quem Somos
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/programa-de-integridade">
                <span class="oi oi-star" aria-hidden="true"></span> Programa de Integridade
            </NavLink>
        </li>

        <li class="px-3">
            <NavLink class="nav-link" href="/trabalhe-conosco">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Trabalhe Conosco
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/como-investir">
                <span class="oi oi-graph" aria-hidden="true"></span> Como Investir
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="/Home/Faq">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Faq
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="nav-link" href="https://mourahomologfrontend.azurewebsites.net/reiniciar-cache">
                <span class="oi oi-globe" aria-hidden="true"></span> Reiniciar Banco de Dados
            </NavLink>
        </li>

        <li class="px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-globe" aria-hidden="true"></span> SEO
            </NavLink>
            <div class="subMenu @NavMenuSEOCssClass">
                <ul class="nav flex-column">
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/home">
                            <span class="oi oi-globe" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/pernambuco">
                            <span class="oi oi-globe" aria-hidden="true"></span> Pernambuco
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/bahia">
                            <span class="oi oi-globe" aria-hidden="true"></span> Bahia
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/alagoas">
                            <span class="oi oi-globe" aria-hidden="true"></span> Alagoas
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/ceara">
                            <span class="oi oi-globe" aria-hidden="true"></span> Ceara
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/rio-grande-do-norte">
                            <span class="oi oi-globe" aria-hidden="true"></span> Rio Grande do Norte
                        </NavLink>
                    </li>

                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/quem-somos">
                            <span class="oi oi-globe" aria-hidden="true"></span> Quem Somos
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/programa-de-integridade">
                            <span class="oi oi-globe" aria-hidden="true"></span> Programa de Integridade
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/fale-conosco">
                            <span class="oi oi-globe" aria-hidden="true"></span> Fale Conosco
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/trabalhe-conosco">
                            <span class="oi oi-globe" aria-hidden="true"></span> Trabalhe Conosco
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/nossos-escritorios">
                            <span class="oi oi-globe" aria-hidden="true"></span> Nossos Escritorios
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/venda-seu-terreno">
                            <span class="oi oi-globe" aria-hidden="true"></span> Venda seu Terreno
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/simulador">
                            <span class="oi oi-globe" aria-hidden="true"></span> Simulador
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/como-investir">
                            <span class="oi oi-globe" aria-hidden="true"></span> Como Investir
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/faq">
                            <span class="oi oi-globe" aria-hidden="true"></span> Faq
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/projetos-sociais">
                            <span class="oi oi-globe" aria-hidden="true"></span> Projetos Sociais
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/modelos">
                            <span class="oi oi-globe" aria-hidden="true"></span> Modelos
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/portfolio">
                            <span class="oi oi-globe" aria-hidden="true"></span> Portfólio
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/blog">
                            <span class="oi oi-globe" aria-hidden="true"></span> Blog
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/area-do-cliente">
                            <span class="oi oi-globe" aria-hidden="true"></span> Área do Cliente
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/politica-privacidade">
                            <span class="oi oi-globe" aria-hidden="true"></span> Política Privacidade
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/comprar-terreno">
                            <span class="oi oi-globe" aria-hidden="true"></span> Comprar Terreno
                        </NavLink>
                    </li>
                    <li class="px-3">
                        <NavLink class="nav-link" href="/SEO/simular">
                            <span class="oi oi-globe" aria-hidden="true"></span> Simular
                        </NavLink>
                    </li>

                </ul>
            </div>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool collapseNavMenuSEO = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string NavMenuSEOCssClass => collapseNavMenuSEO ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }
    private void ToggleNavSubMenu()
    {
        collapseNavMenuSEO = !collapseNavMenuSEO;

    }

}
