﻿@using System.IO
@using System.Drawing
@using MouraDubeux.Admin.Blazor.Data

@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime

<div class="drag-drop-zone">
    <BlazorInputFile.InputFile OnChange="ViewFile" />
    @status - Arraste o arquivo aqui
</div>
  
@code {

    [Parameter]
    public int width { get; set; }

    [Parameter]
    public int height { get; set; }

    [Parameter]
    public EventCallback<string> ProcessarImagemCallBack { get; set; }

    string status = "";
    const int MaxFileSize = 2 * 1024 * 1024;

    string fileName;
    string fileContent;
    string imageDataURL;

    protected override void OnParametersSet()
    {
        status = width.ToString() + " x " + height.ToString();

        base.OnParametersSet();
    }

    async Task ViewFile(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file == null)
        {
            //return;
        }
        else if (file.Size > MaxFileSize)
        {
            status = $"Favor escolher um arquivo menor do que { MaxFileSize } bytes.";
        }
        else
        {

            status = "Carregando...";

            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            fileName = file.Name;

            string imageBase64Data = Convert.ToBase64String(ms.ToArray());

            using (var msResize = new MemoryStream(ms.ToArray()))
            {
                var image = Image.FromStream(msResize);

                if (image.Width != width || image.Height != height)
                {
                    await JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Ops, a imagem não está no formato padrão de " + width.ToString() + " x " + height.ToString(), tipo = "error" });
                    await ProcessarImagemCallBack.InvokeAsync("");
                    imageDataURL = null;
                    return;
                } else
                {
                    imageDataURL = string.Format("data:image/jpeg;base64,{0}", imageBase64Data);
                }

                //imageDataURL = helpService.GetBase64ImageString(image, width, height);
            }
            var retorno = imageDataURL;
            await ProcessarImagemCallBack.InvokeAsync(retorno);

            status = width.ToString() + " x " + height.ToString();
        }
    }
}
