﻿// css page

.color__first h1 {
    color: $first !important;
}

.color__second h1 {
    color: $second !important;
}

.color__third h1 {
    color: $third !important;
}

.color__fourth h1 {
    color: $fourth !important;
}

.color__fifth h1 {
    color: $fifth !important;
}

.color__sixth h1 {
    color: $sixth !important;
}

.color__seventh h1 {
    color: $seventh !important;
}
