﻿@page "/SetUpRoles"
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration
@using MouraDubeux.Admin.Data.Data.Interfaces.Pagina
@using MouraDubeux.Admin.Data.Models.Pagina

@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@inject IPaginaDataService paginaDataService
@inject IConfiguration config

<h3>Set Up Roles</h3>
<p>
    This page has now set up the roles and marked the appropriate user as administrator.
</p>

@code {
    protected override async Task OnParametersSetAsync()
    {
        SetPaginas();
        //await SetUpAuth();
    }

    private void SetPaginas()
    {
        if (paginaDataService.GetPagina("home").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "home", Titulo = "Home" };
            paginaDataService.PaginaCreate(pagina);
        }
        if (paginaDataService.GetPagina("quem-somos").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "quem-somos", Titulo = "Quem Somos" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("programa-de-integridade").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "programa-de-integridade", Titulo = "Programa de Integridade" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("sala-de-imprensa").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "sala-de-imprensa", Titulo = "Sala de Imprensa" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("fale-conosco").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "fale-conosco", Titulo = "Fale Conosco" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("trabalhe-conosco").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "trabalhe-conosco", Titulo = "Trabalhe Conosco" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("nossos-escritorios").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "nossos-escritorios", Titulo = "Nossos Escritórios" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("venda-seu-terreno").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "venda-seu-terreno", Titulo = "Venda seu Terreno" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("simulador").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "simulador", Titulo = "Simulador" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("como-investir").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "como-investir", Titulo = "Como Investir" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("faq").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "faq", Titulo = "Faq" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("projetos-sociais").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "projetos-Sociais", Titulo = "Projetos Sociais" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("modelos").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "modelos", Titulo = "Modelos" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("portfolio").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "portfolio", Titulo = "Portfólio" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("blog").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "blog", Titulo = "Blog" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("area-do-cliente").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "area-do-cliente", Titulo = "Área do Cliente" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("mapa-do-site").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "mapa-do-site", Titulo = "Mapa  do Site" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("politica-privacidade").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "politica-privacidade", Titulo = "Politica Privacidade" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("comprar-terreno").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "comprar-terreno", Titulo = "Comprar Terreno" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("simular").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "simular", Titulo = "simular" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("pernambuco").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "pernambuco", Titulo = "pernambuco" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("ceara").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "ceara", Titulo = "ceara" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("alagoas").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "alagoas", Titulo = "alagoas" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("bahia").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "bahia", Titulo = "bahia" };
            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("rio-grande-do-norte").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "rio-grande-do-norte", Titulo = "rio-grande-do-norte" };
            paginaDataService.PaginaCreate(pagina);
        }
    }

    private async Task SetUpAuth()
    {
        const string adminstrator = "Administrator";
        const string editor = "Editor";

        string[] roles = { adminstrator, editor };

        foreach (var role in roles)
        {
            var roleExist = await roleManager.RoleExistsAsync(role);

            if (roleExist == false)
            {
                await roleManager.CreateAsync(new IdentityRole(role));
            }
        }

        var user = await userManager.FindByEmailAsync(config.GetValue<string>("AdminUser"));

        if (user != null)
        {
            await userManager.AddToRoleAsync(user, adminstrator);
        }
        var userEditor = await userManager.FindByEmailAsync(config.GetValue<string>("EditorUser"));

        if (userEditor != null)
        {
            await userManager.AddToRoleAsync(user, editor);
        }
    }
}
