﻿@using MouraDubeux.Front.Blazor.Models

<section class="content__inner md__forms">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1>Venda seu terreno</h1>
                <p>Temos interesse em terrenos nos estados de <b>Alagoas, Bahia, Ceará, Pernambuco e Rio Grande do Norte</b>. Preencha o formulário abaixo e entraremos em contato. Para que você escolher aquela que é mais conveniente. Confira:</p>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
                    <div class="form-group">
                        <InputText @bind-Value="model.Nome" class="form-control form-control-lg" id="Nome" placeholder="Qual o seu nome?"></InputText>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Email" class="form-control form-control-lg" id="Email" placeholder="Qual e o email que você mais usa?"></InputText>
                        </div>
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Telefone" class="form-control form-control-lg" id="Telefone" placeholder="Qual é o seu telefone com DDD?"></InputText>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <InputSelect @oninput="HandleFirstDropDownChange" class="form-control form-control-lg estado" @bind-Value="model.Estado">
                                <option disabled selected value>Selecione o estado do terreno</option>
                                @foreach (var e in estados)
                                {
                                    <option value="@(e.Slug)">@(e.Nome)</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group col-md-6">

                            <InputSelect class="form-control form-control-lg cidade" @bind-Value="model.Cidade">
                                <option disabled selected value>Selecione a cidade do terreno</option>
                                @if (cidades.Count > 0)
                                {
                                    @foreach (var cidade in cidades)
                                    {
                                        <option value="@(cidade.Slug)">@(cidade.Nome)</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Bairro" class="form-control form-control-lg" id="Bairro" placeholder="Qual é o bairro do terreno?"></InputText>
                        </div>
                        <div class="form-group col-md-6">
                            <InputText @bind-Value="model.Metragem" class="form-control form-control-lg" id="Metragem" placeholder="Qual é o tamanho do terreno em m²? "></InputText>
                        </div>
                    </div>
                    <div id="money__mask" class="input-group-prepend form-group">
                        <span class="input-group-text" id="basic-addon1">R$</span>
                        <InputText @bind-Value="model.Valor" class="form-control form-control-lg" id="Valor" placeholder="Qual é o valor da proposta?"></InputText>
                    </div>
                    <div class="form-group">
                        <InputTextArea @bind-Value="model.Mensagem" class="form-control form-control-lg" id="Mensagem" placeholder="Descreva o seu terreno"></InputTextArea>
                    </div>
                    <div class="form-group col-md">
                        <button type="submit" class="btn btn__first">Finalizar cadastro</button>
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {
}
