﻿// css page simulador
.content__inner {
    h1 {
        padding-bottom: 3rem;
    }

    h3 {
        color: $first;
        font-size: 1.4rem;
        font-weight: 700;
    }
}
.md__forms {
    background-image: url(/img/simulador2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1rem;
    padding-bottom: 3rem;

    h2 {
        padding-top: 2rem;
        padding-bottom: .3rem;
        margin: 0rem;
    }

    p {
        color: #fff;
        padding: 0rem;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }

    .form-control {
        border-radius: 1.87rem;
        padding-left: 1.5rem;
    }

    textarea {
        height: 10rem;
        padding-top: 1rem;

        placeholder {
            padding-top: 10rem;
        }
    }

    button {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}
