﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h1>Entenda nosso modelo de negócio</h1>
            </div>
            <div class="col-md-12 text-left">
                <p>Participamos diretamente de todas as fases da incorporação mobiliária dos nossos empreendimentos. Além do regime mais conhecido, que é o de incorporação, realizamos obras de condomínio fechado, também conhecido como regime de administração.</p>
                <p>No caso desse tipo de obra, um grupo de pessoas contrata diretamente a nossa empresa para fazer a obra. Assim, é possível adquirir imóveis a preço de custo, com um valor até 20% menor do que seria em um regime de incorporação. Esse grupo terá uma relação muito mais próxima com a construtora e poderá ter diversas opções de customização para o imóvel.</p>
                <p>Os condôminos têm responsabilidade por todo o custeio e financiamento da obra. Por isso, nós prestamos contas em detalhes de tudo o que acontece em assembleias trimestrais. Em caso de inadimplência, nós mesmos cuidamos para administrar a questão e não comprometer o fluxo da obra. </p>
            </div>
            @if (empreendimentosIncorporacao != null && empreendimentosIncorporacao.Count() > 0)
            {
                <div class="col-md-12 text-center">
                    <h2>Conheça empreendimentos de regime de incorporação</h2>
                </div>
                <div class="col-md-12">
                    <section class="lista__cards-emp">
                        <div class="container">
                            <section class="d-flex flex-column justify-content-center">
                                <div class="d-flex flex-wrap justify-content-around">
                                    @{
                                        int i = 0;
                                        foreach (var empreendimento in empreendimentosIncorporacao)
                                        {
                                            if (i > 5)
                                            {
                                                break;
                                            }
                                            <CardHomeComponent EmpreendimentoModel="empreendimento" />
                                            i++;
                                        }
                                    }
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            }

            @if (empreendimentosAdministracao != null && empreendimentosAdministracao.Count() > 0)
            {
                <div class="col-md-12 text-center">
                    <h2>Conheça empreendimentos de regime de administração</h2>
                </div>
                <div class="col-md-12">
                    <section class="lista__cards-emp">
                        <div class="container">
                            <section class="d-flex flex-column justify-content-center">
                                <div class="d-flex flex-wrap justify-content-around">
                                    @{
                                        int j = 0;
                                        foreach (var empreendimento in empreendimentosAdministracao)
                                        {
                                            if (j > 5)
                                            {
                                                break;
                                            }
                                            <CardHomeComponent EmpreendimentoModel="empreendimento" />
                                            j++;
                                        }
                                    }
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            }

        </div>
    </div>
</section><!--/.heroImage-->



@code {

}