﻿@page "/home/banner/inserir"

@using MouraDubeux.Admin.Blazor.Data
@using System.IO
@using Microsoft.Extensions.Configuration

@inject IIdiomaDataService idiomaDataService


<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <div class="row">

        <div class="col-md-12 mb-xl-3">
            <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <UploadImgFile width="600" height="400" ProcessarImagemCallBack="HandleProcessarImagemCallBack"></UploadImgFile>
            </div>
            <div class="form-group">
                @if (model.LinkImagem != null)
                {
                    <ImgComponent LinkImagem="@model.LinkImagem" ></ImgComponent>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <InputText @bind-Value="model.Titulo" class="form-control form-control-lg"></InputText>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <InputText @bind-Value="model.Descricao" class="form-control form-control-lg"></InputText>
            </div>
            <div class="form-group">
                <label>Link</label>
                <InputText @bind-Value="model.Link" class="form-control form-control-lg"></InputText>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
    </div>
</EditForm>
