﻿@page "/Home/Banner"
@using BlazorTable

<h3>Banner</h3>
<button class="btn btn-primary btn-lg" @onclick="(() => CreateBanner())">
    Criar
</button>

<Table TableItem="IHomeBannerModel" Items="@modelList" PageSize="10">
    <Column TableItem="IHomeBannerModel" Title="Img" Field="@(x => x.LinkImagem)" Width="10%">
        <Template>
            <ImgComponent LinkImagem="@context.LinkImagem" Class="table-img-mini"></ImgComponent>
        </Template>
    </Column>
    <Column TableItem="IHomeBannerModel" Title="Id" Field="@(x => x.Id)" Sortable="true" Filterable="true" Width="10%" />
    <Column TableItem="IHomeBannerModel" Title="Titulo" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="10%" />
    <Column TableItem="IHomeBannerModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
        <Template>
            <button class="btn btn-primary" @onclick='() => EditBanner(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
            <button class="btn btn-danger" @onclick='() => DeleteBanner(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
        </Template>
    </Column>
    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>

<div class="modal fade" id="modal-form-banner"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <HomeBannerFormComponent modelDatalhes="modelDetalhes" OnSave="GetBanners"></HomeBannerFormComponent>
            </div>
        </div>
    </div>
</div>