p, li, span{
    @extend %p__default-empreendimento;
}
h2{
    @extend %h2__default-empreendimento;
}
.not__inner{
    display: none !important;
    left: -10000px !important;
}
.menu{
    .yes__inner{
        height: auto;
        width: auto;
        left: auto;
        opacity: 1;
        display: inline-block;
    }
}
.cta{
    &__scrolled{
        opacity: 1;
        height: auto;
        width: auto;
        .consultor__emp{
            height: auto;
            width: auto;
            &.yes__inner{
                height: auto;
                width: auto;
                left: auto;
                opacity: 1;
            }
        }
    }
}

#modalNewsletter, #modalNewsletterRD{
    button.close {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 20px;
        span{
            font-size: 20px;
        }
    }
    #modalNewsletterLongTitle{
        display: none !important;
    }
    #modalNewsletterLongTitleEmp{
        display: block !important;
    }
    .modal-header{
        border-bottom: none;
        padding: 0;
    }
    section{
        padding: 0;
    }
    .bricks--component.bricks--component-button.rd-button{
        background: $first !important;
        color: #fff !important;
    }
    button.close {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 20px;

        span{
            font-size: 20px;
        }
    }
    .bricks--component.bricks--component-embeddable-form{
        border-radius: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
    .bricks--section.rd-section{
        @extend %bg__fifth; 
        h2, h2 strong{
            color: #4f4f4f !important;
        }
    }
}
