.carousel{
    @include media-breakpoint-up(md){
        .container{
            height: 100%;
            position: absolute;
            top: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
    .carousel-item{
        @extend %bg__attach-fixed;
        @extend %bg__responsive;
        @include media-breakpoint-down(md){
            background-image: none !important;
        }
        @include media-breakpoint-up(lg){
            min-height: 70vh;
            margin-top:58px;
        }
        @include media-breakpoint-down(md){
            .container{
                padding: 0;
            }
        }
        @include media-breakpoint-up(md){
            &:after{
                content: '';
                border-bottom: 26.8px solid;
                border-color: $second;
                height: 100%;
                z-index: 9;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
    }

 
    .card{
        @include media-breakpoint-up(md){
            position: absolute;
            bottom: 0;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 0;
            color: #fff;
            text-align: center;
        }
        $border-radius: 25px;
        border: none;
        padding: 0;
        border-radius: 0;   
        background: transparent;
        z-index: 9999;
        flex-direction: row;
        @include media-breakpoint-up(md){
            justify-content: flex-start;
        }
        .media, .status{
            padding-top: 1rem;
        }
        .media{
            img{
                max-width: 94px;
            }
            @include media-breakpoint-down(md){
                max-width: 75%;
                padding: 15px 0;
                img{
                    max-width: 72px;
                }
            }
            @include media-breakpoint-up(md){
                border-top-left-radius: $border-radius;
                box-shadow: 0px -8px 7px rgba(0, 0, 0, 0.15);
                background: #FFFFFF;
            }
        }
        .media-body{
            text-align: center;
            @include media-breakpoint-up(md){
                text-align: left;
            }
        }
        h1{
            font-weight: bold;
            color: #4F4F4F;
            @include rhythm(24,29);
            @include media-breakpoint-up(md){
                @include rhythm(36,43);
            }
        }
        h5{
            font-weight: 500;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            @include rhythm(10,12);
            @include media-breakpoint-up(md){
                @include rhythm(12,14);
            }
            color: #DC8F31;
            &:before, &:after{
                content: '';    
                width: 7px;    
                height: 1px;
                margin: 0 10px;
                background: #ccc;  
                display: inline-block;
                vertical-align: middle;   
                @include media-breakpoint-down(md){
                    width: 3px;
                    margin: 0 5px;
                }
                
            }
        }
        .status{
            @include media-breakpoint-up(lg){
                flex: 0 0 11.666667%;
                max-width: 18.666667%;
            }
            @include media-breakpoint-down(sm){
                position: absolute;
                right: 0;
                width: auto;
                top: -1.5rem;
                border-top-left-radius: $border-radius;
                border-top-right-radius: 0;
                padding-bottom: 0;
            }
            border-top-left-radius: 0;
            border-top-right-radius: $border-radius;
            @extend %bg__first;
            img{
                padding-top: 10px;
            }
            p{
                @extend %color__fourth;
                margin: 15px 0 30px 0;
                font-weight: 600;
                @include rhythm(12, 14);
            }
        }
    }
}




.video{
    .youtube-video{
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
    .poster{
        cursor: pointer;
    }
    &__active-click{
        .youtube-video{
            opacity: 1;
            position: relative;
            width: 100%;
            height: 480px;
        }
        .poster{
            position: absolute;
            opacity: 0;
        }
    }

}
