.lSSlideOuter{
    .lSAction > .lSNext{
        background-image: url(/img/next.png);
    }
    .lSAction > .lSPrev{
        background-image: url(/img/prev.png);
    }
    .lSAction > a {
        opacity: .9;
        height: 50px;
    }
    a{
       > figure{
            img{
                width: 100%;
                @extend %border__radius-default;
                @include media-breakpoint-up (md){
                    max-height: 310px;
                }
            }
        }
       
        .caption{
            margin-top: 10px;
            // position: relative;
            // margin-bottom: 50px;
            legend{
                text-align: center;
                
                h3{
                    @extend %color__third;
                    font-weight: 700;
                    @include rhythm (16, 22);
                }
                p{
                    @extend %color__fourth;
                    @include rhythm (14, 18);
                }
            }
        }
        
        &:hover{
            text-decoration: none;
        }
        figure{
            margin-bottom: 0;
        }
        .tint{
            position: relative;
            cursor: pointer;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.47) 76%);
                border-radius: 30px;
                transition: all .3s linear;
            }
        }
    }
}

.lg-sub-html {

    legend{
        p{
            font-size: 24px;
            color: white;
            opacity: .7;
        }
    }
    
}