.places_close{
    background: linear-gradient(180deg, #F0F0F0 -6.71%, rgba(245, 245, 245, 0) 54%);
    @include media-breakpoint-down(md){

    }
    .column-count{
        &.column-count-two{ 
            list-style: none;
            column-count: 1;
            @include media-breakpoint-up(md){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
    
            }
        }
    }
}
.map{
    .services{
        @include media-breakpoint-down(md){
            column-count: unset !important;
            
        }
    }
    .places_close{
        li{
            @include media-breakpoint-down(md){
                width: 35%;
                display: inline-block;
            }
            span{
                a{
                    display: flex;
                    width: 130%;
                    border-radius: 30px;
                    border: 2px solid transparent;
                    padding: 8px 18px;
                    align-items: center;
                    @include media-breakpoint-down(md){
                        padding: 8px 2px;
                    }
                }
               
            }
            &.active{
                span{
                    a{
                        border-color: transparent;
                    }
                }
            }
        }
        @include media-breakpoint-up(md){
            padding-left: 3rem;
        }
        @include media-breakpoint-down(md){
            padding: 0;
            background: $first;
            h3{
                color: #fff;
            }
            li{
                p{
                    color: #fff;
                }
                img{
                    filter: brightness(0) invert(1);
                }
                span{
                    a{
                        color: #fff;
                    }
                   
                }
                &.active{
                    span{
                        a{
                            border-color: #fff;
                        }
                    }
                }
            }
        }
        background: none;
        &__item{

            p{
                text-transform: capitalize;
            }
            
        }
    }
}
#map {
    height: 500px;
    margin: 10px auto;
    width: 100%;
    // div[style*='position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;'] div[style*='width: 70px; height: 70px; overflow: hidden; position: absolute;'] {
    //     background: url('/img/pin2.png');
    //     background-size: contain;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }
    // img[src*='.svg'] {
    //     max-width: 38px !important;
    //     height: 36px !important;
    //     border-radius: 50%;
    //     background: #f2f2f2;
    //     margin-left: 15px !important;
    //     margin-top: 8px !important;
    // }
    div[style*='position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;'] div[style*='width: 50px; height: 50px; overflow: hidden; position: absolute;'] {
        background: #FCEAC7;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        max-width: 40px;
        max-height: 40px;
    }
    img[src*='.svg'] {
        max-width: 35px !important;
        height: 31px !important;
        border-radius: 50%;
        /* background: #f2f2f2; */
        margin-left: 3px !important;
        margin-top: 3px !important;
        //filter: brightness(0) invert(1);
    }
}
