.places_close{
    background: linear-gradient(0deg, #f0f0f0 -6.71%, rgba(245, 245, 245, 0) 28%);
    h2{
        @extend %color__third;
    }
    h3{
        @extend %color__first;
        font-weight: 700;
        @include rhythm (22, 26);
        margin-top: 2rem;
        @include media-breakpoint-up(md){
            font-weight: 600;
            @include rhythm (24, 29);
            margin-top: 1rem;
        }
    }
    .places_close__category{
        .places_close__list{
            width: 100%;
            margin-top: 1.5rem;
            
            @include media-breakpoint-up(md){
                margin-top: 2.5rem;
            }
            padding: 0;
            list-style: none;
            .media{
                transform: translateZ(0);
                align-items: center;
            }
            li{
                a{
                    font-weight: 400;
                    color: #4F4F4F;
                }
                &:not(:last-child){
                    margin-bottom: 1rem;
                }
                img{
                    max-width: 27px;
                }
            }
            @include media-breakpoint-down(md){
                column-count: 2;
            }
        }
        .media-body{
            @extend %p__default;
        }
    }

}