.status__list{
    @include media-breakpoint-down(md){
        margin-top: 2rem;
    }
    list-style-type: none;
    li{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        justify-content: space-between;
        &.status__item-animated{
            .progress{
                .progress-bar{
                    animation: progress 1.5s ease-in-out forwards;
                }
            }
        }
    }
    label{
        margin: 0;
        font-weight: 700;
        @extend %color__third;
        @include rhythm(16, 19);
        @include media-breakpoint-up(md){
            @include rhythm(18, 22);
        }
    }
    .progress{
        $border__radius-progress: 8px;
        height: .875rem;
        border: 1px solid #F5F5F5;
        border-radius: $border__radius-progress;
        @extend %bg__fourth;
        .progress-bar{
            border-radius: $border__radius-progress;
            width: 0;

        }
    }    
}
@keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@include media-breakpoint-up (md){
    .order-1{
        order: 2;
    }
    .order-2{
        order: 1;
    }
}
