.video{
    &__icon{
        position: absolute;
        display: block;
        background: url('/img/youtube.png');
        height: 75px;
        width: 75px;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}