﻿<div class="busca d-none d-lg-flex">
    <div class="container d-flex justify-content-between align-items-center">
        <select name="" id="">
            <option value="">Bairro em Recife</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <select name="" id="">
            <option value="">Quartos</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <select name="" id="">
            <option value="">Estágio da obra</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <a href="" class="btn btn__first busca__botao">buscar Imóvel</a>
        <a href="" class="botao__underline">Busca Avançada 1</a>
    </div>
</div>

@code {

}
