﻿<section class="fale-com-a-gente d-lg-none">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h3>Fale com a gente</h3>

        <p class="text-center col-8">Fale com nosso atendimento online e tire suas dúvidas sobre os empreendimentos da Moura Dubeux.</p>
        <a target="_top" href="" class="btn btn__first" data-state="reversed">chat online</a>
    </div>
</section>

@code {

}
