﻿@*@if (!string.IsNullOrEmpty(estadoNome))
{*@
    <section class="container-fluid bread_crumb sticky-top">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                
                <div class="col-sm-12 col-md-7 col-lg-7 bread__v">
                    <ol class="breadcrumb w-100 text-center text-md-left">
                        <li class="breadcrumb-item text-capitalize nomeestado "><a target="_top" id="link_bread" href="#"></a></li>
                        <li class="breadcrumb-item nomecidade"><a target="_top" id="link_bread" href="#"></a></li>
                        <li class="breadcrumb-item nomebairro"><a target="_top" id="link_bread" href="#"></a></li>
                        <li class="breadcrumb-item active nomeemp"></li>
                    </ol>
                </div>
                 <div class="col-sm-3 col-5 col-md-3 col-lg-2 text-center text-md-right">
                    <p>
                        <svg class="mr-2" width="17" height="23" viewBox="0 0 17 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.64827 0.9375C4.15154 0.9375 0.494629 4.5009 0.494629 8.88266C0.494629 14.39 7.85465 21.6254 8.1672 21.9313C8.30038 22.0597 8.47432 22.1246 8.64827 22.1246C8.82221 22.1246 8.99616 22.0597 9.12933 21.9313C9.44189 21.6254 16.8019 14.39 16.8019 8.88266C16.8019 4.5009 13.145 0.9375 8.64827 0.9375ZM8.64827 20.5051C7.02569 18.8128 1.85357 13.0896 1.85357 8.88266C1.85357 5.23186 4.90167 2.26169 8.64827 2.26169C12.3949 2.26169 15.443 5.23186 15.443 8.88266C15.443 13.0856 10.2708 18.8128 8.64827 20.5051Z" fill="#A50112" />
                            <path d="M8.64811 4.91003C6.40042 4.91003 4.57129 6.6924 4.57129 8.88261C4.57129 11.0728 6.40042 12.8552 8.64811 12.8552C10.8958 12.8552 12.7249 11.0728 12.7249 8.88261C12.7249 6.6924 10.8958 4.91003 8.64811 4.91003ZM8.64811 11.531C7.1492 11.531 5.93023 10.3432 5.93023 8.88261C5.93023 7.42203 7.1492 6.23423 8.64811 6.23423C10.147 6.23423 11.366 7.42203 11.366 8.88261C11.366 10.3432 10.147 11.531 8.64811 11.531Z" fill="#A50112" />
                        </svg>
                        Você está em
                    </p>
                </div>
                <div class="col-md-3 col-7 state_select">
                    <EditForm Model="@estado">
                        <InputSelect @oninput="HandleFirstDropDownChange" class="form-control form-control-lg estado" @bind-Value="estado">
                            <option value="alagoas">Alagoas</option>
                            <option value="bahia">Bahia</option>
                            <option value="ceara">Ceará</option>
                            <option value="pernambuco">Pernambuco</option>
                            <option value="rio-grande-do-norte">Rio Grande do Norte</option>
                        </InputSelect>
                    </EditForm>
                </div>
                
               
            </div>
        </div>
    </section>

@*}*@

@code {

}