﻿<section class="d-none d-lg-flex justify-content-between">
    <img src="/img/vitrine.png" class="vitrine__img col-5" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"/>
    <div class="col-5 d-flex flex-column justify-content-between">
        <h2 class="mb-0">Entre em contato</h2>
        <p>Fale com nosso atendimento online e tire suas dúvidas sobre os empreendimentos da Moura Dubeux.</p>
        <a target="_top" data-toggle="modal" data-target="#modalNewsletterRD" rel="noopener noreferrer">
            <div class="btn btn__first">
                Quero falar com um consultor
            </div>
        </a>
    </div>
</section>
@code {

}
