﻿<section class="content__inner area__home" style="background-image: url('/img/area.jpg');background-size: cover;    background-position: center;">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="text-white">Área do Cliente</h2>
                <p class="text-white">Espaço  criado especialmente para atender as necessidades de quem já é nosso cliente.</p>
                <a href="http://mdnet.mouradubeux.com.br/mdnet/login.php" target="_blank">
                    <div data-state="reversed" class="btn btn__first">
                        Acesse
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>