﻿<section class="content__inner area__home">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 d-md-none">
                <h2 class="mb-4">Há mais de 30 anos construindo sonhos.</h2>
            </div>
            <div class="col-md-8">
                <div class="video__player">
                    <div class="cont">
                        <div class="md__gallery">
                            <ul id="Lightgallery">
                                <li class="video" data-src="https://www.youtube.com/watch?v=NZuPkPSPyzo" data-poster="/img/video-bg-md.jpg">
                                    <a target="_top" href="">
                                        <img class="img-responsive" src="/img/video-bg-md.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                                        <div class="md__gallery-poster rounded-img">
                                            <img src="/img/player_button.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-left first">
                <h2 class="d-none d-md-block">Há mais de 30 anos construindo sonhos.</h2>
                <p>A Moura Dubeux é uma das maiores construtoras e incorporadoras do Nordeste.  </p>
                <a target="_top" href="/quem-somos">

                    Conheça

                </a>
            </div>
        </div>
    </div>
</section>