﻿@page "/accesspoint"

<link rel="stylesheet" href="app/css/accessPoint.css" />

<FiltroComponent />

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text">
                <h1 class="mb-4">Bem vindo!</h1>

                Navegue em:
                <ul class="mt-3">
                    <li><a target="_top" href="#">Home</a></li>
                    <li><a target="_top" href="/area-do-cliente">Área do cliente</a></li>
                    <li><a target="_top" href="/como-investir">Como Investir</a></li>
                    <li><a target="_top" href="/comprar-terreno">Comprar Terreno</a></li>
                    <li><a target="_top" href="/empreendimentos">Empreendimentos</a></li>
                    <li><a target="_top" href="/fale-conosco">Fale Conosco</a></li>
                    <li><a target="_top" href="/faq">FAQ</a></li>
                    <li><a target="_top" href="/modelos">Modelos</a></li>
                    <li><a target="_top" href="/nossos-escritorios">Nossos Escritorios</a></li>
                    <li><a target="_top" href="/politica-privacidade">Política de Privacidade </a></li>
                    <li><a target="_top" href="/portfolio">Portfolio</a></li>
                    <li><a target="_top" href="/programa-de-integridade">Programa de Integridade</a></li>
                    <li><a target="_top" href="/projetos">Projetos</a></li>
                    <li><a target="_top" href="/projetos-sociais">Projetos Sociais</a></li>
                    <li><a target="_top" href="/quem-somos">Quem Somos</a></li>
                    <li><a target="_top" href="/sala-de-imprensa">Sala de Imprensa</a></li>
                    <li><a target="_top" href="/simular">Simular</a></li>
                    <li><a target="_top" href="/trabalhe-conosco">trabalhe-conosco</a></li>
                    <li><a target="_top" href="/404">404</a></li>

                </ul>

            </div>
            <div class="col-md-12 text-left">
                <h2>Criação das páginas</h2>
                <p>
                    ------------------
                    <h5>Banner - imagem</h5>
                    <h5>Título</h5>
                    <h5>Descrição</h5>
                    ------------------
                    <h5>Cadastro de itens</h5>
                    <ol>
                        <ul>1- título</ul>
                        <ul>2- descrição</ul>
                    </ol>

                </p>
            </div>
        </div>
    </div>
</section>
