@page "/comprar-terreno"


@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="app/css/terreno.css" />


<MetadadosComponent Pagina="@Pagina" />
<FiltroComponent />
<HeroImageComponent bannerUrl="@Pagina.Banner" />
<FormCompraTerrenoComponent />
<NewsletterComponent />


@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
     if (firstRender)
        {
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
              await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");


            Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");

            Console.WriteLine("Invoked JQuery");
        

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}
