﻿@page "/elements-html"

@inject IJSRuntime jsRuntime

@*<link rel="stylesheet" href="css/style.css" />*@

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text">
                <h1>H1 Title</h1>
                <h2>H2 SubTitle</h2>
                <h3>H3 SubTitle</h3>
                <h4>H4 SubTitle</h4>
                <h5>H5 SubTitle</h5>
                <h6>H6 SubTitle</h6>
                <p>Paragrafo</p>
            </div>
        </div>
    </div>
</section>
@code {

}
<section>
    <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div id="carousel-example" class="slide card list__card" data-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active" style="background-image: url('https://mouradubeuxblobfiles.blob.core.windows.net/img/banner/c41b479d-235a-473c-9599-2744e67b45b0/antonio-e-julia-lucena_banner.jpeg');">
                    <img src="https://mouradubeuxblobfiles.blob.core.windows.net/img/banner/c41b479d-235a-473c-9599-2744e67b45b0/antonio-e-julia-lucena_banner.jpeg" class="card-img-top w-100 d-none" srcset="" lazy="loading" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux"><!--!-->
                    <!--!--><div class="card-icon d-flex flex-column col-4">
                        <img class="col-7 m-auto" src="/img/CONSTRUCAO.png" srcset="" lazy="loading" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                        <span class="col-12">Construção</span>
                    </div>
                </div>
            </div><!--!-->
            <!--!--><a target="_top" class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!--!--><a target="_top" class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <div class="card-body text-center">
                <h6 class="card-h6 text-uppercase">Residencial Condomínio</h6><!--!-->
                <h3 class="card-h3">Antônio e Júlia Lucena</h3><!--!-->
                <p class="d-flex align-items-center justify-content-center">
                    <!--!--><svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.71139 0.255493C3.95769 0.255493 0.903809 3.30937 0.903809 7.06307C0.903809 8.33132 1.25512 9.56902 1.91999 10.6428L7.32388 19.3511C7.4274 19.5179 7.60976 19.6193 7.8059 19.6193C7.80741 19.6193 7.80889 19.6193 7.8104 19.6193C8.00823 19.6177 8.19098 19.5132 8.2926 19.3435L13.5588 10.5508C14.1869 9.49973 14.519 8.29369 14.519 7.06307C14.519 3.30937 11.4651 0.255493 7.71139 0.255493ZM12.5851 9.96832L7.79731 17.9622L2.88432 10.045C2.3309 9.15126 2.03084 8.12014 2.03084 7.06307C2.03084 3.93499 4.5833 1.38253 7.71139 1.38253C10.8395 1.38253 13.3882 3.93499 13.3882 7.06307C13.3882 8.08878 13.1079 9.09354 12.5851 9.96832Z" fill="#A50112"></path>
                        <path d="M7.71141 3.6593C5.83456 3.6593 4.30762 5.18624 4.30762 7.06309C4.30762 8.92795 5.80971 10.4669 7.71141 10.4669C9.63655 10.4669 11.1152 8.90745 11.1152 7.06309C11.1152 5.18624 9.58826 3.6593 7.71141 3.6593ZM7.71141 9.33985C6.45363 9.33985 5.43465 8.31746 5.43465 7.06309C5.43465 5.81186 6.46017 4.78633 7.71141 4.78633C8.96264 4.78633 9.98438 5.81186 9.98438 7.06309C9.98438 8.29916 8.98911 9.33985 7.71141 9.33985Z" fill="#A50112"></path>
                    </svg>

                    <span class="pl-2">Recife - PE</span>
                </p><!--!-->
                <!--!--><div>
                    <hr class="card-hr">
                    <p class="mb-2">A partir de:</p>
                    <h3 class="text-uppercase card-h3--size">A PREÇO DE CUSTO</h3>
                    <hr class="card-hr">
                </div>

                <div class="card-diferenciais mb-3">
                    <p>
                        <!--!--><svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.8434 0.376913C20.8434 3.83189 20.8434 7.25081 20.8434 10.7058C20.683 10.7058 20.5404 10.7058 20.3919 10.7058C18.9366 10.7058 17.4812 10.6998 16.0258 10.7118C15.8892 10.7118 15.7288 10.7959 15.6338 10.8921C15.0932 11.4449 14.4041 11.6852 13.6972 11.8715C11.7013 12.4062 9.65784 12.5384 7.6025 12.4423C6.4085 12.3882 5.22044 12.238 4.03833 12.0698C3.25421 11.9616 2.49385 11.7333 1.7929 11.3367C1.19293 10.9942 0.878092 10.5255 0.889973 9.78647C0.919674 7.60532 0.913734 5.41817 0.895913 3.23703C0.884033 2.57007 1.16323 2.09539 1.68597 1.73487C2.36316 1.2722 3.12946 1.03786 3.90764 0.845588C5.35707 0.497086 6.8362 0.370904 8.32127 0.364895C12.4023 0.358887 16.4773 0.358887 20.5583 0.358887C20.6474 0.364895 20.7305 0.370904 20.8434 0.376913ZM14.7546 4.64907C10.5073 6.04307 6.31346 6.04307 2.08991 4.64306C2.08991 6.38557 2.08991 8.15211 2.09585 9.92466C2.09585 10.0148 2.16713 10.153 2.24436 10.189C2.62454 10.3813 3.0166 10.5556 3.46806 10.7599C3.46806 9.79247 3.46806 8.92723 3.46806 8.04396C3.87794 8.04396 4.25812 8.04396 4.67394 8.04396C4.67394 9.02938 4.67394 9.99677 4.67394 10.9882C5.25014 11.0543 5.79071 11.1204 6.3788 11.1865C6.3788 10.4054 6.3788 9.67831 6.3788 8.94525C6.78868 8.94525 7.16886 8.94525 7.56686 8.94525C7.56686 9.72037 7.56686 10.4654 7.56686 11.2406C8.14306 11.2406 8.70145 11.2406 9.28954 11.2406C9.28954 10.153 9.28954 9.09547 9.28954 8.04396C9.69942 8.04396 10.0796 8.04396 10.4895 8.04396C10.4895 9.09547 10.4895 10.123 10.4895 11.1925C11.0716 11.1204 11.6181 11.0543 12.1884 10.9822C12.1884 10.2792 12.1884 9.61221 12.1884 8.94525C12.5983 8.94525 12.9785 8.94525 13.3824 8.94525C13.3824 9.5341 13.3824 10.0989 13.3824 10.7418C13.7804 10.5736 14.1309 10.4234 14.4814 10.2732C14.6833 10.183 14.7605 10.0328 14.7546 9.79848C14.7427 8.75899 14.7487 7.71348 14.7487 6.67398C14.7546 5.99501 14.7546 5.30401 14.7546 4.64907ZM8.30939 1.56062C7.95892 1.57864 7.49557 1.59066 7.02629 1.6207C5.80853 1.69281 4.60265 1.84302 3.4443 2.2396C3.02848 2.37779 2.64236 2.61213 2.25624 2.82844C2.06021 2.9366 2.07209 3.09883 2.25624 3.22501C2.47009 3.36321 2.68988 3.50742 2.92155 3.60957C3.9314 4.04219 5.00065 4.22846 6.08773 4.33662C8.3985 4.56494 10.6914 4.5349 12.9488 3.94605C13.4953 3.80185 14.018 3.53746 14.5229 3.27308C14.8318 3.11085 14.8199 2.96063 14.517 2.78037C14.1725 2.57007 13.8101 2.37779 13.4299 2.25161C11.8023 1.70483 10.1152 1.60268 8.30939 1.56062ZM17.2139 1.58465C16.4654 1.58465 15.7348 1.58465 14.9566 1.58465C15.0457 1.65075 15.0932 1.6868 15.1407 1.71684C15.6932 2.08938 15.9605 2.57608 15.9545 3.27308C15.9248 5.21989 15.9427 7.1727 15.9427 9.12551C15.9427 9.23968 15.9427 9.35985 15.9427 9.46801C16.3941 9.46801 16.804 9.46801 17.2139 9.46801C17.2139 6.83021 17.2139 4.21043 17.2139 1.58465ZM19.6435 9.48002C19.6435 6.8242 19.6435 4.20443 19.6435 1.58465C19.2276 1.58465 18.8356 1.58465 18.4495 1.58465C18.4495 4.22846 18.4495 6.85424 18.4495 9.48002C18.8593 9.48002 19.2395 9.48002 19.6435 9.48002Z" fill="#A50112"></path>
                            <path d="M8.42233 3.59164C8.14314 3.59164 7.86988 3.59765 7.59069 3.59164C7.21645 3.57962 6.95508 3.32726 6.95508 2.98477C6.95508 2.63026 7.20457 2.3839 7.59069 2.3839C8.15502 2.37789 8.71934 2.37789 9.27773 2.3839C9.63415 2.38991 9.88364 2.64828 9.88958 2.97876C9.88958 3.30923 9.64009 3.57361 9.28367 3.58563C8.99854 3.60366 8.7134 3.59164 8.42233 3.59164Z" fill="#A50112"></path>
                        </svg>
                        <span>91 m²</span>
                    </p><!--!-->
                    <p>
                        <!--!--><svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M6.24398 15.0337L4.05284 12.7209C3.62349 12.2687 3.05438 12.0195 2.44808 12.0195H0.930415C0.679896 12.0195 0.476562 12.2342 0.476562 12.4986C0.476562 12.763 0.679896 12.9776 0.930415 12.9776H2.44804C2.80565 12.9776 3.15692 13.1309 3.41016 13.3982L4.82703 14.8938H0.930415C0.679896 14.8938 0.476562 15.1084 0.476562 15.3729C0.476562 15.6373 0.679896 15.8519 0.930415 15.8519H5.92262C6.10596 15.8519 6.27117 15.735 6.34197 15.5559C6.41277 15.3767 6.37375 15.1707 6.24398 15.0337Z" fill="#A50112"></path>
                                <path d="M5.92292 17.2892C5.6724 17.2892 5.46906 17.5038 5.46906 17.7682V19.2054C5.46906 19.4698 5.26484 19.6845 5.01521 19.6845H2.29218C2.04255 19.6845 1.83833 19.4698 1.83833 19.2054V17.2892C1.83833 17.0247 1.63499 16.8101 1.38447 16.8101C1.13396 16.8101 0.930664 17.0247 0.930664 17.2892V19.2054C0.930664 19.9978 1.54152 20.6425 2.29218 20.6425H5.01521C5.76587 20.6425 6.37673 19.9978 6.37673 19.2054V17.7682C6.37673 17.5038 6.17344 17.2892 5.92292 17.2892Z" fill="#A50112"></path>
                                <path d="M19.7477 9.1999C18.4969 8.50912 15.6895 8.18719 10.9151 8.18719C6.14066 8.18719 3.33326 8.50912 2.08245 9.1999C0.657415 9.98553 0.0229492 11.2981 0.0229492 13.4568C0.0229492 15.532 0.473143 17.3371 0.492204 17.4127C0.544835 17.6226 0.724555 17.7682 0.930612 17.7682H4.90807L6.62719 18.6756C6.69072 18.7091 6.76062 18.7264 6.83053 18.7264H14.9996C15.0695 18.7264 15.1394 18.7091 15.202 18.6756L16.9221 17.7682H20.8995C21.1056 17.7682 21.2853 17.6226 21.3379 17.4127C21.357 17.3371 21.8072 15.532 21.8072 13.4568C21.8072 11.2981 21.1727 9.98553 19.7477 9.1999ZM20.541 16.8101H16.8159C16.7451 16.8101 16.6752 16.8273 16.6125 16.8609L14.8925 17.7682H6.93762L5.21849 16.8609C5.15497 16.8273 5.08506 16.8101 5.01516 16.8101H1.29005C1.1639 16.1998 0.930612 14.8814 0.930612 13.4567C0.930612 11.6526 1.38625 10.6648 2.5018 10.0487C3.58918 9.44893 6.41935 9.14524 10.9151 9.14524C15.4108 9.14524 18.2409 9.44897 19.3283 10.0487C20.4439 10.6648 20.8995 11.6526 20.8995 13.4567C20.8995 14.8814 20.6662 16.1998 20.541 16.8101Z" fill="#A50112"></path>
                                <path d="M20.8995 14.8938H17.0028L18.4188 13.3983C18.6729 13.1309 19.0233 12.9777 19.3818 12.9777H20.8995C21.15 12.9777 21.3533 12.763 21.3533 12.4986C21.3533 12.2342 21.15 12.0195 20.8995 12.0195H19.3818C18.7755 12.0195 18.2064 12.2687 17.7771 12.7209L15.5859 15.0337C15.4571 15.1708 15.418 15.3767 15.4879 15.5559C15.5578 15.7351 15.7239 15.852 15.9073 15.852H20.8995C21.15 15.852 21.3533 15.6374 21.3533 15.3729C21.3533 15.1084 21.15 14.8938 20.8995 14.8938Z" fill="#A50112"></path>
                                <path d="M16.3184 12.2955C16.243 12.1268 16.0833 12.0195 15.9072 12.0195H5.92277C5.74666 12.0195 5.58694 12.1268 5.51159 12.2955C5.43717 12.4631 5.46074 12.6624 5.57422 12.8052L7.8434 15.6795C7.92964 15.7887 8.05762 15.8519 8.19195 15.8519H13.638C13.7723 15.8519 13.9003 15.7887 13.9866 15.6795L16.2557 12.8052C16.3692 12.6624 16.3928 12.4631 16.3184 12.2955ZM13.4247 14.8938H8.40434L6.89123 12.9776H14.9378L13.4247 14.8938Z" fill="#A50112"></path>
                                <path d="M19.9546 9.43367C19.4382 8.18047 17.71 4.05008 17.1091 3.51066C16.3602 2.83901 14.2154 2.43854 11.3689 2.43854H10.4613C7.6148 2.43854 5.46995 2.83901 4.72111 3.50971C4.12022 4.04914 2.39109 8.17952 1.87555 9.43272C1.77662 9.6761 1.88189 9.95778 2.11156 10.0631C2.34029 10.1685 2.60898 10.0583 2.70879 9.81501C3.73355 7.32491 4.98708 4.55789 5.30929 4.24078C5.65873 3.92748 7.13734 3.39667 10.4613 3.39667H11.3689C14.6929 3.39667 16.1715 3.92748 16.5191 4.23884C16.8431 4.55789 18.0966 7.32392 19.1214 9.81501C19.1958 9.99609 19.3637 10.1034 19.538 10.1034C19.5979 10.1034 19.6606 10.0909 19.7186 10.0641C19.9483 9.95872 20.0536 9.67605 19.9546 9.43367Z" fill="#A50112"></path>
                                <path d="M20.4459 16.8101C20.1954 16.8101 19.9921 17.0247 19.9921 17.2892V19.2054C19.9921 19.4698 19.7878 19.6845 19.5382 19.6845H16.8152C16.5655 19.6845 16.3613 19.4698 16.3613 19.2054V17.7682C16.3613 17.5038 16.158 17.2892 15.9075 17.2892C15.6569 17.2892 15.4536 17.5038 15.4536 17.7682V19.2054C15.4536 19.9978 16.0645 20.6425 16.8151 20.6425H19.5382C20.2888 20.6425 20.8997 19.9978 20.8997 19.2054V17.2892C20.8998 17.0247 20.6964 16.8101 20.4459 16.8101Z" fill="#A50112"></path>
                            </g>
                            <defs><clipPath id="clip0"><rect width="21.7843" height="22.9945" fill="white" transform="translate(0.0229492 0.0432739)"></rect></clipPath></defs>
                        </svg>
                        <span>2 vagas</span>
                    </p><p>
                        <!--!--><svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.2847 9.85632V9.44144C21.2847 8.67717 20.8891 8.00394 20.2921 7.61463V3.08895C20.2921 1.89822 19.3234 0.929504 18.1327 0.929504H4.77952C3.58878 0.929504 2.62002 1.89822 2.62002 3.08895V7.61459C2.02308 8.0039 1.62739 8.67712 1.62739 9.4414V9.85628C1.01616 10.0172 0.563965 10.5746 0.563965 11.2357V16.0902C0.563965 16.8539 1.16737 17.4792 1.92246 17.5148V18.0893C1.92246 18.4411 2.20765 18.7263 2.55944 18.7263C2.91122 18.7263 3.19641 18.4411 3.19641 18.0893V17.5165H19.7157V18.0893C19.7157 18.4411 20.0009 18.7263 20.3527 18.7263C20.7045 18.7263 20.9897 18.4411 20.9897 18.0893V17.5148C21.7448 17.4792 22.3482 16.8539 22.3482 16.0901V11.2357C22.3482 10.5746 21.896 10.0172 21.2847 9.85632ZM3.89402 3.08895C3.89402 2.60068 4.29124 2.20346 4.77952 2.20346H18.1327C18.6209 2.20346 19.0182 2.60068 19.0182 3.08895V7.26145H18.1688V6.13871C18.1688 5.35286 17.5295 4.7135 16.7436 4.7135H13.3161C12.5302 4.7135 11.8909 5.35286 11.8909 6.13871V7.26145H11.0213V6.13871C11.0213 5.35286 10.3819 4.7135 9.59609 4.7135H6.16856C5.38267 4.7135 4.74335 5.35286 4.74335 6.13871V7.26145H3.89402V3.08895ZM16.8948 6.13866V7.11019C16.8948 7.19358 16.827 7.2614 16.7436 7.2614H13.3161C13.2327 7.2614 13.1649 7.19354 13.1649 7.11019V6.13866C13.1649 6.05527 13.2327 5.98745 13.3161 5.98745H16.7436C16.827 5.98745 16.8948 6.05527 16.8948 6.13866ZM9.7473 6.13866V7.11019C9.7473 7.19358 9.67944 7.2614 9.59609 7.2614H6.16856C6.08517 7.2614 6.01735 7.19354 6.01735 7.11019V6.13866C6.01735 6.05527 6.08521 5.98745 6.16856 5.98745H9.59609C9.67944 5.98745 9.7473 6.05527 9.7473 6.13866ZM2.90139 9.4414C2.90139 8.94181 3.30784 8.5354 3.80744 8.5354H19.1047C19.6043 8.5354 20.0108 8.94185 20.0108 9.4414V9.80935H2.90139V9.4414ZM21.0742 16.0901C21.0742 16.1741 21.0059 16.2425 20.9219 16.2425H1.99028C1.90629 16.2425 1.83792 16.1741 1.83792 16.0901V11.2357C1.83792 11.1517 1.90625 11.0834 1.99028 11.0834H20.9219C21.0059 11.0834 21.0743 11.1517 21.0743 11.2357V16.0901H21.0742Z" fill="#A50112"></path></svg>

                        <span>3 quartos</span>
                    </p>
                </div><!--!-->
                <a target="_top" href="/empreendimento/antonio-e-julia-lucena" class="text-uppercase btn btn__sixth card-button m-auto">
                    <!--!-->
                    SAIBA MAIS
                </a>
            </div>
        </div>
    </div>
</section>

