@page "/{estado}/{cidade}/{bairro}/{tipoEmpreendimento}/{quartos}/{slug}"
@page "/{estado}/{cidade}/{bairro}/{tipoEmpreendimento}/{slug}"
@inject IJSRuntime jsRuntime
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject NavigationManager NavigationManager

<Title Value="@empreendimentoModel.MataTittle"></Title>
<Meta name="description" content="@empreendimentoModel.MetaDescription" />
<Meta name="keywords" content="@empreendimentoModel.MetaKeyword" />
<Meta property=”og:image”content content="@empreendimentoModel.UrlBanner.Replace(".jpeg", "_thumb.jpeg")" />
<FiltroComponent EstadoNome="@estadoNome" />

<link rel="stylesheet" href="app/css/produto.css" />

@* <BuscaImovelComponent estado="@estado" /> *@

<BannerComponent EmpreendimentoModel="@empreendimentoModel" />

<DescricaoComponent EmpreendimentoModel="@empreendimentoModel" />

<GaleriaComponent EmpreendimentoModel="@empreendimentoModel" />

@if (empreendimentoModel.TourVirtualAtivo)
{
    <TourComponent EmpreendimentoModel="@empreendimentoModel" />
}
<MapaComponent EmpreendimentoModel="@empreendimentoModel" />

<PlantaComponent EmpreendimentoModel="@empreendimentoModel" />

<VideoComponent EmpreendimentoModel="@empreendimentoModel" />

@* <SimularComponent /> *@

<StatusComponent EmpreendimentoModel="@empreendimentoModel" />

<NewsletterComponent EmpreendimentoModel="@empreendimentoModel" />

<InfoTecnicaComponent EmpreendimentoModel="@empreendimentoModel" />

@if (EmpreendimentosRelacionados.Count > 0)
{
    <section class="lista__cards-emp">
        <div class="container">
            <h2 class="mb-4 text-center">Veja também</h2>
            <div class="tab-content">
                <div class="row h-100 align-items-center d-flex justify-content-center">
                    @{
                        int b = 0;
                        foreach (var empreendimentoRelacionado in EmpreendimentosRelacionados)
                        {
                            <CardHomeComponent EmpreendimentoModel="empreendimentoRelacionado" />
                            b++;
                        }
                    }
                </div>
            </div>
            <div class="col-md-12 text-center">
                <a target="_top" href="/@estado/busca?">
                    <div class="btn btn__first">
                        Ver todos os imóveis
                    </div>
                </a>
            </div>
        </div>
    </section>
}

@if (empreendimentoModel == null)
{
    <NotFoundPage />
}
<!-- Modal CTA RD Station -->
<div class="modal fade" id="modalNewsletterRD" tabindex="-1" role="dialog" aria-labelledby="modalNewsletterCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header text-center mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item">
                        <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip99)">
                                <path d="M74.2798 24.2515L66.8984 16.87V1.57031C66.8984 0.772066 66.2512 0.125 65.4531 0.125H44.1605C43.3624 0.125 42.7152 0.772066 42.7152 1.57031C42.7152 2.36856 43.3624 3.01562 44.1605 3.01562H64.0078V32.4793L37.6381 58.8492L11.3984 32.6096V3.01562H31.1527C31.9508 3.01562 32.598 2.36856 32.598 1.57031C32.598 0.772066 31.9508 0.125 31.1527 0.125H9.95312C9.15502 0.125 8.50781 0.772066 8.50781 1.57031V16.87L1.12646 24.2515C0.855461 24.5225 0.703125 24.8901 0.703125 25.2734V66.8984C0.703125 70.8832 3.94496 74.125 7.92969 74.125H67.4766C71.4613 74.125 74.7031 70.8832 74.7031 66.8984V25.2734C74.7031 24.8901 74.5508 24.5225 74.2798 24.2515ZM71.8125 66.8984C71.8125 67.5669 71.6602 68.2005 71.3887 68.7666L51.5988 48.9766L71.8125 28.7629V66.8984ZM66.8984 20.958L71.2139 25.2734L66.8984 29.5887V20.958ZM4.01752 68.7666C3.74609 68.2005 3.59375 67.567 3.59375 66.8984V28.8928L23.7424 49.0416L4.01752 68.7666ZM8.50781 29.7188L4.12736 25.3385L8.50781 20.958V29.7188ZM7.92969 71.2344C7.26123 71.2344 6.62761 71.082 6.06162 70.8106L25.7865 51.0856L36.6161 61.9151C36.8872 62.1861 37.2548 62.3385 37.6381 62.3385C38.0214 62.3385 38.3889 62.1861 38.6601 61.9151L49.5547 51.0207L69.3448 70.8108C68.7786 71.0822 68.1452 71.2345 67.4766 71.2345H7.92969V71.2344Z" fill="#A50112" />
                                <path d="M37.6567 3.01562C38.0369 3.01562 38.4097 2.86098 38.6786 2.59215C38.9473 2.32332 39.1021 1.95043 39.1021 1.57031C39.1021 1.1902 38.9474 0.817305 38.6786 0.548477C38.4097 0.279648 38.0369 0.125 37.6567 0.125C37.2752 0.125 36.9037 0.279648 36.6349 0.548477C36.3662 0.817305 36.2114 1.1902 36.2114 1.57031C36.2114 1.95043 36.3661 2.32332 36.6349 2.59215C36.9037 2.86098 37.2752 3.01562 37.6567 3.01562Z" fill="#A50112" />
                                <path d="M24.0312 17.6388C22.0704 21.2016 21.5545 25.3091 22.5791 29.2043C23.4666 32.5785 25.3825 35.4894 28.1202 37.6223C30.756 39.6759 34.0393 40.8576 37.365 40.9495C37.3787 40.9499 37.3921 40.9501 37.4056 40.9501C38.1853 40.9501 38.8279 40.329 38.8496 39.5447C38.8716 38.7469 38.2427 38.082 37.4447 38.06C31.7819 37.9035 26.8187 33.9595 25.3745 28.4692C23.6354 21.8565 27.3805 15.0507 33.9006 12.975C37.2083 11.922 40.7197 12.2322 43.7878 13.848C46.8498 15.4605 49.0885 18.1705 50.0938 21.4804C50.7343 23.899 50.5266 26.1411 49.4009 28.9716C49.0799 29.7785 48.0834 31.6556 45.7651 31.6556C45.3984 31.6556 45.0274 31.4856 44.7203 31.177C44.3084 30.7631 44.074 30.1786 44.077 29.5664V17.6171C44.077 16.8189 43.4298 16.1718 42.6317 16.1718C41.8334 16.1718 41.1864 16.8189 41.1864 17.6171V18.0774C40.0582 17.137 38.6568 16.6 37.0867 16.6C33.4365 16.6 29.6607 19.7645 29.6607 25.0602C29.6607 27.3942 30.4004 29.5802 31.7436 31.2155C33.1051 32.8734 34.9973 33.8241 36.9347 33.8241C38.7507 33.8241 40.3865 33.0223 41.632 31.6853C41.8826 32.2533 42.2328 32.7751 42.6713 33.2158C43.5249 34.0736 44.6236 34.546 45.7651 34.546C49.1049 34.546 51.2206 32.2182 52.0869 30.0397C53.4455 26.6234 53.6905 23.7468 52.8807 20.7125C52.8766 20.6975 52.8723 20.6825 52.8678 20.6676C51.6405 16.6005 48.8941 13.2702 45.1347 11.2904C41.3761 9.31088 37.075 8.93091 33.0237 10.2206C29.1852 11.4426 25.9917 14.0769 24.0312 17.6388ZM36.9348 30.9335C34.5178 30.9335 32.5515 28.2987 32.5515 25.06C32.5515 21.5738 34.8575 19.4905 37.0869 19.4905C39.4889 19.4905 41.1664 21.7628 41.1664 25.0162C41.1663 28.279 39.268 30.9335 36.9348 30.9335Z" fill="#A50112" />
                            </g>
                            <defs>
                                <clipPath id="clip99">
                                    <rect width="74" height="74" fill="white" transform="translate(0.703125 0.125)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="col-md-10 col-lg-10 item">
                        <h2 style="margin-bottom:0rem;">Ligamos para você</h2>
                        <h3 class="modal-title d-block" id="modalNewsletterLongTitles">Cadastro de e-mail</h3>
                    </div>
                    <div class="col-md-10 col-lg-12 item">
                        <p class="d-block py-3" id="modalNewsletterLongTitles">Cadastre-se gratuitamente e receba novidades em seu e-mail.</p>
                    </div>
                </div>
            </div>
            <div class="modal-body text-center pt-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item md__forms">
                        <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
                            <div class="form-group">
                                <InputText autocomplete="off" @bind-Value="model.Nome" class="form-control" id="Nome" placeholder="Qual o seu nome?"></InputText>
                            </div>
                            <div class="form-group">
                                <InputText autocomplete="on" @bind-Value="model.Telefone" class="form-control" id="Telefone" aria-describedby="e-mailHelp" placeholder="Qual é o seu telefone?"></InputText>
                            </div>
                            <div class="form-group">
                                <InputText autocomplete="on" type="email" @bind-Value="model.Email" class="form-control" id="Email" aria-describedby="e-mailHelp" placeholder="Qual é o seu e-mail?"></InputText>
                            </div>
                            <div class="form-group">
                                <InputSelect  @bind-Value="model.TipoContato" class="form-control" id="TipoContato" aria-describedby="e-mailHelp">
                                    <option disabled selected value="Selecione o tipo de contato preferencial">Selecione o tipo de contato preferencial</option>
                                    <option value="Telefone">Telefone</option>
                                    <option value="E-mail">E-mail</option>

                                </InputSelect>
                                <small id="e-mailHelp" class="form-text text-muted">Nós não compartilhamos seu e-mail com mais ninguém.</small>
                            </div>
                            <div class="form-group d-none">
                                <input type="text" name="Nome_do_imovel_cod_URL" value="@("/" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri) + "")">
                                <InputText autocomplete="on" type="text" name="estado" @bind-Value="@estado"></InputText>
                            </div>
                            <div class="form-check my-3">
                                <InputCheckbox type="text" @bind-Value="model.Aceito" class="form-check-input"></InputCheckbox>
                                <label class="form-check-label">Aceito a <a href="/politica-privacidade" target="_blank">Política de Privacidade</a></label>
                            </div>
                            <button type="submit" class="btn btn__first">Cadastrar e-mail</button>
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </EditForm>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@code
{
           
            protected override async Task OnAfterRenderAsync(bool firstRender)
            {
                // invoke script loader
                // Console.WriteLine("Loading jQuery");
                // note the scripts will only load once
                if (firstRender)
                {
                    await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
                    await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");
                    await jsRuntime.InvokeVoidAsync("initNavbar", "");
                    await jsRuntime.InvokeVoidAsync("initGlobal", "");
                }

                await jsRuntime.InvokeVoidAsync("loadScript", "js/empreendimento.js");

                // Console.WriteLine("Invoking jQuery");

                await jsRuntime.InvokeVoidAsync("initEmpreendimentos", "");

                // Console.WriteLine("Invoked JQuery");

        @* if (!string.IsNullOrEmpty(empreendimentoModel.IdRdstation))
            {
                await jsRuntime.InvokeVoidAsync("initRdStation", empreendimentoModel.IdRdstation);

            } *@

        await base.OnAfterRenderAsync(firstRender);
    }
}

