﻿@page "/faq"
@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="app/css/faq.css" />

@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="Faq - Dúvidas frequentes dos nossos clientes"></Title>
<Meta name="description" content="Adquirir um imóvel é uma grande mudança em direção a ter mais qualidade de vida. No caso de quem adquire um apartamento em construção, isso significa que ainda há algum tempo até ir para o seu novo lar" />
<Meta name="keywords" content="faq moura, dúvidas frequentes" />
<FiltroComponent />
<section class="content__inner faq">
    <div id="faq__clients" class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Dúvidas frequentes dos nossos clientes</h2>
            </div>
            <div class="col-md-10 text-center">
                <p>
                    Adquirir um imóvel é uma grande mudança em direção a ter mais qualidade de vida. No caso de quem adquire um apartamento em construção, isso significa que ainda há algum tempo até ir para o seu novo lar. Nesse meio tempo, há diversos assuntos sobre os quais você deve se informar.
                    Conheça as respostas para algumas das perguntas mais comuns de quem acabou de adquirir um Moura Dubeux.
                </p>
            </div>
            <div class="col-md-12 text-center">
                <h4>Acompanhamento da obra</h4>
            </div>
            <div class="col-md-12 text-center">
                <FaqComponent faqList="@clienteAcompanhamentoDaObra" />
            </div>
            <div class="col-md-12 text-center">
                <h4>Personalização</h4>
            </div>
            <div class="col-md-12 text-center">
                <FaqComponent faqList="@clientePersonalizacao" />
            </div>
            <div class="col-md-12 text-center">
                <h4>Tributos, impostos e Habite-se</h4>
            </div>
            <div class="col-md-12 text-center">
                <FaqComponent faqList="@clienteTributosImpostosHabiteSe" />
            </div>
        </div>
    </div>

    <div id="faq__imoveis" class="container h-100">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Dúvidas frequentes na compra de imóvel</h2>
            </div>
            <div class="col-md-10 text-center">
                <p>
                    Adquirir um imóvel pode ser um processo complexo. Afinal, a escolha de um apartamento, por exemplo, passa pela avaliação de diversos aspectos. Como todo investimento, também é preciso estudar sobre todos os aspectos financeiros que estão envolvidos.
                    Separamos algumas das dúvidas mais comuns. Confira:
                </p>
            </div>
            <div class="col-md-12 text-center">
                <h4>Sobre pagamentos e financiamentos</h4>
            </div>
            <div class="col-md-12 text-center">
                <FaqComponent faqList="@imovelSobrePagamentosFinanciamentos" />
            </div>
            <div class="col-md-12 text-center">
                <h4>Sobre o nosso modelo de negócio</h4>
            </div>
            <div class="col-md-12 text-center">
                <FaqComponent faqList="@imovelSobreNossoModeloDeNegocio" />
            </div>
            <div class="col-md-12 text-center">
                <h4>Sobre impostos e taxas</h4>
            </div>
            <div class="col-md-12 text-center">
                <FaqComponent faqList="@imovelSobreImpostosTaxas" />
            </div>
        </div>
    </div>
</section>


<ChatComponent />
<NewsletterComponent />
<ContatoInfo1Component />

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // invoke script loader
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            await jsRuntime.InvokeVoidAsync("loadScript", "/js/faq.js");

            Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initFaq", "");

            Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}

