@page "/seja-um-fornecedor"
@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="app/css/fornecedor.css" />
<link rel="stylesheet" href="app/css/area.css" />


<FiltroComponent />
<DescricaoFornecedorComponent />
<FornecedorFormComponent />
<CodigoCondutaComponent />
<CanalTransparenciaComponent />
<NewsletterComponent />

@code
        // invoke script loader
{
protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        Console.WriteLine("Loading jQuery");
        // note the scripts will only load once
        
        await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");


        Console.WriteLine("Invoking jQuery");
        
        await jsRuntime.InvokeVoidAsync("initNavbar", "");
        await jsRuntime.InvokeVoidAsync("initGlobal", "");


        Console.WriteLine("Invoked JQuery");
    }

}
}

