﻿
@page "/{estado}/"
@page "/"

@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager

@using MouraDubeux.Admin.Data.Enum
@*css double test*@
@*<link rel="stylesheet" href="app/css/index.css" />*@

<FiltroComponent />
<BannerCardHomeComponent estado="@estado" />
<BuscaImovelComponent estado="@estado" />

<section class="lista__cards-emp">
    <div class="container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                @if ((estado == "alagoas") || (estado == "pernambuco"))
                {
                    <h3 class="lista__h2">Empreendimentos em <h2 class="mb-1 mt-2 d-inline-block">@estadoNome</h2></h3>
                }
                else if (estado == "bahia")
                {
                    <h3 class="lista__h2">Empreendimentos na <h2 class="mb-1 mt-2 d-inline-block">@estadoNome</h2></h3>
                }
                else if (estado == "ceara")
                {
                    <h3 class="lista__h2">Empreendimentos no <h2 class="mb-1 mt-2 d-inline-block">@estadoNome</h2></h3>
                }
                else if (estado == "rio-grande-do-norte")
                {
                    <h3 class="lista__h2">Empreendimentos no <h2 class="mb-1 mt-2 d-inline-block">@estadoNome</h2></h3>
                }
                else
                {
                    <h3 class="lista__h2">Empreendimentos em <h2 class="mb-1 mt-2 d-inline-block">@estadoNome</h2></h3>
                }

                @*<a target="_top" href="/trocar"><p class="botao__underline">Trocar Estado</p></a>*@
            </div>
        </div>
        <!-- nav tabs -->
        <div class="row justify-content-md-center">
            <ul class="nav nav-tabs">
                @if (empreendimentosVitrine != null)
                {
                    @for (var a = 0; a < Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList().Count(); a++)
                    {
                        @if (empreendimentosVitrine != null && empreendimentosVitrine.Where(x => x.StatusEmpreendimento == (int)Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList()[OrdemVitrine[a] - 1]).Count() > 0)
                        {
                            <li class="nav-item">
                                <a target="_top" class="nav-link @(a == 0 ? " active" : "")" data-toggle="tab" href="#@((int)Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList()[OrdemVitrine[a] - 1])"><h5>@(extensionMethods.Description(Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList()[OrdemVitrine[a] - 1]))</h5></a>
                            </li>
                        }
                    }

                }
            </ul>
        </div>

        <div class="tab-content">

            @for (var a = 0; a < Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList().Count(); a++)
            {
                @if (empreendimentosVitrine != null && empreendimentosVitrine.Where(x => x.StatusEmpreendimento == (int)Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList()[a]).Count() > 0)
                {
                    <div class="tab-pane fade @(a == 0 ? " show active" : "")" id="@((int)Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList()[a])">
                        <div class="row h-100 align-items-center justify-content-center">
                            @{
                                int b = 0;
                                foreach (var empreendimento in empreendimentosVitrine.Where(x => x.StatusEmpreendimento == (int)Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList()[a]))
                                {
                                    <CardHomeComponent EmpreendimentoModel="empreendimento" />
                                    b++;
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12 text-center">
            <a target="_top" href="/@estado/busca?">
                <div class="btn btn__first">
                    Ver todos os imóveis
                </div>
            </a>
        </div>
    </div>
</section>
<DescricaoHomeComponent />
<NewsletterComponent />
<AreaClienteHomeComponent />

@code
// invoke script loader
{
    protected override void OnInitialized()
    {

        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var urlParticionada = uri.AbsolutePath.ToString().Split("/");
        if (urlParticionada.Length is > 3 && urlParticionada[1] is "cliente-md")
        {

            navigationManager.NavigateTo("/conteudo-nao-encontrado");
        }

        var listaEstados = frontDataService.GetEstados().Where(x => x.Slug.Contains(estado is not null ? estado : string.Empty));
        if (listaEstados.Any())
        {
            if (!((estado == "alagoas") || (estado == "pernambuco") || (estado == "bahia") || (estado == "ceara") || (estado == "rio-grande-do-norte") || (estado == null || estado == "")))
            {
                NavManager.NavigateTo("/conteudo-nao-encontrado");
            }
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            GetBanners();
            GetEstados();
            StateHasChanged();

            //Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            await jsRuntime.InvokeVoidAsync("loadScript", "js/videoGallery.js");

            //Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            await jsRuntime.InvokeVoidAsync("initLightgallery", "");

            // Console.WriteLine("Invoked JQuery");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
