﻿@using MouraDubeux.Admin.Data.Enum
@page "/{estado}/busca"
@page "/{estado}/{statusEmpreendimentoParam}"
@inject IJSRuntime jsRuntime
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

@*@{ 
    @if(@statusEmpreendimentoParam != null)
    {
    @title_= $"Listagem de empreendimento em {@estado} - Moura Dubeux ";
    @description_= $"Confira a listagem de todos nossos empreendimentos para o estado de {@estado}.";
    @keywords_= $"empreendimentos em {@estado}";

<Title Value="@title_"></Title>
<Meta name="description" content="@description_" />
<Meta name="keywords" content="@keywords_" />

        } }*@



<link rel="stylesheet" href="app/css/empreendimentoListagem.css" />

<FiltroComponent EstadoNome="@estadoNome" />
<BannerCardProdutoComponent statusEmpreendimento="@statusEmpreendimento" estado="@estado" />
<BuscaImovelComponent estado="@estado" cidade="@cidade" bairro="@bairro" quartos="@quartos" modeloNegocio="@modeloNegocio" statusEmpreendimento="@statusEmpreendimento" tipoEmpreendimento="@tipoEmpreendimento" FiltroCallBack="GetEmpreendimentos" />
<section class="lista__cards-emp">
    <div class="container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                @if (sazonal)
                {
                    <h3 class="lista__h3" id="buscaResultado">Sazonais em</h3>
                }
                else if (string.IsNullOrEmpty(statusEmpreendimento))
                {
                    @if ((estado == "alagoas") || (estado == "pernambuco"))
                    {
                        <h3 class="lista__h3" id="buscaResultado">Empreendimentos em </h3>
                    }
                    else if (estado == "bahia")
                    {
                        <h3 class="lista__h3" id="buscaResultado">Empreendimentos na </h3>
                    }
                    else if (estado == "ceara")
                    {
                        <h3 class="lista__h3" id="buscaResultado">Empreendimentos no </h3>
                    }
                    else if (estado == "rio-grande-do-norte")
                    {
                        <h3 class="lista__h3" id="buscaResultado">Empreendimentos no </h3>
                    }
                    else
                    {
                        <h3 class="lista__h3" id="buscaResultado">Empreendimentos em </h3>
                    }
                }
                else
                {
                    @foreach (var m in Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList())
                    {
                        if (extensionMethods.CreateSlug(extensionMethods.Description(m)) == statusEmpreendimento)
                        {
                            @if ((estado == "alagoas") || (estado == "pernambuco"))
                            {
                                <h3 class="lista__h3" id="buscaResultado">@(extensionMethods.Description(m)) em </h3>
                            }
                            else if (estado == "bahia")
                            {
                                <h3 class="lista__h3" id="buscaResultado">@(extensionMethods.Description(m)) na </h3>
                            }
                            else if (estado == "ceara")
                            {
                                <h3 class="lista__h3" id="buscaResultado">@(extensionMethods.Description(m)) no </h3>
                            }
                            else if (estado == "rio-grande-do-norte")
                            {
                                <h3 class="lista__h3" id="buscaResultado">@(extensionMethods.Description(m)) no </h3>
                            }
                            else
                            {
                                <h3 class="lista__h3" id="buscaResultado">@(extensionMethods.Description(m)) em </h3>
                            }
                        }
                    }
                }
                <h2 class="mb-1 mt-2">@estadoNome</h2>
                <a target="_top" href="/trocar"><p class="botao__underline">Trocar</p></a>
            </div>
        </div>

        <section class="d-flex flex-column justify-content-center">
            <div class="d-flex flex-wrap">
                @{
                    if (modelList != null && modelList.Count() > 0)
                    {
                        foreach (var empreendimento in modelList)
                        {
                            <CardComponent EmpreendimentoModel="empreendimento" />
                        }
                    }
                    else
                    {
                        <h4>Não foram encontrados resultados</h4>
                    }
                }
            </div>
            <a target="_top" href="" class="botao__underline text-center d-none">Carregar Mais</a>
        </section>
        <VitrineComponent />
    </div>
</section>

<FaleComAGenteComponent />



@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/busca.js");

            //Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initBusca", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            // invoke script loader
            //Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            @* await jsRuntime.InvokeVoidAsync("loadScript", "js/trabalhe.js"); *@

            //Console.WriteLine("Invoking jQuery");
            @* await jsRuntime.InvokeVoidAsync("initTrabalhe", ""); *@

            //Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }


}
