﻿@page "/empreendimentos"

@inject IJSRuntime jsRuntime

@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Link rel="stylesheet" href="app/css/local.css" />

<section class="header-geo pt-4 pb-0">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 text-center text-md-left">
                <img src="/img/logo-md.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
            </div>
        </div>
    </div>
</section>

<section class="geo">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="mb-5">Seja bem vindo à Moura Dubeux.</h1>
                <div class="row m-0 h-100 align-items-center justify-content-center">
                    <div class="col-md-6 col-lg-4 text-center">
                        <select @bind="@SelectedEstado" name="" id="" class="form-control">
                            <option value="">Selecionar estado</option>
                            <option value="alagoas">Alagoas</option>
                            <option value="bahia">Bahia</option>
                            <option value="ceara">Ceará</option>
                            <option value="pernambuco">Pernambuco</option>
                            <option value="rio-grande-do-norte">Rio Grande do Norte</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <a target="_top" href="#" @onclick="@ClickButton">
                            <div class="btn btn__second">
                                conhecer empreendimentos
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fixed-bottom py-3">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-4 mb-3 mb-md-0">
                <ul class="list-inline ml-md-5 text-center text-md-left">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/mouradubeuxoficial" target="_blank" rel="noopener noreferrer">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.687012H18.75C19.8546 0.687012 20.75 1.58244 20.75 2.68701V18.687C20.75 19.7916 19.8546 20.687 18.75 20.687H2.75C1.64543 20.687 0.75 19.7916 0.75 18.687V2.68701C0.75 1.58244 1.64543 0.687012 2.75 0.687012ZM2.75 2.68701V18.687H18.75V2.68701H2.75ZM9.88306 10.6914H11.75V16.687H13.75V10.6914H15.7324V8.69141H13.75V7.68701C13.75 7.13473 14.1977 6.68701 14.75 6.68701H15.75V4.68701H14.75C13.0931 4.68701 11.75 6.03016 11.75 7.68701V8.69141H9.88306V10.6914Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/mouradubeux_oficial/" target="_blank" rel="noopener noreferrer">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.25 0.687012H6.25C2.93629 0.687012 0.25 3.3733 0.25 6.68701V14.687C0.25 18.0007 2.93629 20.687 6.25 20.687H14.25C17.5637 20.687 20.25 18.0007 20.25 14.687V6.68701C20.25 3.3733 17.5637 0.687012 14.25 0.687012ZM2.25 6.68701C2.25 4.47787 4.04086 2.68701 6.25 2.68701H14.25C16.4591 2.68701 18.25 4.47787 18.25 6.68701V14.687C18.25 16.8962 16.4591 18.687 14.25 18.687H6.25C4.04086 18.687 2.25 16.8962 2.25 14.687V6.68701ZM10.25 15.687C7.48858 15.687 5.25 13.4484 5.25 10.687C5.25 7.92559 7.48858 5.68701 10.25 5.68701C13.0114 5.68701 15.25 7.92559 15.25 10.687C15.25 13.4484 13.0114 15.687 10.25 15.687ZM10.25 13.687C11.9069 13.687 13.25 12.3439 13.25 10.687C13.25 9.03016 11.9069 7.68701 10.25 7.68701C8.59315 7.68701 7.25 9.03016 7.25 10.687C7.25 12.3439 8.59315 13.687 10.25 13.687ZM16.25 5.68701C16.25 6.2393 15.8023 6.68701 15.25 6.68701C14.6977 6.68701 14.25 6.2393 14.25 5.68701C14.25 5.13473 14.6977 4.68701 15.25 4.68701C15.8023 4.68701 16.25 5.13473 16.25 5.68701Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/mouradubeux/" target="_blank" rel="noopener noreferrer">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 0.812988H18.25C19.3546 0.812988 20.25 1.70842 20.25 2.81299V18.813C20.25 19.9176 19.3546 20.813 18.25 20.813H2.25C1.14543 20.813 0.25 19.9176 0.25 18.813V2.81299C0.25 1.70842 1.14543 0.812988 2.25 0.812988ZM2.25 2.81299V18.813H18.25V2.81299H2.25ZM11.25 7.81299C10.7323 7.81299 10.1853 7.97125 9.70215 8.26514L9.25 7.81299H8.25V14.813H10.25V10.813C10.25 10.2372 10.844 9.81299 11.25 9.81299H12.25C12.656 9.81299 13.25 10.2372 13.25 10.813V14.813H15.25V10.813C15.25 8.96016 13.644 7.81299 12.25 7.81299H11.25ZM6.25 6.81299C6.80228 6.81299 7.25 6.36527 7.25 5.81299C7.25 5.2607 6.80228 4.81299 6.25 4.81299C5.69772 4.81299 5.25 5.2607 5.25 5.81299C5.25 6.36527 5.69772 6.81299 6.25 6.81299ZM5.25 7.81299V14.813H7.25V7.81299H5.25Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/user/mouradubeuxtv" target="_blank" rel="noopener noreferrer">
                            <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2747 14.9412C21.9581 13.7701 22.25 11.8819 22.25 8.81019C22.25 5.75077 21.9608 3.87347 21.2702 2.67102C20.5781 1.42235 19.7573 1.02602 18.1283 0.930889C17.0162 0.855511 14.2523 0.812988 11.2527 0.812988C8.24661 0.812988 5.48145 0.855495 4.361 0.93148C2.74112 1.02625 1.92011 1.42345 1.22193 2.67559C0.541384 3.87389 0.25 5.76036 0.25 8.82139C0.25 11.865 0.542795 13.761 1.22791 14.9554C1.91701 16.1914 2.72493 16.5838 4.3586 16.6985C5.53276 16.7672 8.45442 16.813 11.2527 16.813C14.0446 16.813 16.9649 16.7672 18.1283 16.6993C19.777 16.5838 20.5848 16.1907 21.2747 14.9412ZM18.0024 2.9269C19.0214 2.98645 19.2103 3.07804 19.5333 3.66262C20.0035 4.47698 20.25 6.0707 20.25 8.82139C20.25 11.5513 20.0022 13.1538 19.5355 13.954C19.2114 14.5404 19.0238 14.6317 18.0001 14.7034C16.8989 14.7677 14.007 14.813 11.2527 14.813C8.49213 14.813 5.59874 14.7677 4.48703 14.7027C3.47601 14.6316 3.28565 14.5392 2.96873 13.9708C2.49886 13.1515 2.25 11.54 2.25 8.81019C2.25 6.08198 2.49754 4.47938 2.9649 3.65641C3.28675 3.07926 3.47844 2.98651 4.48709 2.92748C5.55508 2.85509 8.29424 2.81299 11.2527 2.81299C14.2047 2.81299 16.9426 2.85511 18.0024 2.9269ZM9.25 5.81299L14.25 8.81299L9.25 11.813V5.81299Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline text-center text-center text-md-left">
                    <li class="d-block d-md-inline mb-3 mb-md-0 list-inline-item first">
                        <a target="_top" href="/area-do-cliente" rel="noreferrer">
                             &#x25CF; Área do cliente
                        </a>
                    </li>
    
                    <li class="d-block d-md-inline mb-3 mb-md-0 list-inline-item first ml-md-4">
                        <a href="https://ri.mouradubeux.com.br/" target="_blank" rel="noreferrer">
                             &#x25CF; Relação com Investidores
                        </a>
                    </li>
  
                </ul>
            </div>
        </div>
    </div>
</section>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            //Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            // invoke script loader
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            @* await jsRuntime.InvokeVoidAsync("loadScript", "js/trabalhe.js"); *@

            //Console.WriteLine("Invoking jQuery");
            @* await jsRuntime.InvokeVoidAsync("initTrabalhe", ""); *@

            //Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}