﻿@page "/politica-privacidade"
@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="app/css/privacidade.css" />
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="Política de privacidade -  Moura Dubeux"></Title>
<Meta name="description" content="Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e visitantes do site." />
<Meta name="keywords" content="Política de privacidade moura dubeux" />





<FiltroComponent />
<HeroImageComponent />
<DescricaoPrivacidadeComponent />

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            // invoke script loader
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            @* await jsRuntime.InvokeVoidAsync("loadScript", "js/trabalhe.js"); *@

            Console.WriteLine("Invoking jQuery");
            @* await jsRuntime.InvokeVoidAsync("initTrabalhe", ""); *@

            Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}

