@page "/portfolio/"
@page "/portfolio/{estado}"
@page "/portfolio/{estado}/busca"


@using MouraDubeux.Front.Blazor.Data
@inject ILocalStorageService localStorageService
@inject IJSRuntime jsRuntime

@using Microsoft.AspNetCore.Components.Web.Extensions.Head


<!-- <FiltroComponent /> -->
<InfoPortfolio1Component />
<FiltroBuscaImovelPortfolio EstadoSlug="@estado" />
<EmpPortfolioComponent1 />
<ContatoCtaComponent />
<InfoPortfolio2Component />


@code
{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            // invoke script loader
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            @* await jsRuntime.InvokeVoidAsync("loadScript", "js/trabalhe.js"); *@

            Console.WriteLine("Invoking jQuery");
            @* await jsRuntime.InvokeVoidAsync("initTrabalhe", ""); *@

            Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }

}


