@page "/programa-de-integridade"


@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="app/css/progIntegridade.css" />


<MetadadosComponent Pagina="@Pagina" />
<FiltroComponent />
<HeroImageComponent bannerUrl="@Pagina.Banner" />
<DescricaoProgramaComponent />
<PilaresProgramaComponent />
<CodigoCondutaComponent />
<DeverTodosComponent />
<SectionPresident />
<PoliticasComponent />
<CanalTransparenciaComponent />
<!-- stand by
<AcoesComponent />
-->

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // invoke script loader
            //Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
             await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            await jsRuntime.InvokeVoidAsync("loadScript", "js/videoGallery.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/programa.js");

            //Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            await jsRuntime.InvokeVoidAsync("initLightgallery", "");
            await jsRuntime.InvokeVoidAsync("initprograma", "");

            //Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}

 