@page "/projetos"


@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="app/css/projetos.css" />

 
<HeroImageComponent />
<DescricaoProjComponent />
<ListagemProjetosComponent />
<ContatoCta2Component />


@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
      if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            // invoke script loader
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            @* await jsRuntime.InvokeVoidAsync("loadScript", "js/trabalhe.js"); *@

            Console.WriteLine("Invoking jQuery");
            @* await jsRuntime.InvokeVoidAsync("initTrabalhe", ""); *@

            Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}

