﻿@page "/quem-somos"
@inject IJSRuntime jsRuntime

<link rel="stylesheet" href="app/css/quemSomos.css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>


<MetadadosComponent Pagina="@Pagina" />
<FiltroComponent />
<HeroImageComponent bannerUrl="@Pagina.Banner" />
<InfoInstitucionalComponent />
<TimeLineComponent />
<CountNumbComponent />
<InfoQuemSomos2Component />
<SistemaGestaoComponent />

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // invoke script loader
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
             await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/about.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js");

            Console.WriteLine("Invoking jQuery");
             await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            await jsRuntime.InvokeVoidAsync("initAbout", "");

            Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}
     