﻿@page "/reiniciar-cache"

@using MouraDubeux.Admin.Data.Data;
@inject IFrontDataService frontDataService

<section class="container content__inner">

    <h2>Banco de dados reinicializado com sucesso!</h2>
    <p>Toda vez que esta página é carregada, ocorre a limpeza de cache do banco de dados na aplicação do site.<br />Este processo atualiza as informações de empreendimento, inclusive informaçoes de preços e demais infos relevantes.</p>
    <a target="_top" href="/">
        <!--!--><div class="btn btn__first">
            Ir para Home
        </div>
    </a>
</section>



@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        frontDataService.ResetCacheEmpreendimento();
        await base.OnAfterRenderAsync(firstRender);
    }

}
