@page "/mapa-do-site"
@using MouraDubeux.Front.Blazor.Data
@using MouraDubeux.Admin.Data.Data

@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorageService
@inject IFrontDataService frontDataService

<link rel="stylesheet" href="app/css/faq.css" />

 
<section class="sitemap content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center mb-4">
                <h1>Mapa do site</h1>
            </div>
            <div class="col-12 col-md-12 col-lg-10 sitemap p-0">
                <div class="row h-100 align-items-start justify-content-start m-0">
                    
                    <div class="col-md-4 text-center text-md-left">
                        <div class="col-md-12 p-0 mb-5">
                            <h2>Nossos imóveis</h2>
                            <ul class="list-inline">
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/lancamento" rel="noopener noreferrer">
                                            Lançamentos
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" href="/pernambuco/lancamento" rel="noopener noreferrer">
                                            Lançamentos
                                        </a>
                                    }
                                    
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/em-construcao" rel="noopener noreferrer">
                                            Em construção
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" href="/pernambuco/em-construcao" rel="noopener noreferrer">
                                            Em construção
                                        </a>
                                    }
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/pronto" rel="noopener noreferrer">
                                            Imóveis Prontos
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" href="/pernambuco/pronto" rel="noopener noreferrer">
                                            Imóveis Prontos
                                        </a>
                                    }
                                    
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/revenda" rel="noopener noreferrer">
                                            Imóveis para Revenda
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" href="/pernambuco/revenda" rel="noopener noreferrer">
                                            Imóveis para Revenda
                                        </a>
                                    }
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/na-planta" rel="noopener noreferrer">
                                            Na Planta
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" href="/pernambuco/na-planta" rel="noopener noreferrer">
                                            Na Planta
                                        </a>
                                    }
                                </li>
                                <li>
                                    <a target="_top" href="/faq" rel="noopener noreferrer">
                                        FAQ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-left">
                        <div class="col-md-12 p-0 mb-5">
                            <h2>Clientes</h2>
                            <ul class="list-inline">
                                <li>
                                    <a href="http://mdnet.mouradubeux.com.br/mdnet/login.php" target="_blank" rel="noopener noreferrer">
                                        Financeiro
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/faq#area-do-cliente" rel="noopener noreferrer">
                                        FAQ
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/area-do-cliente" rel="noopener noreferrer">
                                        Central do Cliente
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-left">
                        <div class="col-md-12 p-0 mb-5">
                            <h2>Institucional</h2>
                            <ul class="list-inline">
                                <li>
                                    <a target="_top" href="/quem-somos" rel="noopener noreferrer">
                                        Quem Somos
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/modelos" rel="noopener noreferrer">
                                        Modelos  de Negócio
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/projetos-sociais" rel="noopener noreferrer">
                                        Nossas Gentilezas
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/programa-de-integridade" rel="noopener noreferrer">
                                        Programa de Integridade
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/portfolio/@estado" rel="noopener noreferrer">
                                        Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.canaldatransparencia.com.br/mouradubeux/" rel="noopener noreferrer">
                                        Canal de Transparência
                                    </a>
                                </li>
                                <li class="d-none">
                                    <a target="_top" href="#" rel="noopener noreferrer">
                                        Inovação
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/sala-de-imprensa" rel="noopener noreferrer">
                                        Sala de Imprensa
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-left">
                        <div class="col-md-12 p-0 mb-5">
                            <h2>Relações com Investidores</h2>
                            <ul class="list-inline">
                                <li>
                                    <a target="_top" href="https://ri.mouradubeux.com.br/" rel="noopener noreferrer">
                                        A Companhia
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ri.mouradubeux.com.br/governanca-corporativa/visao-geral/" rel="noopener noreferrer">
                                        Governança Corporativa
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ri.mouradubeux.com.br/informacoes-financeiras/central-de-resultados/" rel="noopener noreferrer">
                                        Central de Resultados
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ri.mouradubeux.com.br/informacoes-financeiras/planilhas/" rel="noopener noreferrer">
                                        Planilha de Fundamentos
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href=" https://ri.mouradubeux.com.br/servicos-a-investidores/cotacoes-e-graficos/" rel="noopener noreferrer">
                                        Cotações e Gráficos
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ri.mouradubeux.com.br/servicos-a-investidores/documentos-cvm/" rel="noopener noreferrer">
                                        Documentos CVM
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ri.mouradubeux.com.br/servicos-a-investidores/calendario-de-eventos/" rel="noopener noreferrer">
                                        Calendário de Eventos
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ri.mouradubeux.com.br/fale-com-ri/fale-com-o-ri/" rel="noopener noreferrer">
                                        Fale com a RI
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/como-investir" rel="noopener noreferrer">
                                        Como Investir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-left">
                        <div class="col-md-12 p-0 mb-5">
                            <h2>Contato</h2>
                            <ul class="list-inline">
                                <li>
                                    <a target="_top" href="/fale-conosco" rel="noopener noreferrer">
                                        Fale Conosco
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/trabalhe-conosco" rel="noopener noreferrer">
                                        Trabalhe Conosco
                                    </a>
                                </li>
                                <li class="d-none">
                                    <a target="_top" href="#" rel="noopener noreferrer">
                                        Fornecedores
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/nossos-escritorios" rel="noopener noreferrer">
                                        Nossos Escritórios
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/comprar-terreno" rel="noopener noreferrer">
                                        Compramos um terreno
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 text-center text-md-left">
                        <div class="col-md-12 p-0 mb-5">
                            <h2>Outros links</h2>
                            <ul class="list-inline list__custom">
                                <li class="d-none">
                                    <a href="https://www.mouradubeux.com.br/blog" target="_blank" rel="noopener noreferrer">
                                        Blog
                                    </a>
                                </li>
                                <li class="d-none">
                                    <a target="_top" href="#" rel="noopener noreferrer">
                                        Arquitetos
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://mouradubeux.anapro.com.br/anapro/p/pages/busca/resultados.aspx" rel="noopener noreferrer">
                                        Corretores
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/simular" rel="noopener noreferrer">
                                        Simulador
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="#" rel="noopener noreferrer">
                                        Chat Online
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ChatComponent />
<NewsletterComponent />
<ContatoInfo1Component />
@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            // invoke script loader
            Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            @* await jsRuntime.InvokeVoidAsync("loadScript", "js/trabalhe.js"); *@

            Console.WriteLine("Invoking jQuery");
            @* await jsRuntime.InvokeVoidAsync("initTrabalhe", ""); *@

            Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
        GetEstados();

    }

    public string estado { get; set; }


    protected async void GetEstados()
    {
        try
        {
            estado = await localStorageService.GetAsync("estado");
            estado = estado.ToString().Replace("\"", "");
            StateHasChanged();
        }
        catch (Exception)
        {

        }

    }

}
