<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 text-center ">
                <img src="/img/investir.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="img-fluid w-100">
            </div>
            <div class="col-md-10 text-center">
                <h2>Ação</h2>
            </div>
            <div class="col-md-10">
                <p>Uma ação é a menor parcela de uma empresa. Elas passam a ficar disponíveis a partir do momento no qual a companhia abre o capital na Bolsa de Valores (um processo que também é conhecido como IPO). Ao comprar uma ação, o investidor passa a ser sócio da empresa.</p>

                <p>Há dois tipos de ação:</p>
                <h4> Ordinárias (ON, que terminam em 3 no caso da Bolsa de Valores brasileira):</h4>
                <p>Uma ação é a menor parcela de uma empresa. Elas passam a ficar disponíveis a partir do momento no qual a companhia abre o capital na Bolsa de Valores (um processo que também é conhecido como IPO). Ao comprar uma ação, o investidor passa a ser sócio da empresa.</p>
                <h4>Preferenciais (PN, que terminam em 4 no caso da Bolsa de Valores brasileira):</h4>
                <p>tem preferência na hora de receber dividendos (lucros que a empresa decidir distribuir), mas não possui direito de voto e nem pagamento de valores em caso de venda da companhia.</p>
                <p>No caso da Moura Dubeux, as únicas ações a venda na Bolsa são MDNE3. Ou seja, são ações ordinárias. Nem todas as companhias possuem ações preferenciais, porque isso varia de acordo com o perfil da organização. </p>
            </div>
            <div class="col-md-10 text-center ">
                <img src="/img/investir2.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="img-fluid w-100">
            </div>
            <div class="col-md-10 text-center">
                <h2>IPO</h2>
            </div>
            <div class="col-md-10">
                <p>
                    O IPO (sigla para “Initial Public Offering”, ou “Oferta Pública Inicial”) é o termo usado para descrever o momento em que a empresa passa a receber novos sócios. Ou seja, é quando a organização oferta ações ao mercado pela primeira vez, com a abertura de parte do seu capital.
                </p>
                <p>
                    Esse é um processo complexo, pois exige uma mudança de mentalidade em toda a companhia. Afinal, passará a haver acionistas externos que cobrarão prestação de contas, informações sobre os resultados e participação nas tomadas de decisão.
                </p>
                <p>
                    No entanto, esse é um passo essencial no crescimento de diversas organizações. A transparência traz para a empresa mais credibilidade e demonstra a sofisticação da governança corporativa. Como consequência do acompanhamento por investidores e analistas, também há mais projeção tanto para a mídia, quanto para o público em geral.
                </p>
            </div>
            <div class="col-md-10 text-center ">
                <img src="/img/investir3.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="img-fluid w-100">
            </div>
            <div class="col-md-10 text-center">
                <h2>Venda e Compra de Ações </h2>
            </div>
            <div class="col-md-10">
                <p>
                    A venda de ações começa com o IPO. Neste momento, há a oferta primária. Com esses papéis, a empresa arrecada uma quantia que será usada para expandir os negócios. Após a conclusão do IPO, começa a oferta secundária. É só a partir de então que os investidores começam a vender e comprar as ações dessa companhia entre si. O dinheiro dessas operações não passa pelo caixa da empresa, ou seja, circula apenas entre o comprador e o vendedor daquela transação.
                </p>
                <p>
                    No momento da oferta primária, a companhia estipula um valor para os papéis a partir de diversas análises tanto sobre o mercado, quanto sobre a própria empresa. Na oferta secundária, o valor é determinado pela lei da oferta e da demanda: quanto mais pessoas querem determinada ação, menos pessoas vendem e o preço tende a subir. O contrário também vale, ou seja, se poucas pessoas querem uma ação, o volume de vendas aumenta e o preço tende a cair.
                </p>
                <p>
                    A curto prazo, notícias, rumores e variações do mercado tem um peso grande na valorização dos papéis. Por isso, uma ação tem diferentes valores ao longo do dia. No entanto, a tendência a longo prazo é que os resultados da empresa em si tenham um peso maior nesse processo. Ou seja, a longo de anos e meses, o valor das ações de empresas com um bom desempenho tende a só aumentar.
                </p>
            </div>
            <div class="col-md-10 text-center">
                <h2>Bolsa de Valores  </h2>
            </div>
            <div class="col-md-10">
                <p>
                    A Bolsa de Valores é o ambiente digital no qual ocorre a negociação não só de ações, como também de outros tipos de papéis, como os Fundos Imobiliários. A Bolsa brasileira já teve vários nomes, mas hoje se chama B3, que significa “Brasil, Bolsa, Balcão”.
                </p>
                <p>
                    É importante não confundir a B3 com o Ibovespa. O Ibovespa é um índice que mede o desempenho da Bolsa de Valores brasileira de acordo com as negociações feitas com os papéis das principais companhias no país.
                </p>
            </div>
            <div class="col-md-10 text-center ">
                <img src="/img/investir4.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="img-fluid w-100">
            </div>
            <div class="col-md-10 text-center">
                <h2>Home Broker </h2>
            </div>
            <div class="col-md-10">
                <p>
                    O Home Broker é uma plataforma de acesso ao ambiente virtual da Bolsa de Valores. Cada corretora disponibiliza a sua interface para acesso a essa plataforma. Durante o horário no qual a Bolsa está aberta, é possível fazer operações de compra e venda dos papéis. Há diversas funções que podem ser exploradas, como por exemplo os preços de compra e venda de uma ação.
                </p>
            </div>
        </div>
    </div>
</section>
@code {

}
