<section style="margin-bottom:-4rem;" class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 text-center">
                <h1>Como Investir</h1>
            </div>
            <div class="col-md-10">
                <p>Para quem está começando a investir, esse universo pode parecer intimidador. Afinal, há diversos termos técnicos usados para falar sobre esse tema, principalmente dentro do mercado de ações e renda variável. Nesta página, vamos explicar alguns dos principais conceitos que você precisa conhecer. </p>
            </div>
        </div>
    </div>
</section>
@code {

}
