//all
@import "global/all.scss";
// pages__portFolio
@import "pages/portfolio/index.scss";
@media screen and (max-width: 767px){
    ul.nav.nav-tabs li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid;
    }
}
.bairro, .lista__cards-emp .card-icon{
    display: none;
}
.lista__cards-emp .card{
    height: auto;
}