//all
@import "global/all.scss";

// pages__empreendimento-all
@import "pages/empreendimento/all.scss";
// pages__empreendimento-banner
@import "pages/empreendimento/banner.scss";
// pages__empreendimento-description
@import "pages/empreendimento/description.scss";
// pages__empreendimento-info
@import "pages/empreendimento/info.scss";
// pages__empreendimento-status
@import "pages/empreendimento/status.scss";
// pages__empreendimento-gallery
@import "pages/empreendimento/gallery.scss";
// pages__empreendimento-map
@import "pages/empreendimento/map.scss";
// pages__empreendimento-video
@import "pages/empreendimento/video.scss";
// pages__empreendimento-places
@import "pages/empreendimento/places.scss";
// @include media-breakpoint-down(md){
//     body{
//         padding-top: 130px;
//     }
// }
.bread_crumb ol{
    display: flex !important;
    justify-content: start;
    
}
// .bread_crumb {
//     p{
//         svg{
//             top: 3px;
//             position: relative;
//         }
//     }
// }
@media (max-width: 991.98px){
    .description ul.list-inline.description__list li:not(:first-child):not(:last-child) {
        margin-top: 0;
        position: relative;
        top: 0;
    }
    .description{
        .list-inline-item {
            display: inline-grid;
        }
    }
    .col-sm-12.col-md-7.col-lg-7.bread__v {
        order: 2;
        padding: 0 10px !important;
    }
    ol.breadcrumb.w-100.text-center.text-md-left li a,  ol.breadcrumb.w-100.text-center.text-md-left li  {
        font-size: .9rem;
    }
    .bread_crumb p {
        justify-content: flex-end;
        padding: 0 !important;
    }
}
.bread_crumb .breadcrumb-item+.breadcrumb-item::before {
    content: "•";
}
// .breadcrumb-item+.breadcrumb-item::before {
//     display: inline-block;
//     padding-right: 0.5rem;
//     padding-left: 0.5rem;
//     color: #6c757d;
//     content: "/";
// }
.bread_crumb{
    .justify-content-end {
        justify-content: flex-end !important;
    }
}
.bread__v{
    display: flex !important;

}
.bread_crumb p {
    
    
    justify-content: flex-end;
}
.bread_crumb{

    .justify-content-between {
        justify-content: space-between !important;
        }
}
@media screen and (max-width: 767px){
    .map{
        padding-top: 0;
        .description__list p, .description__list .media-body {
            display: inline-block;
            flex: unset;
            text-align: center;
        }
    }
    .map{
        .media.align-items-center {
            text-align: center;
            justify-content: center;
        }
    }
}