//all
@import "global/all.scss";

// pages__projetos-Sociais
@import "pages/sociais/index.scss";

@media screen and (min-width: 340px) and (max-width: 767px){
    .content__inner .listagem__card {
        margin-bottom: 2rem;
        max-width: 330px;
    }
}