﻿// css page faleConosco
.bg__section {
    background-image: url(/img/fale-conosco.png);
    background-size: cover;
    background-position-y: center;
}
.form_conos {

    .form-control {
        padding-left: 1.5rem;
        border-radius: 2rem !important;
    }

    .form-control-lg {
        border-radius: 2rem !important;
    }
    
}
.md__forms {
    padding-top: 2rem !important;

    h1, p {
        color: #fff;
    }

    p {
        margin: 1rem 0rem 2rem 0rem !important;
    }

    .form-control {
        padding-left: 1.5rem;
        border-radius: 2rem !important;
    }

    .form-control-lg {
        border-radius: 2rem !important;
    }


    textarea {
        height: 15rem;
        padding-top: 1rem;

        placeholder {
            padding-top: 10rem;
        }
    }

    button {
        margin-top: -10.5rem;
    }
}
