﻿<section class="content__inner numbers">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 col-lg98 text-center">
                <h2>Conheça os nossos produtos </h2>
                <p>Atuamos nos segmentos residenciais, comerciais, flats, condomínio por regime de administração e imóveis para segunda residência. </p>
            </div>
            <div class="col-md-4 text-center numbers__item">
                <h3>218</h3>
                <p class="mt-2">Empreendimentos</p>
            </div>
            <div class="col-md-4 text-center numbers__item">
                <h3>3.603.026 m²</h3>
                <p class="mt-2">de área construída</p>
            </div>
            <div class="col-md-4 text-center numbers__item">
                <h3>22.744 </h3>
                <p class="mt-2">unidades entregues</p>
            </div>
            <div class="col-md-12 text-center">
                <a target="_top" href="/portfolio">
                    <div class="btn btn__first">
                        conheça o nosso portfólio
                    </div>
                </a>
            </div>
        </div>
    </div>
</section><!--/.numbers-->
@code {

}