﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-start justify-content-center">
            <div class="col-md-4 d-none d-md-flex">
                <img src="/img/quem.jpg" loading="lazy" alt="Mais de 35 anos de solidez no mercado do Nordeste" title="Mais de 35 anos de solidez no mercado do Nordeste" class="img-fluid rounded-img">
            </div>
            <div class="col-md-7 col-lg-8 text-left">
                <div class="col-md-10 col-lg-8 p-0">
                    <h1>Mais de 35 anos de solidez no mercado do Nordeste </h1>
                </div>
                <p>Somos uma das maiores empresas do mercado de Incorporação e Construção Civil do Nordeste brasileiro. Com sede em Recife, atuamos também em cinco estados da região: Alagoas, Bahia, Ceará, Pernambuco e Rio Grande do Norte. Ao longo de mais de três décadas de história, recebemos inúmeras premiações. </p>
                <a target="_top" href="/empreendimentos">
                    <div class="btn btn__first">
                        Conheça os empreendimentos
                    </div>
                </a>
            </div>

        </div>
    </div>
</section><!--/.content__inner-->
@code {

}
