﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-around">
          
            <div class="col-md-6">
                <img src="/img/quem2.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid w-100 d-none d-md-flex rounded-img">
            </div>
            <div class="col-md-5">
                <h2>Nossas Gentilezas</h2>
                <p>
                    Um empreendimento não existe isolado de tudo o que está ao redor. Quando fazemos uma obra em um lugar, queremos proporcionar bons momentos para toda a comunidade da região. Por isso, vamos promover gentilezas urbanas em cada projeto.
                </p>
                <a target="_top" href="/projetos-sociais">
                    <div class="btn btn__first">
                        Conheça
                    </div>
                </a>
            </div>
        </div>
    </div>
</section><!--/.timeline-->
@code {

}