﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Política do Sistema de Gestão Integrado - SGI</h1>
                <p>
                    Encantar os clientes e atender os requisitos e as legislações aplicáveis.<br />
                    Construir bem feito da primeira vez, com a redução e correta destinação dos resíduos.<br />
                    Melhorar continuamente a gestão da qualidade, do meio ambiente e da segurança e saúde para assegurar o sucesso da empresa e o desenvolvimento sustentável.<br />
                    Garantir o trabalho seguro e saudável, com a consulta e participação de todos para eliminar os perigos e reduzir os riscos de segurança e saúde.<br />
                </p>
                <p><b>R04 – 03/08/2021.<br />
                    Escopo das Certificações<br />ISO 9001:2015 | ISO 14001:2015 | OHSAS 18001:2007 | PBQP-H:2018</b></p>
                <p>O escopo do Sistema de Gestão Integrado da Moura Dubeux Engenharia é: Planejamento, projeto, comercialização, incorporação e execução de obras comerciais e residenciais, e em todas as obras.</p>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}
