@* <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'> *@

<section class="content__inner timeline">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h2>Linha do Tempo</h2>
                <p>Fique por dentro da nossa história </p>
            </div>
            <div class="col-md-12">
                <div class="timeline-wrapper">
                    <div class="timeline-slider">
                        <div class="timeline-slide" data-year="1983">    
                            <div class="timeline-year d-inline-block">1983</div>
                            <div class="timeline-slide__content">
                                <img src="/img/1.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img mt-3 d-none">
                                <h4 class="timeline-title"><b>Fundação</b>
                                da Empresa ​pelos Irmãos Aluísio, Gustavo ​e Marcos José Moura Dubeux​</h4>
                            </div>
    
                        </div>
                        <div class="timeline-slide" data-year="1990">     
                            <div class="timeline-year d-inline-block">1990</div>
                            <div class="timeline-slide__content">
                                <img src="/img/1.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                 <h4 class="timeline-title"><b>Entrega do 1º empreendimento</b>
                                 da MD em  Recife - Morada Apipucos​​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="1999">     
                            <div class="timeline-year d-inline-block">1999</div>
                            <div class="timeline-slide__content">
                                <img src="/img/2.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                 <h4 class="timeline-title"><b>Início da atuação</b>
                                 no segmento de segunda residência ​com lançamento do Beach ​Class Suítes​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2001">     
                            <div class="timeline-year d-inline-block">2001</div>
                            <div class="timeline-slide__content">
                                <img src="/img/timeline.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img d-none">
                                <h4 class="timeline-title"><b>Primeira ​empresa ​de Pernambuco ​</b>
                                a obter o certificado ​ISO 9001 em construção e desenvolvimento imobiliário​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2004">     
                            <div class="timeline-year d-inline-block">2004</div>
                            <div class="timeline-slide__content">
                                <img src="/img/timeline.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img d-none">
                                <h4 class="timeline-title"><b>Fomos eleita a marca mais lembrada</b>
                                de Pernambuco pela 1ª vez em empreendimento imobiliários​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2006">     
                            <div class="timeline-year d-inline-block">2006</div>
                            <div class="timeline-slide__content">
                                <img src="/img/3.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>Criada ​a marca VIVEX</b>
                                para construção de empreendimentos econômicos​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2007">     
                            <div class="timeline-year d-inline-block">2007</div>
                            <div class="timeline-slide__content">
                                <img src="/img/11.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>Alcançamos a marca ​de 1,05 milhão de ​metros quadrados</b>
                               entregues em 79 empreendimentos. Início da expansão ​no Nordeste. Início das atividade ​da MD Urbanismo​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2008">     
                            <div class="timeline-year d-inline-block">2008</div>
                            <div class="timeline-slide__content">
                                <img src="/img/4.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>Eleita pela segunda</b>
                                vez entre as 100 melhores empresas para se trabalhar no Brasil​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2009">     
                            <div class="timeline-year d-inline-block">2009</div>
                            <div class="timeline-slide__content">
                                <img src="/img/6.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>Início da parceria com a MRV </b>
                                e acesso ao mercado de capitais com ​1º emissão ​de debentures. Atingimos o número de 66 torres em construção​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2011">     
                            <div class="timeline-year d-inline-block">2011</div>
                            <div class="timeline-slide__content">
                                <img src="/img/timeline.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img d-none">
                                <h4 class="timeline-title"><b>MD atinge marca superior </b>
                                a R$1bi em vendas​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2013">     
                            <div class="timeline-year d-inline-block">2013</div>
                            <div class="timeline-slide__content">
                                <img src="/img/timeline.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img d-none">
                                <h4 class="timeline-title"><b>Atingimos ​a  marca  </b>
                                de 2M de m² construídos​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2014">
                            <div class="timeline-year d-inline-block">2014</div>
                            <div class="timeline-slide__content">
                                <img src="/img/8.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>35 anos</b> de Moura Dubeux​​</h4>
                            </div>
                            <!--
                            <div class="timeline-slide__content">
                                <img src="/img/7.png" alt="" title="" class="img-fluid rounded-img">
                                <h4 class="timeline-title">
                                    <b>Lançamento do empreendimento com maior  </b>
                                    recurso financiado pela CEF no NE, Aurora Trend, com ​768 unidades
                                </h4>
                            </div>-->
                        </div>
                        <div class="timeline-slide" data-year="2017">     
                            <div class="timeline-year d-inline-block">2017</div>
                            <div class="timeline-slide__content">
                                <img src="/img/timeline.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img d-none">
                                <h4 class="timeline-title"><b>Entrega do ​número 200  </b>
                                  de empreendimentos e marco de 3M de m² construídos​​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2018">     
                            <div class="timeline-year d-inline-block">2018</div>
                            <div class="timeline-slide__content">
                                <img src="/img/logo-aurora-trend.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>Lançamento do empreendimento com maior</b>recurso financiado pela CEF no NE, Aurora Trend, com ​768 unidades​​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2019">     
                            <div class="timeline-year d-inline-block">2019</div>
                            <div class="timeline-slide__content">
                                <img src="/img/9.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>Início do projeto    </b>
                                de Inovação MD​</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2020">     
                            <div class="timeline-year d-inline-block">2020</div>
                            <div class="timeline-slide__content">
                                <img src="/img/10.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>No dia 13 de fevereiro de 2020,     </b>
                                fizemos o nosso IPO na B3</h4>
                            </div>
                        </div>
                        <div class="timeline-slide" data-year="2020">     
                            <div class="timeline-year d-inline-block">2020</div>
                            <div class="timeline-slide__content">
                                <img src="/img/12.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid rounded-img">
                                <h4 class="timeline-title"><b>Junho     </b>
                               Uma nova marca, um novo tempo.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-nav">
                    <div class="timeline-nav__item">1983</div>
                    <div class="timeline-nav__item">1990</div>
                    <div class="timeline-nav__item">1999</div>
                    <div class="timeline-nav__item">2001</div>
                    <div class="timeline-nav__item">2004</div>
                    <div class="timeline-nav__item">2006</div>
                    <div class="timeline-nav__item">2007</div>
                    <div class="timeline-nav__item">2008</div>
                    <div class="timeline-nav__item">2009</div>
                    <div class="timeline-nav__item">2011</div>
                    <div class="timeline-nav__item">2013</div>
                    <div class="timeline-nav__item">2014</div>
                    <div class="timeline-nav__item">2017</div>
                    <div class="timeline-nav__item">2018</div>
                    <div class="timeline-nav__item">2019</div>
                    <div class="timeline-nav__item">2020</div>
                    <div class="timeline-nav__item">2020</div>

                </div>
            </div>
        </div>
    </div>
</section><!--/.timeline-->


@code {

}