﻿@using MouraDubeux.Admin.Data.Enum

<section class="banner carousel slide content__inner carousel-fade" data-ride="carousel" id="banner__carousel">
    <div class="carousel-inner h-100">
        @foreach (var empreendimento in empreendimentosHome)
        {
        <div class="carousel-item bg__carousel lozad @(i == 0 ? "active" : "") h-100" style="background-image: url('@(empreendimento.UrlImagemCampanha != null ? empreendimento.UrlImagemCampanha : empreendimento.UrlBanner)');"  data-background-image="@(empreendimento.UrlImagemCampanha != null ? empreendimento.UrlImagemCampanha : empreendimento.UrlBanner)">
            <div class="row h-100 align-items-end justify-content-end d-lg-none">
                <div class="col-md-12 p-0">
                    <img src="@(empreendimento.UrlImagemCampanha != null ? empreendimento.UrlImagemCampanha : empreendimento.UrlBanner)" alt="@empreendimento.Nome" title="@empreendimento.Nome" loading="lazy" class="d-lg-none img-fluid">
                </div>

            </div>
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-end justify-content-center">
                    <div class="col-md-12 col-lg-4 col-12 h-100">
                        <div class="row align-items-end justify-content-end h-100">
                            <div class="col-md-12 col-xl-10 col-12 col-xxl-6 banner__card-position">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <h2 class="text-white">

                                                @foreach (var Enum in Enum.GetValues(typeof(EnumTipoEmpreendimento)).Cast<EnumTipoEmpreendimento>().ToList())
                                                {
                                                    if ((int)Enum == empreendimento.TipoEmpreendimento)
                                                    {
                                                        @(extensionMethods.Description(Enum))
                                                    }
                                                }

                                            </h2>
                                            <h1 class="text-white">@empreendimento.Nome</h1>
                                            <ul class="list-inline description__list d-md-flex align-items-end mt-2">
                                                <li class="list-inline-item">
                                                    <div class="media align-items-center">
                                                        <img class="align-self-center mr-2" src="/img/icon4.png" width="12" height="17" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                                                        <div class="media-body">
                                                            <p class="text-white m-0 text-capitalize">@empreendimento.Cidade - @empreendimento.Bairro</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <ul class="list-inline description__list d-md-flex align-items-end">

                                                    <li class="list-inline-item">
                                                        <div class="media align-items-center">
                                                            <img class="align-self-center mr-2" src="/img/icon3.png" width="17" height="11" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                                                            <div class="media-body">
                                                                <p>@empreendimento.Metragem</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <div class="media align-items-center">
                                                            <img class="align-self-center mr-2" src="/img/icon2.png" width="18" height="20" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                                                            <div class="media-body">
                                                                <p>@empreendimento.VagasGaragem</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <div class="media align-items-center">
                                                            <img class="align-self-center mr-2" src="/img/icon5.png" width="23" height="19" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                                                            <div class="media-body">
                                                                <p>@empreendimento.Quartos</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                @if ((int)EnumTipoEmpreendimento.Empresarial == empreendimento.TipoEmpreendimento)
                                                {
                                                    <a target="_top" href="/@empreendimento.Estado/@empreendimento.Cidade/@extensionMethods.CreateSlug(empreendimento.Bairro)/@extensionMethods.CreateSlug(extensionMethods.Description((EnumTipoEmpreendimento)empreendimento.TipoEmpreendimento).ToLower())/@empreendimento.Slug/" >
                                                        <div class="btn btn__second" data-state="reversed">
                                                            saiba mais
                                                        </div>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a target="_top" href="/@empreendimento.Estado/@empreendimento.Cidade/@extensionMethods.CreateSlug(empreendimento.Bairro)/@extensionMethods.CreateSlug(extensionMethods.Description((EnumTipoEmpreendimento)empreendimento.TipoEmpreendimento).ToLower())/@extensionMethods.CreateSlug(empreendimento.Quartos)/@empreendimento.Slug/" >
                                                        <div class="btn btn__second" data-state="reversed">
                                                            saiba mais
                                                        </div>
                                                    </a>
                                                }
                                                <a target="_top" href="/@empreendimento.Estado/@empreendimento.Cidade/@extensionMethods.CreateSlug(empreendimento.Bairro)/@extensionMethods.CreateSlug(extensionMethods.Description((EnumTipoEmpreendimento)empreendimento.TipoEmpreendimento).ToLower())/@extensionMethods.CreateSlug(empreendimento.Quartos)/@empreendimento.Slug/" >
                                                   
                                                </a>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8 col-7 ">

                    </div>
                </div>
            </div>
        </div>
            i++;
        }

        @if (empreendimentosHome.Count() > 1)
        {
            <a target="_top" class="carousel-control-prev prev" href="#banner__carousel" role="button" data-slide="prev">
                <svg width="49" height="78" viewBox="0 0 49 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M44.6504 6.24987L39.0613 0.660827L4.65039 35.0718L39.0613 69.4827L44.6504 63.8937L15.8285 35.0718L44.6504 6.24987Z" fill="white" />
                    </g>
                    <defs>
                        <filter id="filter0_d" x="0.650391" y="0.660767" width="48" height="76.8219" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                            <feOffset dy="4" />
                            <feGaussianBlur stdDeviation="2" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                        </filter>
                    </defs>
                </svg>

                <span class="sr-only">Previous</span>
            </a>
            <a target="_top" class="carousel-control-next next" href="#banner__carousel" role="button" data-slide="next">
                <svg width="48" height="78" viewBox="0 0 48 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 6.24987L9.58904 0.660827L44 35.0718L9.58905 69.4827L4 63.8937L32.8219 35.0718L4 6.24987Z" fill="white" />
                    </g>
                    <defs>
                        <filter id="filter0_d" x="0" y="0.660767" width="48" height="76.8219" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                            <feOffset dy="4" />
                            <feGaussianBlur stdDeviation="2" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                        </filter>
                    </defs>
                </svg>

                <span class="sr-only">Next</span>
            </a>
        }

    </div>
</section>

@code {
    int i = 0;
}
