﻿@using MouraDubeux.Admin.Data.Enum

<div class="busca d-lg-flex justify-content-end pb-4 filter">
    <div id="set__form" class="container">
        <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit" class="form-inline w-100  d-flex justify-content-center align-items-center">
            <div class="form-group busc__after">
                <InputSelect @oninput="HandleFirstDropDownCidadeChange" @bind-Value="model.Cidade">
                    <option value="">Cidade</option>

                    @foreach (var cidade in cidades)
                    {
                        <option value="@cidade.Slug">@cidade.Nome</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group busc__after">
                <InputSelect @bind-Value="model.Bairro" @oninput="HandleFirstDropDownBairroChange">
                    <option value="">Bairro</option>
                    @if (empreendimentoBairros != null)
                    {
                        foreach (var empreendimento in empreendimentoBairros)
                        {
                            <option value="@extensionMethods.CreateSlug(empreendimento.Bairro)">@empreendimento.Bairro</option>
                        }
                    }
                </InputSelect>
            </div>
            @*
            <div class="form-group busc__after">
                <InputSelect @bind-Value="model.Quartos">
                    <option value="">Quartos</option>
                    @foreach (var empreendimento in empreendimentoQuartos)
                    {
                        <option value="@extensionMethods.CreateSlug(empreendimento.Quartos)">@empreendimento.Quartos</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group busc__after">
                <InputSelect @bind-Value="model.StatusEmpreendimento">
                    <option value="">Estágio da obra</option>
                    @foreach (var m in Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList())
                    {
                        <option value="@(extensionMethods.CreateSlug(extensionMethods.Description(m)))">@(extensionMethods.Description(m))</option>
                    }
                </InputSelect>
            </div> *@
            <button type="submit" class="btn btn__first busca__botao px-4 py-2">Buscar imóvel</button>
            <a target="_top" href="#" data-toggle="modal" data-target="#adv__search" class="botao__underline">Busca Avançada </a>
            @*
            <div class="row justify-content-end w-100">
                <div class="col-md-8 mt-3 text-right">
                    <a target="_top" href="#" data-toggle="modal" data-target="#adv__search" class="botao__underline">Busca Avançada </a>
                </div>
            </div> *@

        </EditForm>
    </div>
</div>

<div class="modal fade" id="adv__search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit" class="form-inline w-100  d-flex">
                <div class="modal-body busca">
                    <div style="margin-left: 0rem; margin-right:0rem;" class="container row justify-content-center align-items-center">
                        <div class="form-group busc__after mt-3">
                            <InputSelect @oninput="HandleFirstDropDownCidadeChange" @bind-Value="model.Cidade">
                                <option value="">Cidade</option>

                                @foreach (var cidade in cidades)
                                {
                                    <option value="@cidade.Slug">@cidade.Nome</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group busc__after mt-3">
                            <InputSelect @bind-Value="model.Bairro" @oninput="HandleFirstDropDownBairroChange">
                                <option value="">Bairro</option>
                                @if (empreendimentoBairros != null)
                                {
                                    foreach (var empreendimento in empreendimentoBairros)
                                    {
                                        <option value="@extensionMethods.CreateSlug(empreendimento.Bairro)">@empreendimento.Bairro</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group busc__after mt-3">
                            <InputSelect @bind-Value="model.Quartos">
                                <option value="">Quartos</option>
                                @foreach (var empreendimento in empreendimentoQuartos)
                                {
                                    <option value="@extensionMethods.CreateSlug(empreendimento.Quartos)">@empreendimento.Quartos</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group busc__after mt-3">
                            <InputSelect @bind-Value="model.StatusEmpreendimento">
                                <option value="">Estágio da Obra</option>
                                @foreach (var m in Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList())
                                {
                                    <option value="@(extensionMethods.CreateSlug(extensionMethods.Description(m)))">@(extensionMethods.Description(m))</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group busc__after mt-3">
                            <InputSelect @bind-Value="model.TipoEmpreendimento">
                                <option value="">Tipo de Empr.</option>
                                @foreach (var m in Enum.GetValues(typeof(EnumTipoEmpreendimento)).Cast<EnumTipoEmpreendimento>().ToList())
                                {
                                    <option value="@(extensionMethods.CreateSlug(extensionMethods.Description(m)))">@(extensionMethods.Description(m))</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group busc__after mt-3">
                            <InputSelect @bind-Value="model.ModeloNegocio">
                                <option value="">Modelos de negócios</option>
                                @foreach (var m in Enum.GetValues(typeof(EnumModeloNegocio)).Cast<EnumModeloNegocio>().ToList())
                                {
                                    <option value="@(extensionMethods.CreateSlug(extensionMethods.Description(m)))">@(extensionMethods.Description(m))</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col-md-12 text-center">
                            <button style="margin: 1.5rem 1rem 0rem 1rem;" type="submit" class="btn btn__first busca__botao">Buscar imóvel</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code {

}
