﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Precisa de algo mais?</h2>
                <p>Se você tiver alguma dúvida ou não encontrar o que precisava aqui, você pode entrar em contato com a nossa equipe pelo chat online.</p>
                <a target="_top" style="margin-top:2em;" href="" class="btn btn__first busca__botao">Abrir o Chat</a>
            </div>
        </div>
    </div>
</section><!--/.chat-->