<section class="content__inner chat__one">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Entre em contato com a gente</h2>
                <p>Quer saber mais sobre os nossos empreendimentos? Fale com a nossa equipe agora:</p>
                <a target="_top" href="/fale-conosco">
                    <div class="btn btn__first busca__botao">fale conosco</div>
                </a>
            </div>
        </div>
    </div>
</section><!--/.chat-->