﻿<section class="content__inner numbers">
    <div class="chat__one">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-8 text-center">
                    <h2>Entre em contato com a gente</h2>
                    <p>Quer saber mais sobre os nossos empreendimentos? Fale com a nossa equipe agora pelo chat:</p>
                    <a target="_top" href="/fale-conosco">
                        <div class="btn btn__first">
                            Fale Conosco
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100 contact__two caption__titles">
        <div class="text-center">
            <p>Se preferir, você também pode usar os seguintes meios: </p>
        </div>
        <div class="row h-100 align-items-start justify-content-center">
            <div class="col-md-4 text-center">
                <svg width="206" height="207" viewBox="0 0 206 207" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip031543543534)">
                        <path d="M205.771 121.359V45.4905C203.286 -14.1537 117.607 -14.1356 115.132 45.4909C115.132 45.4905 115.132 79.6181 115.132 79.6181C100.544 75.34 83.3198 79.6383 72.65 89.6083C71.4333 88.7139 70.1728 87.8799 68.8744 87.1106C71.1746 84.7086 73.1119 81.9369 74.5797 78.8694C80.7951 80.352 87.0555 75.4249 86.9734 69.0071V64.8622C104.078 25.8192 64.3267 -13.1772 25.5951 5.10208C22.0859 6.80761 24.7252 12.2372 28.2337 10.5297C57.5026 -3.53745 90.1343 21.424 84.2983 53.2389C83.1041 51.9425 81.576 50.9584 79.852 50.4241C81.4617 29.9814 66.3058 12.4279 45.4129 12.3282C24.5208 12.4288 9.36375 29.9818 10.9743 50.4241C9.38708 50.9161 7.966 51.7892 6.81852 52.9363C6.38278 50.5255 6.17155 48.0631 6.18764 45.5622C6.18764 35.6581 9.9391 26.2167 16.7512 18.9769C19.4248 16.1355 15.0296 11.9999 12.3556 14.8412C4.48573 23.2043 0.151684 34.1147 0.151684 45.5428C0.111449 51.8661 1.34182 57.9966 3.80818 63.7642C3.82227 63.7972 3.83715 63.8298 3.85204 63.8624V69.0079C3.75588 75.5557 10.3008 80.5234 16.5794 78.7889C18.0447 81.8693 19.9872 84.6543 22.2971 87.0687C8.70994 95.0971 0 110.115 0 125.93C0 129.831 6.03516 129.831 6.03516 125.93C6.03516 115.772 10.0682 106.153 16.9069 98.9854L32.4386 109.611C33.8266 110.453 35.1512 110.286 36.4125 109.108L45.5984 98.6192L54.7839 109.108C56.0453 110.286 57.3698 110.453 58.7579 109.611L60.0715 108.712C58.5833 113.152 57.777 117.897 57.777 122.824L57.6329 145.537C44.4356 156.015 46.6208 177.268 61.5184 184.916C58.8882 190.67 57.4515 196.995 57.4515 203.513C57.4515 207.415 63.4866 207.415 63.4866 203.513C63.4866 193.355 67.5197 183.736 74.3584 176.568L89.89 187.194C91.2781 188.036 92.6026 187.869 93.864 186.691L103.05 176.202L112.236 186.691C113.497 187.869 114.822 188.036 116.21 187.194L131.727 176.579C138.629 183.775 142.514 193.54 142.514 203.513C142.514 207.414 148.549 207.414 148.549 203.513C148.549 197.004 147.149 190.63 144.462 184.782C147.232 183.28 149.689 181.232 151.68 178.748C154.12 175.704 149.41 171.929 146.971 174.974C145.483 176.83 143.648 178.359 141.58 179.479C137.753 173.443 132.499 168.353 126.355 164.709C128.637 162.311 130.562 159.537 132.033 156.452C136.975 157.566 142.202 154.709 143.872 149.891C148.246 153.225 150.841 158.438 150.841 163.94C150.841 167.842 156.876 167.842 156.876 163.94C156.876 156.852 153.669 150.123 148.223 145.64V122.842C148.223 117.874 147.405 113.091 145.895 108.62L147.342 109.61C148.73 110.453 150.055 110.285 151.316 109.108L160.502 98.6188L169.688 109.108C170.949 110.285 172.274 110.453 173.662 109.61L189.17 99.0011C196.054 106.189 199.965 115.998 199.965 125.93C199.965 129.831 206 129.831 206 125.93C206 124.391 205.923 122.866 205.771 121.359ZM160.451 6.5662C182.113 6.5662 199.736 24.0275 199.736 45.4909V53.8689C198.479 52.2612 196.748 51.0421 194.754 50.4241V46.5004C192.861 1.15669 127.753 1.1917 125.877 46.5004V50.4245C124.024 50.999 122.397 52.0934 121.167 53.5362V45.4909C121.167 24.0275 138.79 6.5662 160.451 6.5662ZM160.501 91.0218C150.135 91.0218 140.739 84.8635 136.632 75.542C138.129 73.7785 139.033 71.4968 139.033 69.0075C139.018 68.5947 139.077 59.1175 138.985 59.093C142.986 58.9324 148.04 58.2106 153.113 56.1028C159.394 53.4928 164.268 49.372 167.664 43.8164C170.288 48.1396 174.868 53.815 182.059 57.0595C181.759 58.0143 181.597 59.0298 181.597 60.0823V69.0075C181.597 70.9991 182.176 72.858 183.175 74.4251C179.14 77.7633 174.257 78.2389 169.258 78.0663C166.044 69.193 152.93 71.2466 152.744 80.8091C152.896 90.0457 165.384 92.436 169.045 84.1015C172.394 84.198 175.891 84.1743 179.128 83.24C174.322 88.1024 167.646 91.0218 160.501 91.0218ZM188.719 50.4241C187.591 50.7737 186.547 51.3161 185.626 52.0121C174.783 47.7666 170.531 36.1095 170.49 35.9936C169.58 33.3893 165.795 33.3398 164.819 35.9216C158.804 51.8295 142.909 53.2284 136.213 53.0844C135.041 51.8641 133.567 50.9367 131.912 50.4237V46.5C131.912 30.9852 144.654 18.3629 160.316 18.3629C175.978 18.3629 188.72 30.9852 188.72 46.5V50.4241H188.719ZM128.864 56.0086C131.102 56.1985 132.998 57.6554 132.998 60.0823V69.0075C132.998 74.3374 124.79 74.3374 124.79 69.0075V60.0823C124.79 57.8361 126.618 56.0086 128.864 56.0086ZM161.231 83.2139C157.99 83.1121 157.991 78.5041 161.231 78.4031C164.471 78.5049 164.47 83.1129 161.231 83.2139ZM187.633 69.0075V60.0823C187.633 54.8 195.841 54.7634 195.841 60.0823V69.0075C195.841 74.3374 187.633 74.3374 187.633 69.0075ZM121.167 75.5541C123.023 77.7324 125.785 79.1164 128.864 79.1164H128.925C129.808 79.1164 130.664 79.0026 131.482 78.7889C132.946 81.8717 134.886 84.6575 137.192 87.072C135.869 87.8525 134.586 88.7002 133.349 89.6099C129.763 86.3844 125.655 83.7204 121.167 81.7594V75.5541H121.167ZM45.5984 91.0218C35.2634 91.0218 25.8361 84.8534 21.7294 75.5416C23.2265 73.7781 24.131 71.4964 24.131 69.0075C24.131 65.7345 24.4009 62.354 24.0827 59.093C28.0836 58.9324 33.1374 58.2106 38.2102 56.1028C44.4916 53.4928 49.3656 49.372 52.7613 43.8164C55.385 48.1396 59.9653 53.815 67.1564 57.0595C66.8567 58.0143 66.6949 59.0298 66.6949 60.0823V69.0075C66.6949 70.9991 67.2739 72.858 68.2725 74.4247C64.2374 77.7617 59.3542 78.2389 54.3554 78.0663C51.1423 69.193 38.0283 71.2466 37.8416 80.8091C37.9937 90.0457 50.4817 92.436 54.143 84.1015C57.4929 84.198 60.9897 84.1739 64.2269 83.2384C59.4205 88.102 52.744 91.0218 45.5984 91.0218ZM46.3283 83.2139C43.0878 83.1121 43.0886 78.5041 46.3283 78.4031C49.5688 78.5049 49.5679 83.1129 46.3283 83.2139ZM80.9383 69.0075C80.9383 74.3374 72.7301 74.3374 72.7301 69.0075V60.0823C72.7301 54.7996 80.9383 54.7638 80.9383 60.0823V69.0075ZM45.4129 18.3633C61.075 18.3633 73.8168 30.9856 73.8168 46.5004V50.4241C72.6886 50.7737 71.6445 51.3161 70.7232 52.0121C59.8804 47.7666 55.628 36.1095 55.587 35.9936C54.6769 33.3884 50.8921 33.3398 49.916 35.9216C43.9017 51.8295 28.0055 53.2284 21.3109 53.0844C20.1389 51.8645 18.6647 50.9367 17.0099 50.4237V46.5C17.0091 30.9856 29.7509 18.3633 45.4129 18.3633ZM13.9613 73.0813C11.715 73.0813 9.8876 71.2538 9.8876 69.0075V60.0823C9.8876 54.7525 18.0958 54.7525 18.0958 60.0823V69.0075C18.0958 71.4345 16.2 72.8914 13.9613 73.0813ZM33.6367 103.118L21.5375 94.8408C23.3001 93.4978 25.1879 92.2944 27.1876 91.2523C30.8405 93.7955 35.02 95.5924 39.4655 96.4619L33.6367 103.118ZM57.5601 103.118L51.7342 96.4655C56.174 95.6016 60.3403 93.8181 63.9811 91.2897C65.5092 92.09 66.9854 92.9908 68.3976 93.9842C67.4163 95.1402 66.4929 96.3456 65.6311 97.5961L57.5601 103.118ZM64.3863 179.606C53.0273 173.82 51.5772 157.565 61.8575 149.892C63.2291 153.85 66.9943 156.7 71.4128 156.7H71.4736C72.3567 156.7 73.2137 156.586 74.0308 156.372C75.4962 159.452 77.4387 162.237 79.7486 164.651C77.0118 166.268 74.4774 168.155 72.174 170.267C72.0203 170.384 71.8763 170.517 71.7447 170.665C68.9126 173.33 66.4414 176.339 64.3863 179.606ZM103.05 168.605C92.7149 168.605 83.2876 162.437 79.1808 153.125C80.678 151.362 81.5824 149.08 81.5824 146.591C81.5672 146.178 81.6259 136.701 81.5342 136.677C85.5222 136.517 90.5454 135.801 95.5945 133.714C101.908 131.106 106.805 126.976 110.213 121.4C112.837 125.724 117.417 131.399 124.608 134.643C124.308 135.598 124.146 136.614 124.146 137.666V146.591C124.146 148.583 124.726 150.443 125.725 152.01C122.907 154.346 119.332 155.65 115.596 155.65H111.807C108.594 146.777 95.4798 148.83 95.2931 158.393C95.4448 167.629 107.933 170.019 111.594 161.685C114.803 161.707 118.678 161.813 121.721 160.816C116.921 165.713 110.254 168.605 103.05 168.605ZM106.102 159.161C105.201 161.695 101.372 161.122 101.328 158.392C101.328 157.065 102.427 155.987 103.78 155.987C106.067 155.987 105.859 157.685 106.102 159.161ZM131.268 128.007C130.14 128.357 129.096 128.899 128.175 129.595C117.331 125.35 113.079 113.693 113.038 113.577C112.126 110.968 108.343 110.922 107.367 113.505C101.359 129.395 85.5073 130.819 78.7616 130.668C77.5896 129.448 76.1154 128.52 74.4605 128.007V124.084C74.4605 108.569 87.2024 95.9465 102.864 95.9465C118.526 95.9465 131.268 108.569 131.268 124.084V128.007H131.268ZM71.4128 133.592C73.6514 133.782 75.5473 135.239 75.5473 137.665V146.591C75.5473 151.921 67.3391 151.921 67.3391 146.591V137.665C67.3387 135.419 69.1665 133.592 71.4128 133.592ZM91.0878 180.701L78.9889 172.424C80.7516 171.081 82.6394 169.878 84.639 168.835C88.2919 171.379 92.4715 173.175 96.917 174.045L91.0878 180.701ZM115.012 180.701L109.194 174.059C113.659 173.204 117.833 171.429 121.476 168.895C123.464 169.936 125.335 171.125 127.079 172.446L115.012 180.701ZM138.39 146.591C138.39 151.921 130.182 151.921 130.182 146.591V137.665C130.182 132.381 138.39 132.348 138.39 137.665V146.591ZM137.303 128.007V124.084C135.41 78.7398 70.3019 78.7748 68.4254 124.084V128.007C66.5943 128.575 64.9841 129.65 63.7602 131.067L63.8125 122.844C65.9667 71.3202 140.053 71.36 142.188 122.844V131.33C140.94 129.783 139.246 128.61 137.303 128.007ZM148.539 103.118L140.273 97.4629C139.438 96.2603 138.546 95.0995 137.6 93.985C139.031 92.9784 140.529 92.0659 142.079 91.2579C145.731 93.802 149.912 95.5968 154.366 96.4643L148.539 103.118ZM172.463 103.118L166.637 96.4655C171.077 95.6016 175.243 93.8177 178.884 91.2897C180.886 92.3366 182.77 93.5344 184.526 94.8658L172.463 103.118ZM191.938 93.2431C189.828 90.9083 186.447 88.6829 183.78 87.1086C186.079 84.707 188.015 81.936 189.483 78.8698C193.279 79.7799 197.494 78.2015 199.736 75.2213V102.988C197.616 99.4127 194.759 96.3637 191.938 93.2431Z" fill="url(#paint0_radial)" />
                    </g>
                    <defs>
                        <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(103 103.45) rotate(90) scale(102.989 103)">
                            <stop stop-color="#DE963E" />
                            <stop offset="1" stop-color="#A50112" />
                        </radialGradient>
                        <clipPath id="clip031543543534">
                            <rect width="206" height="206" fill="white" transform="translate(0 0.449219)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="col-md-5 text-left">
                <h5>Central de Atendimento</h5>
                <h4>Consultores <b><a target="_top" href="tel:+5540203538">4020 3538</a></b></h4>
                <p>Horário de funcionamento - Segunda a sábado,<br /> das 9h às 20h | Domingo, das 9h às 18h</p>
                <p>E-mail: <a target="_top" href="mailto:faleconosco@mouradubeux.com.br">faleconosco@mouradubeux.com.br</a></p>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}