﻿@using MouraDubeux.Front.Blazor.Data
@using MouraDubeux.Admin.Data.Data 
@using Microsoft.AspNetCore.Components


@inject NavigationManager navigationManager

<footer>
    <div class="container h-100">
        <div class="row align-items-start jsutify-content-center h-100">
            <div class="col-lg-2 col-md-12 social text-center text-lg-left">
                <img src="/img/logow.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid" width="144" height="40" loading="lazy">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/mouradubeuxoficial" target="_blank" rel="noopener noreferrer">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.687012H18.75C19.8546 0.687012 20.75 1.58244 20.75 2.68701V18.687C20.75 19.7916 19.8546 20.687 18.75 20.687H2.75C1.64543 20.687 0.75 19.7916 0.75 18.687V2.68701C0.75 1.58244 1.64543 0.687012 2.75 0.687012ZM2.75 2.68701V18.687H18.75V2.68701H2.75ZM9.88306 10.6914H11.75V16.687H13.75V10.6914H15.7324V8.69141H13.75V7.68701C13.75 7.13473 14.1977 6.68701 14.75 6.68701H15.75V4.68701H14.75C13.0931 4.68701 11.75 6.03016 11.75 7.68701V8.69141H9.88306V10.6914Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/mouradubeux_oficial/" target="_blank" rel="noopener noreferrer">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.25 0.687012H6.25C2.93629 0.687012 0.25 3.3733 0.25 6.68701V14.687C0.25 18.0007 2.93629 20.687 6.25 20.687H14.25C17.5637 20.687 20.25 18.0007 20.25 14.687V6.68701C20.25 3.3733 17.5637 0.687012 14.25 0.687012ZM2.25 6.68701C2.25 4.47787 4.04086 2.68701 6.25 2.68701H14.25C16.4591 2.68701 18.25 4.47787 18.25 6.68701V14.687C18.25 16.8962 16.4591 18.687 14.25 18.687H6.25C4.04086 18.687 2.25 16.8962 2.25 14.687V6.68701ZM10.25 15.687C7.48858 15.687 5.25 13.4484 5.25 10.687C5.25 7.92559 7.48858 5.68701 10.25 5.68701C13.0114 5.68701 15.25 7.92559 15.25 10.687C15.25 13.4484 13.0114 15.687 10.25 15.687ZM10.25 13.687C11.9069 13.687 13.25 12.3439 13.25 10.687C13.25 9.03016 11.9069 7.68701 10.25 7.68701C8.59315 7.68701 7.25 9.03016 7.25 10.687C7.25 12.3439 8.59315 13.687 10.25 13.687ZM16.25 5.68701C16.25 6.2393 15.8023 6.68701 15.25 6.68701C14.6977 6.68701 14.25 6.2393 14.25 5.68701C14.25 5.13473 14.6977 4.68701 15.25 4.68701C15.8023 4.68701 16.25 5.13473 16.25 5.68701Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/mouradubeux/" target="_blank" rel="noopener noreferrer">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 0.812988H18.25C19.3546 0.812988 20.25 1.70842 20.25 2.81299V18.813C20.25 19.9176 19.3546 20.813 18.25 20.813H2.25C1.14543 20.813 0.25 19.9176 0.25 18.813V2.81299C0.25 1.70842 1.14543 0.812988 2.25 0.812988ZM2.25 2.81299V18.813H18.25V2.81299H2.25ZM11.25 7.81299C10.7323 7.81299 10.1853 7.97125 9.70215 8.26514L9.25 7.81299H8.25V14.813H10.25V10.813C10.25 10.2372 10.844 9.81299 11.25 9.81299H12.25C12.656 9.81299 13.25 10.2372 13.25 10.813V14.813H15.25V10.813C15.25 8.96016 13.644 7.81299 12.25 7.81299H11.25ZM6.25 6.81299C6.80228 6.81299 7.25 6.36527 7.25 5.81299C7.25 5.2607 6.80228 4.81299 6.25 4.81299C5.69772 4.81299 5.25 5.2607 5.25 5.81299C5.25 6.36527 5.69772 6.81299 6.25 6.81299ZM5.25 7.81299V14.813H7.25V7.81299H5.25Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/user/mouradubeuxtv" target="_blank" rel="noopener noreferrer">
                            <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2747 14.9412C21.9581 13.7701 22.25 11.8819 22.25 8.81019C22.25 5.75077 21.9608 3.87347 21.2702 2.67102C20.5781 1.42235 19.7573 1.02602 18.1283 0.930889C17.0162 0.855511 14.2523 0.812988 11.2527 0.812988C8.24661 0.812988 5.48145 0.855495 4.361 0.93148C2.74112 1.02625 1.92011 1.42345 1.22193 2.67559C0.541384 3.87389 0.25 5.76036 0.25 8.82139C0.25 11.865 0.542795 13.761 1.22791 14.9554C1.91701 16.1914 2.72493 16.5838 4.3586 16.6985C5.53276 16.7672 8.45442 16.813 11.2527 16.813C14.0446 16.813 16.9649 16.7672 18.1283 16.6993C19.777 16.5838 20.5848 16.1907 21.2747 14.9412ZM18.0024 2.9269C19.0214 2.98645 19.2103 3.07804 19.5333 3.66262C20.0035 4.47698 20.25 6.0707 20.25 8.82139C20.25 11.5513 20.0022 13.1538 19.5355 13.954C19.2114 14.5404 19.0238 14.6317 18.0001 14.7034C16.8989 14.7677 14.007 14.813 11.2527 14.813C8.49213 14.813 5.59874 14.7677 4.48703 14.7027C3.47601 14.6316 3.28565 14.5392 2.96873 13.9708C2.49886 13.1515 2.25 11.54 2.25 8.81019C2.25 6.08198 2.49754 4.47938 2.9649 3.65641C3.28675 3.07926 3.47844 2.98651 4.48709 2.92748C5.55508 2.85509 8.29424 2.81299 11.2527 2.81299C14.2047 2.81299 16.9426 2.85511 18.0024 2.9269ZM9.25 5.81299L14.25 8.81299L9.25 11.813V5.81299Z" fill="#DC8F31" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-10 sitemap p-0">
                <div class="row h-100 align-items-start justify-content-around d-none d-md-flex m-0">
                    <div class="col-md-2 pl-0 text-left">
                        <h2>Institucional</h2>
                        <ul class="list-inline">
                            <li>
                                <a target="_top" href="/quem-somos" rel="noopener noreferrer">
                                    Quem Somos
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/modelos" rel="noopener noreferrer">
                                    Modelos  de Negócio
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/projetos-sociais" rel="noopener noreferrer">
                                    Nossas Gentilezas
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/programa-de-integridade" rel="noopener noreferrer">
                                    Programa de Integridade
                                </a>
                            </li>
                            <li>
                                 @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/portfolio/@estado" rel="noopener noreferrer">
                                            Portfolio
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" href="/portfolio/pernambuco" rel="noopener noreferrer">
                                            Portfolio
                                        </a>
                                    }
                                
                            </li>
                            <li>
                                <a target="_blank" href="https://www.canaldatransparencia.com.br/mouradubeux/" rel="noopener noreferrer">
                                    Canal de Transparência
                                </a>
                            </li>
                            <li class="d-none">
                                <a target="_top" href="#" rel="noopener noreferrer">
                                    Inovação
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/sala-de-imprensa" rel="noopener noreferrer">
                                    Sala de Imprensa
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 pl-0 text-left">
                        <div class="col-md-12 p-0 mb-5">
                            <h2>Nossos imóveis</h2>
                            <ul class="list-inline">
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/lancamento" rel="noopener noreferrer">
                                            Lançamentos
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" id="lancamento" href="/pernambuco/lancamento" rel="noopener noreferrer">
                                            Lançamentos
                                        </a>
                                    }

                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/em-construcao" rel="noopener noreferrer">
                                            Em construção
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" id="construcao" href="/pernambuco/em-construcao" rel="noopener noreferrer">
                                            Em construção
                                        </a>
                                    }
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/pronto" rel="noopener noreferrer">
                                            Imóveis Prontos
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" id="pronto" href="/pernambuco/pronto" rel="noopener noreferrer">
                                            Imóveis Prontos
                                        </a>
                                    }

                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/revenda" rel="noopener noreferrer">
                                            Imóveis para Revenda
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" id="revenda" href="/pernambuco/revenda" rel="noopener noreferrer">
                                            Imóveis para Revenda
                                        </a>
                                    }
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(estado))
                                    {
                                        <a target="_top" href="/@estado/na-planta" rel="noopener noreferrer">
                                            Na Planta
                                        </a>
                                    }
                                    else
                                    {
                                        <a target="_top" id="planta" href="/pernambuco/na-planta" rel="noopener noreferrer">
                                            Na Planta
                                        </a>
                                    }
                                </li>
                                <li>
                                    <a target="_top" href="/faq/#faq__imoveis" rel="noopener noreferrer">
                                        FAQ Imóveis 
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 p-0">
                            <h2>Clientes</h2>
                            <ul class="list-inline">
                                <li>
                                    <a href="http://mdnet.mouradubeux.com.br/mdnet/login.php" target="_blank" rel="noopener noreferrer">
                                        Financeiro
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/faq/#faq__clients" rel="noopener noreferrer">
                                        FAQ Clientes
                                    </a>
                                </li>
                                <li>
                                    <a target="_top" href="/area-do-cliente" rel="noopener noreferrer">
                                        Relacionamento com Cliente
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0 text-left">
                        <h2>Relações com Investidores</h2>
                        <ul class="list-inline">
                            <li>
                                <a target="_top" href="https://ri.mouradubeux.com.br/" rel="noopener noreferrer">
                                    A Companhia
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ri.mouradubeux.com.br/governanca-corporativa/visao-geral/" rel="noopener noreferrer">
                                    Governança Corporativa
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ri.mouradubeux.com.br/informacoes-financeiras/central-de-resultados/" rel="noopener noreferrer">
                                    Central de Resultados
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ri.mouradubeux.com.br/informacoes-financeiras/planilhas/" rel="noopener noreferrer">
                                    Planilha de Fundamentos
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href=" https://ri.mouradubeux.com.br/servicos-a-investidores/cotacoes-e-graficos/" rel="noopener noreferrer">
                                    Cotações e Gráficos
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ri.mouradubeux.com.br/servicos-a-investidores/documentos-cvm/" rel="noopener noreferrer">
                                    Documentos CVM
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ri.mouradubeux.com.br/servicos-a-investidores/calendario-de-eventos/" rel="noopener noreferrer">
                                    Calendário de Eventos
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ri.mouradubeux.com.br/fale-com-ri/fale-com-o-ri/" rel="noopener noreferrer">
                                    Fale com a RI
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/como-investir" rel="noopener noreferrer">
                                    Como Investir
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 pl-0 text-left">
                        <h2>Contato</h2>
                        <ul class="list-inline">
                            <li>
                                <a target="_top" href="/fale-conosco" rel="noopener noreferrer">
                                    Fale Conosco
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/trabalhe-conosco" rel="noopener noreferrer">
                                    Trabalhe Conosco
                                </a>
                            </li>
                            <li class="d-none">
                                <a target="_top" href="#" rel="noopener noreferrer">
                                    Fornecedores
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/nossos-escritorios" rel="noopener noreferrer">
                                    Nossos Escritórios
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="/comprar-terreno" rel="noopener noreferrer">
                                    Compramos um terreno
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 pl-0 text-left">
                        <ul class="list-inline list__custom">
                            <li class="d-none">
                                <a href="https://www.mouradubeux.com.br/blog" target="_blank" rel="noopener noreferrer">
                                    Blog
                                </a>
                            </li>
                            <li class="d-none">
                                <a target="_top" href="#" rel="noopener noreferrer">
                                    Arquitetos
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://mouradubeux.anapro.com.br/anapro/p/pages/busca/resultados.aspx" rel="noopener noreferrer">
                                    Corretores
                                </a>
                            </li>
                            <li class="">
                                <a target="_top" href="/simular" rel="noopener noreferrer">
                                    Simulador
                                </a>
                            </li>
                            <li>
                                <a target="_top" href="#" rel="noopener noreferrer">
                                    Chat Online
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="row h-100 align-items-center d-md-none m-0">
                    <div class="col-md-12 text-center">
                        <ul class="list-inline text-center">
                            <li class="">
                                <a target="_top" href="/quem-somos" rel="noreferrer">
                                    Institucional
                                </a>
                            </li>
                            <li class="">
                                @if (!string.IsNullOrEmpty(estado))
                                {
                                    <a target="_top" href="/@estado" rel="noreferrer">
                                        Imóveis à Venda
                                    </a>
                                }
                                else
                                {
                                    <a target="_top" id="busca" href="/pernambuco/busc
                                       a" rel="noreferrer">
                                        Imóveis à Venda
                                    </a>
                                }
                            </li>
                            <li class="">
                                <a href="http://mdnet.mouradubeux.com.br/mdnet/login.php" target="_blank" rel="noreferrer">
                                    Portal de Relacionamento
                                </a>
                            </li>
                            <li class="">
                                <a href="https://ri.mouradubeux.com.br/" target="_blank" rel="noreferrer">
                                    Relação com Investidores
                                </a>
                            </li>
                            <li class="">
                                <a target="_top" href="/fale-conosco" rel="noreferrer">
                                    Contato
                                </a>
                            </li>
                            <li class="d-none">
                                <a href="https://www.mouradubeux.com.br/blog" target="_blank" rel="noopener noreferrer">
                                    Blog
                                </a>
                            </li>
                            <li class="">
                                <a target="_top" href="/mapa-do-site" rel="noreferrer">
                                    Mapa do Site
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100 py-4 py-md-0">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center text-md-right">
                <p class="text-white pt-md-0">
                    <small>
                        Desenvolvido por
                        <a href="https://agenciaopen.com" target="_blank">
                            <img src="/img/open.svg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="ml-2 lazy-loaded" width="150" height="53" data-src="/img/open.svg"  loading="lazy">
                        </a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="modalGeolocation" tabindex="-1" role="dialog" aria-labelledby="modalNewsletterCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header text-center mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item">
                        <svg width="91" height="90" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M90.2215 81.3252L75.801 46.6759C75.5282 46.0204 74.8879 45.5934 74.178 45.5934H66.1394C69.552 40.0134 72.6419 34.954 72.7697 34.7215C74.3224 31.9036 75.1432 28.702 75.1432 25.4628C75.1432 14.8641 66.5195 6.24133 55.9197 6.24133C45.32 6.24133 36.6965 14.8641 36.6965 25.4628C36.6965 28.702 37.5173 31.9036 39.0688 34.7194C39.1972 34.953 42.2877 40.0129 45.7004 45.5932H36.8403C35.8695 45.5932 35.0823 46.3802 35.0823 47.3512C35.0823 48.3221 35.8695 49.1091 36.8403 49.1091H47.8511C48.682 50.4673 49.4991 51.8027 50.2661 53.0557H34.3711H18.0957C17.379 53.0557 16.734 53.4908 16.4657 54.1553L13.6266 61.1854C13.599 61.2534 13.5746 61.3255 13.5558 61.3969C12.5557 65.196 10.4089 67.6809 7.17511 68.7828C6.30615 69.0788 5.46954 69.2372 4.74333 69.3175L13.1525 49.1091H21.3741C22.3449 49.1091 23.1321 48.3221 23.1321 47.3512C23.1321 46.3802 22.3449 45.5932 21.3741 45.5932H11.9798C11.2697 45.5932 10.6295 46.0202 10.3568 46.6757L0.484148 70.4011C0.125877 71.262 0.531261 72.2834 1.37367 72.6733L24.6409 83.5918C24.8733 83.7008 25.133 83.7583 25.3897 83.7583H88.5986C89.8298 83.7586 90.6956 82.4642 90.2215 81.3252ZM40.2124 25.463C40.2124 16.803 47.2586 9.75742 55.9197 9.75742C64.5808 9.75742 71.6273 16.803 71.6273 25.463C71.6273 28.1057 70.9598 30.716 69.696 33.0145C69.4384 33.4573 56.7611 54.184 55.9201 55.5578C55.6288 55.0819 42.4023 33.4587 42.144 33.0147C40.8802 30.7175 40.2124 28.1064 40.2124 25.463ZM54.4207 59.8425C54.7401 60.3642 55.3081 60.6824 55.9199 60.6824C56.5317 60.6824 57.0997 60.3642 57.4191 59.8425C57.6267 59.5034 59.3173 56.7427 59.4221 56.5718H67.2128L69.3727 61.845H63.1794C61.6916 61.845 60.1951 62.183 58.8518 62.8224L52.9839 65.6154C52.1099 66.0315 51.136 66.2515 50.1675 66.2515H47.7059C46.2591 66.2515 44.7996 66.5721 43.4855 67.1786L31.1797 72.8593H22.7606L22.1397 71.624L24.6394 66.435C25.0018 65.6828 25.7755 65.1967 26.6105 65.1967H28.0071C30.2697 65.1967 32.3197 63.858 33.2294 61.7861L35.519 56.5718H52.4175C52.4177 56.5718 54.2135 59.5043 54.4207 59.8425ZM73.8839 72.8593H39.5683L44.959 70.3707C45.8143 69.9759 46.7643 69.7672 47.7059 69.7672H50.1675C51.6555 69.7672 53.152 69.4291 54.4951 68.7898L60.3628 65.9967C61.2372 65.5806 62.2111 65.3605 63.1792 65.3605H70.8126L73.8839 72.8593ZM19.2816 56.5718H31.6791L30.0103 60.3725C29.6613 61.1673 28.875 61.6808 28.0071 61.6808H26.6105C24.4338 61.6808 22.4169 62.9479 21.472 64.9091L20.1471 67.6594L17.1844 61.765L19.2816 56.5718ZM15.4423 66.13L21.5355 78.2509L8.39126 72.0826C10.6954 71.281 13.511 69.6099 15.4423 66.13ZM26.4722 80.2427L24.5279 76.3752H31.5659H76.5038C77.7303 76.3752 78.5972 75.0907 78.1306 73.9508L70.0194 54.1474C69.7491 53.4871 69.1062 53.0557 68.3926 53.0557H61.5737C62.3407 51.8027 63.1576 50.4675 63.9888 49.1091H73.0055L85.9629 80.2425H26.4722V80.2427Z" fill="#A50112" />
                                <path d="M55.9173 34.3652H55.9176H55.9227H55.9232C60.8292 34.3634 64.8204 30.3699 64.8204 25.4627C64.8204 20.5551 60.8276 16.5624 55.9199 16.5624C51.0122 16.5624 47.0195 20.5551 47.0195 25.4627C47.0197 30.3701 51.0112 34.3636 55.9173 34.3652ZM55.9201 20.0783C58.8893 20.0783 61.3047 22.4937 61.3047 25.4627C61.3047 28.4251 58.901 30.8373 55.9424 30.8493C55.9276 30.8491 55.9132 30.8491 55.8992 30.8493C52.94 30.8379 50.5356 28.4254 50.5356 25.4627C50.5356 22.4937 52.9511 20.0783 55.9201 20.0783Z" fill="#A50112" />
                                <path d="M27.4901 48.0237C27.7773 48.7132 28.496 49.1625 29.2434 49.1045C29.9414 49.0504 30.5515 48.5784 30.7776 47.9163C31.295 46.4006 29.5829 45.0238 28.2113 45.8437C27.4741 46.2844 27.1592 47.23 27.4901 48.0237Z" fill="#A50112" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="90" height="90" fill="white" transform="translate(0.353516)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                </div>
            </div>

            <div class="modal-body text-center pt-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item">
                        <p>Para obter uma melhor experiência no site, sugerimos que aceite a opção de geolocalização para identificarmos de onde você está acessando.</p>
                        <EditForm Model="@modelGeolocation" OnValidSubmit="@HandleAceiteGeolocation">
                            <input type="hidden" id="estado-geolocalizacao" @bind="estadoInput" />
                            <button type="submit" class="btn btn__first">OK</button>
                        </EditForm>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> 
<!-- Modal Newsletter -->

<div class="modal fade" id="modalNewsletter" tabindex="-1" role="dialog" aria-labelledby="modalNewsletterCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header text-center mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item">
                        <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip99)">
                                <path d="M74.2798 24.2515L66.8984 16.87V1.57031C66.8984 0.772066 66.2512 0.125 65.4531 0.125H44.1605C43.3624 0.125 42.7152 0.772066 42.7152 1.57031C42.7152 2.36856 43.3624 3.01562 44.1605 3.01562H64.0078V32.4793L37.6381 58.8492L11.3984 32.6096V3.01562H31.1527C31.9508 3.01562 32.598 2.36856 32.598 1.57031C32.598 0.772066 31.9508 0.125 31.1527 0.125H9.95312C9.15502 0.125 8.50781 0.772066 8.50781 1.57031V16.87L1.12646 24.2515C0.855461 24.5225 0.703125 24.8901 0.703125 25.2734V66.8984C0.703125 70.8832 3.94496 74.125 7.92969 74.125H67.4766C71.4613 74.125 74.7031 70.8832 74.7031 66.8984V25.2734C74.7031 24.8901 74.5508 24.5225 74.2798 24.2515ZM71.8125 66.8984C71.8125 67.5669 71.6602 68.2005 71.3887 68.7666L51.5988 48.9766L71.8125 28.7629V66.8984ZM66.8984 20.958L71.2139 25.2734L66.8984 29.5887V20.958ZM4.01752 68.7666C3.74609 68.2005 3.59375 67.567 3.59375 66.8984V28.8928L23.7424 49.0416L4.01752 68.7666ZM8.50781 29.7188L4.12736 25.3385L8.50781 20.958V29.7188ZM7.92969 71.2344C7.26123 71.2344 6.62761 71.082 6.06162 70.8106L25.7865 51.0856L36.6161 61.9151C36.8872 62.1861 37.2548 62.3385 37.6381 62.3385C38.0214 62.3385 38.3889 62.1861 38.6601 61.9151L49.5547 51.0207L69.3448 70.8108C68.7786 71.0822 68.1452 71.2345 67.4766 71.2345H7.92969V71.2344Z" fill="#A50112" />
                                <path d="M37.6567 3.01562C38.0369 3.01562 38.4097 2.86098 38.6786 2.59215C38.9473 2.32332 39.1021 1.95043 39.1021 1.57031C39.1021 1.1902 38.9474 0.817305 38.6786 0.548477C38.4097 0.279648 38.0369 0.125 37.6567 0.125C37.2752 0.125 36.9037 0.279648 36.6349 0.548477C36.3662 0.817305 36.2114 1.1902 36.2114 1.57031C36.2114 1.95043 36.3661 2.32332 36.6349 2.59215C36.9037 2.86098 37.2752 3.01562 37.6567 3.01562Z" fill="#A50112" />
                                <path d="M24.0312 17.6388C22.0704 21.2016 21.5545 25.3091 22.5791 29.2043C23.4666 32.5785 25.3825 35.4894 28.1202 37.6223C30.756 39.6759 34.0393 40.8576 37.365 40.9495C37.3787 40.9499 37.3921 40.9501 37.4056 40.9501C38.1853 40.9501 38.8279 40.329 38.8496 39.5447C38.8716 38.7469 38.2427 38.082 37.4447 38.06C31.7819 37.9035 26.8187 33.9595 25.3745 28.4692C23.6354 21.8565 27.3805 15.0507 33.9006 12.975C37.2083 11.922 40.7197 12.2322 43.7878 13.848C46.8498 15.4605 49.0885 18.1705 50.0938 21.4804C50.7343 23.899 50.5266 26.1411 49.4009 28.9716C49.0799 29.7785 48.0834 31.6556 45.7651 31.6556C45.3984 31.6556 45.0274 31.4856 44.7203 31.177C44.3084 30.7631 44.074 30.1786 44.077 29.5664V17.6171C44.077 16.8189 43.4298 16.1718 42.6317 16.1718C41.8334 16.1718 41.1864 16.8189 41.1864 17.6171V18.0774C40.0582 17.137 38.6568 16.6 37.0867 16.6C33.4365 16.6 29.6607 19.7645 29.6607 25.0602C29.6607 27.3942 30.4004 29.5802 31.7436 31.2155C33.1051 32.8734 34.9973 33.8241 36.9347 33.8241C38.7507 33.8241 40.3865 33.0223 41.632 31.6853C41.8826 32.2533 42.2328 32.7751 42.6713 33.2158C43.5249 34.0736 44.6236 34.546 45.7651 34.546C49.1049 34.546 51.2206 32.2182 52.0869 30.0397C53.4455 26.6234 53.6905 23.7468 52.8807 20.7125C52.8766 20.6975 52.8723 20.6825 52.8678 20.6676C51.6405 16.6005 48.8941 13.2702 45.1347 11.2904C41.3761 9.31088 37.075 8.93091 33.0237 10.2206C29.1852 11.4426 25.9917 14.0769 24.0312 17.6388ZM36.9348 30.9335C34.5178 30.9335 32.5515 28.2987 32.5515 25.06C32.5515 21.5738 34.8575 19.4905 37.0869 19.4905C39.4889 19.4905 41.1664 21.7628 41.1664 25.0162C41.1663 28.279 39.268 30.9335 36.9348 30.9335Z" fill="#A50112" />
                            </g>
                            <defs>
                                <clipPath id="clip99">
                                    <rect width="74" height="74" fill="white" transform="translate(0.703125 0.125)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="col-md-10 col-lg-10 item">
                        <h2 class="modal-title d-block" id="modalNewsletterLongTitles">Cadastro de e-mail</h2>
                        @* <h2 class="modal-title" id="modalNewsletterLongTitleaEmp">Fale com um consultor</h2> *@
                    </div>
                    <div class="col-md-10 col-lg-12 item">
                        <p class="d-block" id="modalNewsletterLongTitles">Cadastre-se gratuitamente e receba novidades em seu e-mail.</p>
                        @* <p class="d-none" id="modalNewsletterLongTitleEmap">Preencha as informações e em breve um consultor entratrá em contato</p> *@
                    </div>
                </div>
            </div>
            <div class="modal-body text-center pt-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item">
                        <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit" name="@("/" + navigationManager.ToBaseRelativePath(navigationManager.Uri.Split('?')[0]) + "")">
                            <div class="form-group">
                                <label class="d-none" for="exampleInputNome">Nome</label>
                                <InputText autocomplete="off" @bind-Value="model.Nome" name="name" class="form-control" id="exampleInputNome" placeholder="Qual o seu nome?"></InputText>
                            </div>
                            <div class="form-group">
                                <label class="d-none" for="exampleInputE-telefone">Telefone</label>
                                <InputText autocomplete="off" type="tel" @bind-Value="model.Telefone" name="celular" class="form-control" id="exampleInputE-telefone" aria-describedby="e-mailHelp" placeholder="Qual é o seu telefone?"></InputText>
                            </div>
                            <div class="form-group">
                                <label class="d-none" for="exampleInputE-mail1">E-mail</label>
                                <InputText autocomplete="off" type="email" @bind-Value="model.Email" name="email" class="form-control" id="exampleInputE-mail1" aria-describedby="e-mailHelp" placeholder="Qual é o seu e-mail?"></InputText>
                                <small id="e-mailHelp" class="form-text text-muted">Nós não compartilhamos seu e-mail com mais ninguém.</small>
                            </div>
                            <div class="form-group d-none">
                                <input type="text" name="Nome_do_Imovel_cod_URL" value="@("/" + navigationManager.ToBaseRelativePath(navigationManager.Uri) + "")">
                                <InputText autocomplete="off" type="text" name="state_id" @bind-Value="@estado"></InputText>
                            </div>
                            <div class="form-check my-3">
                                <InputCheckbox type="text" @bind-Value="model.Aceito" name="news_exampleCheck1" class="form-check-input"></InputCheckbox>
                                <label class="form-check-label" for="exampleCheck1">Aceito a <a href="/politica-privacidade" target="_blank">Política de Privacidade</a></label>
                            </div>
                            @if (context.Validate())
                            {
                                <button type="submit" class="btn btn__first">Cadastrar e-mail</button>
                            }
                            else
                            {
                                <span class="no_events">
                                    <button type="submit" class="btn btn__first disabled">Cadastrar e-mail</button>
                                </span>
                            }
                            <DataAnnotationsValidator />
                            @*<ValidationSummary />*@
                        </EditForm>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<!--<div class="modal fade" id="modalNewsletterRD" tabindex="-1" role="dialog" aria-labelledby="modalNewsletterCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header text-center mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item">
                        <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip99)">
                                <path d="M74.2798 24.2515L66.8984 16.87V1.57031C66.8984 0.772066 66.2512 0.125 65.4531 0.125H44.1605C43.3624 0.125 42.7152 0.772066 42.7152 1.57031C42.7152 2.36856 43.3624 3.01562 44.1605 3.01562H64.0078V32.4793L37.6381 58.8492L11.3984 32.6096V3.01562H31.1527C31.9508 3.01562 32.598 2.36856 32.598 1.57031C32.598 0.772066 31.9508 0.125 31.1527 0.125H9.95312C9.15502 0.125 8.50781 0.772066 8.50781 1.57031V16.87L1.12646 24.2515C0.855461 24.5225 0.703125 24.8901 0.703125 25.2734V66.8984C0.703125 70.8832 3.94496 74.125 7.92969 74.125H67.4766C71.4613 74.125 74.7031 70.8832 74.7031 66.8984V25.2734C74.7031 24.8901 74.5508 24.5225 74.2798 24.2515ZM71.8125 66.8984C71.8125 67.5669 71.6602 68.2005 71.3887 68.7666L51.5988 48.9766L71.8125 28.7629V66.8984ZM66.8984 20.958L71.2139 25.2734L66.8984 29.5887V20.958ZM4.01752 68.7666C3.74609 68.2005 3.59375 67.567 3.59375 66.8984V28.8928L23.7424 49.0416L4.01752 68.7666ZM8.50781 29.7188L4.12736 25.3385L8.50781 20.958V29.7188ZM7.92969 71.2344C7.26123 71.2344 6.62761 71.082 6.06162 70.8106L25.7865 51.0856L36.6161 61.9151C36.8872 62.1861 37.2548 62.3385 37.6381 62.3385C38.0214 62.3385 38.3889 62.1861 38.6601 61.9151L49.5547 51.0207L69.3448 70.8108C68.7786 71.0822 68.1452 71.2345 67.4766 71.2345H7.92969V71.2344Z" fill="#A50112" />
                                <path d="M37.6567 3.01562C38.0369 3.01562 38.4097 2.86098 38.6786 2.59215C38.9473 2.32332 39.1021 1.95043 39.1021 1.57031C39.1021 1.1902 38.9474 0.817305 38.6786 0.548477C38.4097 0.279648 38.0369 0.125 37.6567 0.125C37.2752 0.125 36.9037 0.279648 36.6349 0.548477C36.3662 0.817305 36.2114 1.1902 36.2114 1.57031C36.2114 1.95043 36.3661 2.32332 36.6349 2.59215C36.9037 2.86098 37.2752 3.01562 37.6567 3.01562Z" fill="#A50112" />
                                <path d="M24.0312 17.6388C22.0704 21.2016 21.5545 25.3091 22.5791 29.2043C23.4666 32.5785 25.3825 35.4894 28.1202 37.6223C30.756 39.6759 34.0393 40.8576 37.365 40.9495C37.3787 40.9499 37.3921 40.9501 37.4056 40.9501C38.1853 40.9501 38.8279 40.329 38.8496 39.5447C38.8716 38.7469 38.2427 38.082 37.4447 38.06C31.7819 37.9035 26.8187 33.9595 25.3745 28.4692C23.6354 21.8565 27.3805 15.0507 33.9006 12.975C37.2083 11.922 40.7197 12.2322 43.7878 13.848C46.8498 15.4605 49.0885 18.1705 50.0938 21.4804C50.7343 23.899 50.5266 26.1411 49.4009 28.9716C49.0799 29.7785 48.0834 31.6556 45.7651 31.6556C45.3984 31.6556 45.0274 31.4856 44.7203 31.177C44.3084 30.7631 44.074 30.1786 44.077 29.5664V17.6171C44.077 16.8189 43.4298 16.1718 42.6317 16.1718C41.8334 16.1718 41.1864 16.8189 41.1864 17.6171V18.0774C40.0582 17.137 38.6568 16.6 37.0867 16.6C33.4365 16.6 29.6607 19.7645 29.6607 25.0602C29.6607 27.3942 30.4004 29.5802 31.7436 31.2155C33.1051 32.8734 34.9973 33.8241 36.9347 33.8241C38.7507 33.8241 40.3865 33.0223 41.632 31.6853C41.8826 32.2533 42.2328 32.7751 42.6713 33.2158C43.5249 34.0736 44.6236 34.546 45.7651 34.546C49.1049 34.546 51.2206 32.2182 52.0869 30.0397C53.4455 26.6234 53.6905 23.7468 52.8807 20.7125C52.8766 20.6975 52.8723 20.6825 52.8678 20.6676C51.6405 16.6005 48.8941 13.2702 45.1347 11.2904C41.3761 9.31088 37.075 8.93091 33.0237 10.2206C29.1852 11.4426 25.9917 14.0769 24.0312 17.6388ZM36.9348 30.9335C34.5178 30.9335 32.5515 28.2987 32.5515 25.06C32.5515 21.5738 34.8575 19.4905 37.0869 19.4905C39.4889 19.4905 41.1664 21.7628 41.1664 25.0162C41.1663 28.279 39.268 30.9335 36.9348 30.9335Z" fill="#A50112" />
                            </g>
                            <defs>
                                <clipPath id="clip99">
                                    <rect width="74" height="74" fill="white" transform="translate(0.703125 0.125)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="col-md-10 col-lg-10 item">-->
                        @* <h2 class="modal-title d-block" id="modalNewsletterLongTitle">Cadastro de e-mail</h2> *@
                        <!--<h2 class="modal-title" id="modalNewsletterLongTitleEmps">Fale com um consultor</h2>
                    </div>
                    <div class="col-md-10 col-lg-12 item">-->
                        @* <p class="d-block" id="modalNewsletterLongTitle">Cadastre-se gratuitamente e receba novidades em seu e-mail.</p> *@
                        <!--<p class="d-none" id="modalNewsletterLongTitleEmps">Preencha as informações e em breve um consultor entratrá em contato</p>
                    </div>
                </div>
            </div>
            <div class="modal-body text-center pt-0 mt-0">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10 item">
                        
                        <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
                            <div class="form-group">
                                <InputText @bind-Value="model.Nome" class="form-control" id="Nome" placeholder="Qual o seu nome?"></InputText>
                            </div>
                            <div class="form-group">
                                <InputText type="tel" @bind-Value="model.Telefone" class="form-control" id="Telefone" aria-describedby="e-mailHelp" placeholder="Qual é o seu telefone?"></InputText>
                            </div>
                            <div class="form-group">
                                <InputText type="email" @bind-Value="model.Email" class="form-control" id="E-mail" aria-describedby="e-mailHelp" placeholder="Qual é o seu e-mail?"></InputText>
                                <small id="e-mailHelp" class="form-text text-muted">Nós não compartilhamos seu e-mail com mais ninguém.</small>
                            </div>
                            <div class="form-group d-none">
                                <input type="text" id="Nome_do_Imovel_cod_URL" value="@("/" + navigationManager.ToBaseRelativePath(navigationManager.Uri) + "")"> 
                                <InputText type="text" id="state_id" @bind-Value="@estado"></InputText>
                            </div>
                            <div class="form-check my-3">
                                <InputCheckbox type="text" @bind-Value="model.Aceito" class="form-check-input"></InputCheckbox>
                                <label class="form-check-label" for="exampleCheck1">Aceito a <a href="/politica-privacidade" target="_blank">Política de Privacidade</a></label>
                            </div>
                            @if (context.Validate())
                            {
                                <button type="submit" class="btn btn__first">Cadastrar e-mail</button>
                            }
                            else
                            {
                                 <span class="no_events">    
                                    <button type="submit" id="trab__submit" class="btn btn__first disabled">Cadastrar e-mail</button>
                                 </span>
                            }
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </EditForm>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>-->



