@if (string.IsNullOrEmpty(bannerUrl))
{
    <section class="hero" style="background-image: url('/img/hero.jpg')" >
        <img src="/img/hero.jpg" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="d-md-none img-fluid">
    </section><!--/.heroImage-->
}
else
{
    <section class="hero" style="background-image: url('@bannerUrl')" >
        <img src="@bannerUrl" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="d-md-none img-fluid">
    </section><!--/.heroImage-->
}


@code {
 
}
