﻿@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title Value="@Pagina.MataTittle"></Title>
<Meta name="description" content="@Pagina.MetaDescription" />
<Meta name="keywords" content="@Pagina.MetaKeyword" />
<Meta property=”og:image”content content="@Pagina.Banner" />
@*<Link rel="stylesheet" href="app/css/portfolio.css" />*@