﻿@using MouraDubeux.Front.Blazor.Data
@using MouraDubeux.Admin.Data.Data

@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorageService
@inject IFrontDataService frontDataService

@if (!string.IsNullOrEmpty(estado)){
    @if (estado == "alagoas"){
        <div id="anapro" class="d-none @estado">https://online.crm.anapro.com.br/WebCRMService/Pages/chat/cliente/v2/ChatClienteEntrada.aspx?conta=6pNcdkVbpxc1&keyIntegradora=157F2DC0-77D0-4B84-96EF-94BE18239645&keyAgencia=157F2DC0-77D0-4B84-96EF-94BE18239645&strDir=mouradubeux&campanha=lcury3wFxsM1&canal=7-CTu51XE6k1&produto=nw5V9EXsxCQ1&strmidia=&strpeca=&usuarioEmail=&strgrupopeca=&strcampanhapeca=&nome=&email=&telefoneDDD=&telefone=&strTexto=&keyexterno=&urlep=&urlcp=&urlca=&urlat=&strMostrarTopo=true&strAutoSubmit=true&strUsarDadosAnteriores=true&emailobrigatorio=true&telefoneobrigatorio=false&texto=</div>
    } 
    else if (estado == "bahia"){
        <div id="anapro" class="d-none @estado">https://online.crm.anapro.com.br/WebCRMService/Pages/chat/cliente/v2/ChatClienteEntrada.aspx?conta=6pNcdkVbpxc1&keyIntegradora=157F2DC0-77D0-4B84-96EF-94BE18239645&keyAgencia=157F2DC0-77D0-4B84-96EF-94BE18239645&strDir=mouradubeux&campanha=kBhpxUQM_wQ1&canal=7-CTu51XE6k1&produto=QTPJVA-x1JA1&strmidia=&strpeca=&usuarioEmail=&strgrupopeca=&strcampanhapeca=&nome=&email=&telefoneDDD=&telefone=&strTexto=&keyexterno=&urlep=&urlcp=&urlca=&urlat=&strMostrarTopo=true&strAutoSubmit=true&strUsarDadosAnteriores=true&emailobrigatorio=true&telefoneobrigatorio=false&texto=</div>
    }
    else if (estado == "ceara"){
        <div id="anapro" class="d-none @estado">https://online.crm.anapro.com.br/WebCRMService/Pages/chat/cliente/v2/ChatClienteEntrada.aspx?conta=6pNcdkVbpxc1&keyIntegradora=157F2DC0-77D0-4B84-96EF-94BE18239645&keyAgencia=157F2DC0-77D0-4B84-96EF-94BE18239645&strDir=mouradubeux&campanha=qAGzGC9lN6M1&canal=7-CTu51XE6k1&produto=fKBuOtFpeDA1&strmidia=&strpeca=&usuarioEmail=&strgrupopeca=&strcampanhapeca=&nome=&email=&telefoneDDD=&telefone=&strTexto=&keyexterno=&urlep=&urlcp=&urlca=&urlat=&strMostrarTopo=true&strAutoSubmit=true&strUsarDadosAnteriores=true&emailobrigatorio=true&telefoneobrigatorio=false&texto=</div>
    }
    else if (estado == "rio-grande-do-norte"){
        <div id="anapro" class="d-none @estado"></div>
    }
    else if (estado == "pernambuco"){
        <div id="anapro" class="d-none pernambuco">https://online.crm.anapro.com.br/WebCRMService/Pages/chat/cliente/v2/ChatClienteEntrada.aspx?conta=6pNcdkVbpxc1&keyIntegradora=157F2DC0-77D0-4B84-96EF-94BE18239645&keyAgencia=157F2DC0-77D0-4B84-96EF-94BE18239645&strDir=mouradubeux&campanha=PcCnwQtm1yQ1&canal=7-CTu51XE6k1&produto=_Q6BVhA1CFU1&strmidia=&strpeca=&usuarioEmail=&strgrupopeca=&strcampanhapeca=&nome=&email=&telefoneDDD=&telefone=&strTexto=&keyexterno=&urlep=&urlcp=&urlca=&urlat=&strMostrarTopo=true&strAutoSubmit=true&strUsarDadosAnteriores=true&emailobrigatorio=true&telefoneobrigatorio=false&texto=</div>
    }
    else{
        <div id="anapro" class="d-none produto"></div>
    }
}
else {
    <div id="anapro" class="d-none pernambuco"></div>
}
<section class="header d-lg-none py-2">
    <div class="h-100 container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                @if (!string.IsNullOrEmpty(estado))
                {
                    <a target="_top" href="@estado">
                        <img src="/img/logo-md.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" width="133" height="34">
                    </a>
                }
                else
                {
                    <a target="_top" href="/pernambuco">
                        <img src="/img/logo-md.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" width="133" height="34">
                    </a>
                }

                
            </div>
        </div>
    </div>
</section>
<!-- menu fixd bottom mobile -->
<section class="menu fixed-bottom d-lg-none">
    <div class="h-100 container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-3 menu__logo text-center pr-0">
                @if (!string.IsNullOrEmpty(estado))
                {
                    <a target="_top" href="@estado">
                        <img src="/img/logo-md.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" width="92">
                    </a>
                }
                else
                {
                <a target="_top" href="/pernambuco">
                    <img src="/img/logo-md.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" width="92">
                </a>
                }

                
            </div>
            <div class="col-7 menu__list text-center">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a target="_top" href="tel:+5540203538">
                            <svg width="31" height="29" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5766 12.8939C11.7108 12.0837 10.9954 11.2081 10.6158 10.4988C10.4911 10.2659 10.4136 10.0706 10.3796 9.9309L11.1474 9.21248C11.3159 9.05483 11.3968 8.97808 11.5015 8.87523C11.7232 8.65734 11.9081 8.45823 12.0707 8.2533C12.8023 7.33141 13.0742 6.32783 12.2082 5.42413C10.5684 3.27934 9.46528 1.95278 8.75803 1.29954C7.29874 -0.0483406 4.92126 0.132228 3.6557 1.29821C3.04461 1.86121 2.83689 2.05533 2.20941 2.65126C-1.4551 6.07949 0.730421 13.1669 6.50504 18.5716C12.2787 23.9753 19.8588 26.0202 23.533 22.5828C24.1098 22.063 24.6027 21.6019 24.9927 21.2165C26.2273 19.9963 26.4138 17.869 24.9833 16.4792C24.3031 15.8184 22.9503 14.8368 20.5577 13.2362C19.6826 12.5107 18.659 12.6681 17.7495 13.226C17.3399 13.4773 17.0517 13.723 16.509 14.2309L15.7419 14.9486C15.5927 14.9167 15.3841 14.8443 15.1354 14.7278C14.3772 14.3728 13.4416 13.7036 12.5766 12.8939ZM17.8165 17.2344L18.7693 16.3431C18.932 16.1908 19.0607 16.0733 19.1672 15.9811C21.0963 17.2814 22.2251 18.1084 22.6811 18.5513C22.8361 18.7019 22.8075 19.0278 22.6716 19.1621C22.319 19.5106 21.8591 19.9408 21.2939 20.4506C19.2082 22.4015 13.4572 20.8501 8.76555 16.459C4.07205 12.0661 2.41334 6.68715 4.4779 4.75568C5.10213 4.1629 5.29846 3.97942 5.89835 3.42674C5.9936 3.33899 6.38667 3.30913 6.51256 3.42541C7.00498 3.88023 7.927 4.97908 9.27469 6.7268C9.24703 6.75497 9.2177 6.78428 9.18668 6.81477C9.10564 6.89441 9.03734 6.95914 8.88696 7.09989C8.58473 7.38272 8.45279 7.50619 8.32083 7.62964C8.21858 7.72529 8.11631 7.82093 7.9348 7.99067C6.10153 9.70467 7.55633 12.4229 10.3161 15.0059C13.0743 17.5873 15.9832 18.9495 17.8165 17.2344Z" fill="#A8A8A8" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_top" data-toggle="modal" data-target="#modalNewsletter" rel="noopener noreferrer" class="consultor__emp not__inner">
                            <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.38025 23.1333C8.03454 24.3285 5.91151 23.3756 5.91151 21.5786C5.91151 20.4001 5.91151 19.3385 5.91986 18.8705C5.91986 18.5612 5.86971 18.4275 5.51866 18.3606C3.11144 17.9176 1.47319 16.2543 1.03855 13.8471C0.996762 13.6297 0.996762 13.4041 0.996762 13.1784C0.988403 10.6291 0.988403 8.07976 0.988403 5.53045C0.988403 2.69694 3.41234 0.264648 6.23748 0.264648C11.3361 0.264648 16.4347 0.264648 21.525 0.264648C24.2833 0.264648 26.7156 2.66351 26.7407 5.43014C26.7574 8.03797 26.7574 10.6374 26.7407 13.2453C26.7239 15.9952 24.3334 18.3857 21.5835 18.4108C19.427 18.4275 17.2706 18.4191 15.1058 18.4108C14.7881 18.4108 14.5625 18.5027 14.3201 18.7117C13.0245 19.8735 11.077 21.6204 9.38025 23.1333ZM7.65841 21.1105C7.65841 21.5869 8.21843 21.8377 8.56948 21.5201C9.88175 20.3666 12.2723 18.2269 13.643 16.9898C13.852 16.7976 14.061 16.714 14.3451 16.714C16.627 16.7224 18.9172 16.7224 21.199 16.714C23.4976 16.714 25.1526 14.9838 25.0523 12.6518C24.952 10.4201 24.952 8.18842 25.0523 5.95672C25.1526 3.71667 23.4892 1.96141 21.2826 1.96141C16.3762 1.95305 11.4782 1.95305 6.57182 1.96141C4.33177 1.96976 2.70188 3.55786 2.68516 5.70597C2.66844 8.12991 2.6768 10.5538 2.68516 12.9778C2.69352 14.6578 3.73832 16.062 5.32642 16.5468C5.94494 16.7391 6.58854 16.7391 7.23213 16.714C7.52468 16.7056 7.60826 16.8059 7.60826 17.0901C7.60826 18.0095 7.6417 18.929 7.65005 19.8484C7.65841 20.2663 7.65841 20.6759 7.65841 21.1105Z" fill="#A8A8A8" />
                                <path d="M25.5371 26.9947C25.4953 28.2401 23.9824 28.8252 23.1131 27.9308C22.8206 27.6299 22.5281 27.3207 22.2271 27.0197C21.0152 25.766 19.8032 24.5206 18.5996 23.2668C18.4575 23.1164 18.2987 23.0997 18.1065 23.0997C16.7106 23.0913 15.3231 23.0913 13.9272 23.0746C13.7768 23.0746 13.6263 23.1164 13.4843 23.0244C13.4843 22.8573 13.618 22.782 13.7099 22.6901C14.5291 21.8375 15.3649 21.0017 16.1757 20.1408C16.3846 19.9151 16.6103 19.8399 16.9028 19.8482C19.0342 19.8566 21.1656 19.8733 23.297 19.8315C24.4839 19.8064 25.6039 19.4721 26.5568 18.7198C27.7019 17.8171 28.2452 16.5885 28.3873 15.1842C28.6213 12.8355 28.4709 10.4868 28.4792 8.12975C28.4792 7.82048 28.4709 7.51958 28.4792 7.21032C28.4792 7.11002 28.4124 6.96793 28.5461 6.91778C28.638 6.87598 28.7216 6.96793 28.8052 7.02644C29.8249 7.68675 30.5187 8.59782 30.8781 9.75964C31.0118 10.2026 31.0703 10.654 31.0703 11.1137C31.062 13.5961 31.062 16.0702 31.062 18.5527C31.062 20.6506 29.967 22.0883 27.9443 22.6567C27.3258 22.8322 26.6905 22.9492 26.0469 22.9241C25.721 22.9074 25.629 23.0161 25.6207 23.342C25.6207 24.2949 25.5789 25.6991 25.5371 26.9947Z" fill="#A8A8A8" />
                                <path d="M7.3157 11.1308C6.42971 11.1392 5.71924 10.4371 5.71089 9.55106C5.70253 8.68179 6.43807 7.9546 7.3157 7.96296C8.16826 7.97132 8.88708 8.67343 8.9038 9.52598C8.92051 10.4036 8.20169 11.1224 7.3157 11.1308Z" fill="#A8A8A8" />
                                <path d="M13.8437 11.1305C12.941 11.1305 12.2639 10.4451 12.2723 9.53407C12.2723 8.65644 12.9995 7.94597 13.8771 7.96269C14.738 7.97105 15.4318 8.68151 15.4318 9.54243C15.4401 10.4284 14.7297 11.1305 13.8437 11.1305Z" fill="#A8A8A8" />
                                <path d="M21.9763 9.55068C21.9763 10.4617 21.3076 11.1304 20.3966 11.1388C19.5189 11.1388 18.7918 10.42 18.8001 9.55068C18.8085 8.69812 19.5273 7.9793 20.3799 7.9793C21.2742 7.96258 21.9763 8.65633 21.9763 9.55068Z" fill="#A8A8A8" />
                            </svg>
                        </a>
                        <a id="chat__anaprobtnnav" href="#" target="popup" rel="noopener noreferrer" class="consultor__emp yes__inner">
                            <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.38025 23.1333C8.03454 24.3285 5.91151 23.3756 5.91151 21.5786C5.91151 20.4001 5.91151 19.3385 5.91986 18.8705C5.91986 18.5612 5.86971 18.4275 5.51866 18.3606C3.11144 17.9176 1.47319 16.2543 1.03855 13.8471C0.996762 13.6297 0.996762 13.4041 0.996762 13.1784C0.988403 10.6291 0.988403 8.07976 0.988403 5.53045C0.988403 2.69694 3.41234 0.264648 6.23748 0.264648C11.3361 0.264648 16.4347 0.264648 21.525 0.264648C24.2833 0.264648 26.7156 2.66351 26.7407 5.43014C26.7574 8.03797 26.7574 10.6374 26.7407 13.2453C26.7239 15.9952 24.3334 18.3857 21.5835 18.4108C19.427 18.4275 17.2706 18.4191 15.1058 18.4108C14.7881 18.4108 14.5625 18.5027 14.3201 18.7117C13.0245 19.8735 11.077 21.6204 9.38025 23.1333ZM7.65841 21.1105C7.65841 21.5869 8.21843 21.8377 8.56948 21.5201C9.88175 20.3666 12.2723 18.2269 13.643 16.9898C13.852 16.7976 14.061 16.714 14.3451 16.714C16.627 16.7224 18.9172 16.7224 21.199 16.714C23.4976 16.714 25.1526 14.9838 25.0523 12.6518C24.952 10.4201 24.952 8.18842 25.0523 5.95672C25.1526 3.71667 23.4892 1.96141 21.2826 1.96141C16.3762 1.95305 11.4782 1.95305 6.57182 1.96141C4.33177 1.96976 2.70188 3.55786 2.68516 5.70597C2.66844 8.12991 2.6768 10.5538 2.68516 12.9778C2.69352 14.6578 3.73832 16.062 5.32642 16.5468C5.94494 16.7391 6.58854 16.7391 7.23213 16.714C7.52468 16.7056 7.60826 16.8059 7.60826 17.0901C7.60826 18.0095 7.6417 18.929 7.65005 19.8484C7.65841 20.2663 7.65841 20.6759 7.65841 21.1105Z" fill="#A8A8A8" />
                                <path d="M25.5371 26.9947C25.4953 28.2401 23.9824 28.8252 23.1131 27.9308C22.8206 27.6299 22.5281 27.3207 22.2271 27.0197C21.0152 25.766 19.8032 24.5206 18.5996 23.2668C18.4575 23.1164 18.2987 23.0997 18.1065 23.0997C16.7106 23.0913 15.3231 23.0913 13.9272 23.0746C13.7768 23.0746 13.6263 23.1164 13.4843 23.0244C13.4843 22.8573 13.618 22.782 13.7099 22.6901C14.5291 21.8375 15.3649 21.0017 16.1757 20.1408C16.3846 19.9151 16.6103 19.8399 16.9028 19.8482C19.0342 19.8566 21.1656 19.8733 23.297 19.8315C24.4839 19.8064 25.6039 19.4721 26.5568 18.7198C27.7019 17.8171 28.2452 16.5885 28.3873 15.1842C28.6213 12.8355 28.4709 10.4868 28.4792 8.12975C28.4792 7.82048 28.4709 7.51958 28.4792 7.21032C28.4792 7.11002 28.4124 6.96793 28.5461 6.91778C28.638 6.87598 28.7216 6.96793 28.8052 7.02644C29.8249 7.68675 30.5187 8.59782 30.8781 9.75964C31.0118 10.2026 31.0703 10.654 31.0703 11.1137C31.062 13.5961 31.062 16.0702 31.062 18.5527C31.062 20.6506 29.967 22.0883 27.9443 22.6567C27.3258 22.8322 26.6905 22.9492 26.0469 22.9241C25.721 22.9074 25.629 23.0161 25.6207 23.342C25.6207 24.2949 25.5789 25.6991 25.5371 26.9947Z" fill="#A8A8A8" />
                                <path d="M7.3157 11.1308C6.42971 11.1392 5.71924 10.4371 5.71089 9.55106C5.70253 8.68179 6.43807 7.9546 7.3157 7.96296C8.16826 7.97132 8.88708 8.67343 8.9038 9.52598C8.92051 10.4036 8.20169 11.1224 7.3157 11.1308Z" fill="#A8A8A8" />
                                <path d="M13.8437 11.1305C12.941 11.1305 12.2639 10.4451 12.2723 9.53407C12.2723 8.65644 12.9995 7.94597 13.8771 7.96269C14.738 7.97105 15.4318 8.68151 15.4318 9.54243C15.4401 10.4284 14.7297 11.1305 13.8437 11.1305Z" fill="#A8A8A8" />
                                <path d="M21.9763 9.55068C21.9763 10.4617 21.3076 11.1304 20.3966 11.1388C19.5189 11.1388 18.7918 10.42 18.8001 9.55068C18.8085 8.69812 19.5273 7.9793 20.3799 7.9793C21.2742 7.96258 21.9763 8.65633 21.9763 9.55068Z" fill="#A8A8A8" />
                            </svg>
                        </a>
                    </li>
                    <!--
                    <li class="list-inline-item">
                        <div class="wpp__emp shake1">
                            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.45351 22.4368L5.39433 19.0878L5.4248 18.9793L5.36373 18.8846L5.11463 18.4985L4.90708 18.6324L5.11463 18.4985C4.09225 16.9138 3.55259 15.0827 3.5535 13.2026V13.2026C3.55562 7.71952 8.13579 3.24728 13.7806 3.24724L4.45351 22.4368ZM4.45351 22.4368L7.99756 21.5308L8.09642 21.5055L8.18472 21.5566L8.56686 21.7779C8.5669 21.7779 8.56694 21.7779 8.56698 21.7779C10.1367 22.6854 11.9364 23.1662 13.7721 23.1669C13.7722 23.1669 13.7722 23.1669 13.7722 23.1669H13.7765C19.417 23.1669 23.997 18.6943 23.9994 13.2107C24.0003 10.5519 22.94 8.05196 21.0102 6.1692C19.0803 4.28624 16.5137 3.24814 13.7807 3.24724L4.45351 22.4368ZM17.4533 14.5392L17.4534 14.5392C17.6125 14.5958 18.0865 14.8143 18.542 15.0285C19.0053 15.2465 19.4721 15.4709 19.6308 15.5484C19.6841 15.5744 19.7383 15.6 19.7909 15.6248C19.8793 15.6665 19.9629 15.7059 20.0292 15.7414C20.135 15.798 20.2604 15.8753 20.3372 16.0003L17.4533 14.5392ZM17.4533 14.5392C17.3162 14.4905 17.1387 14.4295 16.9583 14.4497M17.4533 14.5392L16.9583 14.4497M15.4784 15.9644L15.4785 15.9643C15.665 15.7566 16.2561 15.0784 16.455 14.7875L15.4784 15.9644ZM15.4784 15.9644C15.4111 16.0394 15.3708 16.0527 15.3432 16.0559C15.3054 16.0604 15.233 16.0523 15.092 15.9835L15.0919 15.9835M15.4784 15.9644L15.0919 15.9835M15.0919 15.9835C15.0346 15.9555 14.9593 15.9236 14.8681 15.8849C14.4196 15.6948 13.5868 15.3417 12.6144 14.4966C11.7088 13.7094 11.0933 12.7319 10.9136 12.4318C10.8815 12.378 10.8738 12.3452 10.872 12.329C10.8705 12.3151 10.8722 12.3043 10.878 12.2902C10.8852 12.2728 10.8991 12.2497 10.9266 12.2151C10.9401 12.1981 10.9551 12.1804 10.9729 12.1598C10.9897 12.1403 11.0102 12.1168 11.0297 12.0932L11.0298 12.0931M15.0919 15.9835L11.0298 12.0931M11.0298 12.0931C11.2011 11.8857 11.374 11.6716 11.518 11.4826M11.0298 12.0931L11.518 11.4826M8.2935 7.74402L8.29351 7.74402C8.63809 7.37716 9.05027 7.28116 9.31537 7.28116C9.52589 7.28116 9.741 7.28296 9.9309 7.29219C9.93091 7.29219 9.93092 7.29219 9.93093 7.29219L8.2935 7.74402ZM8.2935 7.74402C8.27526 7.76345 8.25465 7.78486 8.23206 7.80834C7.89689 8.15667 7.12396 8.95995 7.12396 10.4747C7.12396 11.2875 7.42595 12.0716 7.73599 12.6667C8.04435 13.2586 8.37232 13.6853 8.45835 13.7972L8.46126 13.801C8.4704 13.8129 8.4874 13.8367 8.51205 13.8713C8.87655 14.3822 10.9138 17.2381 13.9409 18.5118M8.2935 7.74402L14.0378 18.2813M17.8518 19.2967L17.8517 19.2968C17.2889 19.3786 16.5618 19.4152 15.7588 19.1666M17.8518 19.2967L14.0378 18.2813M17.8518 19.2967C18.2 19.246 18.6988 19.0427 19.1391 18.7676C19.5726 18.4968 20.0143 18.1166 20.1756 17.6765L20.1757 17.6763M17.8518 19.2967L20.1757 17.6763M15.7588 19.1666L15.8327 18.9278L15.7589 19.1666C15.7588 19.1666 15.7588 19.1666 15.7588 19.1666ZM15.7588 19.1666C15.2979 19.0241 14.7028 18.8327 13.9409 18.5118M13.9409 18.5118L14.0378 18.2813M13.9409 18.5118C13.9408 18.5117 13.9408 18.5117 13.9408 18.5117L14.0378 18.2813M20.1757 17.6763C20.3144 17.2971 20.3847 16.9429 20.4096 16.6622M20.1757 17.6763L20.4096 16.6622M16.9583 14.4497C16.751 14.4729 16.588 14.5929 16.4551 14.7874L16.9583 14.4497ZM11.518 11.4826C11.658 11.2986 11.7826 11.1231 11.8466 10.9984M11.518 11.4826L11.8466 10.9984M11.8466 10.9984C12.0051 10.6894 11.9151 10.4174 11.8201 10.2326L11.8466 10.9984ZM20.4096 16.6622C20.422 16.5221 20.4234 16.3964 20.415 16.2925M20.4096 16.6622L20.415 16.2925M20.415 16.2925C20.4078 16.2025 20.3907 16.0873 20.3374 16.0006L20.415 16.2925ZM13.7766 0.67334H13.7765C6.69923 0.67334 0.928857 6.2875 0.926004 13.2016C0.925069 15.375 1.49828 17.4975 2.58848 19.3754L0.82963 25.636L0.712438 26.0531L1.13223 25.9458L7.71867 24.2621C9.57402 25.2305 11.6548 25.7401 13.7713 25.7407H13.7713H13.7766C20.8531 25.7407 26.6241 20.126 26.6268 13.2116C26.6282 9.8621 25.2909 6.71285 22.8642 4.34559C20.438 1.97833 17.2113 0.674727 13.7766 0.67334Z" fill="white" stroke="#C4C4C4" stroke-width="0.5" />
                                <path d="M14.2518 2.06357C20.6268 1.87607 22.7518 5.81357 25.4393 9.68857C26.6893 13.2512 25.4393 17.126 23.0643 20.1885C20.6893 23.251 18.2518 24.001 14.8143 24.3135C11.3768 24.626 9.43927 23.751 7.93927 23.376C6.73927 23.076 3.60594 23.876 2.18927 24.3135C2.23094 24.0635 2.45177 23.2135 3.00177 21.8135C3.68927 20.0635 3.68927 20.251 3.00177 17.126C2.31427 14.001 1.37677 12.251 3.00177 8.37598C4.62677 4.50098 7.87677 2.25107 14.2518 2.06357Z" fill="#57D25C" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6897 4.52453C20.3107 2.20349 17.147 0.924701 13.7765 0.92334C6.83122 0.92334 1.1788 6.4316 1.176 13.2017C1.17507 15.3659 1.75521 17.4785 2.85792 19.3407L1.07031 25.7036L7.75001 23.996C9.59054 24.9745 11.6626 25.4901 13.7713 25.4907H13.7766C20.7211 25.4907 26.3741 19.9819 26.3768 13.2115C26.3782 9.93039 25.0687 6.84541 22.6897 4.52453ZM13.7765 23.4169H13.7721C11.8929 23.4162 10.0499 22.924 8.44174 21.9943L8.05948 21.773L4.09565 22.7864L5.15365 19.0202L4.90455 18.634C3.85617 17.009 3.30257 15.1309 3.3035 13.2025C3.30567 7.57532 8.00392 2.99724 13.7807 2.99724C16.578 2.99814 19.2076 4.06111 21.1848 5.99026C23.1621 7.91941 24.2504 10.4836 24.2494 13.2108C24.2469 18.8384 19.549 23.4169 13.7765 23.4169ZM19.5211 15.7731C19.2063 15.6194 17.6583 14.8774 17.3697 14.7748C17.0813 14.6724 16.8712 14.6215 16.6615 14.9285C16.4515 15.2355 15.8482 15.9267 15.6645 16.1314C15.4807 16.3361 15.2973 16.3619 14.9824 16.2082C14.6675 16.0547 13.6531 15.7306 12.4504 14.6853C11.5146 13.8717 10.8827 12.867 10.699 12.56C10.5155 12.2526 10.6974 12.1026 10.8371 11.9338C11.1779 11.5214 11.5192 11.0889 11.6241 10.8843C11.7292 10.6795 11.6766 10.5003 11.5978 10.3468C11.5192 10.1933 10.8896 8.68306 10.6273 8.06854C10.3715 7.47051 10.1122 7.55128 9.91879 7.5419C9.73534 7.53298 9.52535 7.53116 9.31537 7.53116C9.10553 7.53116 8.7644 7.60784 8.47573 7.91518C8.18721 8.22236 7.37396 8.96453 7.37396 10.4747C7.37396 11.9849 8.50211 13.4439 8.65949 13.6486C8.81686 13.8534 10.8796 16.9525 14.0378 18.2813C14.789 18.5977 15.3753 18.7863 15.8327 18.9278C16.587 19.1613 17.2731 19.1283 17.8157 19.0494C18.4207 18.9612 19.6783 18.307 19.9409 17.5904C20.2032 16.8737 20.2032 16.2595 20.1243 16.1314C20.0458 16.0034 19.8358 15.9267 19.5211 15.7731Z" fill="white" />
                            </svg>
                        </div>
                    </li> -->
                </ul>
            </div>
            <div class="col-2 menu__nav">
                <div class="trigger centerer">
                    <div class="trigger__icon trigger-top no-animation"></div>
                    <div class="trigger__icon trigger-middle no-animation"></div>
                    <div class="trigger__icon trigger-bottom no-animation"></div>
                </div>
            </div>
            <div class="col-md-12 menu__navigate">
                <ul class="list-inline">
                    <li>
                        <a target="_top" href="/quem-somos" rel="noopener noreferrer">
                            Institucional
                        </a>
                    </li>
                    <li>
                        @if (!string.IsNullOrEmpty(estado))
                        {
                            <a target="_top" href="/empreendimentos" rel="noopener noreferrer">Nossos imóveis</a>
                        }
                        else
                        {
                            @* <a target="_top" href="/pernambuco/busca"rel="noopener noreferrer">Nossos imóveis</a> *@
                            <a target="_top" href="/empreendimentos" rel="noopener noreferrer">Nossos imóveis</a>
                        }
                    </li>
                    <li>
                            <a target="_top" href="/area-do-cliente"rel="noopener noreferrer">Clientes</a>
                    </li>
                    <li>
                        <a target="_top" href="https://ri.mouradubeux.com.br/" rel="noopener noreferrer">
                            Relação com Investidores
                        </a>
                    </li>
                    <li>
                        <a target="_top" href="/fale-conosco"rel="noopener noreferrer">
                            Contato
                        </a>
                    </li>
                    <li class="d-none">
                        <a target="_top" href="https://www.mouradubeux.com.br/blog"rel="noopener noreferrer">
                            Blog
                        </a>
                    </li>
                    <li class="d-none">
                        <a target="_top" href="#" rel="noopener noreferrer">
                            Buscar
                            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3538 15.8456C12.0227 16.7631 10.4092 17.3003 8.67028 17.3003C4.10686 17.3003 0.407471 13.6009 0.407471 9.03747C0.407471 4.47405 4.10686 0.774658 8.67028 0.774658C13.2337 0.774658 16.9331 4.47405 16.9331 9.03747C16.9331 10.7764 16.3959 12.3899 15.4784 13.721L21.0001 19.2426L18.8754 21.3673L13.3538 15.8456ZM8.67026 14.2956C11.5743 14.2956 13.9284 11.9414 13.9284 9.03745C13.9284 6.13345 11.5743 3.7793 8.67026 3.7793C5.76626 3.7793 3.41211 6.13345 3.41211 9.03745C3.41211 11.9414 5.76626 14.2956 8.67026 14.2956Z" fill="#A50112" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end -->

<section class="py-2 acessibility d-none d-lg-flex fixed-top">
    <div class="h-100 container">
        <div class="row h-100 align-items-center justify-content-end">
            <div class="col-md-6 acessibility__item text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a target="_top" href="#">
                            <svg width="107" height="15" viewBox="0 0 107 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.9598 9.90588C23.8998 9.90588 23.8598 9.87922 23.8398 9.82588L23.4398 8.56588C23.4331 8.54588 23.4198 8.53588 23.3998 8.53588H20.4098C20.3898 8.53588 20.3764 8.54588 20.3698 8.56588L19.9698 9.82588C19.9498 9.87922 19.9098 9.90588 19.8498 9.90588H19.3098C19.2364 9.90588 19.2098 9.86922 19.2298 9.79588L21.4398 2.98588C21.4598 2.93255 21.4998 2.90588 21.5598 2.90588H22.2398C22.2998 2.90588 22.3398 2.93255 22.3598 2.98588L24.5798 9.79588L24.5898 9.83588C24.5898 9.88255 24.5598 9.90588 24.4998 9.90588H23.9598ZM20.5698 7.90588C20.5631 7.91922 20.5631 7.93255 20.5698 7.94588C20.5831 7.95255 20.5964 7.95588 20.6098 7.95588H23.1898C23.2031 7.95588 23.2131 7.95255 23.2198 7.94588C23.2331 7.93255 23.2364 7.91922 23.2298 7.90588L21.9298 3.82588C21.9231 3.81255 21.9131 3.80588 21.8998 3.80588C21.8864 3.80588 21.8764 3.81255 21.8698 3.82588L20.5698 7.90588ZM28.9968 9.99588C28.5301 9.99588 28.1201 9.90588 27.7668 9.72588C27.4135 9.53922 27.1368 9.27922 26.9368 8.94588C26.7435 8.60588 26.6468 8.21588 26.6468 7.77588V5.02588C26.6468 4.59255 26.7435 4.20922 26.9368 3.87588C27.1368 3.54255 27.4135 3.28588 27.7668 3.10588C28.1201 2.91922 28.5301 2.82588 28.9968 2.82588C29.4635 2.82588 29.8735 2.91588 30.2268 3.09588C30.5801 3.27588 30.8535 3.52922 31.0468 3.85588C31.2468 4.18255 31.3468 4.55922 31.3468 4.98588C31.3468 5.01922 31.3368 5.04588 31.3168 5.06588C31.2968 5.08588 31.2735 5.09588 31.2468 5.09588L30.7368 5.12588C30.6701 5.12588 30.6368 5.09588 30.6368 5.03588V5.00588C30.6368 4.53255 30.4868 4.15588 30.1868 3.87588C29.8868 3.58922 29.4901 3.44588 28.9968 3.44588C28.5035 3.44588 28.1068 3.58922 27.8068 3.87588C27.5068 4.16255 27.3568 4.53922 27.3568 5.00588V7.80588C27.3568 8.27255 27.5068 8.64922 27.8068 8.93588C28.1068 9.22255 28.5035 9.36588 28.9968 9.36588C29.4901 9.36588 29.8868 9.22588 30.1868 8.94588C30.4868 8.65922 30.6368 8.27922 30.6368 7.80588V7.78588C30.6368 7.72588 30.6701 7.69588 30.7368 7.69588L31.2468 7.72588C31.3135 7.72588 31.3468 7.75588 31.3468 7.81588C31.3468 8.24922 31.2468 8.63255 31.0468 8.96588C30.8535 9.29255 30.5801 9.54588 30.2268 9.72588C29.8735 9.90588 29.4635 9.99588 28.9968 9.99588ZM38.571 3.42588C38.571 3.49255 38.5377 3.52588 38.471 3.52588H34.791C34.7644 3.52588 34.751 3.53922 34.751 3.56588V6.03588C34.751 6.06255 34.7644 6.07588 34.791 6.07588H37.371C37.4377 6.07588 37.471 6.10922 37.471 6.17588V6.59588C37.471 6.66255 37.4377 6.69588 37.371 6.69588H34.791C34.7644 6.69588 34.751 6.70922 34.751 6.73588V9.24588C34.751 9.27255 34.7644 9.28588 34.791 9.28588H38.471C38.5377 9.28588 38.571 9.31922 38.571 9.38588V9.80588C38.571 9.87255 38.5377 9.90588 38.471 9.90588H34.141C34.0744 9.90588 34.041 9.87255 34.041 9.80588V3.00588C34.041 2.93922 34.0744 2.90588 34.141 2.90588H38.471C38.5377 2.90588 38.571 2.93922 38.571 3.00588V3.42588ZM43.2157 9.98588C42.4624 9.98588 41.8657 9.81588 41.4257 9.47588C40.9924 9.13588 40.7757 8.68255 40.7757 8.11588V7.80588C40.7757 7.73922 40.809 7.70588 40.8757 7.70588H41.3657C41.4324 7.70588 41.4657 7.73922 41.4657 7.80588V8.07588C41.4657 8.46255 41.6257 8.77588 41.9457 9.01588C42.2657 9.24922 42.709 9.36588 43.2757 9.36588C43.789 9.36588 44.179 9.25922 44.4457 9.04588C44.7124 8.82588 44.8457 8.53588 44.8457 8.17588C44.8457 7.94255 44.7824 7.74255 44.6557 7.57588C44.5357 7.40922 44.3457 7.25255 44.0857 7.10588C43.8324 6.95922 43.4724 6.78922 43.0057 6.59588C42.5057 6.39588 42.1157 6.22255 41.8357 6.07588C41.5624 5.92255 41.339 5.72922 41.1657 5.49588C40.999 5.25588 40.9157 4.95588 40.9157 4.59588C40.9157 4.03588 41.109 3.60255 41.4957 3.29588C41.889 2.98255 42.4257 2.82588 43.1057 2.82588C43.8457 2.82588 44.429 2.99922 44.8557 3.34588C45.2824 3.69255 45.4957 4.15255 45.4957 4.72588V4.94588C45.4957 5.01255 45.4624 5.04588 45.3957 5.04588H44.8957C44.829 5.04588 44.7957 5.01255 44.7957 4.94588V4.76588C44.7957 4.37922 44.6424 4.06255 44.3357 3.81588C44.0357 3.56922 43.6157 3.44588 43.0757 3.44588C42.6024 3.44588 42.239 3.54255 41.9857 3.73588C41.7324 3.92922 41.6057 4.20922 41.6057 4.57588C41.6057 4.81588 41.6657 5.01588 41.7857 5.17588C41.9124 5.32922 42.089 5.46588 42.3157 5.58588C42.549 5.69922 42.9057 5.84922 43.3857 6.03588C43.8724 6.23588 44.2624 6.42255 44.5557 6.59588C44.8557 6.76922 45.0957 6.98255 45.2757 7.23588C45.4624 7.48255 45.5557 7.78588 45.5557 8.14588C45.5557 8.70588 45.349 9.15255 44.9357 9.48588C44.5224 9.81922 43.949 9.98588 43.2157 9.98588ZM50.1556 9.98588C49.4022 9.98588 48.8056 9.81588 48.3656 9.47588C47.9322 9.13588 47.7156 8.68255 47.7156 8.11588V7.80588C47.7156 7.73922 47.7489 7.70588 47.8156 7.70588H48.3056C48.3722 7.70588 48.4056 7.73922 48.4056 7.80588V8.07588C48.4056 8.46255 48.5656 8.77588 48.8856 9.01588C49.2056 9.24922 49.6489 9.36588 50.2156 9.36588C50.7289 9.36588 51.1189 9.25922 51.3856 9.04588C51.6522 8.82588 51.7856 8.53588 51.7856 8.17588C51.7856 7.94255 51.7222 7.74255 51.5956 7.57588C51.4756 7.40922 51.2856 7.25255 51.0256 7.10588C50.7722 6.95922 50.4122 6.78922 49.9456 6.59588C49.4456 6.39588 49.0556 6.22255 48.7756 6.07588C48.5022 5.92255 48.2789 5.72922 48.1056 5.49588C47.9389 5.25588 47.8556 4.95588 47.8556 4.59588C47.8556 4.03588 48.0489 3.60255 48.4356 3.29588C48.8289 2.98255 49.3656 2.82588 50.0456 2.82588C50.7856 2.82588 51.3689 2.99922 51.7956 3.34588C52.2222 3.69255 52.4356 4.15255 52.4356 4.72588V4.94588C52.4356 5.01255 52.4022 5.04588 52.3356 5.04588H51.8356C51.7689 5.04588 51.7356 5.01255 51.7356 4.94588V4.76588C51.7356 4.37922 51.5822 4.06255 51.2756 3.81588C50.9756 3.56922 50.5556 3.44588 50.0156 3.44588C49.5422 3.44588 49.1789 3.54255 48.9256 3.73588C48.6722 3.92922 48.5456 4.20922 48.5456 4.57588C48.5456 4.81588 48.6056 5.01588 48.7256 5.17588C48.8522 5.32922 49.0289 5.46588 49.2556 5.58588C49.4889 5.69922 49.8456 5.84922 50.3256 6.03588C50.8122 6.23588 51.2022 6.42255 51.4956 6.59588C51.7956 6.76922 52.0356 6.98255 52.2156 7.23588C52.4022 7.48255 52.4956 7.78588 52.4956 8.14588C52.4956 8.70588 52.2889 9.15255 51.8756 9.48588C51.4622 9.81922 50.8889 9.98588 50.1556 9.98588ZM55.1754 9.90588C55.1087 9.90588 55.0754 9.87255 55.0754 9.80588V3.00588C55.0754 2.93922 55.1087 2.90588 55.1754 2.90588H55.6854C55.7521 2.90588 55.7854 2.93922 55.7854 3.00588V9.80588C55.7854 9.87255 55.7521 9.90588 55.6854 9.90588H55.1754ZM62.2733 6.25588C62.24 6.27588 62.24 6.29588 62.2733 6.31588C62.6333 6.46255 62.9066 6.67922 63.0933 6.96588C63.28 7.25255 63.3733 7.59922 63.3733 8.00588C63.3733 8.60588 63.18 9.07255 62.7933 9.40588C62.4133 9.73922 61.91 9.90588 61.2833 9.90588H58.8633C58.7966 9.90588 58.7633 9.87255 58.7633 9.80588V3.00588C58.7633 2.93922 58.7966 2.90588 58.8633 2.90588H61.2133C61.86 2.90588 62.3666 3.06588 62.7333 3.38588C63.1066 3.70588 63.2933 4.15588 63.2933 4.73588C63.2933 5.10255 63.2033 5.41588 63.0233 5.67588C62.85 5.92922 62.6 6.12255 62.2733 6.25588ZM59.5133 3.52588C59.4866 3.52588 59.4733 3.53922 59.4733 3.56588V5.96588C59.4733 5.99255 59.4866 6.00588 59.5133 6.00588H61.2133C61.6333 6.00588 61.9666 5.89588 62.2133 5.67588C62.4666 5.45588 62.5933 5.16255 62.5933 4.79588C62.5933 4.40922 62.4666 4.10255 62.2133 3.87588C61.9666 3.64255 61.6333 3.52588 61.2133 3.52588H59.5133ZM61.2833 9.27588C61.7033 9.27588 62.0366 9.15588 62.2833 8.91588C62.5366 8.67588 62.6633 8.35255 62.6633 7.94588C62.6633 7.53922 62.5333 7.21588 62.2733 6.97588C62.02 6.72922 61.6766 6.60588 61.2433 6.60588H59.5133C59.4866 6.60588 59.4733 6.61922 59.4733 6.64588V9.23588C59.4733 9.26255 59.4866 9.27588 59.5133 9.27588H61.2833ZM66.2328 9.90588C66.1662 9.90588 66.1328 9.87255 66.1328 9.80588V3.00588C66.1328 2.93922 66.1662 2.90588 66.2328 2.90588H66.7428C66.8095 2.90588 66.8428 2.93922 66.8428 3.00588V9.80588C66.8428 9.87255 66.8095 9.90588 66.7428 9.90588H66.2328ZM69.9207 9.90588C69.854 9.90588 69.8207 9.87255 69.8207 9.80588V3.00588C69.8207 2.93922 69.854 2.90588 69.9207 2.90588H70.4307C70.4974 2.90588 70.5307 2.93922 70.5307 3.00588V9.24588C70.5307 9.27255 70.544 9.28588 70.5707 9.28588H74.1007C74.1674 9.28588 74.2007 9.31922 74.2007 9.38588V9.80588C74.2007 9.87255 74.1674 9.90588 74.1007 9.90588H69.9207ZM76.7043 9.90588C76.6376 9.90588 76.6043 9.87255 76.6043 9.80588V3.00588C76.6043 2.93922 76.6376 2.90588 76.7043 2.90588H77.2143C77.281 2.90588 77.3143 2.93922 77.3143 3.00588V9.80588C77.3143 9.87255 77.281 9.90588 77.2143 9.90588H76.7043ZM80.3922 9.90588C80.3255 9.90588 80.2922 9.87255 80.2922 9.80588V3.00588C80.2922 2.93922 80.3255 2.90588 80.3922 2.90588H82.7522C83.4122 2.90588 83.9355 3.07922 84.3222 3.42588C84.7155 3.77255 84.9122 4.24255 84.9122 4.83588V7.97588C84.9122 8.56922 84.7155 9.03922 84.3222 9.38588C83.9355 9.73255 83.4122 9.90588 82.7522 9.90588H80.3922ZM81.0022 9.24588C81.0022 9.27255 81.0155 9.28588 81.0422 9.28588H82.7822C83.2155 9.28588 83.5589 9.15922 83.8122 8.90588C84.0722 8.65255 84.2022 8.31255 84.2022 7.88588V4.93588C84.2022 4.50255 84.0755 4.15922 83.8222 3.90588C83.5689 3.65255 83.2222 3.52588 82.7822 3.52588H81.0422C81.0155 3.52588 81.0022 3.53922 81.0022 3.56588V9.24588ZM91.4895 9.90588C91.4295 9.90588 91.3895 9.87922 91.3695 9.82588L90.9695 8.56588C90.9628 8.54588 90.9495 8.53588 90.9295 8.53588H87.9395C87.9195 8.53588 87.9061 8.54588 87.8995 8.56588L87.4995 9.82588C87.4795 9.87922 87.4395 9.90588 87.3795 9.90588H86.8395C86.7661 9.90588 86.7395 9.86922 86.7595 9.79588L88.9695 2.98588C88.9895 2.93255 89.0295 2.90588 89.0895 2.90588H89.7695C89.8295 2.90588 89.8695 2.93255 89.8895 2.98588L92.1095 9.79588L92.1195 9.83588C92.1195 9.88255 92.0895 9.90588 92.0295 9.90588H91.4895ZM88.0995 7.90588C88.0928 7.91922 88.0928 7.93255 88.0995 7.94588C88.1128 7.95255 88.1261 7.95588 88.1395 7.95588H90.7195C90.7328 7.95588 90.7428 7.95255 90.7495 7.94588C90.7628 7.93255 90.7661 7.91922 90.7595 7.90588L89.4595 3.82588C89.4528 3.81255 89.4428 3.80588 89.4295 3.80588C89.4161 3.80588 89.4061 3.81255 89.3995 3.82588L88.0995 7.90588ZM94.6137 9.90588C94.547 9.90588 94.5137 9.87255 94.5137 9.80588V3.00588C94.5137 2.93922 94.547 2.90588 94.6137 2.90588H96.9737C97.6337 2.90588 98.157 3.07922 98.5437 3.42588C98.937 3.77255 99.1337 4.24255 99.1337 4.83588V7.97588C99.1337 8.56922 98.937 9.03922 98.5437 9.38588C98.157 9.73255 97.6337 9.90588 96.9737 9.90588H94.6137ZM95.2237 9.24588C95.2237 9.27255 95.237 9.28588 95.2637 9.28588H97.0037C97.437 9.28588 97.7803 9.15922 98.0337 8.90588C98.2937 8.65255 98.4237 8.31255 98.4237 7.88588V4.93588C98.4237 4.50255 98.297 4.15922 98.0437 3.90588C97.7903 3.65255 97.4437 3.52588 97.0037 3.52588H95.2637C95.237 3.52588 95.2237 3.53922 95.2237 3.56588V9.24588ZM106.325 3.42588C106.325 3.49255 106.292 3.52588 106.225 3.52588H102.545C102.519 3.52588 102.505 3.53922 102.505 3.56588V6.03588C102.505 6.06255 102.519 6.07588 102.545 6.07588H105.125C105.192 6.07588 105.225 6.10922 105.225 6.17588V6.59588C105.225 6.66255 105.192 6.69588 105.125 6.69588H102.545C102.519 6.69588 102.505 6.70922 102.505 6.73588V9.24588C102.505 9.27255 102.519 9.28588 102.545 9.28588H106.225C106.292 9.28588 106.325 9.31922 106.325 9.38588V9.80588C106.325 9.87255 106.292 9.90588 106.225 9.90588H101.895C101.829 9.90588 101.795 9.87255 101.795 9.80588V3.00588C101.795 2.93922 101.829 2.90588 101.895 2.90588H106.225C106.292 2.90588 106.325 2.93922 106.325 3.00588V3.42588Z" fill="#A50112" />
                                <path d="M11.9289 5.91602H11.9078C11.6201 5.91442 11.3422 6.02013 11.1282 6.21245C10.9549 5.73305 10.5147 5.38844 9.9991 5.38844C9.68308 5.39066 9.38122 5.5204 9.16228 5.74846C8.96096 5.34089 8.55708 5.06441 8.09272 5.06441H8.07029C7.82141 5.06059 7.57857 5.14154 7.38168 5.29382V2.38822C7.38168 1.68606 6.83501 1.11487 6.17006 1.11487C5.50585 1.11487 4.96201 1.68569 4.96164 2.38736L4.9561 8.15223L4.62985 7.756C4.34376 7.39981 3.92264 7.17865 3.46701 7.14526C3.02076 7.1147 2.58177 7.26994 2.25404 7.57451L1.97017 7.80972C1.87862 7.88561 1.8525 8.01498 1.90733 8.12045L4.6673 13.4256C5.17196 14.3952 6.13211 15 7.17309 15H10.2835V14.9973C11.8605 14.9973 13.1392 13.6288 13.1408 11.9485C13.1414 11.1967 13.1386 10.6363 13.139 10.1822C13.1406 8.96713 13.1394 8.51878 13.1363 7.18013C13.1347 6.47957 12.592 5.91602 11.9289 5.91602ZM12.6307 10.1805C12.6302 10.6347 12.6295 11.1973 12.6287 11.9491C12.6274 13.3516 11.5686 14.4952 10.2687 14.4952H7.17322C6.32112 14.4952 5.53246 13.9944 5.11516 13.1925L2.44907 8.06944L2.58066 7.95966C2.58399 7.95695 2.58719 7.95375 2.59039 7.95091C2.81673 7.73789 3.12129 7.62848 3.43141 7.64881C3.74842 7.67308 4.04092 7.82807 4.23916 8.07658L5.01154 9.01641C5.07906 9.09884 5.19118 9.12976 5.29147 9.09391C5.39176 9.05805 5.45879 8.96294 5.45879 8.85649L5.46335 2.3876C5.46359 1.96401 5.78393 1.6194 6.17031 1.6194C6.55669 1.6194 6.87703 1.96438 6.87703 2.38822V6.2886C6.87703 6.30215 6.87641 6.31583 6.87641 6.32963C6.87641 6.33554 6.87703 6.34158 6.87703 6.34737V8.01498C6.87703 8.15433 6.99001 8.26731 7.12936 8.26731C7.2687 8.26731 7.38168 8.15433 7.38168 8.01498V6.2971C7.38168 5.88842 7.69389 5.56907 8.07029 5.56907H8.09272C8.47934 5.56907 8.80103 5.90604 8.80103 6.32987V7.8558C8.80103 7.99514 8.91402 8.10813 9.05336 8.10813C9.19271 8.10813 9.30569 7.99514 9.30569 7.8558V6.65859C9.30569 6.23463 9.61199 5.88977 10.0007 5.88977C10.3872 5.88977 10.6935 6.23451 10.6935 6.65859V7.78803C10.6935 7.92738 10.8065 8.04036 10.9458 8.04036C11.0852 8.04036 11.1982 7.92738 11.1982 7.78803V7.17643C11.1982 6.75247 11.5212 6.42068 11.9078 6.42068H11.9289C12.3145 6.42068 12.6288 6.75814 12.6298 7.18074C12.6329 8.51841 12.6323 8.96627 12.6307 10.1805Z" fill="#A50112" />
                                <path d="M4.16004 2.49717C4.29939 2.49717 4.41237 2.38419 4.41237 2.24484C4.41644 1.28197 5.19819 0.503672 6.16094 0.503672C7.1238 0.503672 7.90543 1.28197 7.9095 2.24484C7.9095 2.38419 8.02248 2.49717 8.16183 2.49717C8.30118 2.49717 8.41416 2.38419 8.41416 2.24484C8.40947 1.00365 7.40213 0 6.16094 0C4.91987 0 3.9124 1.00365 3.90771 2.24484C3.90771 2.38419 4.0207 2.49717 4.16004 2.49717Z" fill="#A50112" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <div class="text__size" id="btn-increase">
                            A+
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="text__size" id="btn-orig">
                            A
                        </div>
                    </li>
                    <li class="list-inline-item pr-4">
                        <div class="text__size" id="btn-decrease">
                            A-
                        </div>
                    </li>
                    <!-- idiona
                    <li class="list-inline-item">
                        <a target="_top" href="#">
                            PT
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_top" href="#">
                            EN
                        </a>
                    </li>
                    idioma/-->
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- desk navy -->
<nav class="navbar navbar-expand-md navbar_main fixed-top d-none d-lg-flex">
    <div class="h-100 container">
        @if (!string.IsNullOrEmpty(estado))
        {
            <a target="_top" class="navbar-brand" href="@estado">
                <img src="/img/logo-md.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid" width="188" height="52">
            </a>
        }
        else
        {
            <a target="_top" class="navbar-brand" href="/pernambuco">
                <img src="/img/logo-md.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" class="img-fluid" width="188" height="52">
            </a>
        }

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class=" active">
                    <a target="_top" class="nav-link" href="/quem-somos">Institucional</a>
                </li>
                <li class="">
                    @if (!string.IsNullOrEmpty(estado))
                    {
                        <a target="_top" class="nav-link" href="/empreendimentos">Nossos imóveis</a>
                    }
                    else
                    {
                        @* <a target="_top" class="nav-link" href="/pernambuco/busca">Nossos imóveis</a> *@
                        <a target="_top" class="nav-link" href="/empreendimentos">Nossos imóveis</a>

                    }
                </li>
                <li class="">
                    <a target="_top" class="nav-link" href="/area-do-cliente">Clientes</a>
                </li>
                <li class="">
                    <a class="nav-link" href="https://ri.mouradubeux.com.br/" target="_blank">Relação com Investidores</a>
                </li>
                <li class="">
                    <a target="_top" class="nav-link" href="/fale-conosco">Contato</a>
                </li>
                <li class="d-none">
                    <a target="_top" class="nav-link" href="https://www.mouradubeux.com.br/blog">Blog</a>
                </li>
                <li class=" search d-none">
                    <a target="_top" class="nav-link" href="#">
                        Buscar
                        <svg class="ml-3" width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3537 15.8456C12.0226 16.7631 10.4091 17.3003 8.67016 17.3003C4.10674 17.3003 0.407349 13.6009 0.407349 9.03747C0.407349 4.47405 4.10674 0.774658 8.67016 0.774658C13.2336 0.774658 16.933 4.47405 16.933 9.03747C16.933 10.7764 16.3958 12.3899 15.4783 13.721L20.9999 19.2426L18.8753 21.3673L13.3537 15.8456ZM8.67014 14.2956C11.5741 14.2956 13.9283 11.9414 13.9283 9.03745C13.9283 6.13345 11.5741 3.7793 8.67014 3.7793C5.76614 3.7793 3.41199 6.13345 3.41199 9.03745C3.41199 11.9414 5.76614 14.2956 8.67014 14.2956Z" fill="#A50112" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end -->

<CtaComponent />


@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            //// invoke script loader
            //Console.WriteLine("Loading jQuery");
            //// note the scripts will only load once


            //Console.WriteLine("Invoked JQuery");
            GetEstados();

        }
        await base.OnAfterRenderAsync(firstRender);

    }

    public string estado { get; set; }


    protected async void GetEstados()
    {
        try
        {
            estado = await localStorageService.GetAsync("estado");

        }
        catch (Exception)
        {

        } finally
        {
            if (!string.IsNullOrEmpty(estado))
            {
                estado = estado.ToString().Replace("\"", "");
                StateHasChanged();
            }
        }
    }

}

