﻿<section class="newsletter lozad" style="background-image: url('/img/newsletter-min.jpg')"; data-background-image="/img/newsletter-min.jpg">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="text-white">Quer receber as novidades da Moura Dubeux?  </h2>
                <h2 class="font-weight-normal text-white">Cadastre-se gratuitamente e receba em seu e-mail.</h2>
            
                <div class="btn btn__first" data-state="reversed" data-toggle="modal" data-target="#modalNewsletter">
                    cadastrar
                </div>
            </div>
        </div>
    </div>
</section><!--/.newsletter-->

@code {

}
