﻿@page "/conteudo-nao-encontrado"

<Link rel="stylesheet" href="app/css/local.css" />

@inject IJSRuntime jsRuntime


@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="@title"></Title>
<Meta name="description" content="@description" />
<Meta name="keywords" content="@keywords" />

<section class="content__inner">
    <div class="h-100 container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-12 col-lg-8 text-center content__inner__404">
                <div class="media align-items-center justify-content-center ml-md-5">
                    <svg width="198" height="197" viewBox="0 0 198 197" fill="none" xmlns="http://www.w3.org/2000/svg" class="align-self-center">
                        <g clip-path="url(#clip0)">
                            <path d="M1.54264 18.0712L14.681 41.062C15.1241 41.8389 15.8659 42.4009 16.7333 42.6185L28.9907 45.6828L71.0309 87.723L75.6761 83.0792L32.9779 40.3824C32.5577 39.9608 32.0307 39.6622 31.4538 39.5176L19.6761 36.5627L8.49012 16.9768L18.0804 7.38656L37.6744 18.5833L40.6307 30.3611C40.7739 30.9393 41.0738 31.4676 41.494 31.8878L84.1922 74.5861L88.836 69.9409L46.7958 27.9007L43.7315 15.65C43.514 14.7813 42.9519 14.0381 42.175 13.5936L19.1829 0.456641C17.9007 -0.272966 16.2875 -0.056786 15.2417 0.98493L2.1047 14.1233C1.04812 15.1623 0.818434 16.7782 1.54264 18.0712Z" fill="#A50112" />
                            <path d="M138.093 64.7307L65.8366 136.989L61.1914 132.344L133.45 60.0869L138.093 64.7307Z" fill="#A50112" />
                            <path d="M53.1904 139.545C52.596 138.556 51.5286 137.952 50.3747 137.952H30.6686C29.5161 137.952 28.4473 138.556 27.8542 139.545L18.0004 155.967C17.3749 157.007 17.3749 158.308 18.0004 159.35L27.8542 175.771C28.4473 176.759 29.5161 177.364 30.6686 177.364H50.3747C51.5286 177.364 52.596 176.759 53.1904 175.771L63.0428 159.35C63.6684 158.308 63.6684 157.007 63.0428 155.967L53.1904 139.545ZM48.5169 170.795H32.5277L24.6453 157.658L32.5277 144.52H48.5169L56.3994 157.658L48.5169 170.795Z" fill="#A50112" />
                            <path d="M158.76 78.8326C180.453 78.9055 198.098 61.3788 198.171 39.6865C198.182 36.3843 197.777 33.0957 196.965 29.8949C196.527 28.1344 194.745 27.0629 192.984 27.5007C192.406 27.6453 191.879 27.9439 191.457 28.3641L171.012 48.7958L154.791 43.3899L149.381 27.1724L169.826 6.72312C171.108 5.43955 171.107 3.36017 169.823 2.07795C169.4 1.65505 168.868 1.3551 168.286 1.21188C147.249 -4.1156 125.878 8.61874 120.55 29.6544C119.741 32.8457 119.337 36.1263 119.348 39.419C119.356 42.005 119.622 44.583 120.146 47.115L48.2167 119.043C45.6847 118.52 43.1067 118.254 40.522 118.245C18.7541 118.245 1.1084 135.891 1.1084 157.658C1.1084 179.425 18.7541 197.071 40.522 197.071C62.2887 197.071 79.9343 179.425 79.9343 157.658C79.9262 155.072 79.6587 152.495 79.1358 149.962L96.3559 132.742L103.887 140.274C105.171 141.556 107.249 141.556 108.532 140.274L110.174 138.631C111.614 137.2 113.942 137.2 115.382 138.631C116.821 140.066 116.824 142.395 115.389 143.834C115.388 143.835 115.385 143.838 115.382 143.841L113.741 145.482C112.459 146.764 112.459 148.844 113.741 150.126L152.921 189.306C163.226 199.705 180.009 199.781 190.409 189.476C200.807 179.171 200.883 162.386 190.578 151.988C190.522 151.931 190.466 151.874 190.409 151.818L151.229 112.639C149.947 111.357 147.868 111.357 146.585 112.639L144.944 114.281C143.502 115.713 141.175 115.713 139.734 114.281C138.296 112.846 138.292 110.516 139.727 109.079C139.73 109.076 139.732 109.075 139.734 109.072L141.377 107.429C142.659 106.147 142.659 104.068 141.377 102.785L133.846 95.2541L151.066 78.0341C153.598 78.557 156.176 78.8245 158.76 78.8326ZM171.665 190.503C169.279 190.499 166.913 190.068 164.68 189.229L190.331 163.576C194.202 173.873 188.993 185.358 178.696 189.229C176.449 190.073 174.067 190.506 171.665 190.503ZM134.456 105.14C130.819 109.479 131.389 115.945 135.728 119.581C139.541 122.777 145.098 122.774 148.907 119.572L185.765 156.463C186.165 156.864 186.539 157.287 186.901 157.717L158.82 185.798C158.389 185.438 157.966 185.063 157.565 184.662L120.677 147.772C124.315 143.434 123.745 136.967 119.406 133.332C115.593 130.135 110.035 130.139 106.226 133.34L100.971 128.085L129.2 99.898L134.456 105.14ZM147.719 72.1067L73.2111 146.6C72.3937 147.416 72.0654 148.601 72.3437 149.721C76.8497 167.416 66.1569 185.415 48.4599 189.919C30.7642 194.425 12.7659 183.732 8.2599 166.035C3.75525 148.34 14.448 130.341 32.1451 125.835C37.4982 124.474 43.1067 124.474 48.4599 125.835C49.58 126.11 50.7622 125.781 51.581 124.969L126.071 50.4752C126.887 49.6591 127.216 48.4742 126.935 47.3555C122.46 29.8665 133.009 12.0614 150.498 7.58513C153.803 6.74068 157.221 6.41641 160.626 6.62854L143.301 23.9608C142.421 24.839 142.113 26.1401 142.506 27.3196L149.074 47.0271C149.402 48.0067 150.173 48.7768 151.153 49.1025L170.861 55.6716C172.039 56.0648 173.34 55.7581 174.22 54.8799L191.545 37.5544C191.584 38.1813 191.605 38.8015 191.605 39.419C191.697 57.4659 177.142 72.1702 159.095 72.2634C156.305 72.2769 153.525 71.9338 150.822 71.242C149.702 70.9623 148.517 71.2893 147.701 72.1053H147.719V72.1067Z" fill="#A50112" />
                            <path d="M170.939 165.189L166.294 169.834L133.451 136.991L138.095 132.346L170.939 165.189Z" fill="#A50112" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="197" height="197" fill="white" transform="translate(0.918945)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <div class="media-body text-left ml-5">
                        <h2 data-state="reversed" class="ml-md-5">ERRO <b class="d-block">404</b></h2>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <h1 data-state="reversed">Página não encontrada</h1>
                    <p class="mt-5">
                        Desculpe, a página que você está procurando não existe.<br />
                        Não se preocupe, você ainda pode encontrar o imóvel dos seus sonhos!<br />
                        Selecione o estado que você deseja e conheça todos os nossos empreendimentos disponíveis.
                    </p>
                </div>
                <div class="geo">
                    <div class="row h-100 align-items-center justify-content-center mt-5">
                        <div class="col-md-6 col-lg-4 text-center">
                            <select @bind="@SelectedEstado" name="" id="" class="form-control">
                                <option value="">Selecionar estado</option>
                                <option value="alagoas">Alagoas</option>
                                <option value="bahia">Bahia</option>
                                <option value="ceara">Ceará</option>
                                <option value="pernambuco">Pernambuco</option>
                                <option value="rio-grande-do-norte">Rio Grande do Norte</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <a target="_top" href="#" @onclick="@ClickButton">
                                <div class="btn btn__second">
                                    conhecer empreendimentos
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code
{
    public string title { get; set; } = "Página não encontrada - Moura Debeux";
    public string description { get; set; } = "O conteúdo procurado não foi encontrado, faça uma nova pesquisa em nosso site.";
    public string keywords { get; set; } = "Página não encontrada,Moura Debeux";

    protected override void OnInitialized()
    {
        title= "Página não encontrada - Moura Debeux";
        description= "O conteúdo procurado não foi encontrado, faça uma nova pesquisa em nosso site.";
        keywords = "Página não encontrada,Moura Debeux";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await jsRuntime.InvokeVoidAsync("loadScript", "js/navbar.js");
            await jsRuntime.InvokeVoidAsync("loadScript", "js/global.js");

            //Console.WriteLine("Invoking jQuery");
            await jsRuntime.InvokeVoidAsync("initNavbar", "");
            await jsRuntime.InvokeVoidAsync("initGlobal", "");
            // invoke script loader
           // Console.WriteLine("Loading jQuery");
            // note the scripts will only load once
            @* await jsRuntime.InvokeVoidAsync("loadScript", "js/trabalhe.js"); *@

            Console.WriteLine("Invoking jQuery");
            @* await jsRuntime.InvokeVoidAsync("initTrabalhe", ""); *@

           // Console.WriteLine("Invoked JQuery");

            await base.OnAfterRenderAsync(firstRender);
        }
    }
}