﻿<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Está com dúvidas?</h1>
                <p>
                    Pode entrar em contato conosco. No momento estamos reestruturando os canais e plataformas de atendimento. Pedimos que neste período de ajustes, os contatos de atendimento sejam realizados através do nosso WhatsApp.
                </p>
                @*<p>Estamos reestruturando nossos canais de contato e plataformas de atendimento. Pedimos que neste período de ajustes, os contatos de atendimento sejam realizados através no nosso WhatsApp.</p>*@
                @*<p>Temos um canal exclusivo para atender quem já é um de nossos clientes. Entre em contato por telefone ou e-mail:</p>*@
            </div>
        </div>
    </div>
</section>
@code {

}