<div class="content__inner area">
    <div class="container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10">
                <h1 class="text-center my-5">Relacionamento com cliente</h1>
            </div>
        </div>
        <div class="row h-100 align-items-stretch justify-content-center">
             <div class="col-md-3 text-center h-100 area__item">
                <div class="card text-center">
                    <a href="http://mdnet.mouradubeux.com.br/mdnet/login.php" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" width="80" src="/img/area2.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                        <h3>Financeiro</h3>
                        <p>Fique atualizado com as cobranças do seu imóvel e solicite 2ª via de boletos.</p>
                    </a>
                </div>
            </div>
             <div class="col-md-3 text-center h-100 area__item">
                <div class="card text-center">
                    <a thref="/faq" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" width="80" src="/img/area3.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                        <h3>Dúvidas Frequentes</h3>
                        <p>Conheça as respostas para algumas das principais dúvidas de quem acabou de adquirir um imóvel.</p>
                    </a>
                </div>
            </div>
             <div class="col-md-3 text-center h-100 area__item">
                <div class="card text-center">
                    <a href="https://www.minhaunidade.com/login/mouradubeux_v6D3E76jcDK13x6m/" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" width="80" src="/img/area4.png" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux">
                        <h3>Personalize</h3>
                        <p>Deixe o seu apartamento com a sua cara.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>