﻿<section class="info">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-7 text-center">
                <h1>Residencial</h1>
                <p>Condomínios que oferecem uma experiência única em estilo de vida com localizações privilegiadas e infraestrutura acima do padrão. </p>
            </div>
            <div class="col-md-7 text-center">
                <h4>Inserir cards dos imóveis | 2 linhas com 3 colunas</h4>
                <p class="text-warning">Carregar mais</p>
            </div>
        </div>
    </div>
</section><!--/.heroImage-->
@code {

}