﻿<section>
    <div class="container">
        <!-- nav tabs -->
        <div class="row justify-content-md-center">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a target="_top" class="nav-link active" data-toggle="tab" href="#residencial"><h5>RESIDENCIAL</h5></a>
                </li>
                <li class="nav-item">
                    <a target="_top" class="nav-link" data-toggle="tab" href="#empesarial"><h5>EMPRESARIAL</h5></a>
                </li>
                <li class="nav-item">
                    <a target="_top" class="nav-link" data-toggle="tab" href="#beach"><h5>BEACHCLASS</h5></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-0 busca justify-content-center">
        <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
            <InputText @bind-Value="model.Termo" placeholder="Digite um termo"></InputText>

            <InputSelect @oninput="HandleFirstDropDownChange" @bind-Value="model.Cidade">
                <option value="">Selecione sua cidade</option>
                @foreach (var cidade in cidades)
                {
                    <option value="@cidade.Slug">@cidade.Nome</option>
                }
            </InputSelect>

            <InputSelect @bind-Value="model.Bairro">
                <option value="">Selecione seu bairro</option>
                @foreach (var empreendimentoBairro in empreendimentoBairros)
                {
                    <option value="@extensionMethods.CreateSlug(empreendimentoBairro.Bairro)">@empreendimentoBairro.Bairro</option>
                }
            </InputSelect>

            <InputSelect @bind-Value="model.Ano">
                <option value="">Selecione o ano</option>
                @for (int i = 1990; i < 2030; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>

            <div class="busca align-content-center text-center pt-3">
                <button type="submit" class="btn btn__first busca__botao px-4 py-2">Buscar imóvel</button>
            </div>
        </EditForm>
        <!-- tab panes -->
    </div>
    <div class="tab-content lista__cards-emp">
            <!-- residencial -->
            <div class="tab-pane container active" id="residencial">
               <section class="content__inner">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-center">
                            <div class="col-md-7 text-center">
                                <h3>Residencial</h3>
                                <p>Condomínios que oferecem uma experiência única em estilo de vida com localizações privilegiadas e infraestrutura acima do padrão. </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="p-0">
                     <div class="container h-100">
                        <div class="row h-100 align-items-stretch justify-content-center">
                                @if (empreendimentosResidencial != null && empreendimentosResidencial.Count() > 0)
                                {
                                    @foreach (var empreendimento in empreendimentosResidencial)
                                    {
                                        <CardComponent EmpreendimentoModel="empreendimento" />
                                    }
                                }
                                else
                                {
                                    <h4>Não foram encontrados resultados.</h4>
                                }
                                
                        </div>
                    </div>
                </section><!--/.heroImage-->
            </div>
            <!-- empesarial -->
            <div class="tab-pane container fade" id="empesarial">
               <section class="content__inner">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-center">
                            <div class="col-md-7 text-center">
                                <h3>Empresarial</h3>
                                <p>Condomínios que oferecem uma experiência única em estilo de vida com localizações privilegiadas e infraestrutura acima do padrão. </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="p-0">
                     <div class="container h-100">
                        <div class="row h-100 align-items-stretch justify-content-center">
                                @if (empreendimentosEmpresarial != null && empreendimentosEmpresarial.Count() > 0)
                                {
                                    @foreach (var empreendimento in empreendimentosEmpresarial)
                                    {
                                        <CardComponent EmpreendimentoModel="empreendimento" />
                                    }
                                }
                                else
                                {
                                    <h4>Não foram encontrados resultados.</h4>
                                }
                                
                        </div>
                    </div>
                </section><!--/.heroImage-->
            </div>
             <div class="tab-pane container fade" id="beach">
                <section class="content__inner">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-center">
                            <div class="col-md-7 text-center">
                                <h3>Beachclass</h3>
                                <p>Condomínios que oferecem uma experiência única em estilo de vida com localizações privilegiadas e infraestrutura acima do padrão. </p>
                            </div>
                         </div>
                    </div>
                </section>
                <section class="p-0">
                     <div class="container h-100">
                        <div class="row h-100 align-items-stretch justify-content-center">
                                @if (empreendimentosBeachclass != null && empreendimentosBeachclass.Count() > 0)
                                {
                                    @foreach (var empreendimento in empreendimentosBeachclass)
                                    {
                                        <CardComponent EmpreendimentoModel="empreendimento" />
                                    }
                                }
                                else
                                {
                                    <h4>Não foram encontrados resultados.</h4>
                                }
                                
                        </div>
                    </div>
                </section><!--/.heroImage-->
            </div>
           
        </div>

    
</section>
@code {

}
