﻿<section class="content__inner">
    <div class="container h-100 mt-3">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-5 rounded-img">
                <img src="/img/portfolio1.jpg" width="420" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="img-fluid w-100">
            </div>
            <div class="col-md-7">
                <h1>Conheça o portfólio da maior incorporadora do Nordeste</h1>
                <p>Com mais de 35 anos de história, temos uma trajetória que atravessa os sonhos de milhares de pessoas. Construímos uma presença sólida em cinco estados e suas principais cidades: Alagoas, Bahia, Ceará, Pernambuco e Rio Grande do Norte.</p>
                <p>Seja para brasileiros ou estrangeiros, imóveis residenciais ou empresariais, mantemos a nossa marca: proporcionar bem-estar, felicidade e um alto padrão de qualidade. </p>
            </div>
        </div>
    </div>
</section><!--/.timeline-->
@code {

}