﻿@using MouraDubeux.Front.Blazor.Data
@using MouraDubeux.Admin.Data.Data

@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorageService
@inject IFrontDataService frontDataService

<section class="content__inner">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6 rounded-img">
                <img src="/img/portfolio2.jpg" height="600" alt="Construtora Moura Dubeux" title="Construtora Moura Dubeux" loading="lazy" class="img-fluid w-100">

            </div>
            <div class="col-md-6">
                <h2>Conheça os imóveis à venda</h2>
                <p>Além dos empreendimentos finalizados desta página, temos diversos apartamentos e salas comerciais disponíveis atualmente. Que tal dar uma conferida?</p>
                <a target="_top" href="/@estado/busca">
                    <div class="btn btn__first busca__botao">Buscar Imóveis</div>
                </a> 
            </div>
        </div>
    </div>
</section><!--/.timeline-->

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
        await base.OnAfterRenderAsync(firstRender);
        GetEstados();

    }

    public string estado { get; set; }


    protected async void GetEstados()
    {
        try
        {
            estado = await localStorageService.GetAsync("estado");
            estado = estado.ToString().Replace("\"", "");
            StateHasChanged();
        }
        catch (Exception)
        {

        }

    }

}

